#map  {
  height: 300px;
  width: 560px;

  @media only screen and (max-width: 500px) {
    width: calc(100vw - 20px);
    min-width: 260px;
  }

  @media only screen and (min-width: 500px) and (max-width: 650px) {
    width: calc(100vw - 40px);
  }
}

.dragged-address  {
  margin: 10px 0 0 0;
}

.check-in-privacy {
  margin: 15px 25px 5px 0;
  text-align: right;
  float: right;
}

.check-in-privacy > label {
  display: inline-block;
}

.check-in-privacy h6  {
  padding-right: 3px;
}

.check-in-private,
.check-in-public {
  display: inline-block;
  width: 60px;
  color: #F9FBFB;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
  }
}

.check-in-private *,
.check-in-public *  {
  color: #F9FBFB;
}

.check-in-private {
  padding: 2px 8px 2px 2px;
  text-align: right;
  border: 2px solid #19CC72;
  background-color: #19CC72;
}

.check-in-public  {
  padding: 2px 2px 2px 10px;
  text-align: left;
  border: 2px solid #A6A6A6;
  background-color: #A6A6A6;
}

.toggle-button-private,
.toggle-button-public  {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.toggle-button-private  {
  margin: -22px 0 0 133px;
}

.toggle-button-public  {
  margin: -22px 0 0 168px;
}

.action-response  {
  margin-bottom: 10px;
  background-color: transparent;
  clear: both;
}
