<div class="progress-tracker-section">
  <ul class="progress-tracker" [class.search-active]="searchLocation">
    <li class="progress-title" (click)="backToSelect()" [class.progress-current]="step1">GET LOCATION</li><li class="progress-title" *ngIf="searchLocation" (click)="backToSearch()" [class.progress-current]="findLocation">SEARCH LOCATION</li><li class="progress-title" [class.progress-current]="searchDone">CONFIRM CHECK IN DETAILS</li>
  </ul>
</div>

<div *ngIf="step1" class="select-housing">
  <div class="select-activity location"  (click)="getLocation()">

    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>

    <h4>Get current location</h4>
  </div>

  <div class="select-activity" (click)="getSearch()">

    <i class="fa fa-search fa-2x" aria-hidden="true"></i>

    <h4>Search location by name or address</h4>
  </div>
</div>

<div *ngIf="findLocation">
  <label>Search check in location by name or adddress <span class="label-note"> - local name or address may be required</span></label>
  <ww-google-place-search [populate]="''" (placeDetail)="getDetails($event)"></ww-google-place-search>
</div>

<div *ngIf="searchDone">
  <h5>You may drag the pin to set a new location.</h5>

  <h5 *ngIf="locationType !== ''" class="dragged-address">
    <span class="dragged-location">{{ locationType }} location:</span> {{ formatted_address }}
  </h5>

  <div class="check-in-privacy">
    <label>Keep check in private?</label>

    <h4 *ngIf="private" class="toggle-true" (click)="private = false">Yes</h4>
    <h4 *ngIf="private" class="toggle-button-true" (click)="private = false"></h4>
    <h6 *ngIf="private">Only you can see</h6>

    <h4 *ngIf="!private" class="toggle-false" (click)="private = true">No</h4>
    <h4 *ngIf="!private" class="toggle-button-false" (click)="private = true"></h4>
    <h6 *ngIf="!private">You and your followers can see</h6>
  </div>

  <div class="action-response">
    <!-- <h5 class="action-response-primary" (click)="getLocation()" [class.current-loc]="locationType === 'Current'">Get current location</h5> -->
    <h5 class="action-response-primary" (click)="checkin()">Check in now</h5>
  </div>

</div>

<div #map id="map"></div>
