.progress-tracker li {
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.search-active li {
  width: 33.333%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

// step 1

.select-housing {
  text-align: center;
}

.select-activity  {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 150px;
  vertical-align: top;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.location i  {
  color: #6494ED;
}

.select-activity h4 {
  padding: 10px 0 3px 0;
}

.select-activity h5  {
  color: #808080;
}

.location {
  border: 2px solid #6494ED;
}

.location h4  {
  color: #6494ED;
}





#map  {
  height: 300px;
  width: 560px;

  @media only screen and (max-width: 500px) {
    width: calc(100vw - 20px);
    min-width: 260px;
  }

  @media only screen and (min-width: 500px) and (max-width: 650px) {
    width: calc(100vw - 40px);
  }
}

.dragged-address  {
  margin: 10px 0 0 0;
}

.check-in-privacy {
  margin: 15px 25px 5px 0;
  text-align: right;
  float: right;
}

.check-in-privacy > label {
  display: inline-block;
}

.check-in-privacy h6  {
  padding-right: 3px;
}





/* toggle */
.toggle-button-true  {
  margin: -22px 0 0 134px;
}

.toggle-button-false  {
  margin: -22px 0 0 168px;
}

.action-response  {
  margin-bottom: 10px;
  background-color: transparent;
  clear: both;
}

.current-loc  {
  color: #19CC72;
  border: 2px solid #19CC72;
}
