.navigate-bar {
  margin-top: 0;
}

li  {
  vertical-align: top;
}

.reg  {
  @media only screen and (max-width: 450px) {
    display: none;
  }
}

.mob  {
  display: none;
  @media only screen and (max-width: 450px) {
    display: block;
  }
}

span  {
  @media only screen and (max-width: 355px) {
    font-size: 8px;
  }
}
