<div class="box-container">
  <div class="box-container-header">
    <h3><i class="fa fa-users" aria-hidden="true"></i> YOUR CONNECTIONS</h3>

    <div class="navigate-bar">
      <header>
        <nav>
          <ul>
            <li routerLinkActive="active"><a [routerLink]="['followers']">
              {{ followers?.length }}
              <span>FOLLOWER</span>
            </a></li>
            <li routerLinkActive="active"><a [routerLink]="['following']">
              {{ followings?.length }}
              <span>FOLLOWING</span>
            </a></li>
            <li routerLinkActive="active"><a [routerLink]="['follow-request']">
              {{ pendingFollowers?.length }}
              <span class="reg">FOLLOW REQUESTS</span>
              <span class="mob">FOLLOW REQ</span>
            </a></li>
            <li routerLinkActive="active"><a [routerLink]="['following-request']">
              {{ requestedFollowings?.length }}
              <span class="reg">FOLLOWING REQUESTS</span>
              <span class="mob">FOLLOWING REQ</span>
            </a></li>
          </ul>
        </nav>
      </header>
    </div>

  </div>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
