.progress-tracker-section {
  margin-top: 40px;
  padding: 20px 20px 0 20px;
}

.form-housing {
  margin-top: 0;
  padding-top: 0;
}

/* share itinerary items */
.share-itinerary  {
  width: 160px;
  padding: 10px 20px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.share-itineary-header  {
  border-bottom: 1px solid lightgray;
}

.share-all > *  {
  display: inline-block;
}

.share-all input  {
  width: 30px;
}

.category-header  {
  margin: 10px 0;
  padding: 3px 20px;
  background-color: #567FCC;
}

.category-header > h4 {
  font-weight: 400;
  color: #F9FBFB;
  letter-spacing: 1px;
}

.category-item  {
  &:hover {
    background-color: #F6F6F6;
  }
}

.category-item input  {
  display: inline-block;
  width: 30px;
}

.category-item  h5{
  display: inline-block;
  padding: 3px 0;
}

/* share itinerary */
.progress-tracker li {
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

/* share itinerary items */
.user-search-header  {
  margin-top: 10px;
  padding: 5px;
  font-weight: 500;
}

.selected-user  {
  background-color: #F6F6F6;
}

.toggle-invite-member {
  float: right;
  padding: 5px 10px;
  color: #6494ED;
  border: 2px solid #6494ED;
  border-radius: 5px;
  &:hover {
    color: #19CC72;
    border: 2px solid #19CC72;
    cursor: pointer;
  }
}

.toggle-remove-member {
  float: right;
  padding: 5px 10px;
  color: #19CC72;
  border: 2px solid #19CC72;
  border-radius: 5px;
  &:hover {
    color: #808080;
    border: 2px solid #808080;
    cursor: pointer;
  }
}
