<div class="form-card">
  <div class="form-header share-itineary-header">
    <h3>{{ shareType }} itinerary</h3>
    <a (click)="cancel()">X</a>
  </div>

  <div class="progress-tracker-section">
    <ul class="progress-tracker" *ngIf="shareType === 'Share'">
      <li class="progress-title" (click)="itemsSelected = false" [class.progress-done]="itemsSelected">SELECT ITEMS TO SHARE</li><li class="progress-title">SELECT USERS TO SHARE WITH</li>
    </ul>

    <ul class="progress-tracker" *ngIf="shareType === 'Copy'">
      <li class="progress-title" (click)="itemsSelected = false" [class.progress-done]="itemsSelected">SELECT ITEMS TO COPY</li><li class="progress-title">SELECT ITINERARY TO COPY TO</li>
    </ul>
  </div>

  <div *ngIf="!itemsSelected">
    <div class="form-housing">

      <div class="share-all">
        <input type="checkbox" (click)="toggleShareAll()" [checked]="shareAll">
        <h4>{{ shareType }} all</h4>
      </div>

      <div class="category-header">
        <input type="checkbox" (click)="toggleShareAccommodation()" [checked]="allAccommodation">
        <h4>Accommodation</h4>
      </div>
      <div *ngFor="let event of events; let i = index" class="category-item">
        <div *ngIf="event.type === 'accommodation'">
          <input type="checkbox" (click)="toggleShare(i)" [checked]="shareIndex[i]">
          <h5>{{ event.name }}</h5>
        </div>
      </div>

      <div class="category-header">
        <input type="checkbox" (click)="toggleShareActivity()" [checked]="allActivity">
        <h4>Activity</h4>
      </div>
      <div *ngFor="let event of events; let i = index" class="category-item">
        <div *ngIf="event.type === 'activity'">
          <input type="checkbox" (click)="toggleShare(i)" [checked]="shareIndex[i]">
          <h5>{{ event.name }}</h5>
        </div>
      </div>

      <div class="category-header">
        <input type="checkbox" (click)="toggleShareTransport()" [checked]="allTransport">
        <h4>Transport</h4>
      </div>
      <div *ngFor="let event of events; let i = index" class="category-item">
        <div *ngIf="event.type === 'transport'">
          <input type="checkbox" (click)="toggleShare(i)" [checked]="shareIndex[i]">
          <h5>{{ event.name }}</h5>
        </div>
      </div>

      <div class="category-header">
        <input type="checkbox" (click)="toggleShareResources()" [checked]="allResources">
        <h4>Resource</h4>
      </div>
      <div *ngFor="let resource of resources; let i = index" class="category-item">
        <input type="checkbox" (click)="toggleShareResource(i)" [checked]="shareIndexResource[i]">
        <h5>{{ resource.title }}</h5>
      </div>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancel()">CANCEL</h5>
      <h5 class="action-response-primary" (click)="itemsSelected = true">NEXT</h5>
    </div>
  </div>

  <div *ngIf="itemsSelected && shareType === 'Share'">
    <div class="form-housing">
      <input class="share-users-search" type="text" placeholder="Search for people..." #text (keyup)="filterSearch(text.value)">

      <div *ngIf="validAddUser">
        <h5 class="user-search-header">Selected users ({{ selectedUsers.length }})</h5>
        <div *ngFor="let user of selectedUsers" class="search-result-card selected-user">
          <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>
          <h5 class="user-shared-status">{{ user.status }}</h5>

          <h5 class="toggle-remove-member" (click)="toggleAdd(user)">Selected</h5>
        </div>
      </div>

      <h5 class="user-search-header">Search result ({{ filteredResult.length }})</h5>
      <div *ngFor="let user of filteredResult" class="search-result-card">
        <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>
        <h5 class="user-shared-status">{{ user.status }}</h5>

        <h5 class="toggle-invite-member" (click)="toggleAdd(user)">Select</h5>
      </div>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancel()">CANCEL</h5>
      <button type="button" class="action-response-primary" (click)="shareItinerary()" *ngIf="validAddUser"><h5>SHARE ITINERARY</h5></button>
    </div>
  </div>

  <div *ngIf="itemsSelected && shareType === 'Copy'">
    <div class="form-housing">
      <h4>Please select itinerary to copy to:</h4>
      <div class="copy-to-itinerary-list">
        <div *ngFor="let itinerary of itineraries" class="copy-to-itinerary" (click)="shareEvents(itinerary)">
          <h4>{{ itinerary.name }} - ({{ itinerary.date_from | date:"dd MMM yy" }} to {{ itinerary.date_to | date:"dd MMM yy" }})</h4>
        </div>
      </div>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancel()">CANCEL</h5>
    </div>
  </div>
</div>

<!-- stay or redirect after copying -->
<div class="custom-modal" *ngIf="copied">
  <div class="form-card">
    <div class="form-header">
      <h3>Stay or redirect?</h3>
    </div>

    <div class="content-without-header-name">
      <h4>Would you like to remain in this itinerary - {{ itinerary?.name }} or would you like to be redirected to the itinerary - {{ selectedItinerary?.name }}?</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="stay()">STAY</h5>
      <h5 class="action-response-secondary" (click)="redirect()">REDIRECT</h5>
    </div>

  </div>
</div>
