.progress-tracker-section {
  margin-top: 40px;
  padding: 20px 20px 0 20px;
}

.progress-tracker li {
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.form-housing {
  margin-top: 0;
  padding-top: 0;
}

.share-itineary-header  {
  border-bottom: 1px solid lightgray;
}



/* select share items */

.share-all > *  {
  display: inline-block;
}

.share-all input  {
  width: 30px;
}

.category-header  {
  margin: 10px 0;
  padding: 3px 20px;
  background-color: #567FCC;
}

.category-header > h4 {
  font-weight: 400;
  color: #F9FBFB;
  letter-spacing: 1px;
}

.category-item  {
  &:hover {
    background-color: #F6F6F6;
  }
}

.category-item input  {
  display: inline-block;
  width: 30px;
}

.category-item  h5{
  display: inline-block;
  padding: 3px 0;
}



/* select users to share to */

.user-shared-status {
  position: absolute;
  padding: 3px 0 0 38px;
  color: #808080;
}
