<div class="custom-modal" *ngIf="showActivitySummary" (click)="toggleSummary()"></div>

<div *ngIf="totalActivities" class="event-summary-section" [class.show-summary]="showActivitySummary">

  <h4 class="event-list-header">Activity List - {{ totalActivities }}</h4>
  <h5 class="close-pop-up" (click)="toggleSummary()">X</h5>

  <div class="event-summary">
    <div *ngFor="let activity of activities; let i = index" class="event-summary-item" (click)="centerItem(activity)" [class.highlighted-item]="highlightedEvent === activity">
      <a href="#activity{{ i }}">
        <h5 class="index">{{i+1}}</h5>

        <div *ngFor="let meal of activity.meals">
          <div class="event-meal-indicator" *ngIf="meal.checked">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </div>
        </div>

        <h5 class="date" *ngIf="activity?.date === 'any day' || itinerary?.num_days">{{ activity?.date }} - {{ activity?.time }}</h5>
        <h5 class="date" *ngIf="activity?.date !== 'any day' && !itinerary?.num_days">{{ activity?.date | date: 'dd MMM yyyy' }} - {{ activity?.time }}</h5>

        <h5 class='event-summary-name'>{{ activity?.name }}</h5>
        <h5 class="event-summary-note truncate">{{ activity?.note }}</h5>
      </a>
    </div>
  </div>

</div>

<div *ngIf="!totalActivities && !preview" class="nil-event-message">
  <h4>This is a dedicated section for all your activities.</h4>
  <h4>You do not have any activity in this itinerary.</h4>

  <div class="add-opt activity-text" (click)="addActivity = true">
    <i class="fa fa-bicycle fa-3x" aria-hidden="true"></i>
    <h4>Add new activity</h4>
  </div>

  <h4 class="add-hint">You can also add a new activity from the "ADD NEW" tab on the left.</h4>
  <h4 class="add-hint-mobile">You can also add a new activity from the "ADD NEW" tab located at the bottom left of the screen.</h4>
</div>

<div *ngIf="!totalActivities && preview" class="nil-event-message">
  <h4>This is no activity in this itinerary.</h4>
  <h4>You can copy this itinerary and add your own activities.</h4>
</div>

<div class="event-list">
  <ww-activity
    *ngFor="let activity of activities; let i = index"
    id="activity{{i}}"
    [index]="i"
    [activity]="activity"
    [preview]="preview"
    [class.highlighted-event]="highlightedEvent === activity"
    [dateRange]="dateRange"
    [itinerary]="itinerary"
    [totalActivities]="totalActivities">
  </ww-activity>
</div>

<div class="list-short-cut" *ngIf="totalActivities">
  <h4 (click)="toggleSummary()">
    <i class="fa fa-list" aria-hidden="true"></i>
    ACTIVITY LIST
    <i class="fa fa-level-up" aria-hidden="true"></i>
  </h4>
</div>

<div *ngIf="addActivity" class="custom-modal">
  <ww-activity-input (hideActivityForm)="hideActivityForm($event)"></ww-activity-input>
</div>
