/*********************************
  activity summary section
*********************************/
.activity-summary  {
  position: fixed;
  margin: 15px 0 0 10px;
  width: 200px;
  max-height: calc(100vh - 150px);
  border-bottom: 1px solid lightgray;
  overflow: auto;

  @media only screen and (max-width: 890px) {
    display: none;
  }

  @media only screen and (min-width: 890px) and (max-width: 1090px) {
    height: calc(100vh - 190px);
  }
}

.show-summary {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 380px;
  height: calc(100vh - 90px);
  z-index: 1001;
  background-color: #F9FBFB;
  @media only screen and (max-width: 400px) {
    width: 100%;
    margin-left: 0;
  }
}

.activity-summary-length {
  margin-bottom: 1px;
  padding: 7px 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: .5px;
  background-color: rgba(237, 189, 100, 0.5);
  box-shadow: inset 0px 1px 1px 1.5px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 890px) {
    font-size: 120%;
    border-right: none;
  }
}

.activity-summary-item {
  margin-bottom: 2px;
  background-color: white;
  box-shadow: inset 0px 0px 1px 1.5px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #F6F6F6;
    cursor: pointer;
  }

  @media only screen and (max-width: 890px) {
    background-color: #F9FBFB;
    font-size: 120%;
    border: none;
    border-bottom: 1px solid lightgrey;
  }
}

.activity-summary-item:last-child  {
  margin-bottom: 0;
}

.activity-summary-item > a {
  &:hover {
    text-decoration: none;
  }
}

.activity-summary-item > a > * {
  font-size: 11.62px;
}

.activity-summary-item .date {
  margin-bottom: 5px;
  padding: 10px 10px 0 10px;
  color: grey;
  font-weight: 500;
}

.activity-summary-name  {
  padding: 0 10px 10px 10px;
}

.activity-summary-popup  {
  display: none;

  @media only screen and (max-width: 890px) {
    display: block;
    position: fixed;
    top: calc(100vh - 110px);
    right: 10px;
    padding: 15px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    opacity: .5;
    z-index: 999;
    &:hover {
      cursor: pointer;
    }
  }
}

/*********************************
  activity list section
*********************************/
.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 215px;

  @media only screen and (max-width: 890px) {
    margin-left: calc((100vw - 660px)/2);
  }

  @media only screen and (max-width: 690px) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

ww-activity {
  display: flex;
  margin-top: -90px;
  padding-top: 90px;
}
