.event-summary-note {
  padding: 15px 10px 10px 10px;
}

.event-meal-indicator {
  position: absolute;
  margin: 37px 0 0 6px;
  padding: 1px 3px 0 3px;
  color: #19CC72;
  border: 2px solid #19CC72;
  border-radius: 50%;
}
