/*********************************
  activity summary section
*********************************/
.activity-summary-name  {
  padding: 0 10px 20px 10px;
  font-weight: 500;
}

.event-meal-indicator {
  position: absolute;
  margin-top: 16px;
  right: 135px;
  padding: 1px 3px 0 3px;
  color: #19CC72;
  border: 2px solid #19CC72;
  border-radius: 50%;
}
