.itinerary-photo  {
  position: relative;
  width: 300px;
  text-align: center;
  background-color: rgba(0,0,0,.8);
}

.itinerary-photo a {
  position: absolute;
  margin: -10px 0 0 -147px;
  font-size: 7px;
}

img {
  height: 151px;
  max-width: 300px;
}


.private-indicator  {
  display: inline-block;
  color: firebrick;
}

.private-info  {
  position: absolute;
  width: 170px;
  margin: 68px 0 0 -180px;
  text-align: left;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.itinerary-name {
  &:hover {
    cursor: pointer;
    color: #6494ED;
    text-decoration: underline;
  }
}

.space-filler  {
  height: 13px;
}


/* banner for num days */

.banner {
  position: absolute;
  width: 70px;
  margin-top: -190px;
  margin-left: -26px;
  padding: 5px 0;
  color: #F9FBFB;
  text-align: center;
  background-color: #6494ED;
  border-left: 6px solid #FFA15C;
  border-radius: 2px 0 0 2px;
}

.banner::after  {
  content: "";
  position: absolute;
  display: block;
  right: -1em;
  top: 0;
  border-top: 15px solid #6494ED;
  border-bottom: 15px solid #6494ED;
  border-left: 10px solid #6494ED;
  border-right: 10px solid transparent;
}


/* itinerary details */

.copied {
  padding-bottom: 5px;
}

.itinerary-details  {
  min-height: 145px;
  padding: 20px;
  text-align: left;
}

.itinerary-details > h3 {
  min-width: 245px;
}

.itinerary-list-stats {
  display: inline-block;
  margin: 10px;
  width: 50px;
  padding: 5px 0;
  text-align: center;
}

.following-member {
  display: block;
  padding: 10px 0 20px 5px;
}


.like-save  {
  position: absolute;
  padding: 5px;
  top: 195px;
  right: 0;
  border: 1px solid lightgray;
  border-radius: 2px 0 0 2px;
  border-right: none;
}

.like-save *  {
  display: block;
  padding: 8px 0;
}

.fa-heart-o {
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.fa-bookmark-o  {
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.fa-heart  {
  color: red;

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.fa-bookmark {
  color: #6494ED;

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.itinerary-created-by  {
  position: absolute;
  bottom: 15px;

  @media only screen and (max-width: 500px) {
    font-size: .7em;
  }
}

.itin-completed  {
  position: absolute;
  margin: -15px 0 0 150px;
}

.itin-completed img{
  height: 60px;
}
