<div class="itinerary-photo" *ngIf="displayPic === ''">
  <img src="assets/description_photo.png" alt="">
  <a href="http://www.freepik.com/free-vector/world-tourism-day-background-with-monuments_915535.htm" target="_blank">Designed by Freepik</a>
</div>

<div class="itinerary-photo" *ngIf="displayPic !== ''">
  <img src="{{ displayPic.url }}" alt="">
</div>

<div class="itinerary-details">
  <div class="itin-completed" *ngIf="itinerary.completed">
    <img src="assets/completed.png" alt="">
  </div>

  <div class="private-indicator" *ngIf="itinerary.private">
    <i class="fa fa-lock" aria-hidden="true"></i>
  </div>

  <h5 class="copied" *ngIf="copied"><i class="fa fa-clone" aria-hidden="true"></i> You have copied this itinerary</h5>
  <h3 class="itinerary-name" (click)="routeToItin()">{{ itinerary.name }}</h3>

  <div *ngIf="itinerary.num_days" class="banner">{{ itinerary.num_days }} {{ itinerary.num_days > 1 ? "days" : "day" }}</div>
  <h5 *ngIf="!itinerary.num_days">{{ itinerary.date_from | date:'dd MMM yy' }} to {{ itinerary.date_to | date:'dd MMM yy' }}</h5>

  <div class="following-member" *ngIf="followings">
    <div *ngFor="let member of followings">
      <h5 class="username-bold" (click)="routeToUser(member._id)"><i class="fa fa-user" aria-hidden="true"></i> {{ member.username }}</h5>
    </div>
  </div>

</div>

<div class="stick-btm">
  <div class="itinerary-stats" *ngIf="itinerary.likes.length > 0 || itinerary.shares.length > 0 || itinerary.copied_by.length > 0">
    <div class="itinerary-list-stats" *ngIf="itinerary.likes.length > 0">
      <h5>{{ itinerary.likes.length }} {{ itinerary.likes.length > 1 ? "likes" : "like" }}</h5>
      <div class="dot" *ngIf="itinerary.likes.length > 0 && (itinerary.shares.length > 0 || itinerary.copied_by.length > 0)"></div>
    </div>

    <div class="itinerary-list-stats" *ngIf="!itinerary.corporate.status && itinerary.shares.length > 0">
      <h5>{{ itinerary.shares.length }} {{ itinerary.shares.length > 1 ? "shares" : "share" }}</h5>
      <div class="dot" *ngIf="itinerary.shares.length > 0 && itinerary.copied_by.length > 0"></div>
    </div>

    <div class="itinerary-list-stats" *ngIf="itinerary.copied_by.length > 0">
      <h5>{{ itinerary.copied_by.length }} {{ itinerary.copied_by.length > 1 ? "copies" : "copy" }}</h5>
    </div>
  </div>

  <h5 class="itinerary-created-by">Created by <span class="username-bold" (click)="routeToUser(itinerary.created_by._id)">{{ itinerary.created_by.username }}</span> on {{ itinerary.created_at | date: 'dd MMM yy'}}</h5>

  <div class="like-save">
    <h5 class="like" *ngIf="!like" (click)="toggleLike()"><i class="fa fa-heart-o fa-fw fa-lg" aria-hidden="true"></i> Like</h5>
    <h5 class="liked" *ngIf="like" (click)="toggleLike()"><i class="fa fa-heart fa-fw fa-lg" aria-hidden="true"></i> Liked</h5>
    <h5 class="save" *ngIf="!save" (click)="toggleSave()"><i class="fa fa-bookmark-o fa-fw fa-lg" aria-hidden="true"></i> Save</h5>
    <h5 class="saved" *ngIf="save" (click)="toggleSave()"><i class="fa fa-bookmark fa-fw fa-lg" aria-hidden="true"></i> Saved</h5>
  </div>
</div>
