.itinerary-photo  {
  position: relative;
  width: 300px;
  text-align: center;
  background-color: rgba(0,0,0,.8);
}

.itinerary-photo a {
  position: absolute;
  margin: -10px 0 0 -147px;
  font-size: 7px;
}

img {
  height: 151px;
  max-width: 300px;
}


.private-indicator  {
  display: inline-block;
  color: firebrick;
  vertical-align: top;
}

.private-info  {
  position: absolute;
  width: 170px;
  margin: 68px 0 0 -180px;
  text-align: left;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.itinerary-name {
  &:hover {
    cursor: pointer;
    color: #6494ED;
    text-decoration: underline;
  }
}



/* banner for num days */

.banner {
  position: absolute;
  width: 70px;
  margin-top: -190px;
  margin-left: -26px;
  padding: 5px 0;
  color: #F9FBFB;
  text-align: center;
  background-color: #6494ED;
  border-left: 6px solid #FFA15C;
  border-radius: 2px 0 0 2px;
}

.banner::after  {
  content: "";
  position: absolute;
  display: block;
  right: -1em;
  top: 0;
  border-top: 15px solid #6494ED;
  border-bottom: 15px solid #6494ED;
  border-left: 10px solid #6494ED;
  border-right: 10px solid transparent;
}


/* itinerary details */

.copied {
  padding-bottom: 5px;
}

.itinerary-details  {
  padding: 20px 20px 75px 20px;
  text-align: left;
}

.itinerary-details > h3 {
  width: 245px;
}

.following-member {
  display: block;
  padding: 5px 0 5px 5px;
}



.stick-btm  {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}

/* itinerary stats */
.itinerary-stats {
  padding-left: 20px;
}

.itinerary-list-stats {
  display: inline-block;
}

.itinerary-list-stats h5  {
  display: inline-block;
  color: #808080;
}

.dot  {
  display: inline-block;
  margin: 0 1px;
  width: 3px;
  height: 3px;
  vertical-align: middle;
  background-color: #808080;
  border-radius: 50%;
}

/* itinerary created by */
.itinerary-created-by  {
  padding: 0 20px 3px 20px;

  @media only screen and (max-width: 500px) {
    font-size: .7em;
  }
}


/* like save */
.like-save  {
  border-top: 1px solid rgba(0,0,0,.1);
}

.like-save h5  {
  display: inline-block;
  width: 148.2px;
  padding: 10px 0;
  text-align: center;
}

.like {
  border-right: 1px solid rgba(0,0,0,.1);

  &:hover {
    cursor: pointer;
    color: red;
  }
}

.save  {
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.liked  {
  border-right: 1px solid rgba(0,0,0,.1);
  color: red;

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.saved {
  color: #6494ED;

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}


/* completed img */
.itin-completed  {
  position: absolute;
  margin: -40px 0 0 200px;
}

.itin-completed img{
  height: 40px;
  transform: rotate(45deg);
}
