<div class="itinerary-photo" *ngIf="displayPic === ''">
  <img src="assets/description_photo.png" alt="">
  <a href="http://www.freepik.com/free-vector/world-tourism-day-background-with-monuments_915535.htm" target="_blank">Designed by Freepik</a>
</div>

<div class="itinerary-photo" *ngIf="displayPic !== ''">
  <img src="{{ displayPic.url }}" alt="">
</div>

<div class="itinerary-details">
  <div class="private-indicator" *ngIf="itinerary.private">
    <i class="fa fa-lock" aria-hidden="true"></i>
  </div>

  <h3>{{ itinerary.name }}</h3>

  <h5 *ngIf="itinerary.num_days">{{ itinerary.num_days }} days</h5>
  <h5 *ngIf="!itinerary.num_days">{{ itinerary.date_from | date:'dd MMM yy' }} to {{ itinerary.date_to | date:'dd MMM yy' }}</h5>

  <div class="itinerary-list-stats">
    <h3>{{ itinerary.members.length }}</h3>
    <h6>{{ itinerary.members.length > 1 ? "Members" : "Member" }}</h6>
  </div>

  <div class="itinerary-list-stats">
    <h3>{{ itinerary.shares.length }}</h3>
    <h6>{{ itinerary.shares.length > 1 ? "Shares" : "Share" }}</h6>
  </div>

  <h5 class="itinerary-created-by">Created by <span class="username-bold" (click)="routeToUser(itinerary.created_by._id)">{{ itinerary.created_by.username }}</span> on {{ itinerary.created_at | date: 'dd MMM yy'}}</h5>
</div>
