<form [formGroup]="addTransportForm" (ngSubmit)="saveNew()">

  <div class="form-card">

    <div class="form-header">
      <h3>New transport arrangement</h3>
      <a (click)="cancelForm()">X</a>
    </div>

    <div class="progress-tracker-section">
      <ul class="progress-tracker" [class.flight-search-active]="transportOption === 'flight'" [class.choose-airport-option]="chooseAirport">
        <li class="progress-title" (click)="selectTransport()" [class.progress-done]="transportOption !== ''">SELECT TRANSPORT MODE</li><li class="progress-title" *ngIf="transportOption === 'flight'" (click)="flightSearch()" [class.progress-done]="populateFlightDetails">SEARCH FLIGHT</li><li class="progress-title" *ngIf="chooseAirport" (click)="selectAirport()" [class.progress-done]="airportsChoosen">SELECT AIRPORT</li><li class="progress-title">CONFIRM {{ transportOption | uppercase }} DETAILS</li>
      </ul>
    </div>

    <div class="transport-mode" *ngIf="transportOption === ''">
      <label>Select your mode of transport</label>
      <div *ngFor="let transport of transportType" class="transport-mode-options">
        <label (click)="selectTransportType(transport.name)">
          <input type="radio" formControlName="transport_type" [value]="transport.name">
          <i class="fa fa-{{ transport.icon }} fa-3x" aria-hidden="true"></i>
          {{ transport.name }}
        </label>
      </div>
    </div>


    <div *ngIf="transportOption === 'flight'">
      <form [formGroup]="searchFlightForm" class="flight-search" *ngIf="!populateFlightDetails">

        <div class="form-housing">
          <h4 class="transport-type-header">Search For Your Flight</h4>

          <div class="form-section-details">
            <div class="loading-overlay" *ngIf="fetchFlightDetails">
              <div class="loading-message">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
              </div>
            </div>

            <div class="search-airline-code">
              <label>Airline Code</label>
              <input type="text" id="search-airline-code" formControlName="searchAirlineCode" maxlength="2" autofocus>
              <span class="form-validator"
                *ngIf="searchFlightForm.get('searchAirlineCode').touched && searchFlightForm.get('searchAirlineCode').invalid">Airline code is missing</span>
            </div>

            <div class="search-flight-number">
              <label>Flight Number</label>
              <input type="number" id="search-flight-number" formControlName="searchFlightNumber" min="1" max="9999">
              <span class="form-validator"
                *ngIf="searchFlightForm.get('searchFlightNumber').touched && searchFlightForm.get('searchFlightNumber').invalid">Flight number is missing</span>
            </div>

            <div class="flight-example">
              <h6>Example</h6>

              <div>
                <label>Airline Code</label>
                <h4 class="example-airline-code">SQ</h4>
              </div>

              <div>
                <label>Flight Number</label>
                <h4 class="example-flight-number">123</h4>
              </div>
            </div>

            <div class="search-dep-date">
              <label>Date of Departure</label>
              <select class="select-date" name="searchDepDate" formControlName="searchDepDate">
                <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                  <div *ngIf="itinDate !== 'any day'">
                    <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                  </div>
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="action-response">
          <button type="submit" (click)="searchFlightDetails()" class="action-response-primary" [disabled]="!searchFlightForm.valid"><h5>SEARCH FLIGHT</h5></button>
        </div>
      </form>
      <!-- end of flight search -->

      <!-- if need to select airport because of multiple sectors -->
      <div *ngIf="selectStopOver" class="stop-over">
        <div class="form-housing">
          <h5 class="form-section-header">Your selected flight travels from and to multiple airports.</h5>
          <h5 class="form-section-header">Please select your departure and arrival airports.</h5>

          <h5 class="stop-over-airport">Departure Airport</h5>
          <div class="select-airport" *ngFor="let airport of depAirports">
            <input name="depAirport" type="radio" (click)="selectedDepAirport(airport?.airportCode)">
            <label for="depAirport">{{ airport?.city }} ({{ airport?.airportName }})</label>
          </div>

          <h5 class="stop-over-airport">Arrival Airport</h5>
          <div class="select-airport" *ngFor="let airport of arrAirports">
            <input name="arrAirport" type="radio" (click)="selectedArrAirport(airport?.airportCode)">
            <label for="arrAirport">{{ airport?.city }} ({{ airport?.airportName }})</label>
          </div>
        </div>

        <div class="action-response">
          <h5 class="action-response-primary" (click)="getFlightDetails()">GET FLIGHT DETAILS</h5>
        </div>
      </div>
      <!-- end of airport selection -->

      <div *ngIf="!selectStopOver">
        <div *ngIf="populateFlightDetails">
          <div class="form-housing">

            <h4 class="transport-type-header"><i class="fa fa-plane fa-lg" aria-hidden="true"></i> Confirm Flight Details</h4>

            <h4 class="form-section-header">Departure Details</h4>
            <div class="form-section-details">

              <div class="operating-message" *ngIf="codeshare">
                <h5>*This flight is operated by {{ flightSearchDetail?.operating_carrier }} ({{ flightSearchDetail?.operating_flight }}).</h5>
              </div>

              <div class="flight-details">
                <h5>Flight Number</h5>
                <h4>{{ flightSearchDetail?.carrierCode }}{{ flightSearchDetail?.reference_number }}</h4>
              </div>

              <div class="flight-details">
                <h5>Airline</h5>
                <h4>{{ flightSearchDetail?.transport_company }}</h4>
              </div>

              <div class="flight-details">
                <h5>Depart From (City)</h5>
                <h4>{{ flightSearchDetail?.dep_city }}</h4>
              </div>

              <div class="flight-details">
                <h5>Departure Airport</h5>
                <h4>{{ flightSearchDetail?.dep_station }}</h4>
              </div>

              <div class="flight-details">
                <h5>Departure Terminal</h5>
                <h4>{{ flightSearchDetail?.dep_terminal }}</h4>
              </div>

              <div class="flight-details">
                <h5>Departure Date</h5>
                <h4>{{ flightSearchDetail?.dep_date | date: "dd MMM yyyy (EEEE)" }}</h4>
              </div>

              <div class="flight-details">
                <h5>Departure Time</h5>
                <h4>{{ flightSearchDetail?.dep_time }}</h4>
              </div>
            </div>
            <!-- end of departure-details -->

            <h4 class="form-section-header">Arrival Details</h4>
            <div class="form-section-details">
              <div class="flight-details">
                <h5>Going To (City)</h5>
                <h4>{{ flightSearchDetail?.arr_city }}</h4>
              </div>

              <div class="flight-details">
                <h5>Arrival Airport</h5>
                <h4>{{ flightSearchDetail?.arr_station }}</h4>
              </div>

              <div class="flight-details">
                <h5>Arrival Terminal</h5>
                <input type="text" class="transport-terminal" formControlName="arr_terminal">
              </div>

              <div class="flight-details">
                <h5>Arrival Date</h5>
                <h4>{{ flightSearchDetail?.arr_date | date: "dd MMM yyyy (EEEE)" }}</h4>
              </div>

              <div class="flight-details">
                <h5>Arrival Time</h5>
                <h4>{{ flightSearchDetail?.arr_time }}</h4>
              </div>
            </div>
            <!-- end of arrival-details -->

            <h4 class="form-section-header">Note</h4>
            <div class="form-section-details">
              <textarea name="name" rows="3" formControlName="note"></textarea>
            </div>
          </div>

          <div class="action-response">
            <h5 class="action-response-secondary" (click)="cancelForm()">CANCEL</h5>
            <button type="submit" class="action-response-primary" [disabled]="!addTransportForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
          </div>
        </div>
      </div>

    </div>
    <!-- end of flight -->


    <div *ngIf="transportOption !== '' && transportOption !== 'flight'">
      <div class="form-housing">

        <div [ngSwitch]="transportOption" class="transport-type-header">
          <h4 *ngSwitchCase="'train'"><i class="fa fa-train fa-lg" aria-hidden="true"></i> Confirm Train Details</h4>
          <h4 *ngSwitchCase="'bus'"><i class="fa fa-bus fa-lg" aria-hidden="true"></i> Confirm Bus Details</h4>
          <h4 *ngSwitchCase="'cruise'"><i class="fa fa-ship fa-lg" aria-hidden="true"></i> Confirm Cruise Details</h4>
          <h4 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car fa-lg" aria-hidden="true"></i> Confirm Vehicle Rental Details</h4>
          <h4 *ngSwitchCase="'others'"><i class="fa fa-rocket fa-lg" aria-hidden="true"></i> Confirm Other Transport Type Details</h4>
        </div>

        <!-- exclude flight, left train, bus, cruise, rental & others -->
        <h4 class="form-section-header">Departure Details</h4>
        <div class="form-section-details">
          <div *ngIf="transportOption === 'bus'">
            <label>Bus Number</label>
            <input type="text" class="reference-number" formControlName="reference_number">
          </div>

          <label>Depart from (City) <span class="required"> - required</span></label>
          <input type="text" formControlName="dep_city">
          <span class="form-validator"
            *ngIf="addTransportForm.get('dep_city').touched && addTransportForm.get('dep_city').invalid">Departure city is required</span>

          <!-- departure details for all other transport type except vehicle rental-->
          <div *ngIf="transportOption !== 'vehicle rental'">
            <label>Departure Station / Terminal</label>
            <input type="text" formControlName="dep_station">

            <label>Departure Date <span class="required"> - required</span></label>
            <select class="select-date" name="dep_date" formControlName="dep_date">
              <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                <div *ngIf="itinDate !== 'any day'">
                  <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>
              </option>
            </select>

            <label>Departure Time</label>
            <input type="time" formControlName="dep_time">
          </div>

          <div *ngIf="transportOption === 'vehicle rental'">
            <label>Pick Up Date <span class="required"> - required</span></label>
            <select class="select-date" name="dep_date" formControlName="dep_date">
              <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                <div *ngIf="itinDate !== 'any day'">
                  <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>
              </option>
            </select>

            <label>Pick Up Time</label>
            <input type="time" formControlName="dep_time">
          </div>
        </div>
        <!-- end of departure details -->

        <h4 class="form-section-header">Arrival Details</h4>
        <div class="form-section-details">
          <label>Going To (City) <span class="required"> - required</span></label>
          <input type="text" formControlName="arr_city">
          <span class="form-validator"
            *ngIf="addTransportForm.get('arr_city').touched && addTransportForm.get('arr_city').invalid">Arrival city is required</span>

          <!-- arrival details for all transport type except vehicle rental-->
          <div *ngIf="transportOption !== 'vehicle rental'">
            <label>Arrival Station / Terminal</label>
            <input type="text" formControlName="arr_station">

            <label>Arrival Date</label>
            <select class="select-date" name="arr_date" formControlName="arr_date">
              <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                <div *ngIf="itinDate !== 'any day'">
                  <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>
              </option>
            </select>

            <label>Arrival Time</label>
            <input type="time" formControlName="arr_time">
          </div>

          <div *ngIf="transportOption === 'vehicle rental'">
            <label>Return Date</label>
            <select class="select-date" name="arr_date" formControlName="arr_date">
              <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                <div *ngIf="itinDate !== 'any day'">
                  <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>
              </option>
            </select>

            <label>Return Time</label>
            <input type="time" formControlName="arr_time">
          </div>

        </div>
        <!-- end of arrival details -->

        <!-- template for vehicle rental -->
        <div *ngIf="transportOption === 'vehicle rental'">
          <h4 class="form-section-header">Rental Company Details</h4>
          <div class="form-section-details">
            <label>Rental Company</label>
            <input type="text" formControlName="transport_company">

            <label>Contact Number</label>
            <input type="text" class="contact-number-input" formControlName="contact_number">
          </div>
        </div>

        <h4 class="form-section-header">Note</h4>
        <div class="form-section-details">
          <textarea name="name" rows="3" formControlName="note"></textarea>
        </div>

      </div>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="cancelForm()">CANCEL</h5>
        <button type="submit" class="action-response-primary" [disabled]="!addTransportForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
      </div>

    </div>
    <!-- end of details for transport exclude flight -->

  </div><!-- end of formCard -->
</form>

<div class="custom-modal" *ngIf="flightNotFound" (click)="flightNotFound = false">
  <div class="form-card">
    <div class="form-header">
      <h3>Flight not found</h3>
      <a (click)="flightNotFound = false">X</a>
    </div>

    <div class="content-without-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Oops! Your flight does not exist. Please check your flight number and date of departure again.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="flightNotFound = false">OK</h5>
    </div>
  </div>
</div>
