<form [formGroup]="addAccommodationForm" (ngSubmit)="onSubmitNewAccommodation()">

    <div class="form-card">

      <div class="form-header">
        <h3>New accommodation arrangement</h3>
        <a (click)="cancelForm()">x</a>
      </div>

      <div class="place-search">
        <label>Search for your accommodation (Google will do the rest)</label>
        <ww-google-place-search (placeDetail)="getAccommodationDetails($event)"></ww-google-place-search>
      </div>

      <div class="check-in-out">
        <div class="check-in">
          <label>Check in date <span class="required"> - required</span></label>
          <select name="checkInDate" formControlName="checkInDate">
            <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
              <div *ngIf="itinDate === 'any day'">
                <h5>{{ itinDate }}</h5>
              </div>
              <div *ngIf="itinDate !== 'any day'">
                <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
              </div>
            </option>
          </select>
        </div>

        <div class="check-out">
          <label>Check out date <span class="required"> - required</span></label>
          <select name="checkOutDate" formControlName="checkOutDate">
            <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
              <div *ngIf="itinDate === 'any day'">
                <h5>{{ itinDate }}</h5>
              </div>
              <div *ngIf="itinDate !== 'any day'">
                <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
              </div>
            </option>
          </select>
        </div>

      </div>

      <div class="accommodation-form-details">

        <label>Name of accommodation <span class="required"> - required</span></label>
        <input type="text" formControlName="name" value="{{ googleAccommodationDetail?.name }}">

        <label>Address</label>
        <input type="text" formControlName="formatted_address" value="{{ googleAccommodationDetail?.formatted_address }}">

        <label>Website</label>
        <input type="url" formControlName="website" value="{{ googleAccommodationDetail?.website }}">

        <label>Contact Number</label>
        <input type="text" formControlName="international_phone_number" value="{{ googleAccommodationDetail?.international_phone_number }}" class="contact-number-input">

        <label>Note</label>
        <textarea rows="3" formControlName="note"></textarea>

      </div>

      <div class="save-option">
        <button type="submit" class="primaryButton" [disabled]="!addAccommodationForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save new accommodation</button>
      </div>

    </div><!-- end of formCard -->

</form>
