<div class="details-card">

  <div [class.editing]="editing">
    <div class="view">

      <div class="edit-delete" *ngIf="sameUser">
        <a (click)="onEdit()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a (click)="confirmDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </div>

      <div class="linkDetails">

        <h4 class="description">{{ resource?.description }}</h4>
        <a href="{{resource?.link}}" target="_blank"><h5 class="truncate link">{{ resource?.link }}</h5></a>

        <div class="postby">
          <h6>added by <a routerLink="/users/{{resource?.user['_Id']}}">{{ resource?.user.username }}</a></h6>
          <p>{{ resource?.created_at | date: 'medium' }}</p>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="editing">

    <form [formGroup]="editResourceForm" (ngSubmit)="onUpdateResource()">

      <label>Description</label>
      <input type="text" formControlName="description" [value]="resource.description">

      <label>Link</label>
      <input type="text" formControlName="link" [value]="resource.link">

      <div class="buttons">
        <button type="button" class="deleteButton" (click)="cancelEditResource()">Cancel edit</button>
        <button type="submit" class="primaryButton"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
      </div>

    </form>

  </div>

</div>

<div class="delete-modal" *ngIf="deleteResource">
  <div class="confirm-delete">
    <div class="confirm-delete-header">
      <h4>Delete resource {{ resource?.name }}</h4>
      <a (click)="cancelDelete()">x</a>
    </div>
    <h4 class="confirm-delete-content">Deleting resource <span class="confirm-delete-name">{{ resource?.name }}</span> will permanently remove it from your itinerary.</h4>
    <div class="confirm-delete-footer">
      <button type="button" (click)="cancelDelete()">Cancel delete</button>
      <button type="button" class="deleteButton" (click)="onDeleteResource()">Yes, delete {{ resource?.name }}</button>
    </div>
  </div>
</div>
