<div class="display-card">

  <div class="dots-menu" (click)="showMenuOptions()">
    <div class="dots-menu-hint">
      <h6>Click to edit or delete</h6>
    </div>

    <div class="item-menu" *ngIf="showMenu">
      <ul>
        <!-- <li>
          <h5>Recommend</h5>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </li> -->
        <li (click)="copy()">
          <h5>Copy</h5>
          <i class="fa fa-clone" aria-hidden="true"></i>
        </li>
        <li (click)="edit()" *ngIf="sameUser">
          <h5>Edit</h5>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </li>
        <li (click)="delete()" *ngIf="sameUser">
          <h5>Delete</h5>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="resource-details">

    <h5 class="resource-count">{{ index + 1 }} of {{ totalResources }}</h5>

    <h3 class="resource-title">{{ resource?.title }}</h3>
    <h5 class="resource-content" [innerHTML]="resource?.formatted_content"></h5>

    <div class="resource-link-preview" *ngIf="resource?.link_url">
      <a href="{{ resource?.link_url }}" target="_blank">
        <img class="resource-link-img" src="{{ resource?.link_img }}" alt="" *ngIf="resource.link_img">
        <h3 class="resource-link-title">{{ resource?.link_title }}</h3>
        <h4 class="resource-link-description">{{ resource?.link_description }}</h4>
        <h5 class="resource-link-url truncate">{{ resource?.link_url }}</h5>
      </a>
    </div>

    <div class="postby">
      <h5><a routerLink="/users/{{resource?.user['_Id']}}">{{ resource?.user.username }}</a></h5>
      <div class="time-ago">
        <p *ngIf="resource?.time_ago !== ''">{{ resource?.time_ago }}</p>
        <p *ngIf="resource?.time_ago === ''">{{ resource?.created_at | date: 'dd MMM yyyy (EEE)' }}</p>
      </div>
    </div>
  </div>

</div>

<!-- resource copy modal -->
<div *ngIf="copying">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Copy resource</h3>
        <a (click)="cancelCopy()">X</a>

        <div class="form-header-name">
          <h4>{{ resource?.title }}</h4>
        </div>
      </div>

      <div class="form-housing">

        <h4>Please select itinerary to copy to:</h4>
        <div *ngFor="let itinerary of itineraries" class="copy-to-itinerary" (click)="copyTo(itinerary)">
          <h4>{{ itinerary.name }} - ({{ itinerary.date_from | date:"dd MMM yy" }} to {{ itinerary.date_to | date:"dd MMM yy" }})</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- resource edit modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Edit resource</h3>
        <a (click)="cancelEdit()">X</a>

        <div class="form-header-name">
          <h4>{{ resource?.title }}</h4>
        </div>
      </div>

      <form [formGroup]="editResourceForm" (ngSubmit)="saveEdit()">

        <div class="form-housing">
          <label>Title</label>
          <input type="text" formControlName="title" [value]="resource.title" autofocus>

          <label>Content</label>
          <textarea rows="4" formControlName="content" [value]="resource.content"></textarea>

          <div class="resource-link-preview" *ngIf="resource?.link_url">
            <a href="{{ resource?.link_url }}" target="_blank">
              <img class="resource-link-img" src="{{ resource?.link_img }}" alt="">
              <h3 class="resource-link-title">{{ resource?.link_title }}</h3>
              <h4 class="resource-link-description">{{ resource?.link_description }}</h4>
              <h5 class="resource-link-url truncate">{{ resource?.link_url }}</h5>
            </a>
          </div>

          <div class="action-response">
            <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL</h5>
            <h5 class="action-response-secondary" (click)="undoEdit()">UNDO</h5>
            <button type="submit" class="action-response-primary" [disabled]="!editResourceForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="custom-modal" *ngIf="deleteResource">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete resource?</h3>
      <a (click)="cancelDelete()">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ resource?.title }}</h4>
    </div>

    <div class="confirm-delete-content">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting resource {{ resource?.title }} will permanently remove it from your itinerary.</h4>
    </div>

    <div class="confirm-delete-footer">
      <div class="action-response">
        <h5 class="action-response-primary" (click)="cancelDelete()">CANCEL</h5>
        <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
      </div>
    </div>
  </div>
</div>
