<div class="display-card">

  <div class="dots-menu" (mouseover)="showMenuOptions()">
    <div class="item-menu" *ngIf="showMenu">
      <ul>
        <!-- <li>
          <h5>Recommend</h5>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </li> -->
        <li (click)="onEdit()" *ngIf="sameUser">
          <h5>Edit</h5>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </li>
        <li (click)="confirmDelete()" *ngIf="sameUser">
          <h5>Delete</h5>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="resource-details">

    <h4 class="resource-title">{{ resource?.title }}</h4>
    <h5 class="resource-content">{{ resource?.content }}</h5>

    <div class="resource-link-preview" *ngIf="resource?.link_url">
      <a href="{{ resource?.link_url }}" target="_blank">
        <img class="resource-link-img" src="{{ resource?.link_img }}" alt="">
        <h3 class="resource-link-title">{{ resource?.link_title }}</h3>
        <h4 class="resource-link-description">{{ resource?.link_description }}</h4>
        <h5 class="resource-link-url truncate">{{ resource?.link_url }}</h5>
      </a>
    </div>

    <div class="postby">
      <h5><a routerLink="/users/{{resource?.user['_Id']}}">{{ resource?.user.username }}</a></h5>
      <div class="time-ago">
        <p>{{ resource?.time_ago }}</p>
        <span class="show-time">{{ resource?.created_at | date: 'EEE, dd MMM yyyy - HH:mm' }}</span>
      </div>
    </div>
  </div>

</div>

<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Edit resource</h3>
        <a (click)="cancelEditResource()">x</a>
      </div>

      <div class="form-header-name">
        <h4>{{ resource?.title }}</h4>
      </div>

      <form [formGroup]="editResourceForm" (ngSubmit)="onUpdateResource()">

        <div class="form-housing">
          <label>TITLE</label>
          <input type="text" formControlName="title" [value]="resource.title" autofocus>

          <label>CONTENT</label>
          <textarea rows="4" formControlName="content" [value]="resource.content"></textarea>

          <div class="resource-link-preview" *ngIf="resource?.link_url">
            <a href="{{ resource?.link_url }}" target="_blank">
              <img class="resource-link-img" src="{{ resource?.link_img }}" alt="">
              <h3 class="resource-link-title">{{ resource?.link_title }}</h3>
              <h4 class="resource-link-description">{{ resource?.link_description }}</h4>
              <h5 class="resource-link-url truncate">{{ resource?.link_url }}</h5>
            </a>
          </div>

          <div class="action-response">
            <h4 class="action-response-secondary" (click)="cancelEditResource()">CANCEL</h4>
            <button type="submit" class="action-response-primary" [disabled]="!editResourceForm.valid"><h4><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h4></button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="custom-modal" *ngIf="deleteResource">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete resource?</h3>
      <a (click)="cancelDelete()">x</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ resource?.title }}</h4>
    </div>

    <div class="confirm-delete-content">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting resource {{ resource?.title }} will permanently remove it from your itinerary.</h4>
    </div>

    <div class="confirm-delete-footer">
      <div class="action-response">
        <h4 class="action-response-primary" (click)="cancelDelete()">CANCEL</h4>
        <h4 class="action-response-warning" (click)="onDeleteResource()">DELETE</h4>
      </div>
    </div>
  </div>
</div>
