.time-picker {
  width: 100px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.time-picker h4 {
  width: 98px;
  height: 30px;
  padding-top: 6.82px;
  font-weight: 400;
}

.time-picker-dropdown {
  position: absolute;
  width: 109px;
  margin-top: -53px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
}

.time-picker-dropdown h5  {
  display: inline-block;
  width: 52px;
  padding-left: 7px;
  font-weight: bold;
  text-align: left;
}

.time-select {
  display: inline-block;
  width: 52px;
  margin-bottom: 0;
  border: none;
}

.time-select h4 {
  padding: 5px 8px;
  font-weight: 400;
}

.time-select div{
  &:hover {
    cursor: pointer;
    background-color: #E6E6E6;
  }
}

.time-select::-webkit-scrollbar {
  background-color: white;
  width: 5px;
}

.time-select::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.time-picker-dropdown > h4.selected-time  {
  color: #19CC72;
}

.time-picker-dropdown > h4  {
  padding: 6px 0 5px 0;
  font-weight: 400;
  border-top: 1px solid rgba(0,0,0,.1);
  border-radius: 0 0 5px 5px;
  color: lightgray;
  &:hover {
    cursor: pointer;
    background-color: #E6E6E6;
  }
}
