<div class="legend-section" [class.show-legend]="showMapLegend">
  <div class="date-filter">
    <select name="date" [(ngModel)]="selectedDate" (ngModelChange)="filterMarkers($event)">
      <option *ngFor="let date of dates" [value]="date">
        <h5>{{ date }}</h5>
      </option>
    </select>
  </div>
  <i class="fa fa-filter fa-lg" aria-hidden="true"></i>

  <div class="map-legend">
    <div *ngFor="let event of events; let i = index" class="map-event" (click)="changeCenter(event)">

      <div class="marker">
        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
        <h5 class="marker-index">{{ i+1 }}</h5>
      </div>

      <div class="marker-details">
        <div *ngIf="event.date !== 'any day'">
          <h5 class="marker-date">{{ event.date | date: 'dd MMM'}} - {{ event.time }}</h5>
        </div>

        <div *ngIf="event.date === 'any day'">
          <h5 class="marker-date">Any day - {{ event.time }}</h5>
        </div>

        <h5 class="marker-name">{{ event.name }}</h5>
      </div>

    </div>
  </div>
</div>

<div class="map-legend-popup" (click)="showLegend()">
  <i class="fa fa-list" aria-hidden="true"></i>
</div>

<div #map id="map"></div>
