#map  {
  position: fixed !important;
  top: 80px;
  right: 0;
  display: inline-block;
  height: calc(100vh - 80px);
  width: calc(100% - 430px);

  @media only screen and (max-width: 890px) {
    display: block;
    width: 100%;
    height: calc(100vh - 125px);
  }

  @media only screen and (min-width: 890px) and (max-width: 1090px) {
    width: calc(100% - 230px);
    height: calc(100vh - 125px);
  }
}

.legend-section {
  position: absolute;
  display: inline-block;
  max-height: calc(100vh - 110px);
  width: 220px;
  vertical-align: top;

  @media only screen and (max-width: 890px) {
    display: none;
    height: 0;
  }
}

.show-legend  {
  position: fixed;
  display: block;
  top: 40px;
  left: 10px;
  width: 380px;
  z-index: 1001;

  @media only screen and (max-width: 420px) {
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
  }
}

.map-summary {
  max-height: calc(100vh - 130px);
  vertical-align: top;
  background-color: rgba(237, 189, 100, 0.3);
  overflow: auto;

  @media only screen and (max-width: 890px) {
    max-height: calc(100vh - 130px);
    background-color: white;
  }

  @media only screen and (min-width: 890px) and (max-width: 1090px) {
    max-height: calc(100vh - 160px);
  }
}

.map-summary::-webkit-scrollbar  {
  background-color: rgba(237, 189, 100, 0.3);
  width: 8px;

  @media only screen and (max-width: 890px) {
    background-color: rgba(100, 148, 237, 0.3);
  }
}

.map-summary::-webkit-scrollbar-thumb  {
  background-color: rgba(237, 189, 100, 0.9);

  @media only screen and (max-width: 890px) {
    background-color: rgba(100, 148, 237, 0.9);
  }
}

.map-event  {
  position: relative;
  padding: 15px 5px;
  border-top: 1px solid lightgray;
  &:hover{
    background-color: white;
    cursor: pointer;
  }
  @media only screen and (max-width: 890px) {
    border-right: none;
  }
}

.map-event:last-child {
  margin-bottom: 0;
}

.marker,
.marker-details {
  display: inline-block;
  vertical-align: text-top;
}

.marker-details {
  width: 78%;
  text-align: right;
  @media only screen and (max-width: 890px) {
    width: 85%;
    font-size: 120%;
  }
}

.accommodation-summary-header {
  margin-bottom: 5px;
  padding-left: 5px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #6494ED;
}

.marker-name  {
  display: inline-block;
  width: 100%;
  padding-left: 5px;
  vertical-align: top;
  overflow-wrap: break-word;
}

.marker-index {
  margin: 10px 5px;
  padding: 3px 5px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 50%;
  float: left;
}

.marker-date {
  margin-bottom: 5px;
  padding-left: 5px;
  color: grey;
  font-weight: 500;
}

.event-summary-note  {
  padding: 5px 0 0 5px;
}

.map-legend-popup  {
  display: none;

  @media only screen and (max-width: 890px) {
    display: block;
    position: fixed;
    top: calc(100vh - 115px);
    right: 50px;
    padding: 15px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    opacity: .7;
    z-index: 999;
    &:hover {
      cursor: pointer;
    }
  }
}

div.info-window  {
  padding: 10px
}

.gm-style-iw  {
  padding: 50px;
}
