<form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">
  <div class="form-card">

    <div class="form-header">
      <h3>New resource link</h3>
      <a (click)="cancelForm()">x</a>
    </div>

    <label>TITLE <span class="required"> - what is the link about?</span></label>
    <input type="text" formControlName="description">

    <label>LINK</label>
    <input type="url" formControlName="link">

    <div class="save-option">
      <h4 (click)="cancelForm()">CANCEL</h4>
      <button type="submit" class="save-button" [disabled]="!resourceForm.valid"><h4><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h4></button>
    </div>

  </div>
</form>
