.loading-overlay  {
  position: absolute;
  margin-left: 266px;

  @media only screen and (max-width: 650px) {
    margin-left: calc((100% - 28px)/2);
  }
}

.link-error {
  margin-bottom: 20px;
}

.link-error h4 {
  padding-left: 3px;
}
