.toggle-select  {
  padding: 10px;
  -webkit-box-shadow: inset 5px 0 10px -7px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 5px 0 10px -7px rgba(0,0,0,0.2);
  box-shadow: inset 5px 0 10px -7px rgba(0, 0, 0, 0.2);
}

.toggle {
  display: inline-block;
  padding: 5px;
  width: 49%;
  color: #6494ED;
  text-align: center;
  border: 1px solid #6494ED;
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}

.selected {
  color: white;
  background-color: #6494ED;
  border: none;
  &:hover{
    cursor: default;
    background-color: #6494ED;
  }
}

/* legend */
.event-type-legend  {
  text-align: center;
  -webkit-box-shadow: inset 5px 0 10px -7px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 5px 0 10px -7px rgba(0,0,0,0.2);
  box-shadow: inset 5px 0 10px -7px rgba(0, 0, 0, 0.2);
}

.legend {
  display: inline-block;
  width: 30%;
}

.legend > h6  {
  text-align: center;
}

.accommodation-indicator  {
  height: 10px;
  background-color: rgba(100,235,219,0.5);
}

.transport-indicator  {
  height: 10px;
  background-color: rgba(237,100,148,0.5);
}

.activity-indicator {
  height: 10px;
  background-color: rgba(237,189,100,0.5);
}

/* list items */
.date-header {
  padding: 5px 10px;
  color: white;
  background-color: #6494ED;
  border-top: 2px solid #83a9f0;
  border-bottom: 4px solid #5a85d5;
  cursor: pointer;
}

.fa {
  float: right;
}
