<div class="admin-portal-header">
  <h3>Edit place - {{ place?.name }}</h3>
</div>

<form [formGroup]="placeForm" (ngSubmit)="onSubmit()">

  <div class="details-section-container">
    <h5>Last updated {{ updated?.date }}</h5>

    <h5 class="form-section-header">BASIC DETAILS</h5>
    <div class="details-section-container">

      <label>NAME</label>
      <input type="text" formControlName="name" #name>

      <label>DESCRIPTION ({{description?.value.length}} characters) - keep to 300 characters</label>
      <textarea rows="6" formControlName="description" #description></textarea>

      <label>SUB-DESCRIPTION ({{sub_description?.value.length}} characters) - keep to 300 characters</label>
      <textarea rows="6" formControlName="sub_description" #sub_description></textarea>

      <label>TIPS ({{tips?.value.length}} characters)</label>
      <textarea rows="6" formControlName="tips" #tips></textarea>
    </div>



    <h5 class="form-section-header">GETTING THERE</h5>
    <div class="details-section-container">

      <label>GETTING THERE</label>
      <textarea rows="6" formControlName="getting_there" #getting_there></textarea>

    </div>



    <h5 class="form-section-header">LOCATION DETAILS</h5>
    <div class="details-section-container">

      <label>ADDRESS</label>
      <textarea rows="3" formControlName="formatted_address" #formatted_address></textarea>

      <label>LATITUDE <span class="required"> - for internal use</span></label>
      <h4>{{ place?.lat }}</h4>

      <label>LONGITUDE <span class="required"> - for internal use</span></label>
      <h4>{{ place?.lng }}</h4>

      <label>COUNTRY <span class="required"> - for internal use</span></label>
      <h4>{{ place?.country.name }}</h4>

      <label>CITY <span class="required"> - for internal use</span></label>
      <input type="text" formControlName="city">

      <label>PLACE ID <span class="required"> - for internal use</span></label>
      <h4>{{ placeID }}</h4>
    </div>



    <h5 class="form-section-header">CONTACT DETAILS</h5>
    <div class="details-section-container">

      <label>CONTACT NUMBER</label>
      <input type="text" formControlName="international_phone_number" class="contact-number-input" #international_phone_number>

      <label>WEBSITE</label>
      <input type="url" id="website" formControlName="website" #website>

    </div>



    <h5 class="form-section-header">OTHER DETAILS</h5>
    <div class="details-section-container">

      <label>OPENING HOURS</label>
      <textarea rows="7" formControlName="opening_hours" #opening_hours (keyup)="logHours(opening_hours.value)"></textarea>

      <label>COST / ENTRY FEE</label>
      <input type="text" formControlName="entry_fee" #entry_fee>
    </div>



    <h5 class="form-section-header">PHOTOS</h5>
    <div class="details-section-container">

      <div *ngIf="pictureOptions?.length > 0">
        <div *ngFor="let photo of pictureOptions; let i = index" class="form-image">
          <img src="{{ photo.url }}" alt="">
          <div class="positioning">
            <h5>Current position</h5>
            <h3>{{ i+1 }}</h3>

            <h5 class="reposition">Reposition</h5>
            <select class="photo-index" (change)="reposition(i, $event.target.value)">
              <option *ngFor="let photo of place.photos; let j = index" [selected]="i+1 === j+1">
                <h5>{{ j+1 }}</h5>
              </option>
            </select>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="action-response">
    <button type="submit" class="action-response-primary" [disabled]="!placeForm.valid"><h4><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h4></button>
  </div>

</form>


<div class="sample">

  <div class="toggle-view">
    <h4 (click)="getDetails()"><i class="fa fa-align-justify" aria-hidden="true"></i> Details view</h4>
    <h4 (click)="details = false"><i class="fa fa-clone" aria-hidden="true"></i> Card view</h4>
  </div>

  <div *ngIf="details">
    <div *ngIf="pictureOptions?.length > 0" class="image-slider">
      <div *ngFor="let photo of pictureOptions; let i = index" class="display-images">
        <input type="radio" name="slide_switch" id="image-{{i}}" [checked]="i === 0">
        <label for="image-{{i}}">
          <h5>{{ i + 1 }}</h5>
        </label>
        <img src="{{ photo.url }}" alt="">
        <h5 class="photo-credit" [innerHTML]="photo.credit"></h5>
      </div>
    </div>

    <div class="details-content">

      <h1 class="content-header">{{ name?.value }}</h1>

      <div class="content-details description" *ngIf="description?.value !== ''">
        <h4>{{ description?.value }}</h4>
      </div>

      <div class="content-details" *ngIf="sub_description?.value !== ''">
        <h4>{{ sub_description?.value }}</h4>
      </div>

      <div class="content-details" *ngIf="tips?.value !== ''">
        <h5 class="tips">TIPS</h5>
        <h4>{{ tips?.value }}</h4>
      </div>

      <div class="sub-content">
        <h4 class="sub-content-header">GOOGLE REVIEWS</h4>

        <div *ngFor="let review of reviews" class="review">
          <img src="{{ review.profile_photo_url }}" alt="">
          <div class="review-details">
            <h4 class="review-author" [innerHTML]="review.author"></h4>

            <div class="review-rating">
              <h5 [class.rated]="review.rating >= 1"><i class="fa fa-star" aria-hidden="true"></i></h5>
              <h5 [class.rated]="review.rating >= 2"><i class="fa fa-star" aria-hidden="true"></i></h5>
              <h5 [class.rated]="review.rating >= 3"><i class="fa fa-star" aria-hidden="true"></i></h5>
              <h5 [class.rated]="review.rating >= 4"><i class="fa fa-star" aria-hidden="true"></i></h5>
              <h5 [class.rated]="review.rating >= 5"><i class="fa fa-star" aria-hidden="true"></i></h5>
              <h5>{{ review.relative_time_description }}</h5>
            </div>

            <h5 class="review-text">{{ review.text }}</h5>
          </div>
        </div>
      </div>

      <div class="sub-content">
        <h4 class="sub-content-header">GETTING THERE</h4>

        <div class="content-details" *ngIf="opening_hours?.value !== ''">
          <h4>{{ getting_there?.value }}</h4>

        </div>

      </div>

      <div class="sub-content">
        <h4 class="sub-content-header">CONTACT DETAILS</h4>

        <div class="content-details" *ngIf="formatted_address?.value !== ''">
          <h4><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i></h4>
          <h4> {{ formatted_address?.value }}</h4>
        </div>

        <div class="content-details" *ngIf="international_phone_number?.value !== ''">
          <h4><i class="fa fa-phone fa-fw" aria-hidden="true"></i></h4>
          <h4>{{ international_phone_number?.value }}</h4>
        </div>

        <div class="content-details" *ngIf="website?.value !== ''">
          <h4><i class="fa fa-globe fa-fw" aria-hidden="true"></i></h4>
          <h4 class="truncate">
            <a href="{{ website?.value }}" target="_blank" class="website-link">{{ website?.value }}</a>
          </h4>
        </div>
      </div>


      <div class="sub-content">
        <h4 class="sub-content-header">OTHERS</h4>

        <div class="content-details" *ngIf="opening_hours?.value !== ''">
          <h4><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i></h4>
          <h4 [innerHTML]="formatted_hours"></h4>
        </div>

        <div class="content-details" *ngIf="entry_fee?.value !== ''">
          <h4><i class="fa fa-money fa-fw" aria-hidden="true"></i></h4>
          <h4>{{ entry_fee?.value }}</h4>
        </div>
      </div>

    </div>


    <div #map id="attraction-map"></div>

  </div>

  <div *ngIf="!details">

    <div class="display-600">
      <div *ngIf="!displayPic" class="img">
        <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
        <h5>Photo</h5>
      </div>

      <div *ngIf="displayPic" class="card-image">
        <img src="{{ displayPic?.url }}">
        <h5 class="photo-credit" [innerHTML]="displayPic?.credit"></h5>
      </div>

      <div class="header-background"></div>

      <div class="details-600">
        <div class="dots-menu"></div>

        <h3 class="activity-header">{{ name?.value }}</h3>

        <div class="show-details description" *ngIf="description?.value !== ''">
          <h5>{{ description?.value }}</h5>
        </div>

        <div class="show-details" *ngIf="sub_description?.value !== ''">
          <h5>{{ sub_description?.value }}</h5>
        </div>

        <div class="show-details" *ngIf="tips?.value !== ''">
          <h6 class="tips">TIPS</h6>
          <h5>{{ tips?.value }}</h5>
        </div>

        <div class="toggle-contact-details" (click)="showContactDetails6 = !showContactDetails6">
          <h5>Address and contact number</h5>
          <h5><i class="fa fa-angle-down" aria-hidden="true"></i></h5>
        </div>

        <div *ngIf="showContactDetails6">
          <div class="show-details">
            <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
            <h5> {{ formatted_address?.value }}</h5>
          </div>

          <div class="show-details" *ngIf="international_phone_number?.value !== ''">
            <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
            <h5>{{ international_phone_number?.value }}</h5>
          </div>
        </div>

        <div class="show-details" *ngIf="opening_hours?.value !== ''">
          <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
          <h5 [innerHTML]="formatted_hours"></h5>
        </div>

        <div class="show-details" *ngIf="entry_fee?.value !== ''">
          <i class="fa fa-money fa-fw" aria-hidden="true"></i>
          <h5>{{ entry_fee?.value }}</h5>
        </div>

        <div class="show-details" *ngIf="website?.value !== ''">
          <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
          <h5 class="truncate">
            <a href="{{ website?.value }}" target="_blank" class="website-link">{{ website?.value }}</a>
          </h5>
        </div>
      </div>
    </div>

    <div class="display-300">

      <div *ngIf="!displayPic" class="img">
        <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
        <h5>Photo</h5>
      </div>

      <div *ngIf="displayPic" class="card-image">
        <img src="{{ displayPic?.url }}">
        <h5 class="photo-credit" [innerHTML]="displayPic?.credit"></h5>
      </div>

      <div class="header-background"></div>

      <div class="details-300">

        <div class="dots-menu"></div>

        <h3 class="activity-header">{{ name?.value }}</h3>

        <div class="show-details description" *ngIf="description?.value !== ''">
          <h5>{{ description?.value }}</h5>
        </div>

        <div class="show-details" *ngIf="sub_description?.value !== ''">
          <h5>{{ sub_description?.value }}</h5>
        </div>

        <div class="show-details" *ngIf="tips?.value !== ''">
          <h6 class="tips">TIPS</h6>
          <h5>{{ tips?.value }}</h5>
        </div>

        <div class="toggle-contact-details" (click)="showContactDetails3 = !showContactDetails3">
          <h5>Address and contact number</h5>
          <h5><i class="fa fa-angle-down" aria-hidden="true"></i></h5>
        </div>

        <div *ngIf="showContactDetails3">
          <div class="show-details">
            <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
            <h5> {{ formatted_address?.value }}</h5>
          </div>

          <div class="show-details" *ngIf="international_phone_number?.value !== ''">
            <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
            <h5>{{ international_phone_number?.value }}</h5>
          </div>
        </div>

        <div class="show-details" *ngIf="opening_hours?.value !== ''">
          <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
          <h5 [innerHTML]="formatted_hours"></h5>
        </div>

        <div class="show-details" *ngIf="entry_fee?.value !== ''">
          <i class="fa fa-money fa-fw" aria-hidden="true"></i>
          <h5>{{ entry_fee?.value }}</h5>
        </div>

        <div class="show-details" *ngIf="website?.value !== ''">
          <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
          <h5 class="truncate">
            <a href="{{ website?.value }}" target="_blank" class="website-link">{{ website?.value }}</a>
          </h5>
        </div>

      </div>

    </div>

  </div>
