form  {
  height: calc(100vh - 45px);
  margin-top: 40px;
  width: 460px;
  padding: 0 10px;
  overflow: auto;
}

.place  * {
  display: inline-block;
  border: 1px solid lightgray;
}

.place h5:first-of-type {
  width: 200px;
  border-right: 1px solid lightgray;
}

.place h5:nth-of-type(2)  {
  width: 500px;
}

.details-section-container h4 {
  margin-bottom: 20px;
}
