<div class="profile">
  <div class="profile-header">
    <img src="{{ user?.display_picture }}" alt="">
    <!-- <h5>{{ user?.description }}</h5> -->
  </div>

  <div class="profile-center-bar"></div>

  <div class="profile-main">
    <div class="profile-connections" [class.fix-profile-connections]="fixed">
      <div class="follower-following">
        <div class="follower-counter" (click)="routeToFollowers()">
          <h4>{{ followers.length }}</h4>
          <h5>FOLLOWERS</h5>
        </div>
        <div class="following-counter" (click)="routeToFollowings()">
          <h4>{{ followings.length }}</h4>
          <h5>FOLLOWING</h5>
        </div>
      </div>
    </div>

    <div class="profile-itineraries" [class.fix-profile-itineraries]="fixed">
      <div class="profile-itineraries-length">
        <h5>YOUR ITINERARY ({{ user?.itineraries.length }})</h5>
      </div>
      <h5 class="profile-new-itinerary" (click)="createItinerary()"><i class="fa fa-plus" aria-hidden="true"></i> Plan a new itinerary</h5>
      <div class="profile-itineraries-list" *ngFor="let itinerary of user?.itineraries | slice:0:5 "  (click)="routeToItin(itinerary._id)">
        <h5>{{ itinerary.name }}</h5>
        <h6>( {{ itinerary.date_from | date:'dd MMM yy' }} to {{ itinerary.date_to | date:'dd MMM yy' }} )</h6>
      </div>
      <div *ngIf="user?.itineraries.length > 5" class="view-all" [routerLink]="['/me/itinerary']">
        <h5>View all</h5>
      </div>
    </div>

    <div class="profile-posts">
      <ww-post-input></ww-post-input>
      <div class="profile-posts-list">
        <ww-post-list [posts]="posts"></ww-post-list>
      </div>
    </div>
  </div>
</div>



<!-- new itin form -->
<div class="custom-modal" *ngIf="showItineraryForm">
  <ww-itinerary-form (hideItineraryForm)="hideItineraryForm($event)"></ww-itinerary-form>
</div>
