<div class="user-profile-container">

  <div class="user-profile-header">
    <img src="{{ currentUser?.display_picture }}" alt="">

    <div class="user-profile-details">
      <h4>{{ currentUser?.description }}</h4>
    </div>
  </div>

  <div class="user-profile-background-img">
    <img src="assets/profile_landmark.png">
  </div>

  <div class="user-profile-background"></div>

  <div class="user-profile-counters">
    <div class="follower-counter" (click)="routeToFollowers()">
      <h2>{{ followers.length }}</h2>
      <h5>FOLLOWERS</h5>
    </div>
    <div class="following-counter" (click)="routeToFollowings()">
      <h2>{{ followings.length }}</h2>
      <h5>FOLLOWING</h5>
    </div>
    <div class="itinerary-counter" [routerLink]="['/me/itinerary']">
      <h2>{{ currentUser?.itineraries.length }}</h2>
      <h5>ITINERARY</h5>
    </div>
    <div class="itinerary-counter" [routerLink]="['/me/favourite']">
      <h2>{{ favs?.length }}</h2>
      <h5>FAVOURITE</h5>
    </div>
  </div>




  <div class="user-profile-main">

    <div class="itinerary-shortcut" [class.fix-profile-itineraries]="fixed">
      <div class="itinerary-shortcut-header">
        <h5>{{ currentUser?.itineraries.length > 1 ? 'ITINERARIES' : 'ITINERARY'}} ({{ currentUser?.itineraries.length }})</h5>
      </div>
      <h5 class="itinerary-shortcut-new" (click)="createItinerary()"><i class="fa fa-plus" aria-hidden="true"></i> Plan a new itinerary</h5>
      <div class="itinerary-shortcut-list" *ngFor="let itinerary of currentUser?.itineraries | slice:0:10 "  (click)="routeToItin(itinerary._id)">
        <h5>{{ itinerary.name }}</h5>

        <h6 *ngIf="itinerary.num_days">( {{ itinerary.num_days }} days )</h6>
        <h6 *ngIf="!itinerary.num_days">( {{ itinerary.date_from | date:'dd MMM yy' }} to {{ itinerary.date_to | date:'dd MMM yy' }} )</h6>

      </div>
      <div *ngIf="currentUser?.itineraries.length > 10" class="view-all" [routerLink]="['/me/itinerary']">
        <h5>View all</h5>
      </div>
    </div>

    <div class="user-profile-posts">
      <ww-post-input></ww-post-input>
      <div class="user-profile-posts-list">
        <ww-post-list [posts]="posts"></ww-post-list>
      </div>
    </div>
  </div>
</div>



<!-- new itin form -->
<div class="custom-modal" *ngIf="showItineraryForm">
  <ww-itinerary-form (hideItineraryForm)="hideItineraryForm($event)"></ww-itinerary-form>
</div>
