.notification {
  padding: 10px;
  border-top: 1px solid lightgray;

  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.unread {
  background-color: #E6E6E6;
}

.notification > img {
  display: inline-block;
  vertical-align: top;
}

.notification-message  {
  display: inline-block;
  width: 90%;
  padding-left: 10px;

  @media only screen and (max-width: 400px) {
    width: 80%;
  }
}

.time-ago {
  display: inline-block;
}

.time-ago > p {
  display: inline-block;
  padding-top: 10px;
  font-size: .6em;
  color: grey;
  &:hover {
    cursor: default;
  }
}
