.add-new  {
  padding: 60px 0;
  border: 3px solid #6494ED;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }

  @media only screen and (max-width: 679px) {
    padding: 20px;
  }
}

.add-new * {
  display: block;
  padding: 15px 0;
  color: #6494ED;
  font-weight: 400;

  @media only screen and (max-width: 650px) {
    display: inline-block;
    font-size: 20px;
  }
}

.custom-modal {
  text-align: left;
}
