<div class="search-result-card">
  <img src="{{ follower.user.display_picture }}" alt="" class="user-profile-thumbnail">
  <div class="user-details">
    <h4 class="user-username">{{ follower.user.username }}</h4>
    <h5 class="user-search-description">{{ follower.user.description }}</h5>
  </div>

  <div class="follow-button">
    <div class="following-response">
      <h5 class="already-following" (click)="remove()">Remove</h5>
    </div>
  </div>
</div>


<div class="custom-modal" *ngIf="removeFollower">
  <div class="confirm-remove-follower">
    <img src="{{ follower.user.display_picture }}" alt="" class="user-profile-thumbnail">
    <h5 class="remove-follower-message"><span class="follower-username">{{ follower.user.username }}</span> will not be informed of this removal</h5>
    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelRemove()">CANCEL</h5>
      <h5 class="action-response-warning">REMOVE</h5>
    </div>
  </div>
</div>
