.main-container {
  width: 600px;
  margin-left: calc((100vw - 600px) /2);
  border-right: 1px solid rgba(0,0,0,.1);
  border-left: 1px solid rgba(0,0,0,.1);

  @media only screen and (max-width: 650px) {
    width: 100%;
    margin-left: 0;
    border: none;
  }
}

.header-container {
  padding: 40px 0;
  background-color: white;
  border-top: 5px solid #6494ED;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

hr.header-separator {
  margin-top: 0;
  margin-bottom: 40px;
  width: 150px;
  border-top: 2px solid #6494ED;
}


.itinerary-action {
  text-align: center;
}

.preview-link {
  display: inline-block;
  padding: 10px 20px;
  color: #808080;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.copied {
  padding-bottom: 10px;
  text-align: center;
  font-weight: 500;
}

.copy-itinerary {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.description  {
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.description-header {
  padding: 30px;
}

.section  {
  padding: 0 30px;
}

.legend {
  text-align: left;
  border-top: 1px solid rgba(0,0,0,.1);
}

.legend > div {
  display: inline-block;
  padding: 3px;
  width: auto;
  margin: 5px 10px;
  letter-spacing: 1px;
}

.summary-container  {
  margin-bottom: 40px;
  text-align: left;
}




/* day header */

.day-header {
  padding: 10px;
  background-color: #6494ED;
}

.day-header * {
  color: #F9FBFB;
}

.date-display  {
  display: inline-block;
  width: 170px;

  @media only screen and (max-width: 650px) {
    margin-bottom: 10px;
  }
}


.daily-note  {
  display: inline-block;
  vertical-align: top;

  @media only screen and (max-width: 650px) {
    display: block;
  }
}

.daily-note i,
.daily-note h5  {
  display: inline-block;
  vertical-align: top;
}

.daily-note h5 {
  width: 370px;

  @media only screen and (max-width: 650px) {
    width: calc(100vw - 60px);
  }
}




/* individual event item */

.event-item-card  {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.time-photo {
  display: inline-block;
}

.event-time {
  padding-bottom: 20px;
  width: 80px;
  text-align: right;
}

.event-photo img {
  height: 80px;
  width: 80px;
}

.event-photo i  {
  width: 80px;
}

/* details of each item */
.pill,
.event-header {
  display: inline-block;
  vertical-align: text-top;
}

.event-header {
  width: 430px;

  @media only screen and (max-width: 650px) {
    width: calc((100vw - 165px));
  }
}

.event-details-card  {
  display: inline-block;
  width: 490px;
  padding-left: 15px;
  vertical-align: top;

  @media only screen and (max-width: 650px) {
    width: calc((100vw - 120px));
  }
}


/* image related */
.transport-icon {
  display: inline-block;
}

.fa-home  {
  padding: 0 23px;
}

// .fa-bicycle  {
//   padding: 0 13px;
// }


/* details */


.event-name  {
  padding-bottom: 15px;
}

.summary-description  {
  font-weight: 400;
  text-align: justify;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 10px;
}

.event-details-card h5  {
  padding-bottom: 5px;
}




// select date range for copy modal
.date-picker  {
  margin: 20px 0 0 10px;
}
