.header {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  color: #6494ED;
  text-align: center;
}

.preview-link {
  text-align: center;
  color: #808080;

  &:hover {
    cursor: pointer;
    color: #3A4A4D;
  }
}

.summary-container  {
  margin-bottom: 40px;
}




/* day header */

.day-header {
  margin: 50px 0 10px 0;
  padding: 10px;
  border-bottom: 5px double;
}

.date-display  {
  display: inline-block;
  width: 170px;
}

.day-header:first-of-type  {
  margin-top: 20px;
}

.daily-note  {
  display: inline-block;
  vertical-align: top;

  @media only screen and (max-width: 450px) {
    display: block;
    margin-top: 10px;
  }
}

.daily-note i,
.daily-note h5  {
  display: inline-block;
  vertical-align: top;
}

.daily-note h5 {
  width: 370px;

  @media only screen and (max-width: 450px) {
    width: calc(100vw - 50px);
  }

  @media only screen and (min-width: 450px) and (max-width: 670px) {
    width: calc(100vw - 220px);
  }

}




/* individual event item */

.event-item-card  {
  border-bottom: 1px dashed lightgray;
}

.event-time {
  display: inline-block;
  padding-top: 15px;
  width: 70px;
  text-align: right;
  vertical-align: top;
}



/* details of each item */

.event-details-card  {
  display: inline-block;
  width: 525px;

  @media only screen and (max-width: 450px) {
    display: block;
    width: 100vw;
  }

  @media only screen and (min-width: 450px) and (max-width: 670px) {
    width: calc((100vw - 100px));
  }
}


/* image related */

.event-details-card > img,
.event-details-card > i,
.event-details-card > .summary-item-details  {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.event-details-card .transport-switch  {
  display: inline-block;
  vertical-align: top;
}

.event-details-card > img,
.event-details-card > i,
.event-details-card .transport-switch i  {
  height: 80px;
  width: 80px;
  margin: 10px;
  background-color: #EAEAFB;
}

.fa-bicycle  {
  padding: 20px 13px;
}

.fa-home,
.fa-plane,
.fa-train,
.fa-bus,
.fa-rocket  {
  padding: 23px;
}

.fa-car,
.fa-ship  {
  padding: 20px 16px;
}


/* summary of details */

.summary-item-details {
  @media only screen and (max-width: 450px) {
    width: calc((100vw - 120px))
  }

  @media only screen and (min-width: 450px) and (max-width: 670px) {
    width: calc((100vw - 210px))
  }
}

.summary-item-details h5  {
  padding-bottom: 5px;
}

.summary-item-details h4  {
  padding-bottom: 10px;
}

.event-type {
  color: #567FCC;
}
