<h4 class="header">You are viewing the summary of the itinerary - {{ itinerary?.name }}</h4>
<h4 class="preview-link" *ngIf="itinerary?.corporate.status" [routerLink]="['/preview/itinerary', itinerary?._id]">
  <i class="fa fa-external-link" aria-hidden="true"></i>
  View preview
</h4>

<div class="summary-container">
  <div *ngFor="let date of itinDateRange; let i = index">
    <div *ngIf="date === 'any day'" class="day-header">
      <h3 class="date-display">Any day</h3>

      <div *ngFor="let note of dailyNotes" class="daily-note">
        <div *ngIf="note.date === date">
          <i class="fa fa-sticky-note-o fa-fw" aria-hidden="true"></i>
          <h5>{{ note.note }}</h5>
        </div>
      </div>
    </div>

    <div *ngIf="date !== 'any day'" class="day-header">
      <h3 class="date-display">Day {{ i }} - {{ date | date: "dd MMM (EEE)" }}</h3>

      <div *ngFor="let note of dailyNotes" class="daily-note">
        <div *ngIf="note.date === date">
          <i class="fa fa-sticky-note-o fa-fw" aria-hidden="true"></i>
          <h5>{{ note.note }}</h5>
        </div>
      </div>
    </div>


    <div *ngFor="let event of events; let i = index">

      <div *ngIf="event.date === date" class="event-item-card">
        <h4 class="event-time">{{ event.time }}</h4>

        <div *ngIf="event.type === 'activity'" class="event-details-card">
          <img src="{{ event.photo.url }}" alt="" *ngIf="event?.photo">
          <i class="fa fa-bicycle fa-3x" aria-hidden="true" *ngIf="!event?.photo"></i>

          <div class="summary-item-details">
            <h4>{{ event.name }}</h4>
          </div>
        </div>

        <div *ngIf="event.type === 'accommodation'" class="event-details-card">
          <img src="{{ event.photo.url }}" alt="" *ngIf="event?.photo">
          <i class="fa fa-home fa-3x" aria-hidden="true" *ngIf="!event?.photo"></i>

          <div class="summary-item-details">
            <h4><i class="fa fa-bed" aria-hidden="true"></i> {{ event?.city | uppercase }}</h4>
            <h4>{{ event.name }}</h4>

            <h5>Check out - {{ event.check_out_date | date: 'dd MMM yyyy (EEE)' }} - {{ event.check_out_time }}</h5>

          </div>
        </div>

        <div *ngIf="event.type === 'transport'" class="event-details-card">
          <div [ngSwitch]="event.transport_type" class="transport-switch">
            <i *ngSwitchCase="'flight'" class="fa fa-plane fa-3x" aria-hidden="true"></i>
            <i *ngSwitchCase="'train'" class="fa fa-train fa-3x" aria-hidden="true"></i>
            <i *ngSwitchCase="'bus'" class="fa fa-bus fa-3x" aria-hidden="true"></i>
            <i *ngSwitchCase="'cruise'" class="fa fa-ship fa-3x" aria-hidden="true"></i>
            <i *ngSwitchCase="'vehicle rental'" class="fa fa-car fa-3x" aria-hidden="true"></i>
            <i *ngSwitchCase="'others'" class="fa fa-rocket fa-3x" aria-hidden="true"></i>
          </div>

          <div class="summary-item-details">
            <h4>{{ event?.transport_type | capitalise }} from {{ event?.dep_city }} to {{ event?.arr_city}}</h4>
            <h4 *ngIf="event.transport_type === 'flight'">{{ event.reference_number }} - {{ event.transport_company }}</h4>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
