.main-nav nav {
  position: fixed;
  top: 0;
  padding: 7.73px;
  height: 40px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  background-color: #F9FBFB;
  border-bottom: 2px solid lightgray;
  z-index: 500; /** to allow google search to show in modal **/
}

.logo {
  display: inline-block;
  padding-left: 20px;
  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 890px) {
    display: block;
    padding-left: 0;
    text-align: center;
  }
}

.logo h2  {
  color: #6494ED;
}

.top-nav-search  {
  position: fixed;
  top: 0;
  right: calc(8% + 138px);
  z-index: 501;
  @media only screen and (max-width: 890px) {
    display: none;
  }
}

.top-nav-itinerary {
  position: fixed;
  top: 0;
  right: calc(8% + 107px);
  z-index: 501;

  @media only screen and (max-width: 500px) {
    right: 0;
  }

  @media only screen and (min-width: 500px) and (max-width: 890px) {
    right: 8%;
  }
}

.top-nav-follower-request {
  position: fixed;
  top: 0;
  right: calc(8% + 70px);
  z-index: 501;
  @media only screen and (max-width: 890px) {
    display: none;
  }
}

.top-nav-notifications  {
  position: fixed;
  right: calc(8% + 37px);
  top: 0px;
  z-index: 501;

  @media only screen and (max-width: 890px) {
    display: none;
  }
}

.top-nav-profile {
  position: fixed;
  top: 9px;
  right: 8%;
  z-index: 501;
  @media only screen and (max-width: 890px) {
    display: none;
  }
}

.top-nav-link  {
  position: relative;
  display: inline-block;
  color: #6494ED;
  font-weight: 600;
  &:hover {
    width: 20px;
    margin-left: -25px;
    cursor: pointer;
    color: #416099;
  }
}

.top-nav-search > .top-nav-link {
  &:hover {
    margin-left: -26px;
  }
}

.top-nav-follower-request > .top-nav-link {
  &:hover {
    margin-left: -30.5px;
  }
}

.top-nav-notifications > .top-nav-link {
  &:hover {
    margin-left: -28px;
  }
}

.top-nav-profile > .top-nav-link  {
  &:hover {
    margin-left: -30px;
  }
}

.top-nav-link > i  {
  margin-top: 13px;
  padding-right: 9px;
}

.top-nav-link > .user-profile-thumbnail  {
  margin-top: -4px;
}

.top-nav-link-dropdown {
  display: none;
}

.top-nav-link:hover > .top-nav-link-dropdown  {
  display: block;
  position: relative;
  top: 10px;
  right: 175px;
  background-color: white;
  width: 200px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.top-nav-profile >  .top-nav-link:hover > .top-nav-link-dropdown {
  top: 4px;
  right: 115px;
  width: 150px;
}

.top-nav-profile >  .top-nav-link:hover > .top-nav-link-dropdown > .dropdown-arrow-up {
  left: 122px;
}

.top-nav-follower-request >  .top-nav-link:hover > .top-nav-link-dropdown,
.top-nav-notifications >  .top-nav-link:hover > .top-nav-link-dropdown {
  width: 400px;
  right: 370px;
}

.top-nav-follower-request >  .top-nav-link:hover > .top-nav-link-dropdown > .dropdown-arrow-up,
.top-nav-notifications >  .top-nav-link:hover > .top-nav-link-dropdown > .dropdown-arrow-up {
  left: 370px;
}

.top-nav-dropdown-header  {
  display: block;
  position: relative;
  margin-top: -8px;
  padding: 3px 0;
  letter-spacing: .5px;
  text-align: center;
  background-color: #416099;
  z-index: 1;
}

.top-nav-dropdown-header > h6 {
  display: inline-block;
  font-weight: 500;
  color: #F9FBFB;
}

.dropdown-arrow-up {
  position: relative;
  top: -7px;
  left: 175px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #416099;
}

.dropdown-new-itinerary {
  padding: 10px;
  color: grey;
  text-align: center;
  &:hover  {
    color: #6494ED;
  }
}

.dropdown-item  {
  padding: 10px;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.top-nav-profile .dropdown-item,
.top-nav-notifications .dropdown-item,
.top-nav-follower-request .dropdown-item  {
  text-align: left;
}

.nil-dropdown-item  {
  padding: 10px;
  text-align: center;
}

.search-result-card:last-child  {
  border-bottom: none;
}

.user-details {
  width: 175px;

  @media only screen and (max-width: 610px) {
    width: calc(100vw - 170px);
  }
}

.action-response  {
  display: inline-block;
}

.response-status  {
  display: inline-block;
}


// fixed itinerary on small screen
.top-nav-itinerary > .top-nav-link  {
  @media only screen and (max-width: 500px) {
    width: 100%;
    min-width: 100vw;
    &:hover {
      margin-left: 0;
    }
  }
}

i.fa-sticky-note {
  @media only screen and (max-width: 500px) {
    position: fixed;
    top: 0;
    right: 15px;
  }
}

.top-nav-itinerary > .top-nav-link:hover .top-nav-link-dropdown {
  @media only screen and (max-width: 500px) {
    width: 100%;
    top: 48px;
    right: 0;
    height: calc(100vh - 40px);
  }
}

.top-nav-itinerary >  .top-nav-link:hover > .top-nav-link-dropdown > .dropdown-arrow-up {
  @media only screen and (max-width: 500px) {
    position: fixed;
    right: 16px;
    left: 0;
  }
}

.exit-itinerary-view  {
  display: none;
  @media only screen and (max-width: 500px) {
    display: block;
    padding: 10px;
    text-align: center;
    color: #F9FBFB;
    background-color: #6494ED;
  }
}

.notifications-view-all {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 8px;
  font-size: 10px;
  font-weight: 300;
  color: #f9fbfb;
}


ww-notification-list  {
  display: block;
  position: relative;
  max-height: calc(100vh - 100px);
  border-bottom: 1px solid lightgray;
  overflow: overlay;
}

/*****************
  Side nav
******************/
.side-nav  {
  display: none;
  @media only screen and (max-width: 890px) {
    display: block;
  }
}

/* Side nav bars */
.side-nav-bars {
  position: fixed;
  top: 6px;
  left: 5%;
  display: block;
  color: #6494ED;
  z-index: 501;
  &:hover {
    cursor: pointer;
  }
}

/* Side nav panel */
.side-nav-panel {
  display: none;
  height: 0;
}

.show-side-nav-menu {
  display: block;
}

/* profile */
.side-nav-profile  {
  position: fixed;
  top: 0;
  padding: 15px 20px;
  height: 140px;
  width: 200px;
  color: white;
  text-align: center;
  background-color: #6494ed;
  -webkit-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.2);
  -moz-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.2);
  box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.2);
  z-index: 1001;

  @media only screen and (max-width: 890px) {
    width: 250px;
  }
}

.side-nav-profile > img  {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.edit-profile {
  position: absolute;
  top: 90px;
  left: 210px;
  padding: 5px 7px;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    color: grey;
    border: 3px solid grey;
  }
}

.username {
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.username > h4  {
  color: white;
}

.user-description {
  padding-top: 5px;
  color: lightgray;
}

/* Side menu */
.side-nav-menu  {
  position: fixed;
  top: 140px;
  height: calc(100vh - 140px);
  width: 200px;
  padding-bottom: 10px;
  background-color: white;
  overflow: auto;
  -webkit-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.2);
  -moz-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.2);
  box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.2);
  z-index: 1001;

  @media only screen and (max-width: 890px) {
    width: 265px;
    left: -15px;
    direction: rtl;
  }
}

.side-nav-menu > *  {
  direction: ltr;
}

.side-nav-menu::-webkit-scrollbar {
  -webkit-appearance: none;
}

.side-nav-menu-arrow-down {
  margin-bottom: 5px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #6494ED;

  @media only screen and (max-width: 890px) {
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-top: 50px solid #6494ED;
  }
}

.category-header  {
  padding: 5px 10px 5px 25px;
  -webkit-box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.2);
}

.category-item  {
  padding: 10px 20px 10px 35px;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

/* connections */
.search-connection.fa-search  {
  padding-left: 5px;
  &:hover {
    color: #6494ED;
    cursor: pointer;
  }
}

.search-connection {
  color: grey;
}

.follower-following-counter {
  padding-left: 15px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.follower-counter,
.following-counter  {
  width: 49%;
  &:hover {
    background-color: #F6F6F6;
  }
}

.follower-counter *,
.following-counter * {
  color: #3A4A4D;
}

.follower-following-counter + .category-item  {
  &:hover {
    color: #6494ED;
  }
}

.fa-caret-down,
.fa-caret-up  {
  float: right;
  &:hover {
    cursor: pointer;
  }
}

/*************************
 find friend modal-footer
 *************************/

.user-profile-thumbnail {
  display: inline-block;
}

.follow-button  {
  display: inline-block;
  float: right;
}
