<div class="custom-modal" *ngIf="showMenu" (click)="showSideMenu()"></div>

<div class="side-navigation-pulldown" (click)="showSideMenu()">
  <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
</div>

<div class="side-navigation" [class.show-side-menu]="showMenu">

  <div class="profile">
    <img src="{{ currentUser?.displayPic }}" alt="" [routerLink]="['profile']" (click)="exitMenu()">
    <div class="username">
      <h4 [routerLink]="['profile']" (click)="exitMenu()">{{ currentUser?.username }}</h4>
    </div>
    <h5 class="user-description">{{ currentUser?.description }}</h5>
  </div>


  <div class="side-menu">

    <div class="arrow-down"></div>

    <div>
      <div class="category-header" (click)="toggleConnectionsSection()">
        <h4>
          Connections
          <i class="fa fa-search" aria-hidden="true" (click)="getUsers()"></i>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h4>
      </div>

      <div *ngIf="connectionsSection">

        <div class="category-item friends">
          <h5>Followers</h5>
          <h4>{{ followers.length }}</h4>
        </div>

        <div class="category-item friends">
          <h5>Followings</h5>
          <h4>{{ followings.length }}</h4>
        </div>

      </div>

    </div>

    <div>
      <div class="category-header" (click)="toggleItinerariesSection()">
        <h4>Itineraries <i class="fa fa-caret-down" aria-hidden="true"></i></h4>
      </div>

      <div *ngIf="itinerariesSection">
        <div class="category-item">
          <h5 class="new-itinerary" (click)="createItinerary()"><i class="fa fa-plus" aria-hidden="true"></i> Create a new itinerary</h5>
        </div>
        <div>
          <div *ngFor="let itinerary of currentUser?.itineraries" class="category-item">
            <div [routerLink]="['itinerary/', itinerary._id]" routerLinkActive="active" (click)="exitMenu()">
              <h5>{{ itinerary.name }}</h5>
              <h6>( {{ itinerary.dateFrom | date:'dd MMM yy' }} to {{ itinerary.dateTo | date:'dd MMM yy' }} )</h6>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="category-header" (click)="toggleSettingsSection()">
        <h4>Settings <i class="fa fa-caret-down" aria-hidden="true"></i></h4>
      </div>
      <div *ngIf="settingsSection">
        <div class="category-item" (click)="logout()">
          <h5><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</h5>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- new itin form -->
<div class="custom-modal" *ngIf="showItineraryForm">
  <div class="form-card">
    <div class="form-header">
      <h3>Create a new itinerary</h3>
      <a (click)="cancelItineraryForm()">x</a>
    </div>

    <form [formGroup]="itineraryForm" (ngSubmit)="onSubmit()">

      <label>Itinerary name</label>
      <input type="text" formControlName="name">

      <label>Travel date from (dd/mm/yyyy)</label>
      <input type="date" formControlName="dateFrom" max="2050-12-31">

      <label>Travel date to (dd/mm/yyyy)</label>
      <input type="date" formControlName="dateTo" max="2050-12-31">

      <div class="save-option">
        <button type="submit" class="primaryButton" (click)="onSubmit()" [disabled]="!itineraryForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Create itinerary</button>
      </div>
    </form>

  </div>
</div>


<div class="custom-modal" *ngIf="showUsers">
  <div class="show-users">

    <div class="show-users-header">
      <h4>Find a friend</h4>
      <a (click)="cancelShowUsers()">x</a>
    </div>

    <div *ngFor="let user of users" class="user-card">
      <img src="{{ user.displayPic }}" alt="" class="user-profile-thumbnail">
      <div class="user-details">
        <h5 class="user-username">{{ user.username }}</h5>
        <h6 class="user-search-description">{{ user.description }}</h6>
      </div>

      <div class="follow-button">
        <div *ngIf="user.status === 'requested'">
          <button type="button" class="follow" (click)="cancelRequest(user)">Requested</button>
        </div>
        <div *ngIf="user.status === ''">
          <button type="button" class="follow" (click)="follow(user)">Follow</button>
        </div>
      </div>
    </div>

    <div class="show-users-footer">
      <button type="button" class="primaryButton"(click)="cancelShowUsers()">Done</button>
    </div>
  </div>
</div>
