<form [formGroup]="addAccommodationForm" (ngSubmit)="onSubmitNewAccommodation()">

    <div class="form-card">

      <div class="form-header">
        <h3>New accommodation arrangement</h3>
        <a (click)="cancelForm()">x</a>
      </div>

      <div class="textless-header"></div>

      <div class="form-housing">

        <div class="progress-tracker-section">
          <ul class="progress-tracker">
            <li class="progress-title" (click)="backToSearch()" [class.progress-done]="searchDone">SEARCH ACCOMMODATION</li><li class="progress-title">CONFIRM CHECK IN/OUT DETAILS</li>
          </ul>
        </div>

        <div *ngIf="!searchDone">
          <label>SEARCH ACCOMMODATION BY NAME OR ADDRESS</label>
          <ww-google-place-search (placeDetail)="getAccommodationDetails($event)"></ww-google-place-search>
          <h6 class="cannot-find" (click)="skipSearch()">Cannot find your accommodation? Proceed to key in details ></h6>
        </div>

        <div *ngIf="searchDone">
          <h5 class="form-section-header">CHECK IN/OUT DETAILS</h5>
          <div class="form-section-details">

            <div class="check-in">
              <div class="date-to-visit">
                <label>CHECK IN DATE <span class="required"> - required</span></label>
                <select class="select-date" name="check_in_date" formControlName="check_in_date" [value]="firstDay">
                  <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                    <div *ngIf="itinDate !== 'any day'">
                      <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                    </div>
                  </option>
                </select>
              </div>

              <div class="time-to-visit">
                <label>CHECK IN TIME</label>
                <input type="time" formControlName="check_in_time" [value]="timeCheckIn">
              </div>
            </div><!-- end of check in -->

            <div class="check-out">
              <div class="date-to-visit">
                <label>CHECK OUT DATE <span class="required"> - required</span></label>
                <select class="select-date" name="check_out_date" formControlName="check_out_date" [value]="lastDay">
                  <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                    <div *ngIf="itinDate !== 'any day'">
                      <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                    </div>
                  </option>
                </select>
              </div>

              <div class="time-to-visit">
                <label>CHECK OUT TIME</label>
                <input type="time" formControlName="check_out_time" [value]="timeCheckOut">
              </div>
            </div><!-- end of check out -->

          </div>

          <h5 class="form-section-header">ACCOMMODATION DETAILS</h5>
          <div class="form-section-details">

            <label>SELECT AN IMAGE AS THE DISPLAY PICTURE</label>

            <div class="slider">
              <div class="slider-images" *ngFor="let image of googleAccommodationDetail?.pictures; let i = index">
                <input type="radio" name="slide_switch" id="image-{{i}}" (click)="selectPic(image)" checked>
                <label for="image-{{i}}">
                  <img src="{{ image }}" alt="">
                </label>
                <img src="{{ image }}" alt="">
              </div>
            </div>

            <label>NAME OF ACCOMMODATION <span class="required"> - required</span></label>
            <input type="text" formControlName="name" value="{{ googleAccommodationDetail?.name }}">

            <label>ADDRESS</label>
            <input type="text" formControlName="formatted_address" value="{{ googleAccommodationDetail?.formatted_address }}">

            <label>STAYING IN (CITY/TOWN)</label>
            <input type="text" formControlName="stay_city" value="{{ googleAccommodationDetail?.stay_city }}">

            <label>WEBSITE</label>
            <input type="url" formControlName="website" value="{{ googleAccommodationDetail?.website }}">

            <label>CONTACT NUMBER</label>
            <input type="text" formControlName="international_phone_number" value="{{ googleAccommodationDetail?.international_phone_number }}" class="contact-number-input">

          </div>

          <h5 class="form-section-header">NOTE</h5>
          <div class="form-section-details">
            <textarea rows="3" formControlName="note"></textarea>
          </div>

          <div class="action-response">
            <h4 class="action-response-secondary" (click)="cancelForm()">CANCEL</h4>
            <button type="submit" class="action-response-primary" [disabled]="!addAccommodationForm.valid"><h4><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h4></button>
          </div>

        </div>
      </div>

    </div><!-- end of formCard -->

</form>
