.transport-mode  {
  padding: 10px;
}

.transport-mode-options {
  display: inline-block;
  margin-top: 5px;
  margin-right: 20px;
}

.transport-type-header {
  margin: 0 10px;
  padding: 10px;
  font-size: 1.3rem;
  color: #6494ED;
  background-color: cornsilk;
  border-radius: 10px 10px 0 0;
}

.flight-search > button  {
  margin-top: 10px;
}

/* to search for flight from flight stats */
#search-airline-code  {
  width: 75px;
  text-transform: uppercase;
  text-align: center;
}

#search-flight-number {
  width: 85px;
  text-align: center;
}

.search-airline-code,
.search-flight-number,
.flight-example,
.flight-example > div {
  display: inline-block;
}

.flight-example  {
  position: relative;
  left: 30px;
  color: grey;
}

.example  {
  border: 1px solid grey;
  margin-top: 3px;
  padding: 9px 12px;
  height: 34px;
  text-align: center;
}

.search-dep-date  {
  display: block;
}

/* if stopover is true */
.stop-over {
  padding: 10px;
  background-color: #ffe5e5;
}

.stop-over > h5 {
  margin-top: 15px;
}

.stop-over > h5:first-child  {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
}

.select-airport {
  margin: 5px 0;
}

.select-airport > input {
  display: inline-block;
  margin-left: 10px;
  width: auto;
}

/* details display */
