<form [formGroup]="addTransportForm" (ngSubmit)="onSubmitNewTransports()">

  <div class="form-card">

    <div class="form-header">
      <h3>New transport arrangement</h3>
      <a (click)="cancelForm()">x</a>
    </div>

    <div class="transport-mode">
      <h5>Select mode of transport:</h5>
      <div *ngFor="let transport of transportType" class="transport-mode-options">
        <label>
          <input type="radio" formControlName="transportType" [value]="transport" (click)="onSelectTransportType(transport)">
          {{ transport }}
        </label>
      </div>
    </div>

    <div [ngSwitch]="transportOption" class="transport-type-header">
      <div *ngSwitchCase="'flight'"><i class="fa fa-plane fa-lg" aria-hidden="true"> Flight details</i></div>
      <div *ngSwitchCase="'train'"><i class="fa fa-train fa-lg" aria-hidden="true"> Train details</i></div>
      <div *ngSwitchCase="'bus'"><i class="fa fa-bus fa-lg" aria-hidden="true"> Bus details</i></div>
      <div *ngSwitchCase="'cruise'"><i class="fa fa-ship fa-lg" aria-hidden="true"> Cruise details</i></div>
      <div *ngSwitchCase="'vehicle rental'"><i class="fa fa-car fa-lg" aria-hidden="true"> Vehicle rental details</i></div>
      <div *ngSwitchCase="'others'"><i class="fa fa-rocket fa-lg" aria-hidden="true"> Other transport details</i></div>
    </div>

    <div *ngIf="transportOption === 'flight'">
      <form [formGroup]="searchFlightForm" class="flight-search">

        <div class="search-airline-code">
          <label>Airline code</label>
          <input type="text" id="search-airline-code" formControlName="searchAirlineCode" maxlength="2">
        </div>

        <div class="search-flight-number">
          <label>Flight number</label>
          <input type="number" id="search-flight-number" formControlName="searchFlightNumber" min="1" max="9999" required>
        </div>

        <div class="flight-example">
          <div>
            <h5>example:</h5>
          </div>

          <div>
            <label>Airline code</label>
            <div class="example">
              <h4>SQ</h4>
            </div>
          </div>

          <div>
            <label>Flight number</label>
            <div class="example">
              <h4>123</h4>
            </div>
          </div>
        </div>

        <div class="search-dep-date">
          <label>Date of departure (dd/mm/yyyy)</label>
          <input type="date" formControlName="searchDepDate" min="2017-01-01" max="2050-12-31">
        </div>

        <button type="submit" (click)="searchFlightSubmit()" class="primaryButton" [disabled]="!searchFlightForm.valid">Search Flight</button>

      </form>

      <div *ngIf="stopOver" class="stop-over">
        <h5>Your selected flight travels from and to multiple airports. Please select your departure and arrival airports.</h5>

        <h5>Departure airport</h5>
        <div class="select-airport" *ngFor="let airport of depAirports">
          <input type="radio" (click)="selectDepAirport(airport?.airportCode)">
          <label>{{ airport?.city }} ({{ airport?.airportName }})</label>
        </div>

        <h5>Arrival airport</h5>
        <div class="select-airport" *ngFor="let airport of arrAirports">
          <input type="radio" (click)="selectArrAirport(airport?.airportCode)">
          <label>{{ airport?.city }} ({{ airport?.airportName }})</label>
        </div>
      </div>

      <div *ngIf="populateFlightDetails" class="transport-details">

        <div class="departure">
          <h4>Departure details</h4>

          <div class="departure-arrival-details">

            <label>Depart from (city) <span class="required"> - required</span></label>
            <input type="text" formControlName="depCity" value="{{ flightSearchDetail?.depCity }}">

            <label>Departure airport</label>
            <input type="text" formControlName="depStation" value="{{ flightSearchDetail?.depStation }}">

            <label>Terminal</label>
            <input type="text" class="transport-terminal" formControlName="depTerminal" value="{{ flightSearchDetail?.depTerminal }}">

            <label>Departure date (dd/mm/yyyy) <span class="required"> - required</span></label>
            <input type="date" formControlName="depDate" value="{{ flightSearchDetail?.depDate | date: 'yyyy-MM-dd' }}" max="2050-12-31">

            <label>Departure time</label>
            <input type="time" formControlName="depTime" value="{{ flightSearchDetail?.depTime }}">

            <label>Flight number</label>
            <input type="text" class="reference-number" formControlName="referenceNumber" value="{{ flightSearchDetail?.carrierCode }}{{ flightSearchDetail?.referenceNumber }}">

          </div><!-- end of departure-arrival-details -->
        </div><!-- end of departure details for flight -->

        <div class="arrival">
          <h4>Arrival details</h4>

          <div class="departure-arrival-details">

            <label>Going to (city) <span class="required"> - required</span></label>
            <input type="text" formControlName="arrCity" value="{{ flightSearchDetail?.arrCity }}">

            <label>Arrival airport</label>
            <input type="text" formControlName="arrStation" value="{{ flightSearchDetail?.arrStation }}">

            <label>Terminal</label>
            <input type="text" class="transport-terminal" formControlName="arrTerminal">

            <label>Arrival date (dd/mm/yyyy)</label>
            <input type="date" formControlName="arrDate" value="{{ flightSearchDetail?.arrDate | date: 'yyyy-MM-dd' }}" max="2050-12-31">

            <label>Arrival time</label>
            <input type="time" formControlName="arrTime" value="{{ flightSearchDetail?.arrTime }}">

          </div><!-- end of departure-arrival-details -->
        </div><!-- end of arrival details for flight -->
      </div>
    </div>

    <div *ngIf="transportOption !== 'flight'" class="transport-details">

      <div class="departure">
        <h4>Departure details</h4>

        <div class="departure-arrival-details">

          <label>Depart from (city) <span class="required"> - required</span></label>
          <input type="text" formControlName="depCity">

          <!-- departure template for train -->
          <div *ngIf="transportOption === 'train'">
            <label>Departure station</label>
            <input type="text" formControlName="depStation">
          </div>

          <!-- departure template for bus -->
          <div *ngIf="transportOption === 'bus'">
            <label>Departure station</label>
            <input type="text" formControlName="depStation">
          </div>

          <!-- departure template for cruise -->
          <div *ngIf="transportOption === 'cruise'">
            <label>Departure terminal</label>
            <input type="text" formControlName="depStation">
          </div>

          <!-- departure date & time for all transport type except vehicle rental-->
          <div *ngIf="transportOption !== 'vehicle rental'">
            <label>Departure date (dd/mm/yyyy) <span class="required"> - required</span></label>
            <input type="date" formControlName="depDate" max="2050-12-31">

            <label>Departure time</label>
            <input type="time" formControlName="depTime">
          </div>

          <div *ngIf="transportOption === 'vehicle rental'">
            <label>Pick up date (dd/mm/yyyy) <span class="required"> - required</span></label>
            <input type="date" formControlName="depDate" max="2050-12-31">

            <label>Pick up time</label>
            <input type="time" formControlName="depTime">
          </div>

          <div *ngIf="transportOption === 'bus'">
            <label>Bus Number</label>
            <input type="text" class="reference-number" formControlName="referenceNumber">
          </div>

        </div><!-- end of departure details -->
      </div><!-- end of departure -->

      <div class="arrival">
        <h4>Arrival details</h4>

        <div class="departure-arrival-details">

          <label>Going to (city) <span class="required"> - required</span></label>
          <input type="text" formControlName="arrCity">

          <!-- arrival template for train -->
          <div *ngIf="transportOption === 'train'">
            <label>Arrival station</label>
            <input type="text" formControlName="arrStation">
          </div>

          <!-- arrival template for bus -->
          <div *ngIf="transportOption === 'bus'">
            <label>Arrival station</label>
            <input type="text" formControlName="arrStation">
          </div>

          <!-- arrival template for cruise -->
          <div *ngIf="transportOption === 'cruise'">
            <label>Arrival terminal</label>
            <input type="text" formControlName="arrStation">
          </div>

          <!-- arrival date & time for all transport type except rental-->
          <div *ngIf="transportOption !== 'vehicle rental'">
            <label>Arrival date (dd/mm/yyyy)</label>
            <input type="date" formControlName="arrDate" max="2050-12-31">

            <label>Arrival time</label>
            <input type="time" formControlName="arrTime">
          </div>

          <div *ngIf="transportOption === 'vehicle rental'">
            <label>Return date (dd/mm/yyyy)</label>
            <input type="date" formControlName="arrDate" max="2050-12-31">

            <label>Return time</label>
            <input type="time" formControlName="arrTime">
          </div>

        </div><!-- end of arrival details -->
      </div><!-- end of arrival -->

    </div>
    <!-- template for vehicle rental -->
    <div *ngIf="transportOption === 'vehicle rental'" class="departure-arrival-details">
      <label>Rental company</label>
      <input type="text" formControlName="transportCompany">

      <label>Contact number</label>
      <input type="text" class="contact-number-input" formControlName="contactNumber">
    </div>

    <div class="departure-arrival-details">
      <label>Note</label>
      <textarea name="name" rows="3" formControlName="note"></textarea>
    </div>

    <div class="save-option">
      <button type="submit" class="primaryButton" [disabled]="!addTransportForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save new transport</button>
    </div>

  </div><!-- end of formCard -->

</form>
