#google-login  {
  background: white;
  padding: 5px 0 0 110px;
  font-weight: 500;
  color: #444;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 450px) {
    padding-left: calc(((100vw - 190px) / 2) + 30px);
  }
}

img {
  height: 20px;
  position: absolute;
  margin-top: -25px;
  margin-left: 75px;

  @media only screen and (max-width: 450px) {
    margin-left: calc((100vw - 190px) / 2);
  }
}

.loading-overlay  {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: calc(100vh - 1px);
  z-index: 5000;
}

.loading-message  {
  margin-left: calc((100vw - 200px) / 2);
  margin-top: calc((100vh - 80px) / 2)
}

.loading-message i  {
  margin-left: 70px;
  margin-bottom: 10px;
}

.loading-message *  {
  color: white;
}

// .facebook-button {
//   // margin-bottom: 10px;
//   padding: 7px 0;
//   width: 320px;
//   font-size: 12px;
//   color: white;
//   background-color: #3B5998;
//   border: 1px solid #3B5998;
//   &:hover {
//     color: #3B5998;
//     background-color: white;
//   }
// }
