.summary-container  {
  position: relative;
  height: calc(100vh - 100px);
}

.summary-photo  {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.summary-photo img  {
  max-width: 595px;
  height: 300px;

  @media only screen and (max-width: 610px) {
    max-width: 100%;
    height: 66vw;
  }
}

.summary-photo-placeholder  {
  width: 595px;
  height: 300px;
  background-color: #F5F5FD;
  text-align: center;

  @media only screen and (max-width: 610px) {
    width: 100%;
    height: 66vw;
  }
}

.summary-photo-placeholder i {
  margin-top: 115px;

  @media only screen and (max-width: 420px) {
    margin-top: calc((66vw - 72px) / 2);
  }
}

.dots-menu::after  {
  margin: 5px 10px;
  color: #F9FBFB;
}

.item-menu,
.dots-menu-hint {
  top: 325px;

  @media only screen and (max-width: 610px) {
    top: calc(66vw + 25px);
  }
}

.details-container  {
  padding: 0 20px;
}

.check-in-details {
  display: inline-block;
  width: 49%;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(237, 100, 148, 0.2);
}

.check-out-details  {
  display: inline-block;
  width: 49%;
  margin-bottom: 10px;
  margin-left: -4px;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(100, 148, 237, 0.2);
}

/* city header */

.accommodation-city {
  margin-top: 10px;
  color: #6494ED;
}


.created-by {
  position: relative;
  padding-top: 10px;
}


/* edit view */

.form-housing {
  margin-top: 70px;
}

.form-section-details {
  margin-bottom: 20px;
}

.form-section-details > div > h4  {
  margin: 0 0 20px 10px;
  font-weight: 400;
}


/* recommend */
.recommend .form-housing  {
  margin-top: 40px;
}
