<div class="box-container">
  <div class="box-container-header">
    <h3><i class="fa fa-sticky-note" aria-hidden="true"></i> Itineraries</h3>
  </div>

  <div class="nil-message-main" *ngIf="itineraries?.length === 0">
    <h4>There is no itinerary to display at the moment</h4>
  </div>

  <div class="itinerary-list" *ngFor="let itinerary of itineraries" (click)="routeToItin(itinerary)">
    <ww-itinerary-list-item [itinerary]="itinerary" [currentUser]="user"></ww-itinerary-list-item>
  </div>
</div>
