
<div class="search">
  <i class="fa fa-search fa-lg" aria-hidden="true"></i>
  <input type="text" placeholder="filter itineraries" #text (keyup)="filterSearch(text.value)">
</div>

<div class="nil-message-main" *ngIf="itineraries?.length === 0">
  <h4>There is no itinerary to display at the moment</h4>
</div>

<div class="itinerary-list" *ngFor="let itinerary of filteredItineraries">
  <ww-itinerary-list-item [itinerary]="itinerary" [user]="currentUser" [viewUser]="user"></ww-itinerary-list-item>
</div>
