.main {
  width: 600px;
  margin-left: calc((100vw - 600px) /2);
  text-align: center;

  @media only screen and (max-width: 650px) {
    width: 100%;
    min-width: 300px;
    margin-left: 0;
  }
}

.recommend-header {
  text-align: center;

  @media only screen and (max-width: 650px) {
    padding: 0 10px;
  }
}

.recommend-header h4  {
  display: inline-block;
  padding: 5px 10px;
  margin: 20px 10px 40px 10px;
  color: #6494ED;
  border: 2px solid #6494ED;

  &:hover {
    cursor: pointer;
    color: #F9FBFB;
    background-color: #6494ED;
  }
}

.recommendation-message {
  text-align: left;
  padding: 40px 20px 20px 20px;
  border-top: 1px solid rgba(0,0,0,.1);
}

.message  {
  padding: 20px 40px 10px 40px;

  @media only screen and (max-width: 450px) {
    padding: 20px 5px 10px 5px;
  }
}

.message h4:nth-of-type(2) {
  padding: 5px 10px;
  font-weight: 400;
  text-align: justify;
}

.details {
  display: inline-block;
  width: 290px;
  padding-top: 15px;
  text-align: left;
  vertical-align: top;

  @media only screen and (max-width: 400px) {
    display: block;
    width: calc(100vw - 20px);
    min-width: 300px;
    margin-left: 10px;
    padding-bottom: 20px;
  }

  @media only screen and (min-width: 400px) and (max-width: 600px) {
    display: block;
    width: calc(100vw - 40px);
    margin-left: 20px;
    padding-bottom: 20px;
  }
}

.map  {
  display: inline-block;

  @media only screen and (max-width: 300px) {
    margin-left: 0;
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    display: block;
    margin-left: calc((100vw - 300px) /2);
  }
}

.main > .slider {
  background-color: black;
}

.slider {
  margin-bottom: 30px;
  padding-top: 225px;
  text-align: center;
}

.slider-images > img  {
  left: 150px;
  margin-top: 15px;
  border: 2px solid grey;

  @media only screen and (max-width: 650px) {
    left: calc((100vw - 300px)/2);
  }
}

.slider-images > h5.photo-credit  {
  margin-top: -105px;
  margin-left: 135px;

  @media only screen and (max-width: 650px) {
    margin-top: -30px;
    margin-left: 0;
    left: calc((100vw - 290px)/2);
  }
}


/* add to itinerary form */
.progress-tracker li {
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}
