.recommendation {
  padding: 10px 40px;
  border: 1px solid lightgray;
  background-color: white;

  &:hover {
    background-color: #F6F6F6;
  }
}

.unread {
  background-color: #E6E6E6;
}

.more-details {
  float: right;
  margin-right: -25px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #6494ED;
  }
}




/* header */

.recommendation-header {
  padding: 10px 0 20px 0;
}

.recommendation-header h4 {
  padding-bottom: 5px;
}



/* details of place */

.details-item {
  margin-bottom: 0;
}



/* message from user who recommended */

.message  {
  padding: 10px 10px 10px 40px;
  text-align: justify;
}



/* message if recommendation already added */

.added-message  {
  padding: 20px 10px;
}

.added-message h4 {
  padding: 5px 0 5px 20px;

  &:hover {
    color: #6494ED;
    cursor: pointer;
  }
}



/* add to itinerary buttons */

.response {
  text-align: center;
}

.response h4  {
  display: inline-block;
  padding: 5px 10px;
  margin: 20px 10px 40px 10px;
  color: #6494ED;
  border: 2px solid #6494ED;

  &:hover {
    cursor: pointer;
    color: #F9FBFB;
    background-color: #6494ED;
  }
}
