<div class="form-card">
  <div class="form-header">
    <h3>Add to itinerary - {{ recommendation?.place.name }}</h3>
    <a (click)="cancel()">X</a>
  </div>

  <div class="form-housing">

    <div class="progress-tracker-section">
      <ul class="progress-tracker">
        <li class="progress-title" (click)="backToSelectItinerary()" [class.progress-current]="selectItinerary">SELECT ITINERARY</li><li class="progress-title" [class.progress-current]="selectPicture">SELECT DISPLAY PICTURE</li>
      </ul>
    </div>


    <div *ngIf="selectItinerary">
      <h4>Please select itinerary to add to:</h4>
      <div class="copy-to-itinerary-list">
        <div *ngFor="let itinerary of itineraries" class="copy-to-itinerary" (click)="confirmItinerary(itinerary)">

          <h4 *ngIf="!itinerary.num_days">{{ itinerary.name }} - ({{ itinerary.date_from | date:"dd MMM yy" }} to {{ itinerary.date_to | date:"dd MMM yy" }})</h4>
          <h4 *ngIf="itinerary.num_days">{{ itinerary.name }} - ({{ itinerary.num_days }} {{ itinerary.num_days > 1 ? 'days' : 'day' }})</h4>

          <h5 *ngIf="itinerary.added">Recommendation has already been added to this itinerary.</h5>
        </div>
      </div>
    </div>


    <div *ngIf="selectPicture">
      <h4>Please select a display picture:</h4>
      <div class="slider" *ngIf="recommendation?.place.photos">
        <div class="slider-images" *ngFor="let image of recommendation?.place.photos; let i = index">
          <input type="radio" name="slide_switch" id="image-{{i}}" (click)="selectPic(image)" checked>
          <label for="image-{{i}}">
            <img src="{{ image.url }}" alt="">
          </label>
          <img src="{{ image.url }}" alt="">
          <h5 class="photo-credit" [innerHTML]="image.credit"></h5>
        </div>
      </div>
    </div>

  </div>


  <div class="action-response">
    <h5 class="action-response-secondary" (click)="cancel()">CANCEL</h5>
    <h5 *ngIf="selectPicture" class="action-response-primary" (click)="save()"> <i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5>
  </div>


</div>
