<div class="check-in-header">

  <div class="check-in-stats">
    <h2>{{ checkins?.length }}</h2>
    <h5>Check ins</h5>
  </div>

  <div class="check-in-stats">
    <h2>{{ locations?.length }}</h2>
    <h5>Locations</h5>
  </div>

  <div class="check-in-stats">
    <i class="fa fa-search-plus fa-lg" aria-hidden="true"></i>
    <h5 class="zoom" (click)="zoom = true">zoom to</h5>
  </div>
</div>

<div class="country-dropdown" *ngIf="zoom">
  <div *ngFor="let country of countries">
    <h4 (click)="changeCenter(country)">{{ country.name }}</h4>
  </div>
</div>

<div class="dropdown-arrow-up" *ngIf="zoom"></div>

<div #map id="map"></div>
