<div class="user-posts">

  <div class="dots-menu" (mouseover)="showMenuOptions()">
    <div class="item-menu" *ngIf="showMenu">
      <ul>
        <!-- <li>
          <h5>Recommend</h5>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </li> -->
        <li (click)="onEdit()" *ngIf="sameUser">
          <h5>Edit</h5>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </li>
        <li (click)="onDelete()" *ngIf="sameUser">
          <h5>Delete</h5>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="user-postby">
    <div>
      <img src="{{ post?.user.display_picture }}" alt="display picture for {{ post?.user.username }}" class="user-profile-thumbnail">
    </div>
    <div class="user-details">
      <h5>{{ post?.user.username}}</h5>
      <div class="time-ago">
        <p>{{ post?.time_ago }}</p>
        <span class="show-time">{{ post?.created_at | date: 'EEE, dd MMM yyyy - HH:mm' }}</span>
      </div>
    </div>
  </div>

  <div class="content">
    <div [class.editing]="editing">
      <div class="view">
        <p>{{ post.content }}</p>
      </div>
    </div>

    <textarea rows="4" *ngIf="editing" [value]="post.content" class="edit" (keyup.enter)="updatePost(post, editedPost.value)" (blur)="updatePost(post, editedPost.value)" #editedPost autofocus></textarea>
  </div>

  <div *ngIf="post.link_url">
    <div class="link-preview">
      <a href="{{ post.link_url }}" target="_blank">
        <img class="link-img" src="{{ post.link_img }}" alt="">
        <h3 class="link-title">{{ post.link_title }}</h3>
        <h5 class="link-url">{{ post.link_url }}</h5>
      </a>
    </div>
  </div>

  <div class="post-reaction">
    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
    <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>
  </div>

</div>
