.user-posts {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.dots-menu:after {
  margin-right: 20px;
}

.item-menu,
.dots-menu-hint  {
  top: 38px;
}



/* post by user display */

.post-by  {
  padding: 0 20px;
  height: 45px;
}

.post-by > img,
.post-by > .post-by-user-details {
  display: inline-block;
}

.post-by-user-details {
  margin-left: 5px;
  vertical-align: middle;
}

.post-by-user-details > .time-ago > p {
  margin-top: 3px;
}




/* content of post */

.content  {
  margin: 10px 0;
  padding: 0 20px;
}

textarea  {
  width: 100%;
  resize: none;
}

.edit-note  {
  position: absolute;
  margin: -20px 0 0 5px;
  font-size: 9px;
  font-style: italic;
  color: #808080;
  text-align: right;
}

.post-img {
  margin: 0 20px;
  width: 560px;

  @media only screen and (max-width: 650px) {
    width: calc(100% - 40px);
    min-width: 260px;
  }
}




/* link preview */

.link-preview {
  margin: 0 20px;
}



/* post reaction */

.post-reaction  {
  margin: 0 25px 10px 0;
  padding-top: 10px;
  height: 35px;
}

.post-reaction > *  {
  display: inline-block;
  font-weight: 600;
  vertical-align: bottom;
}

.post-reaction p  {
  padding-left: 3px;
  font-size: 11px;
  font-weight: 400;
  color: #808080;
  letter-spacing: .5px;
  vertical-align: bottom;
  &:hover {
    color: #3A4A4D;
    text-decoration: underline;
    cursor: pointer;
  }
}



/* post likes */

.post-reaction > .fa-heart-o  {
  margin-left: 20px;
  color: grey;
  &:hover {
    color: red;
    cursor: pointer;
  }
}

.fa-heart  {
  margin-left: 20px;
  color: red !important;
  &:hover {
    color: grey !important;
    cursor: pointer;
  }
}

.post-reaction-likes  {
  position: relative;
}

.post-reaction-likes h5 {
  color: #F9FBFB;
}



/* hover to show who likes */

.post-reaction-likes:hover .like-user-list  {
  display: block;
}

.like-user-list {
  display: none;
  position: absolute;
  bottom: 20px;
  padding: 5px;
  width: 150px;
  background-color: #808080;
}


/* post reaction comments */

.post-reaction > .fa-comment-o  {
  margin-left: 20px;
  color: grey;
  vertical-align: text-bottom;
}




/* post comments */

.post-comments  {
  padding: 10px 20px;
  background-color: #F6F6F6;
}

.post-comments textarea  {
  margin: 0 0 0 5px;
  width: 510px;

  @media only screen and (max-width: 650px) {
    width: calc(100% - 50px);
  }
}

.post-comments > form > *  {
  display: inline-block;
  vertical-align: middle;
}

.post-comments-section  {
  display: flex;
  flex-direction: column-reverse;
}

.post-comments-item  {
  padding-top: 10px;
}

.post-comments img,
.post-comments-details  {
  display: inline-block;
  vertical-align: text-top;
}

.post-comments-details  {
  width: 510px;
  padding-left: 6px;

  @media only screen and (max-width: 650px) {
    width: calc(100% - 45px);
  }
}

.post-comments-details > h5,
.post-comments-details .time-ago{
  display: block;
}

.post-comments-details > .time-ago > p{
  margin-top: 3px;
}

.post-comment-delete  {
  color: lightgrey;
  float: right;
  &:hover {
    color: #3A4A4D;
    cursor: pointer;
  }
}


/* show editing view for post */

.editing > .view{
  display: none;
}
