<div class="user-posts">

  <div class="dots-menu" (click)="showMenu = true" *ngIf="sameUser">
    <div class="dots-menu-hint">
      <h6>Click to edit or delete</h6>
    </div>

    <div class="item-menu" *ngIf="showMenu">
      <ul>
        <!-- <li>
          <h5>Recommend</h5>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </li> -->
        <li (click)="editing = true" *ngIf="sameUser">
          <h5>Edit</h5>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </li>
        <li (click)="deletePost = true" *ngIf="sameUser">
          <h5>Delete</h5>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="post-by">
    <img src="{{ post?.user.display_picture }}" alt="" class="user-post-thumbnail">
    <div class="post-by-user-details">
      <h5 class="username-bold" (click)="routeToUser(post?.user._id)">{{ post?.user.username}}</h5>
      <div class="time-ago">
        <p *ngIf="post?.time_ago !== ''">{{ post?.time_ago }}</p>
        <p *ngIf="post?.time_ago === ''">{{ post?.created_at | date: 'dd MMM yyyy (EEE)' }}</p>
      </div>
    </div>
  </div>

  <div class="content">
    <div [class.editing]="editing">
      <div class="view">
        <p [innerHTML]="post?.formatted_content"></p>
      </div>
    </div>

    <div *ngIf="editing">
      <textarea rows="4" [value]="post.content" class="edit" (keyup.enter)="updatePost(editedPost.value)" (blur)="editing = false" #editedPost autofocus></textarea>
      <p class="edit-note">Enter to save, click anywhere else to cancel</p>
    </div>

  </div>

  <div *ngIf="post?.img">
    <img class="post-img" src="{{ post?.img }}" alt="" (dblclick)="likePost()">
  </div>

  <div *ngIf="post?.link_url">
    <div class="link-preview">
      <a href="{{ post?.link_url }}" target="_blank">
        <img class="link-img" src="{{ post?.link_img }}" alt="">
        <h3 class="link-title">{{ post?.link_title }}</h3>
        <h5 class="link-url">{{ post?.link_url }}</h5>
      </a>
    </div>
  </div>

  <div class="post-reaction">
    <i class="fa fa-heart fa-lg" aria-hidden="true" (click)="likePost()" *ngIf="userLike"></i>
    <i class="fa fa-heart-o fa-lg" aria-hidden="true" (click)="likePost()" *ngIf="!userLike"></i>
    <div class="post-reaction-likes" *ngIf="post?.likes.length > 0" (click)="seeLikes = true" (mouseover)="seeLikes = true">
      <div class="like-user-list" *ngIf="seeLikes">
        <div *ngFor="let user of post.likes">
          <h5>{{ user.username }}</h5>
        </div>
      </div>
      <p class="post-reaction-stats" >{{ post.likes.length }} {{ likeCount }}</p>
    </div>

    <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>
    <p class="post-reaction-stats" *ngIf="post?.comments.length > 0" (click)="seeComments = !seeComments">{{ post.comments.length }} {{ commentCount }}</p>
  </div>

  <div class="post-comments">
    <form [formGroup]="commentForm">
      <img src="{{ currentUser?.display_picture }}" alt="" class="user-post-thumbnail">
      <textarea rows="1" placeholder="comment..." formControlName="comment" #comment (keyup.enter)="commentPost(comment.value)"></textarea>
    </form>

    <div *ngIf="seeComments" class="post-comments-section">
      <div *ngFor="let comment of post.comments; let i = index" class="post-comments-item">
        <img src="{{ comment.user.display_picture }}" class="user-post-thumbnail">
        <div class="post-comments-details">
          <h5><span class="username-bold" (click)="routeToUser(comment.user._id)">{{ comment.user.username}}</span> {{ comment.comment }}</h5>

          <div class="time-ago">
            <p *ngIf="comment?.time_ago !== ''">{{ comment?.time_ago }}</p>
            <p *ngIf="comment?.time_ago === ''">{{ comment?.created_at | date: 'dd MMM yyyy (EEE)' }}</p>
          </div>
          
        </div>
        <h6 class="post-comment-delete" (click)="confirmDeleteComment(i)">x</h6>
      </div>
    </div>
  </div>
</div>

<!-- delete post -->
<div class="custom-modal" *ngIf="deletePost">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete post?</h3>
      <a (click)="deletePost = false">x</a>
    </div>

    <div class="content-without-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting the post will permanently remove it, and all associated likes and comments.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="deletePost = false">CANCEL</h5>
      <h5 class="action-response-warning" (click)="onDelete()">DELETE</h5>
    </div>
  </div>
</div>


<!-- delete comment -->
<div class="custom-modal" *ngIf="deleteComment > -1">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete comment?</h3>
      <a (click)="cancelDeleteComment()">x</a>
    </div>

    <div class="content-without-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting the comment will permanently remove it from the post.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelDeleteComment()">CANCEL</h5>
      <h5 class="action-response-warning" (click)="onDeleteComment()">DELETE</h5>
    </div>
  </div>
</div>
