.user-posts {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.item-menu  {
  top: 35px;
}

.user-postby  {
  padding: 0 20px;
  height: 35px;
}

.user-postby > div,
.user-postby > .user-details {
  display: inline-block;
}

.user-details  {
  margin-left: 5px;
  vertical-align: top;
}

.user-details > h5  {
  margin-top: 2px;
  font-weight: 600;
}

.time-ago > p {
  margin-top: 3px;
  vertical-align: text-top;
}

.content  {
  margin: 10px 0;
  padding: 0 20px;
}

textarea  {
  width: 100%;
  resize: none;
}

.link-preview {
  margin: 0 20px;
}

.post-reaction  {
  margin: 0 25px 10px 0;
  padding-top: 10px;
  height: 35px;
}

.post-reaction > *  {
  display: inline-block;
  font-weight: 600;
  vertical-align: bottom;
}

.post-reaction > .fa-heart-o  {
  margin-left: 20px;
  color: grey;
  &:hover {
    color: red;
    cursor: pointer;
  }
}

.fa-heart  {
  margin-left: 20px;
  color: red !important;
  &:hover {
    color: grey !important;
    cursor: pointer;
  }
}

.post-reaction > .fa-comment-o  {
  margin-left: 20px;
  color: grey;
  vertical-align: text-bottom;
}

.post-reaction > p  {
  padding-left: 3px;
  font-size: 11px;
  font-weight: 400;
  color: #808080;
  letter-spacing: .5px;
  vertical-align: bottom;
  &:hover {
    color: #3A4A4D;
    text-decoration: underline;
    cursor: pointer;
  }
}

.post-img {
  margin: 0 20px;
  width: 560px;

  @media only screen and (max-width: 670px) {
    width: calc(100% - 40px);
    min-width: 260px;
  }
}

.post-comments  {
  padding: 10px 20px;
  background-color: #F6F6F6;
}

.post-comments textarea  {
  margin-bottom: 0;
  width: 525px;
  border-radius: 0;

  @media only screen and (max-width: 670px) {
    width: calc(100% - 40px);
  }
}

.post-comments > form > *  {
  display: inline-block;
  vertical-align: top;
}

.dots-menu:after {
  margin-right: 20px;
}

.post-comments-section  {
  display: flex;
  flex-direction: column-reverse;
}

.post-comments-item  {
  padding-top: 10px;
}

.post-comments img,
.post-comments-details  {
  display: inline-block;
  vertical-align: text-top;
}

.post-comments-details  {
  width: 520px;
  padding-left: 5px;

  @media only screen and (max-width: 670px) {
    width: calc(100% - 45px);
  }
}

.post-comments-details > h5,
.post-comments-details .time-ago{
  display: block;
}

.post-comment-delete  {
  color: lightgrey;
  float: right;
  &:hover {
    color: #3A4A4D;
    cursor: pointer;
  }
}
