.new-attraction-form  {
  margin-top: 40px;
  height: calc(100vh - 45px);
  width: 460px;
  overflow: auto;
  border-right: 1px solid lightgray;
}

.attraction-google-search {
  padding: 10px 20px;
}

.details-section-container  {
  padding: 9px;
}

/* add / remove photo */

.blur {
  opacity: .3;
}

.remove {
  padding: 5px 0;
  color: red;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.add  {
  padding: 5px 0;
  color: #19CC72;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}
