.places{
  padding: 60px 5px;
}

.places-header  {
  position: fixed;
  margin-top: -30px;
  padding: 5px;
  background-color: #6494ED;
  border: 2px solid #6494ED;
  border-bottom: none;
}

.places-header *  {
  font-weight: 600;
}


.places-list  {
  position: absolute;
  max-height: calc(100vh - 100px);
  border: 1px solid lightgray;
  overflow: auto;
}

.place  {
  width: 944px;
  padding: 5px;
  border: 1px solid lightgray;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #6494ED;
  }
}

.place:nth-of-type(even)  {
  background-color: #E6E6E6;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #6494ED;
  }
}

.places-header h5,
.place > h5 {
  display: inline-block;
  vertical-align: text-top;
  border-right: 1px solid lightgray;
}

.places-header h5:first-of-type,
.place h5:first-of-type {
  width: 40px;
  padding-right: 5px;
  text-align: right;
}

.places-header h5:nth-of-type(2),
.place h5:nth-of-type(2)  {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.places-header h5:nth-of-type(3),
.place h5:nth-of-type(3)  {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.places-header h5:nth-of-type(4),
.place h5:nth-of-type(4),
.places-header h5:nth-of-type(5),
.place h5:nth-of-type(5)  {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.places-header h5:nth-of-type(6),
.place h5:nth-of-type(6)  {
  width: 74px;
  text-align: center;
  border-right: none;
}

.sort {
  display: inline-block;
}

.sort * {
  margin: 0 3px;

  &:hover {
    color: #F9FBFB;
  }
}
