<div class="logo" [routerLink]="['/']">
  <img src="assets/wondererwanderer_logo.png" alt="">
</div>

<div class="header">
  <h1>Privacy Policy</h1>
  <hr class="header-separator">
</div>

<div class="main-container">

  <div class="update">
    <h5>Updated on 16 June 2017</h5>
  </div>

  <div class="quick-link">
    <a href="#introduction">Introduction</a>
    <a href="#acceptance">Acceptance of Privacy Policy</a>
    <a href="#types">Types of Personal Data</a>
    <a href="#collection">Collectiona and Use of Information</a>
    <a href="#disclosure">Disclosure of Information</a>
    <a href="#third-party">Third Party Services</a>
    <a href="#changes">Changes to this Privacy Policy</a>
    <a href="#contact">Contact Us</a>
  </div>


  <div class="pp-main" id="introduction">
    <h3>Introduction</h3>
    <h4>1. This is wondererwanderer LLP ("wondererwanderer") privacy policy. In accordance with the Personal Data Protection Act 2012 of the Republic of Singapore (the "PDPA"), this Policy sets out how wondererwanderer manages, collects, uses and discloses Personal Data belonging to you.</h4>

    <h4>2. This Privacy Policy applies to information we collect on our website wondererwander.com and its sub-domains (collectively, the “Site”) about:</h4>
    <div class="pp-sub">
      <h4>a. visitors to the Site;</h4>
      <h4>b. users who have registered an account with us through the Site; and</h4>
      <h4>c. users who have provided their email addresses to us through the Site.</h4>
    </div>
  </div>


  <div class="pp-main" id="acceptance">
    <h3>Acceptance of Privacy Policy</h3>
    <h4>1. This Privacy Policy describes how your Personal Data is collected, used, shared, stored and protected by wondererwanderer. By continuing to use the Site and/or by accessing and using our Services (as defined in our Terms of Use), you agree to be bound by the terms of this Privacy Policy which is subject to our Terms of Use and you give your consent for the collection, use and disclosure of your Personal Data in accordance with this Privacy Policy.</h4>
  </div>


  <div class="pp-main" id="types">
    <h3>Types of Personal Data</h3>
    <h4>1. This policy covers the following personal data that wondererwanderer may collect from you: </h4>
    <div class="pp-sub">
      <h4>a. For communication purpose:</h4>
      <div class="pp-sub">
        <h4>1. Email;</h4>
        <h4>2. Contact number;</h4>
        <h4>3. Address.</h4>
      </div>
      <h4>b. For identification purpose, where we may need to for servicing and marketing reasons:</h4>
      <div class="pp-sub">
        <h4>1. Name;</h4>
        <h4>2. Personal identification number;</h4>
        <h4>3. Passport details;</h4>
        <h4>4. Photos;</h4>
        <h4>5. Images;</h4>
        <h4>6. Videos;</h4>
        <h4>7. City of residence;</h4>
        <h4>8. Date of birth;</h4>
        <h4>9. Gender;</h4>
        <h4>10. Location check ins.</h4>
      </div>
    </div>
  </div>


  <div class="pp-main" id="collection">
    <h3>Collectiona and Use of Information</h3>
    <h4>1. We may obtain data about you when you visit the Site. We may monitor your use of this Site through the use of cookies and similar tracking devices. For example, we may monitor the number of times you visit our Site or which other sites and/or web-pages you visit. This information helps us to build a profile of visitors to our Site and our users. Such data will be aggregated or statistical, which means that we will not be able to identify you individually;</h4>
    <h4>2. We may collect data from you for our marketing campaigns, which it may be used to identify you for contests and for communication purposes;</h4>
    <h4>3. We may use the data to contact you to deliver marketing messages which you may be interested in;</h4>
    <h4>4. We may use the data to contact you to response to your feedback;</h4>
    <h4>5. We may use the data to improve your experience on wondererwanderer by customising relevant content for your consumption;</h4>
    <h4>6. We will only keep Personal Data for as long as we are either required to by law, for our business, or as is relevant for the purposes for which it was collected.</h4>
  </div>


  <div class="pp-main" id="disclosure">
    <h3>Disclosure of Information</h3>
    <h4>1. We do not disclose your Personal Data to third parties except when required by law or to the following for the same purposes listed in the preceding section:</h4>
    <div class="pp-sub">
      <h4>a. Our subsidiaries, affiliates and employees to provide and fulfill our services and obligations to you;</h4>
      <h4>b. Our consultants and professional advisors, such as lawyers, auditors and bookkeepers;</h4>
      <h4>c. Relevant regulatory bodies, statutory boards or law enforcement agencies in compliance with applicable law; and</h4>
      <h4>d. Any other party to whom you have provided your consent for such disclosure.</h4>
    </div>
    <h4>2. In the event your Personal Data is need to be disclosed to third parties as per the above, wondererwanderer will ensure that these third parties conform to this Policy, the PDPA and confidentiality requirements.</h4>
    <h4>3. wondererwanderer also implements strict standards of security across our operations to prevent any leakage, loss, damage, or unauthorized copying of your Personal Data in our systems.</h4>
  </div>


  <div class="pp-main" id="third-party">
    <h3>Third Party Services</h3>
    <h4>1. As part of your experiences on wondererwanderer, you may be redirected to third party websites. In such an event, wondererwanderer will not be responsible for the privacy practices of these third party websites. We encourage you to read their privacy policy.</h4>
  </div>


  <div class="pp-main" id="changes">
    <h3>Changes to this Privacy Policy</h3>
    <h4>1. wondererwanderer reserves the right to amend this Policy from time to time, in accordance with the prevailing law. The amended Policy shall at all times be available on our website.</h4>
  </div>


  <div class="pp-main" id="contact">
    <h3>Contact Us</h3>
    <h4>1. If you have any query, please email to <a href="mailto:master@wondererwanderer.com">master@wondererwanderer.com</a></h4>
  </div>

</div>
