<div class="logo" [routerLink]="['/']">
  <img src="assets/wondererwanderer_logo.png" alt="">
</div>

<div class="header">
  <h1>Contact wondererwanderer</h1>
  <hr class="header-separator">
</div>

<div class="main-container">
  <h4>For any feedback or enquiry, please email to <a href="mailto:master@wondererwanderer.com">master@wondererwanderer.com</a></h4>


  <div class="social">
    <h4>Connect with us for updates and inspirations</h4>
    <a href="https://www.instagram.com/_wonderer_wanderer_/" target="_blank">
      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
    </a>

    <a href="https://www.facebook.com/wondererwanderer.travel" target="_blank">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
  </div>
</div>
