<div class="legend">
  <div *ngIf="compressedView" (click)="toggleView()">
    <i class="fa fa-align-justify" aria-hidden="true"></i>
  </div>

  <div>
    <div class="accommodation-indicator pill"></div>
    <h6>ACCOMMODATION</h6>
  </div>

  <div>
    <div class="activity-indicator pill"></div>
    <h6>ACTIVITY</h6>
  </div>

  <div>
    <div class="transport-indicator pill"></div>
    <h6>TRANSPORT</h6>
  </div>

</div>

<div *ngIf="!totalEvents" class="nil-event-message">

  <h4 class="better-experience">For a better experience, it is recommended to plan your itinerary on a laptop or desktop</h4>
  <h3>You do not have any item in this itinerary.</h3>

  <div class="add-options">
    <div class="add-opt accommodation-text" (click)="addAccommodationForm()">
      <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
      <h4>Add new accommodation</h4>
    </div>

    <div class="add-opt activity-text" (click)="addActivityForm()">
      <i class="fa fa-bicycle fa-3x" aria-hidden="true"></i>
      <h4>Add new activity</h4>
    </div>

    <div class="add-opt transport-text" (click)="addTransportForm()">
      <i class="fa fa-car fa-3x" aria-hidden="true"></i>
      <h4>Add new transport</h4>
    </div>
  </div>


  <h4 class="add-hint">You can also add a new item from the "ADD NEW" tab on the left.</h4>
  <h4 class="add-hint-mobile">You can also add a new item from the "ADD NEW" tab located at the bottom left of the screen.</h4>
</div>

<div *ngIf="totalEvents && !compressed" class="summary-container" (window:resize)="onScroll($event)" (scroll)="onScroll($event)">

  <div class="date-bar" [style.left]="left">
    <div *ngFor="let date of dateRange; let i = index">

      <div *ngIf="date === 'any day' || itinerary?.num_days">
        <h5 class="date" (click)="add(date)">{{ date }}</h5>
      </div>

      <div *ngIf="date !== 'any day' && !itinerary?.num_days">
        <h5 class="date" (click)="add(date)">Day {{ i }} <span>{{ date | date: "dd MMM (EEE)" }}</span></h5>
      </div>

    </div>
  </div>

  <div *ngIf="currentDate === 'any day' || itinerary?.num_days">
    <h4 class="fixed-date-header">{{ currentDate }}</h4>
  </div>

  <div *ngIf="currentDate !== 'any day' && !itinerary?.num_days">
    <h4 class="fixed-date-header">Day {{ index }} <span>{{ currentDate | date: 'dd MMM (EEE)'}}</span></h4>
  </div>

  <div *ngFor="let date of dateRange; let i = index" class="date-column">

    <ww-itinerary-summary-day
      *ngIf="show"
      [index]="i"
      [date]="date"
      [itinerary]="itinerary"
      [dailyNote]="dailyNotes[i]"
      [events]="events"
      [accomRange]="accomRange"
      (showEventDetails)="showEventDetails($event)"
      (sectionPosition)="sectionPosition($event)"
      (addNewEvent)="add(date)"></ww-itinerary-summary-day>
  </div>

  <div class="scroll-left" (click)="scrollLeft()" *ngIf="scroll">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>

  <div class="scroll-right" (click)="scrollRight()" *ngIf="scroll">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>

</div>

<div *ngIf="totalEvents && compressed" class="compressed-container">

  <div *ngIf="currentDate === 'any day' || itinerary?.num_days">
    <h4 class="fixed-date-header-c">{{ currentDate }}</h4>
  </div>

  <div *ngIf="currentDate !== 'any day' && !itinerary?.num_days">
    <h4 class="fixed-date-header-c">Day {{ index }} <span>{{ currentDate | date: 'dd MMM (EEE)'}}</span></h4>
  </div>

  <div *ngFor="let date of dateRange; let i = index" class="compressed-column">

    <ww-itinerary-summary-compressed
      *ngIf="show"
      [index]="i"
      [date]="date"
      [itinerary]="itinerary"
      [dailyNote]="dailyNotes[i]"
      [events]="events"
      [accomRange]="accomRange"
      (showEventDetails)="showEventDetails($event)"
      (sectionPosition)="sectionPosition($event)"
      (addNewEvent)="add(date)"></ww-itinerary-summary-compressed>
  </div>

</div>



<div class="details-in-summary-container"*ngIf="showDetailsInSummary">

  <div class="hide-details" (click)="hideDetailsInSummary()">
    <h3>X</h3>
  </div>

  <div *ngIf="chosenEvent?.type === 'activity'" class="details-in-summary">
    <ww-itinerary-summary-activity
      [activity]="chosenEvent"
      [preview]="preview"
      [dateRange]="dateRange"
      [itinerary]="itinerary"
      [summary]="true"></ww-itinerary-summary-activity>
  </div>

  <div *ngIf="chosenEvent?.type === 'accommodation'" class="details-in-summary">
    <ww-itinerary-summary-accommodation
      [event]="chosenEvent"
      [preview]="preview"
      [dateRange]="dateRange"
      [itinerary]="itinerary"
      [summary]="true"></ww-itinerary-summary-accommodation>
  </div>

  <div *ngIf="chosenEvent?.type === 'transport'" class="details-in-summary">
    <ww-itinerary-summary-transport
      [event]="chosenEvent"
      [preview]="preview"
      [dateRange]="dateRange"
      [itinerary]="itinerary"
      [summary]="true"></ww-itinerary-summary-transport>
  </div>

</div>


<!-- add event from  -->
<div class="custom-modal add-new-modal" *ngIf="addEvent">
  <div class="form-card">
    <div class="form-header">
      <h3>Add new</h3>
      <a (click)="cancelAdd()">X</a>
    </div>

    <div class="content-without-header-name add-to-date">
      <h3 *ngIf="addDate !== 'any day' && !itinerary?.num_days">Adding new item to {{ addDate | date: 'dd MMM yy'}}</h3>
      <h3 *ngIf="addDate === 'any day' || itinerary?.num_days">Adding new item to {{ addDate }}</h3>

      <div (click)="addTransportForm()" class="add-new-opt transport-indicator">
        <i class="fa fa-car fa-2x" aria-hidden="true"></i>
        <h4>NEW TRANSPORT</h4>
      </div>
      <div (click)="addAccommodationForm()" class="add-new-opt accommodation-indicator">
        <i class="fa fa-bed fa-2x" aria-hidden="true"></i>
        <h4>NEW ACCOMMODATION</h4>
      </div>
      <div (click)="addActivityForm()" class="add-new-opt activity-indicator">
        <i class="fa fa-bicycle fa-2x" aria-hidden="true"></i>
        <h4>NEW ACTIVITY</h4>
      </div>
    </div>
  </div>
</div>


<div *ngIf="addAccommodation" class="custom-modal">
  <ww-accommodation-form [date]="addDate" (hideAccommodationForm)="hideAccommodationForm($event)"></ww-accommodation-form>
</div>

<div *ngIf="addTransport" class="custom-modal">
  <ww-transport-form [date]="addDate" (hideTransportForm)="hideTransportForm($event)"></ww-transport-form>
</div>

<div *ngIf="addActivity" class="custom-modal">
  <ww-activity-input [date]="addDate" (hideActivityForm)="hideActivityForm($event)"></ww-activity-input>
</div>
