.legend {
  position: fixed;
  width: 100%;
  padding-top: 6px;
  padding-left: 10px;
  background-color: #F6F6F6;
  border-bottom: 1px solid lightgray;
}

.legend > * {
  display: inline-block;
  padding: 3px;
  width: auto;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  box-shadow: none;
}

.date-row {
  display: flex;
  overflow: auto;
}

.date-column  {
  display: inline-block;
  min-width: 220px;
  min-height: calc(100vh - 150px);
  margin-top: 40px;
  padding-bottom: 10px;
  vertical-align: top;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  background-color: #F6F6F6;
  &:hover {
    background-color: rgba(100,148,237,.1);
  }
}

.date {
  text-align: left;
  margin-bottom: 10px;
  padding: 15px 10px 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #F9FBFB;
  background-color: #567FCC;
}

// .date-end {
//   position: absolute;
//   bottom: 50px;
// }

// .event-time  {
//   display: inline-block;
//   width: 55px;
//   padding: 30px 0 0 10px;
//   color: grey;
//   vertical-align: top;
//   text-align: right;
// }

.event-time  {
  padding-left: 5px;
  color: grey;
}

.event-stay-city  {
  padding: 10px 5px 0 10px;
  color: #6494ED;
}

.event-name  {
  padding: 10px;
  overflow-wrap: break-word;
  border-bottom: 3px solid white;
}

.check-out-on {
  margin-top: 10px;
  color: grey;
}

.accommodation-event-name  {
  padding: 10px 5px 10px 15px;
  overflow-wrap: break-word;
  border-bottom: 5px solid white;
}

.accommodation-indicator  {
  display: inline-block;
  margin: 5px 10px 10px 10px;
  width: 200px;
  background-color: #FFF;
  border-top: 10px solid rgba(100,235,219,0.5);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  &:hover {
    cursor: pointer;
  }
}

.transport-indicator  {
  display: inline-block;
  width: 200px;
  margin: 5px 10px 10px 10px;
  background-color: #FFF;
  border-top: 10px solid rgba(237,100,148,0.5);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  &:hover {
    cursor: pointer;
  }
}

.activity-indicator {
  display: inline-block;
  margin: 5px 10px 10px 10px;
  width: 200px;
  background-color: #FFF;
  border-top: 10px solid rgba(237,189,100,0.5);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  &:hover {
    cursor: pointer;
  }
}

.activity-indicator > img {
  width: 36px;
  height: 36px;
}

.activity-indicator > .event-name {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  padding-left: 0;
  padding-bottom: 0;
}

/* to display horizontal scrollbar */
.date-row::-webkit-scrollbar {
    -webkit-appearance: none;
}
.date-row::-webkit-scrollbar:horizontal {
    height: 5px;
}
.date-row::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
}
.date-row::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.show-details-in-summary-true {
  width: calc(100% - 300px)
}

.slide-back {
  position: fixed;
  top: 50px;
  right: 260px;
  color: lightgray;
  &:hover {
    color: grey;
    cursor: pointer;
  }

  @media only screen and (max-width: 400px) {
    left: 20px;
    right: 0;
  }
}

.show-details-in-summary {
  position: fixed;
  top: 40px;
  right: 0;
  height: calc(100vh - 40px);
  width: 300px;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;

  @media only screen and (max-width: 400px) {
    width: 100vw;
    min-width: 300px;
  }
}

.details-in-summary {
  position: fixed;
  top: 73.63px;
  right: -15px;

  @media only screen and (max-width: 400px) {
    right: 0;
  }
}
