/* legend */

.legend {
  position: fixed;
  height: 40px;
  width: 100%;
  padding-top: 6px;
  padding-left: 10px;
  background-color: #F6F6F6;
  border-bottom: 1px solid lightgray;
  z-index: 1;

  @media only screen and (max-width: 420px) {
    padding-left: 0;
  }
}

.legend > div {
  display: inline-block;
  padding: 3px;
  width: auto;
  margin: 5px 10px;
  text-align: center;
  letter-spacing: 1px;
  @media only screen and (max-width: 420px) {
    margin: 5px;
    min-width: 0;
  }
}




/* nil message */

.nil-event-message  {
  @media only screen and (min-width: 420px) and (max-width: 1090px) {
    margin-top: 150px;
  }
}





/* summary container */

.summary-container {
  display: flex;
  overflow: auto;
  width: calc(100vw - 200px);

  @media only screen and (max-width: 420px) {
    flex-direction: column;
    position: absolute;
    margin: 40px 0;
    width: 100%;
  }

  @media only screen and (min-width: 420px) and (max-width: 1090px){
    width: 100%;
  }
}

.summary-container .date-column:first-child  {
  @media only screen and (max-width: 420px) {
    margin-top: 40px;
  }
}

/* to display horizontal scrollbar */
.summary-container::-webkit-scrollbar {
    -webkit-appearance: none;
}
.summary-container::-webkit-scrollbar:horizontal {
    height: 5px;
}
.summary-container::-webkit-scrollbar-thumb {
    background-color: #567FCC;
}
.summary-container::-webkit-scrollbar-track {
    background-color: #fff;
}




/* date bar */

.date-bar {
  position: fixed;
  left: 200px;
  margin-top: 90px;
  display: flex;

  @media only screen and (max-width: 420px) {
    display: none;
  }

  @media only screen and (max-width: 1090px) {
    left: 0;
  }
}

.date-bar .date {
  width: 280px;
  text-align: left;
  margin: -50px 0 10px 0;
  padding: 15px 10px 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #F9FBFB;
  background-color: #567FCC;
  border-right: 1px solid lightgray;
}




/* fix date header in mobile column style */

.fixed-date-header  {
  display: none;
  @media only screen and (max-width: 420px) {
    position: fixed;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #F9FBFB;
    background-color: #567FCC;
    border-bottom: 1px solid #F9FBFB;
  }
}




/* date column */

.date-column  {
  display: inline-block;
  min-width: 280px;
  min-height: calc(100vh - 150px);
  margin-top: 40px;
  padding-bottom: 10px;
  vertical-align: top;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  background-color: #F6F6F6;
  &:hover {
    background-color: white;
  }

  @media only screen and (max-width: 420px) {
    margin-top: 0;
    margin-bottom: 35px;
    padding-bottom: 0;
    min-height: 0;
    border: none;
  }
}




/* scroll */

.scroll-left i,
.scroll-right i {
  margin-top: 32px;
}



/**********************

  show item details section

*************************/

.details-in-summary-container {
  position: fixed;
  top: 40px;
  right: 0;
  height: 40px;
  width: 60px;
  background-color: firebrick;
  z-index: 3;

  @media only screen and (max-width: 420px) {
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0,0,0,.3);
  }
}



/* button to hide details */

.hide-details {
  position: absolute;
  height: 40px;
  padding: 14px 0 0 13px;
  z-index: 3;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }

  @media only screen and (max-width: 420px) {
    position: fixed;
    bottom: 5px;
    right: 0;
    width: 100px;
    padding: 12px 0;
    text-align: center;
    background-color: firebrick;
    border-radius: 10px 0 0 10px;
    z-index: 1000;
    // opacity: .5;
  }
}

.hide-details > h4  {
  color: #F9FBFB;

  @media only screen and (max-width: 420px) {
    font-size: 1.1em;
  }
}



/* display of details */

.details-in-summary {
  position: fixed;
  top: 80px;
  right: 0;
  background-color: rgba(0,0,0,.3);
  border: 5px solid firebrick;

  @media only screen and (max-width: 420px) {
    top: 0;
    height: calc(100vh - 40px);
    width: 100vw;
    padding-left: calc((100vw - 330px)/2);
    overflow: auto;
    border: none;
  }

  @media only screen and (max-width: 400px) {
    padding-left: 0;
  }
}

.details-in-summary::-webkit-scrollbar  {
  width: 1px;
  height: 1px;
}

.details-in-summary::-webkit-scrollbar-thumb  {
  background-color: #FFC65C;
}

.details-in-summary::-webkit-scrollbar-corner {
  background-color: #FFC65C;
}
