.router-outlet  {
  overflow: auto;
  margin-top: 105px;
  max-height: calc(100vh - 200px);
  background-color: white;
  border: 1px solid lightgray;
}

.router-outlet::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(100, 148, 237, 0.3);
}

.router-outlet::-webkit-scrollbar-thumb {
  background-color: rgba(100, 148, 237, 0.9);
}
