.activity-card {
  position: relative;
  margin: 7px;
  width: 300px;
  vertical-align: text-top;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

img {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.img {
  padding-top: 60px;
  width: 300px;
  height: 200px;
  background-color: #f5f5fd;
  text-align: center;
}

.note {
  margin: 10px 0 50px 0;
  padding-left: 0;
}

.postby {
  left: 20px;
}

/* edit view */
select  {
  width: 190px;
}

.anytime-input  {
  display: inline-block;
}

.anytime-input > label > input  {
  display: inline-block;
  width: 15px;
}

.marginBottom {
  margin-bottom: 10px;
}

.category-input > input {
  display: inline-block;
  width: 15px;
}

.category-input > label {
  display: inline-block;
}
