<div class="display-photo-card">

  <div *ngIf="activity?.photo" class="display-card-image">
    <img src="{{activity?.photo.url}}" alt="picture of {{ activity?.name}}">
    <h5 class="photo-credit" [innerHTML]="activity?.photo.credit"></h5>
  </div>

  <div *ngIf="!activity?.photo" class="display-card-image-placeholder">
    <i class="fa fa-bicycle fa-4x" aria-hidden="true"></i>
  </div>

  <div class="display-header-background"></div>

  <div class="display-content-housing">

    <div class="dots-menu" (click)="showMenu = true" *ngIf="!preview">
      <div class="dots-menu-hint">
        <h6>Click to edit or delete</h6>
      </div>
      <div class="item-menu" *ngIf="showMenu">
        <ul>
          <li (click)=recommend()>
            <h5>Recommend to a friend</h5>
            <i class="fa fa-share" aria-hidden="true"></i>
          </li>
          <li (click)="favourite()" *ngIf="allowFav && activity?.location">
            <h5>Favourite</h5>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </li>
          <li (click)="copy()">
            <h5>Copy</h5>
            <i class="fa fa-clone" aria-hidden="true"></i>
          </li>
          <li (click)="edit()" *ngIf="sameUser">
            <h5>Edit</h5>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li (click)="delete()" *ngIf="sameUser">
            <h5>Delete</h5>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="display-date-header" *ngIf="activity?.date === 'any day' || itinerary?.num_days">
      <h5>{{ activity?.date }} - {{ activity?.time }}</h5>
      <h5 *ngIf="!summary">{{ index + 1 }} of {{ totalActivities }}</h5>
    </div>

    <div class="display-date-header" *ngIf="activity?.date !== 'any day' && !itinerary?.num_days">
      <h5>{{ activity?.date | date: 'dd MMM yyyy (EEE)' }} - {{ activity?.time }}</h5>
      <h5 *ngIf="!summary">{{ index + 1 }} of {{ totalActivities }}</h5>
    </div>

    <div class="display-details-housing">

      <h6 class="recommended-by-note" *ngIf="activity?.recommended_by" (click)="routeToUser(activity?.recommended_by._id)">
        Recommended by {{ activity?.recommended_by.username }}
      </h6>

      <h6 class="favs-note" *ngIf="favDate"><i class="fa fa-star-o" aria-hidden="true"></i> Added as favourite on {{ favDate | date: 'dd MMM yyyy'}}</h6>

      <div *ngIf="mealTag">
        <div class="meals-display" *ngFor="let meal of activity?.meals">
          <h5 *ngIf="meal.checked"> {{ meal.value }}</h5>
        </div>
      </div>

      <h3 class="activity-header">{{ activity?.name }}</h3>

      <div *ngIf="activity?.location">

        <div class="details-description" *ngIf="activity?.formatted_description">
          <h4 [innerHTML]="activity?.formatted_description"></h4>
        </div>

        <div class="details-description" *ngIf="activity?.formatted_sub_description">
          <h5 *ngIf="!showSub" (click)="showSub = true">show more...</h5>
          <h4 *ngIf="showSub" [innerHTML]="activity?.formatted_sub_description"></h4>
          <h5 *ngIf="showSub" (click)="showSub = false">show less...</h5>
        </div>

        <div class="toggle-contact-details" (click)="showContactDetails = !showContactDetails">
          <h5>Address and contact number</h5>
          <h5><i class="fa fa-angle-down" aria-hidden="true"></i></h5>
        </div>

        <div *ngIf="showContactDetails">
          <div class="details-item" *ngIf="activity?.place.formatted_address">
            <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
            <h5> {{ activity?.place.formatted_address }}</h5>
          </div>

          <div class="details-item" *ngIf="activity?.place.international_phone_number">
            <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
            <a href="tel:{{ activity?.place.international_phone_number }}">{{ activity?.place.international_phone_number }}</a>
          </div>
        </div>

        <div class="toggle-contact-details" (click)="showHours = !showHours" *ngIf="activity?.formatted_hours || activity?.opening_hours">
          <h5>Opening hours</h5>
          <h5><i class="fa fa-angle-down" aria-hidden="true"></i></h5>
        </div>

        <div *ngIf="showHours">
          <div class="details-item">
            <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
            <h5 [innerHTML]="activity?.formatted_hours"></h5>
          </div>
        </div>

        <div class="details-item" *ngIf="activity?.place?.entry_fee">
          <i class="fa fa-money fa-fw" aria-hidden="true"></i>
          <h5>{{ activity?.place.entry_fee }}</h5>
        </div>

        <div class="details-item" *ngIf="activity?.place?.website">
          <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
          <h5 class="truncate">
            <a href="{{ activity?.place.website }}" target="_blank" class="website-link">{{ activity?.place.website }}</a>
          </h5>
        </div>

      </div>

      <div class="details-item">
        <i class="fa fa-sticky-note-o fa-fw" aria-hidden="true"></i>
        <h5 class="note" [innerHTML]="activity?.formatted_note"></h5>
      </div>

      <div class="created-by">
        <h5 class="username" (click)="routeToUser(activity?.user._id)">{{ activity?.user.username }}</h5>
        <div class="time-ago">
          <p *ngIf="activity?.time_ago !== ''">{{ activity?.time_ago }}</p>
          <p *ngIf="activity?.time_ago === ''">{{ activity?.created_at | date: 'dd MMM yyyy (EEE)' }}</p>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- end of activity display -->

<!-- activity recommend modal -->
<div *ngIf="recommending" class="recommend">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Recommend {{ activity?.name }}</h3>
        <a (click)="cancelRecommend()">X</a>
      </div>

      <div class="form-housing">

        <div class="progress-tracker-section">
          <ul class="progress-tracker">
            <li class="progress-title" (click)="backToSelectUsers()" [class.progress-current]="selectUsers">SELECT USERS</li><li class="progress-title" [class.progress-current]="addMsg">ADD A MESSAGE</li>
          </ul>
        </div>

        <div *ngIf="selectUsers">
          <input type="text" placeholder="Search for people..." #text (keyup)="filterSearch(text.value)">

          <div *ngIf="validAddUser">
            <h5 class="user-search-header">Selected users ({{ selectedUsers.length }})</h5>
            <div *ngFor="let user of selectedUsers" class="user-card selected-user">
              <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>

              <h5 class="toggle-remove" (click)="toggleAdd(user)">Selected</h5>
            </div>
          </div>

          <h5 class="user-search-header">Search result ({{ filteredResult.length }})</h5>
          <div *ngFor="let user of filteredResult" class="user-card">
            <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>

            <h5 class="toggle-add" (click)="toggleAdd(user)">Select</h5>
          </div>
        </div>

        <div *ngIf="addMsg">
          <h4>Craft a message to go with your recommendation:</h4>
          <textarea rows="2" #msg (keyup)="logMessage(msg.value)" auto-grow></textarea>
        </div>

      </div>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="cancelRecommend()">CANCEL</h5>
        <h5 *ngIf="selectUsers && validAddUser" class="action-response-primary" (click)="usersSelected()">NEXT</h5>
        <h5 *ngIf="addMsg" class="action-response-primary" (click)="recommendTo()">RECOMMEND</h5>
      </div>
    </div>
  </div>

</div>
<!-- end of activity recommend modal -->


<!-- activity copy modal -->
<div *ngIf="copying">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Copy activity</h3>
        <a (click)="cancelCopy()">X</a>

        <div class="form-header-name">
          <h4>{{ activity?.name }}</h4>
        </div>
      </div>

      <div class="form-housing">
        <h4>Please select itinerary to copy to:</h4>
        <div class="copy-to-itinerary-list">
          <div *ngFor="let itinerary of itineraries" class="copy-to-itinerary" (click)="copyTo(itinerary)">
            <h4 *ngIf="!itinerary.num_days">{{ itinerary.name }} - ({{ itinerary.date_from | date:"dd MMM yy" }} to {{ itinerary.date_to | date:"dd MMM yy" }})</h4>
            <h4 *ngIf="itinerary.num_days">{{ itinerary.name }} - ({{ itinerary.num_days }} days )</h4>          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- activity edit modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Edit activity</h3>
        <a (click)="cancelEdit()">X</a>

        <div class="form-header-name">
          <h4>{{ activity?.name }}</h4>
        </div>
      </div>

      <form [formGroup]="editActivityForm" (ngSubmit)="saveEdit()">

        <div class="form-housing">
          <h4 class="form-section-header">Date &amp; Time Details</h4>
          <div class="form-section-details">

            <label>Date</label>
            <select class="select-date" name="date" formControlName="date">
              <option *ngFor="let itinDate of dateRange; let i = index" [value]="itinDate">

                <div *ngIf="itinDate === 'any day' || itinerary?.num_days">
                  <h5>{{ itinDate }}</h5>
                </div>

                <div *ngIf="itinDate !== 'any day' && !itinerary?.num_days">
                  <h5>Day {{ i }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>

              </option>
            </select>

            <label>Time (24hrs)</label>
            <ww-time-picker
            [timePicker]="timePicker"
            [ats]="ats"
            [initHour]="initHour"
            [initMinute]="initMinute"
            (hourSelected)="selectHour($event)"
            (minuteSelected)="selectMinute($event)"
            (pickerSelected)="selectPicker($event)"></ww-time-picker>

            <div formArrayName="meals" class="meal-tags" *ngIf="activity?.location">
              <label>Meal tags <span class="label-note"> - may select more than 01 option</span></label>

              <div *ngFor="let meal of meals.controls; let j = index" [formGroupName]="j" class="meal-item">
                <div class="meal-input">
                  <label [class.meal-checked]="meal.value.checked">
                    <input type="checkbox" formControlName="checked" [ngModel]="activity.meals[j].checked">
                    {{ meal.value.value }}
                  </label>
                </div>
              </div>
            </div>

          </div>

          <h4 class="form-section-header">Activity Details</h4>
          <div class="form-section-details">

            <label>Name <span class="required"> - required</span></label>
            <input type="text" formControlName="name">
            <span class="form-validator"
              *ngIf="editActivityForm.get('name').touched && editActivityForm.get('name').invalid">Name of activity is required</span>

            <div *ngIf="activity?.location">
              <label>Address</label>
              <h4>{{ activity.place.formatted_address }}</h4>

              <label>Contact Number</label>
              <h4>{{ activity.place.international_phone_number }}</h4>

              <label>Website</label>
              <h4>{{ activity.place.website }}</h4>

              <div class="details-item" *ngIf="activity.place.opening_hours !== ''">
                <label>Opening Hours</label>
                <h4 [innerHTML]="activity.formatted_hours"></h4>
              </div>

              <div class="details-item" *ngIf="activity.place.opening_hours === ''">
                <label>Opening Hours</label>
                <textarea rows="3" formControlName="opening_hours" auto-grow></textarea>
              </div>

            </div>
          </div>

          <h4 class="form-section-header">Note</h4>
          <div class="form-section-details">
            <textarea rows="2" formControlName="note" auto-grow></textarea>
          </div>

        </div>

        <div class="action-response">
          <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL</h5>
          <h5 class="action-response-secondary" (click)="undoEdit()">UNDO</h5>
          <button type="submit" class="action-response-primary" [disabled]="!editActivityForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
        </div>

      </form>

    </div>
  </div>

</div>
<!-- end of editing modal -->

<!-- activity delete modal -->
<div class="custom-modal" *ngIf="deleteActivity">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete activity?</h3>
      <a (click)="cancelDelete()">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ activity?.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting activity {{ activity?.name }} will permanently remove it from your itinerary.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelDelete()">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
    </div>
  </div>
</div>
