<div class="display-photo-card">

  <div *ngIf="activity?.photo" class="display-card-image">
    <img src="{{activity?.photo}}" alt="picture of {{ activity?.name}}">
  </div>

  <div *ngIf="!activity?.photo" class="display-card-image-placeholder">
    <i class="fa fa-bicycle fa-4x" aria-hidden="true"></i>
  </div>

  <div class="display-photo-housing">

    <div class="dots-menu" (click)="showMenuOptions()" *ngIf="sameUser">
      <div class="dots-menu-hint">
        <h6>Click to edit or delete</h6>
      </div>
      <div class="item-menu" *ngIf="showMenu">
        <ul>
          <!-- <li>
            <h5>Recommend</h5>
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </li> -->
          <li (click)="edit()" *ngIf="sameUser">
            <h5>Edit</h5>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li (click)="delete()" *ngIf="sameUser">
            <h5>Delete</h5>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="display-date-header" *ngIf="activity?.date === 'any day'">
      <h5>{{ activity?.date }} - {{ activity?.time }}</h5>
      <h5 *ngIf="!summary">{{ index + 1 }} of {{ totalActivities }}</h5>
    </div>

    <div class="display-date-header" *ngIf="activity?.date !== 'any day'">
      <h5>{{ activity?.date | date: 'dd MMM yyyy (EEE)' }} - {{ activity?.time }}</h5>
      <h5 *ngIf="!summary">{{ index + 1 }} of {{ totalActivities }}</h5>
    </div>

    <h3 class="activity-header">{{ activity?.name }}</h3>

    <div class="activity-contact-details" (click)="toggleContactDetails()">
      <h5>Address and contact number</h5>
      <h5><i class="fa fa-angle-down" aria-hidden="true"></i></h5>
    </div>

    <div *ngIf="showContactDetails">
      <div class="activity-address">
        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
        <h5> {{ activity?.formatted_address }}</h5>
      </div>

      <div class="activity-contact-number">
        <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
        <h5>{{ activity?.international_phone_number }}</h5>
      </div>
    </div>

    <div class="activity-opening-hours">
      <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
      <h5>{{ activity?.opening_hours }}</h5>
    </div>

    <div class="activity-fee">
      <i class="fa fa-money fa-fw" aria-hidden="true"></i>
      <h5>{{ activity?.entry_fee }}</h5>
    </div>

    <div class="activity-website">
      <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
      <h5 class="truncate">
        <a href="{{activity?.website}}" target="_blank" class="website-link">{{ activity?.website }}</a>
      </h5>
    </div>

    <h5 class="note">{{ activity?.note }}</h5>

    <div class="activity-tags">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <div *ngFor="let category of activity.categories" class="activity-category">
        <h6 *ngIf="category.checked">|  {{ category.value }}  |</h6>
      </div>
    </div>

    <div class="postby">
      <h5><a routerLink="/users/{{activity.user['_Id']}}">{{ activity?.user.username }}</a></h5>
      <div class="time-ago">
        <p *ngIf="activity?.time_ago !== ''">{{ activity?.time_ago }}</p>
        <p *ngIf="activity?.time_ago === ''">{{ activity?.created_at | date: 'dd MMM yyyy (EEE)' }}</p>
      </div>
    </div>
  </div>

</div>
<!-- end of activity display -->

<div *ngIf="editing">

  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Edit activity</h3>
        <a (click)="cancelEdit()">x</a>
      </div>

      <div class="form-header-name">
        <h4>{{ activity?.name }}</h4>
      </div>

      <form [formGroup]="editActivityForm" (ngSubmit)="saveEdit()">

        <div class="form-housing">
          <h4 class="form-section-header">Visit Date &amp; Time Details</h4>
          <div class="form-section-details">

            <div class="date-to-visit">
              <label>Date To Visit</label>
              <select class="select-date" name="date" formControlName="date">
                <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                  <div *ngIf="itinDate === 'any day'">
                    <h5>{{ itinDate }}</h5>
                  </div>
                  <div *ngIf="itinDate !== 'any day'">
                    <h5>Day {{ i }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                  </div>
                </option>
              </select>
            </div>

            <div class="time-to-visit" [class.any-time-true]="anytime">
              <label>Time To Visit (

                <div class="anytime-input">
                  <label>Any Time
                    <input type="checkbox" (click)="toggleAnytime()" formControlName="time" [ngModel]="activity.time === 'anytime'">
                  </label>
                </div>
                )
              </label>
              <input type="time" formControlName="time" [value]="activity.time" *ngIf="!anytime">
            </div>
          </div>

          <h4 class="form-section-header">Activity Details</h4>
          <div class="form-section-details">

            <label>Name</label>
            <input type="text" formControlName="name">
            <span class="form-validator"
              *ngIf="editActivityForm.get('name').touched && editActivityForm.get('name').invalid">Name of activity is required</span>

            <label>Address</label>
            <input type="text" formControlName="formatted_address">

            <label>Contact Number</label>
            <input type="text" formControlName="international_phone_number" class="contact-number-input">

            <label>Website</label>
            <input type="url" formControlName="website">

            <label>Opening Hours</label>
            <textarea rows="2" formControlName="opening_hours"></textarea>

            <label>Cost / Entry Fee</label>
            <input type="text" formControlName="entry_fee">

            <div formArrayName="categories">
              <label>Category</label>

              <div *ngFor="let category of categories.controls; let j = index" [formGroupName]="j">

                  <div class="category-input">
                    <input type="checkbox" formControlName="checked" [ngModel]="activity.categories[j].checked">
                    <label>
                      <i class="fa fa-{{ category?.value.icon }} fa-fw" aria-hidden="true"></i>
                      {{ category?.value.value }}
                    </label>
                  </div>

              </div>
            </div>
          </div>

          <h4 class="form-section-header">Note</h4>
          <div class="form-section-details">
            <textarea rows="2" formControlName="note"></textarea>
          </div>

          <div class="action-response">
            <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL</h5>
            <button type="submit" class="action-response-primary" [disabled]="!editActivityForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
          </div>

        </div>

      </form>

    </div>
  </div>

</div>
<!-- end of editing modal -->


<div class="custom-modal" *ngIf="deleteActivity">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete activity?</h3>
      <a (click)="cancelDelete()">x</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ activity?.name }}</h4>
    </div>

    <div class="confirm-delete-content">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting activity {{ activity?.name }} will permanently remove it from your itinerary.</h4>
    </div>

    <div class="confirm-delete-footer">
      <div class="action-response">
        <h5 class="action-response-primary" (click)="cancelDelete()">CANCEL</h5>
        <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
      </div>
    </div>
  </div>
</div>
