.item-menu,
.dots-menu-hint  {
  @media only screen and (max-width: 300px) {
    top: 225px;
  }

  @media only screen and (min-width: 300px) and (max-width: 400px) {
    top: calc((100vw * 0.66) + 30px);
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    top: 225px;
  }
}

.meals-display  {
  display: inline-block;
}

.meals-display h5  {
  margin: 10px 2px 0 0;
  padding: 2px 10px;
  border: 1px solid #19CC72;
  border-radius: 15px;
  color: #19CC72;
}

.note {
  margin: 0 0 50px 0;
  padding-left: 0;
}

/* edit view */
.category-input > input {
  display: inline-block;
  width: 15px;
}

.category-input > label {
  display: inline-block;
}

.form-housing {
  margin-top: 90px;
}
