.item-menu,
.dots-menu-hint  {
  @media only screen and (max-width: 300px) {
    top: 225px;
  }

  @media only screen and (min-width: 300px) and (max-width: 400px) {
    top: calc((100vw * 0.66) + 30px);
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    top: 225px;
  }
}

.activity-contact-details {
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}

.activity-contact-details > h5 > i {
  text-align: right;
}

.activity-contact-details > * {
  display: inline-block;
  font-weight: 500;
}

.note {
  margin: 10px 0 50px 0;
  padding-left: 0;
}

/* edit view */
.anytime-input  {
  display: inline-block;
}

.anytime-input > label > input  {
  display: inline-block;
  width: 15px;
}

.any-time-true {
  margin-bottom: 10px;
}

.category-input > input {
  display: inline-block;
  width: 15px;
}

.category-input > label {
  display: inline-block;
}
