<div class="activity-card">

  <div *ngIf="activity?.photo">
    <img src="{{activity?.photo}}" alt="picture of {{ activity?.name}}">
  </div>

  <div *ngIf="!activity?.photo">
    <div class="img">
      <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
      <h5>add a photo</h5>
    </div>
  </div>

  <div class="activity-details">

    <div class="edit-delete" *ngIf="sameUser">
      <a (click)="onEdit()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      <a (click)="confirmDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </div>

    <h4 class="date-header" *ngIf="activity?.date === 'any day'">{{ activity?.date }} - {{ activity?.time }}</h4>
    <h4 class="date-header" *ngIf="activity?.date !== 'any day'">{{ activity?.date | date: 'EEE, dd MMM yyyy' }} - {{ activity?.time }}</h4>

    <h4 class="activity-header">{{ activity?.name }}</h4>

    <div class="activity-address">
      <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
      <h6> {{ activity?.formatted_address }}</h6>
    </div>

    <div class="activity-contact-number">
      <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
      <h6>{{ activity?.international_phone_number }}</h6>
    </div>

    <div class="activity-opening-hours">
      <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
      <h6>{{ activity?.opening_hours }}</h6>
    </div>

    <div class="activity-fee">
      <i class="fa fa-money fa-fw" aria-hidden="true"></i>
      <h6>{{ activity?.entryFee }}</h6>
    </div>

    <a href="{{activity?.website}}" target="_blank"><h5 class="truncate">{{ activity?.website }}</h5></a>

    <h6 class="note">{{ activity?.note }}</h6>

    <div class="activity-tags">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <div *ngFor="let category of activity.categories" class="activity-category">
        <h6 *ngIf="category.checked">|  {{ category.value }}  |</h6>
      </div>
    </div>

  </div>

  <div class="postby">
    <h6>added by <a routerLink="/users/{{activity.user['_Id']}}">{{ activity?.user.username }}</a></h6>
    <p>{{ activity?.created_at | date: 'medium' }}</p>
  </div>

</div>
<!-- end of activity display -->

<div *ngIf="editing">

  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Editing activity {{ activity?.name }}</h3>
        <a (click)="cancelEditActivity()">x</a>
      </div>

      <form [formGroup]="editCustomActivityForm" (ngSubmit)="onUpdateActivity()">

        <label>Name</label>
        <input type="text" formControlName="name" [value]="activity.name">

        <label>Address</label>
        <input type="text" formControlName="formatted_address" [value]="activity.formatted_address">

        <label>Contact Number</label>
        <input type="text" formControlName="international_phone_number" [value]="activity.international_phone_number" class="contact-number-input">

        <label>Website</label>
        <input type="url" formControlName="website" [value]="activity.website">

        <label>Opening hours</label>
        <textarea rows="2" formControlName="opening_hours" [value]="activity.opening_hours"></textarea>

        <label>Cost / Entry fee</label>
        <input type="text" formControlName="entryFee" [value]="activity.entryFee">

        <label>Date to visit</label>
        <select name="date" formControlName="date" [value]="activity.date">
          <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
            <div *ngIf="itinDate === 'any day'">
              <h5>{{ itinDate }}</h5>
            </div>
            <div *ngIf="itinDate !== 'any day'">
              <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
            </div>
          </option>
        </select>

        <div class="time" [class.marginBottom]="anytime">
          <label>Time to visit (

            <div class="anytime-input">
              <label>Any time
                <input type="checkbox" (click)="toggleAnytime()" formControlName="time" [ngModel]="activity.time === 'anytime'">
              </label>
            </div>
            )
          </label>
          <input type="time" formControlName="time" [value]="activity.time" *ngIf="!anytime">

        </div>

        <label>Note</label>
        <textarea rows="2" formControlName="note" [value]="activity.note"></textarea>

        <div formArrayName="categories">
          <label>Category</label>

          <div *ngFor="let category of categories.controls; let j = index" [formGroupName]="j">

              <div class="category-input">
                <input type="checkbox" formControlName="checked" [ngModel]="activity.categories[j].checked">
                <label>
                  <i class="fa fa-{{ category?.value.icon }} fa-fw" aria-hidden="true"></i>
                  {{ category?.value.value }}
                </label>
              </div>

          </div>
        </div>

        <div class="save-option">
          <button type="button" class="deleteButton" (click)="cancelEditActivity()">Cancel edit</button>
          <button type="submit" class="primaryButton"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
        </div>

      </form>

    </div>
  </div>

</div>
<!-- end of editing modal -->


<div class="custom-modal" *ngIf="deleteActivity">
  <div class="confirm-delete">
    <div class="confirm-delete-header">
      <h4>Delete activity {{ activity?.name }}</h4>
      <span class="x-close" (click)="cancelDelete()">&times;</span>
    </div>
    <h4 class="confirm-delete-content">Deleting activity <span class="confirm-delete-name">{{ activity?.name }}</span> will permanently remove it from your itinerary.</h4>
    <div class="confirm-delete-footer">
      <button type="button" (click)="cancelDelete()">Cancel delete</button>
      <button type="button" class="deleteButton" (click)="onDeleteActivity()">Yes, delete {{ activity?.name }}</button>
    </div>
  </div>
</div>
