<div class="profile-edit-main">
  <form [formGroup]="editProfileForm" (ngSubmit)="saveProfile()">

    <div class="profile-edit-header" [class.change-profile-picture]="newProfilePic">
      <img src="{{ currentUser?.display_picture }}" alt="">
      <div class="keep-original" *ngIf="newProfilePic">
        <h5 (click)="keepOriginal()">Keep original</h5>
      </div>

      <label class="fileUpload">
        {{ uploadText }}
        <input type="file" (change)="fileUploaded($event)" [value]="inputValue" accept="image/*">
      </label>
    </div>

    <div class="new-profile-picture" *ngIf="newProfilePic">
      <img [src]="newProfilePic">
      <h5>New profile picture</h5>
    </div>

    <h5 class="profile-date-join">A wonderer wanderer since {{ currentUser?.created_at | date:'dd MMMM y'}}</h5>

    <h4 class="profile-edit-section-header">Public Details</h4>
    <div class="profile-edit-section-details">
      <div class="profile-edit-item">
        <h5>Username</h5>
        <div class="">
          <input type="text" formControlName="username" #username>
          <span class="form-validator"
            *ngIf="editProfileForm.get('username').touched && editProfileForm.get('username').invalid">Username is required</span>
        </div>
      </div>

      <div class="profile-edit-item">
        <h5>Description</h5>
        <input type="text" formControlName="description" #description>
      </div>

      <div class="profile-preview">
        <img src="{{ thumbnailImage }}" alt="" class="user-profile-thumbnail">
        <div class="user-details">
          <h4 class="user-username">{{ username.value }}</h4>
          <h5 class="user-description">{{ description.value }}</h5>
        </div>
      </div>
    </div>

    <h4 class="profile-edit-section-header">Private Details</h4>
    <div class="profile-edit-section-details">
      <div class="profile-edit-item">
        <h5>Email</h5>
        <div>
          <input type="text" formControlName="email">
          <span class="form-validator"
            *ngIf="editProfileForm.get('email').touched && editProfileForm.get('email').invalid">Valid email is required</span>
        </div>
      </div>

      <div class="profile-edit-item">
        <h5>City of Residence</h5>
        <ww-google-place-search
        [settings]="'true'"
        [options]="options"
        [populate]="currentUser?.city?.name"
        (placeDetail)="setCity($event)"
        (searching)="searching($event)"></ww-google-place-search>
      </div>

      <div class="profile-edit-item">
        <h5>Date of Birth</h5>
        <div class="date-picker date-picker-single" daterangepicker [options]="birthDatePicker" (selected)="selectedDate($event)">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <h4>{{ displayDate | date: 'dd MMM yyyy'}}</h4>
        </div>
      </div>

      <div class="profile-edit-item">
        <h5>Gender</h5>
        <select class="profile-gender-select" name="gender" formControlName="gender" [value]="currentUser?.gender">
          <option *ngFor="let gender of genders">
            <h5>{{ gender }}</h5>
          </option>
        </select>
      </div>

      <h5 class="change-pw" (click)="changePassword()">Change password</h5>

    </div>

    <h4 class="profile-edit-section-header">Others</h4>
    <h5 class="deactivate-account" (click)="confirmDelete()">Deactivate your account</h5>

    <div class="action-response">
      <!-- <h4 (click)="cancelEdit()">CANCEL</h4> -->
      <button type="submit" class="action-response-primary" [disabled]="!editProfileForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE PROFILE</h5></button>
    </div>
  </form>

</div>

<div class="custom-modal" *ngIf="fileTypeError" (click)="fileTypeError = false">
  <div class="form-card">
    <div class="form-header">
      <h3>File type error</h3>
      <a (click)="fileTypeError = false">X</a>
    </div>

    <div class="content-without-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>The file you selected is not an image. Please try again.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="fileTypeError = false">OK</h5>
    </div>
  </div>
</div>

<div class="custom-modal" *ngIf="changePw">
  <div class="form-card">
    <div class="form-header">
      <h3>Change password</h3>
      <a (click)="cancelChangePassword()">X</a>
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="saveNewPassword()">
      <div class="form-housing">
        <label>Current Password <span class="label-note"> ( at least 6 characters )</span></label>
        <input type="password" formControlName="currentPassword">
        <span class="form-validator"
          *ngIf="changePasswordForm.get('currentPassword').touched && changePasswordForm.get('currentPassword').invalid">Password is not valid. Please enter at least 6 characters</span>


        <label>New Password <span class="label-note"> ( at least 6 characters )</span></label>
        <input type="password" formControlName="newPassword">
        <span class="form-validator"
          *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').invalid">Password is not valid. Please enter at least 6 characters</span>


        <label>Confirm New Password</label>
        <input type="password" formControlName="confirmNewPassword">
        <span class="form-validator"
          *ngIf="changePasswordForm.get('confirmNewPassword').dirty && changePasswordForm.get('confirmNewPassword').invalid">Passwords do not match</span>
      </div>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="cancelChangePassword()">CANCEL</h5>
        <button type="submit" class="action-response-primary" [disabled]="!changePasswordForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
      </div>
    </form>
  </div>
</div>
