.profile-edit-main  {
  position: relative;
  width: 680px;
  margin-left: calc((100vw - 680px) / 2 );
  padding-bottom: 20px;


  @media only screen and (max-width: 680px) {
    width: 100%;
    min-width: 300px;
    margin-left: 0;
  }
}

.settings-navigation  {
  position: fixed;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;

  @media only screen and (max-width: 450px) {
    position: relative;
    margin: 0 0 0 10px;
  }

  @media only screen and (min-width: 450px) and (max-width: 680px) {
    position: relative;
    margin: 0 0 0 35px;
  }
}

.settings-navigation  * {
  margin: 15px 5px;
  padding: 5px;
  font-weight: 400;
  border-bottom: 2px solid transparent;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.settings-navigation .current  {
  color: #6494ED;
  border-bottom: 2px solid #6494ED;
}

.settings-section {
  display: inline-block;
  width: 530px;
  margin-left: 150px;

  @media only screen and (max-width: 680px) {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}

.settings-header  {
  padding: 10px 0 20px 35px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;

  @media only screen and (max-width: 450px) {
    padding-left: 10px;
  }

  @media only screen and (max-width: 680px) {
    border-top: 1px solid;
    padding-top: 40px;
  }
}


/* profile */
.profile-date-join  {
  text-align: left;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-style: italic;
  color: #F9FBFB;
  background-color: #6494ED;
}

.profile-img-edit  {
  padding: 20px 0;
}

.profile-img-edit > img  {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}



/* file upload */

.fileUpload {
  overflow: hidden;
  margin-left: 20px;
  padding: 5px 10px;
  color: #567FCC;
  font-size: 14px;
  font-weight: 400;
  vertical-align: bottom;
  border: 2px solid #567FCC;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.fileUpload [type=file] {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}






/* edit profile section */


.form-section-details {
  padding: 10px 10px 5px 35px;

  @media only screen and (max-width: 450px) {
    padding: 5px 10px;
  }
}

.profile-edit-item  {
  margin-bottom: 30px;
}

.profile-edit-item > h4:first-of-type {
  padding-bottom: 3px;
  color: grey;
  letter-spacing: .5px;
}

.profile-edit-item > h4 {
  font-weight: 400;
}

.na-text  {
  width: auto !important;
  color: #3A4A4D !important;
}


.profile-edit-item input,
ww-google-place-search  {
  width: 400px;
  margin-bottom: 0;
  background-color: #E6E6E6;

  @media only screen and (max-width: 450px) {
    width: 100%;
  }
}

.form-section-details span.form-validator {
  margin-top: 0;
}


.date-picker  {
  background-color: #E6E6E6;
}

/* new profile picture display */
.new-profile-picture  {
  text-align: center;
}

.new-profile-picture > h3 {
  margin: 10px 0;
  font-weight: 400;

  @media only screen and (max-width: 610px) {
    width: auto;
  }
}

.new-profile-picture > img  {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}




/* other edits */

select.profile-gender-select  {
  width: 100px;
  margin-bottom: 0;
  background-color: #E6E6E6;
}

.change-pw  {
  margin: 40px 0 0 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.profile-edit-main .action-response  {
  background-color: transparent;
}

.settings-section .action-response-warning  {
  border: 2px solid red;

  &:hover {
    opacity: .7;
  }
}

.action-response-warning h5 {
  padding: 5px;
  color: red;
}

/* toggle */
.toggle-true,
.toggle-false{
  margin-top: 5px;
}

.toggle-button-true  {
  margin: -23px 0 0 3px;
}

.toggle-button-false  {
  margin: -23px 0 0 37px;
}
