<div class="profile-edit-main">
  <form [formGroup]="editProfileForm" (ngSubmit)="saveProfile()">

    <div class="profile-edit-header">
      <img src="{{ currentUser?.display_picture.url }}" alt="">

      <label class="fileUpload">
        Change profile picture
        <input type="file" (change)="fileUploaded($event)" [value]="inputValue" accept="image/*">
      </label>
    </div>


    <h5 class="profile-date-join">A wonderer wanderer since {{ currentUser?.created_at | date:'dd MMMM y'}}</h5>


    <h4 class="form-section-header">Public Details</h4>
    <div class="form-section-details">
      <div class="profile-edit-item">
        <h5>Username</h5>
        <div class="">
          <input type="text" formControlName="username" #username>
          <span class="form-validator"
            *ngIf="editProfileForm.get('username').touched && editProfileForm.get('username').invalid">Username is required</span>
        </div>
      </div>

      <div class="profile-edit-item">
        <h5>Description</h5>
        <input type="text" formControlName="description" #description>
      </div>

      <div class="profile-preview">
        <img src="{{ thumbnailImage }}" alt="" class="user-profile-thumbnail">

        <div class="user-details">
          <h4 class="username-bold">{{ username.value }}</h4>
          <h5 class="user-description">{{ description.value }}</h5>
        </div>

      </div>
    </div>



    <h4 class="form-section-header">Private Details</h4>
    <div class="form-section-details">
      <div class="profile-edit-item">
        <h5>Email</h5>
        <div>
          <input type="text" formControlName="email">
          <span class="form-validator"
            *ngIf="editProfileForm.get('email').touched && editProfileForm.get('email').invalid">Valid email is required</span>
        </div>
      </div>

      <div class="profile-edit-item">
        <h5>City of Residence</h5>

        <ww-google-place-search
        [settings]="'true'"
        [options]="options"
        [populate]="defaultCity"
        (placeDetail)="setCity($event)"
        (searching)="searching($event)"></ww-google-place-search>
      </div>

      <div *ngIf="!currentUser?.corporate">
        <div class="profile-edit-item">
          <h5>Date of Birth</h5>

          <div class="date-picker date-picker-single" daterangepicker [options]="birthDatePicker" (selected)="selectedDate($event)">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <h4>{{ displayDate | date: 'dd MMM yyyy'}}</h4>
          </div>
        </div>

        <div class="profile-edit-item">
          <h5>Gender</h5>

          <select class="profile-gender-select" name="gender" formControlName="gender" [value]="currentUser?.gender">
            <option *ngFor="let gender of genders">
              <h5>{{ gender }}</h5>
            </option>
          </select>
        </div>
      </div>

      <h5 class="change-pw" (click)="changePassword()">Change password</h5>

    </div>



    <h4 class="form-section-header">Default Settings</h4>
    <div class="form-section-details">
      <div class="profile-edit-item">
        <h5>Itinerary privacy</h5>

        <h4 *ngIf="itinPrivacy" class="toggle-true" (click)="itinPrivacy = false">Yes</h4>
        <h4 *ngIf="itinPrivacy" class="toggle-button-true" (click)="itinPrivacy = false"></h4>
        <h6 *ngIf="itinPrivacy">New itinerary created by you is private. Only members of itinerary can view.</h6>

        <h4 *ngIf="!itinPrivacy" class="toggle-false" (click)="itinPrivacy = true">No</h4>
        <h4 *ngIf="!itinPrivacy" class="toggle-button-false" (click)="itinPrivacy = true"></h4>
        <h6 *ngIf="!itinPrivacy">New itinerary created by you is not private. Followers of members can view.</h6>
      </div>

      <div class="profile-edit-item" *ngIf="!itinPrivacy">
        <h5>Itinerary view only</h5>

        <h4 *ngIf="itinView" class="toggle-true" (click)="itinView = false">Yes</h4>
        <h4 *ngIf="itinView" class="toggle-button-true" (click)="itinView = false"></h4>
        <h6 *ngIf="itinView">Followers of members can only view the itinerary. They cannot copy.</h6>

        <h4 *ngIf="!itinView" class="toggle-false" (click)="itinView = true">No</h4>
        <h4 *ngIf="!itinView" class="toggle-button-false" (click)="itinView = true"></h4>
        <h6 *ngIf="!itinView">Followers of members can view and create a copy of the itinerary.</h6>

      </div>

      <div class="profile-edit-item" *ngIf="itinPrivacy">
        <h5>Itinerary view only</h5>

        <h5 class="na-text">Not applicable when itinerary privacy is private</h5>

      </div>

      <div class="profile-edit-item">
        <h5>Favourite privacy</h5>

        <h4 *ngIf="favPrivacy" class="toggle-true" (click)="favPrivacy = false">Yes</h4>
        <h4 *ngIf="favPrivacy" class="toggle-button-true" (click)="favPrivacy = false"></h4>
        <h6 *ngIf="favPrivacy">New favourite is private. Only you can view.</h6>

        <h4 *ngIf="!favPrivacy" class="toggle-false" (click)="favPrivacy = true">No</h4>
        <h4 *ngIf="!favPrivacy" class="toggle-button-false" (click)="favPrivacy = true"></h4>
        <h6 *ngIf="!favPrivacy">New favourite is not private. Your followers can view.</h6>
      </div>
    </div>



    <h4 class="form-section-header">Others</h4>
    <h5 class="deactivate-account" (click)="confirmDeactivate()">Deactivate your account</h5>


    <div class="action-response">
      <h5 class="action-response-secondary" (click)="undo()">UNDO</h5>
      <button type="submit" class="action-response-primary" [disabled]="!editProfileForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE PROFILE</h5></button>
    </div>
  </form>

</div>


<!-- change profile pic -->
<div class="custom-modal" *ngIf="newProfilePic">
  <div class="form-card">
    <div class="form-header">
      <h3>Change display picture?</h3>
      <a (click)="cancelChangePicture()">X</a>
    </div>

    <div class="content-without-header-name">
      <div class="new-profile-picture" *ngIf="newProfilePic">
        <h4>Your new profile picture</h4>
        <img [src]="newProfilePic">
      </div>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelChangePicture()">CANCEL</h5>
      <h5 class="action-response-primary" (click)="saveProfile()"> CONFIRM CHANGE</h5>
    </div>
  </div>

</div>



<!-- file error -->
<div class="custom-modal" *ngIf="fileTypeError" (click)="fileTypeError = false">
  <div class="form-card">
    <div class="form-header">
      <h3>File type error</h3>
      <a (click)="fileTypeError = false">X</a>
    </div>

    <div class="content-without-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>The file you selected is not an image. Please try again.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="fileTypeError = false">OK</h5>
    </div>
  </div>
</div>



<!-- change password -->
<div class="custom-modal" *ngIf="changePw">
  <div class="form-card">
    <div class="form-header">
      <h3>Change password</h3>
      <a (click)="cancelChangePassword()">X</a>
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="saveNewPassword()">
      <div class="form-housing">
        <label>Current Password <span class="label-note"> ( at least 6 characters )</span></label>
        <input type="password" formControlName="currentPassword">
        <span class="form-validator"
          *ngIf="changePasswordForm.get('currentPassword').touched && changePasswordForm.get('currentPassword').invalid">Password is not valid. Please enter at least 6 characters</span>


        <label>New Password <span class="label-note"> ( at least 6 characters )</span></label>
        <input type="password" formControlName="newPassword">
        <span class="form-validator"
          *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').invalid">Password is not valid. Please enter at least 6 characters</span>


        <label>Confirm New Password</label>
        <input type="password" formControlName="confirmNewPassword">
        <span class="form-validator"
          *ngIf="changePasswordForm.get('confirmNewPassword').dirty && changePasswordForm.get('confirmNewPassword').invalid">Passwords do not match</span>
      </div>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="cancelChangePassword()">CANCEL</h5>
        <button type="submit" class="action-response-primary" [disabled]="!changePasswordForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
      </div>
    </form>
  </div>
</div>




<!-- deactivate account -->
<div class="custom-modal" *ngIf="deactivate">
  <div class="form-card">
    <div class="form-header">
      <h3>Deactivate account</h3>
      <a (click)="cancelDeactivate()">X</a>
    </div>

    <div class="content-without-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deactivating your account will disable your Profile. It will not show up when searched. Information created by you will not be deleted and will not be available unless it is shared with other users.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelDeactivate()">CANCEL</h5>
      <h5 class="action-response-warning" (click)="deactivateAccount()">DEACTIVATE</h5>
    </div>

  </div>
</div>
