input {
  padding-left: 0;
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}

.profile-edit-main  {
  width: 600px;
  margin-left: calc((100vw - 600px) / 2 );
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 610px) {
    width: 100%;
    min-width: 300px;
    margin-left: 0;
  }
}

.profile-edit-header  {
  padding: 20px;
  height: 210px;
  text-align: center;
  background-color: #FAFAFA;
}

.profile-edit-header > img  {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}



/* file upload */

.fileUpload {
  overflow: hidden;
  position: absolute;
  top: 260px;
  left: calc(((100vw - 600px) / 2) + 225px);
  padding: 0 10px;
  color: #567FCC;
  border-radius: 25px;
  border: 2px solid #567FCC;
  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 610px) {
    left: calc((100vw - 152px) / 2);
  }
}

.fileUpload [type=file] {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.profile-date-join  {
  text-align: left;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-style: italic;
  color: #F9FBFB;
  background-color: #6494ED;
}




/* edit profile section */

.form-section-header  {
  padding: 30px 0 0 20px;

  @media only screen and (max-width: 450px) {
    padding: 30px 0 0 5px;
  }
}

.form-section-details {
  padding: 10px 10px 5px 35px;

  @media only screen and (max-width: 450px) {
    padding: 5px 10px;
  }
}

.profile-edit-item  {
  height: 50px;
  @media only screen and (max-width: 610px) {
    margin-bottom: 20px;
    height: auto;
  }
}

.profile-edit-item > * {
  display: inline-block;
  @media only screen and (max-width: 610px) {
    display: block;
  }
}

.profile-edit-item > h5 {
  width: 130px;
  color: grey;
  letter-spacing: .5px;
  @media only screen and (max-width: 610px) {
    padding-bottom: 3px;
  }
}


.profile-edit-item input,
ww-google-place-search  {
  width: 400px;
  margin-bottom: 0;
  @media only screen and (max-width: 450px) {
    width: 100%;
  }
}

.form-section-details span.form-validator {
  margin-top: 0;
}



/* preview of user profile card */

.profile-preview  {
  margin: 10px auto 0 auto;
  padding: 10px;
  max-width: 300px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 610px) {
    margin: 10px 0 0 0;
  }
}



/* new profile picture display */
.new-profile-picture  {
  text-align: center;
}

.new-profile-picture > h4 {
  margin-top: 9px;
  font-weight: 500;

  @media only screen and (max-width: 610px) {
    width: auto;
  }
}

.new-profile-picture > img  {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}




/* other edits */

select.profile-gender-select  {
  width: 100px;
  margin-bottom: 0;
}

.change-pw  {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.profile-edit-main .action-response  {
  background-color: transparent;
}

.deactivate-account  {
  padding: 10px 0 0 20px;
  font-weight: 400;
  color: grey;
  &:hover {
    cursor: pointer;
    color: red;
  }
}

/* toggle */
.toggle-button-true  {
  margin: 2px 0 0 -61px;

  @media only screen and (max-width: 610px) {
    margin: -22.5px 0 0 3px;
  }
}

.toggle-button-false  {
  margin: 2px 0 0 -26px;

  @media only screen and (max-width: 610px) {
    margin: -22.5px 0 0 38px;
  }
}
