<div class="itinerary-print">
  <div class="options">
    <!-- <div class="print" (click)="print()">
      <h5><i class="fa fa-print" aria-hidden="true"></i> Print</h5>
    </div> -->
    <div class="pdf" (click)="save()">
      <h5><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Save to PDF</h5>
    </div>
  </div>

  <div class="itinerary-header">
    <h2>{{ itinerary?.name }}</h2>

    <div class="itinerary-date">
      <h5><i class="fa fa-calendar" aria-hidden="true"></i> {{ itinerary?.dateFrom | date:'dd MMM yyyy' }} to {{ itinerary?.dateTo | date:'dd MMM yyyy' }}</h5>
    </div>
  </div>

  <div>
    <div class="section-header">
      <h4>Transport Arrangements</h4>
    </div>

    <div class="transport-section">

      <div *ngFor="let transport of transports" class="details-card">

        <h4 class="date-header">{{ transport?.depDate | date: 'dd MMM yyyy' }}</h4>

        <div class="transport-header">
          <div [ngSwitch]="transport.transportType">
            <h2 *ngSwitchCase="'flight'"><i class="fa fa-plane inline-block" aria-hidden="true"></i>{{ transport.referenceNumber | uppercase }}</h2>
            <h2 *ngSwitchCase="'train'"><i class="fa fa-train inline-block" aria-hidden="true"></i> Train</h2>
            <h2 *ngSwitchCase="'bus'"><i class="fa fa-bus inline-block" aria-hidden="true"></i> Bus {{ transport.referenceNumber | uppercase }}</h2>
            <h2 *ngSwitchCase="'cruise'"><i class="fa fa-ship inline-block" aria-hidden="true"></i> Cruise</h2>
            <h2 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car inline-block" aria-hidden="true"></i> Vehicle rental</h2>
            <h2 *ngSwitchCase="'others'"><i class="fa fa-rocket inline-block" aria-hidden="true"></i> Transport</h2>
          </div>
          <h4>from {{ transport.depCity | uppercase }} to {{ transport.arrCity | uppercase }}</h4>
        </div>

        <div *ngIf="transport.transportType === 'flight'">

          <div class="departure-arrival-details">

            <div class="departure-section">
              <h5 class="departure-details">Departs <span class="city-highlight">{{ transport.depCity | uppercase }}</span></h5>
              <h5>{{ transport.depStation | uppercase }} / terminal {{ transport.depTerminal | uppercase }}</h5>
              <h5>{{ transport?.depDate | date:'dd MMM yy' }} - {{ transport.depTime }}hrs</h5>
            </div>

            <div class="arrival-section">
              <h5 class="arrival-details">Arrives <span class="city-highlight">{{ transport.arrCity | uppercase }}</span></h5>
              <h5>{{ transport.arrStation | uppercase }} / terminal {{ transport.arrTerminal | uppercase }}</h5>
              <h5>{{ transport?.arrDate | date:'dd MMM yy' }} - {{ transport.arrTime }}hrs</h5>
            </div>

          </div>

        </div><!-- end of flight -->

        <div *ngIf="transport.transportType !== 'flight'">

          <div class="departure-arrival-details">

            <div *ngIf="transport.transportType !== 'vehicle rental'">

              <div class="departure-section">
                <h5 class="departure-details">Departs <span class="city-highlight">{{ transport.depCity | uppercase }}</span></h5>
                <h5>{{ transport.depStation | uppercase }}</h5>
                <h5>{{ transport?.depDate | date:'dd MMM yy' }} - {{ transport.depTime }}hrs</h5>
              </div>

              <div class="arrival-section">
                <h5 class="arrival-details">Arrives <span class="city-highlight">{{ transport.arrCity | uppercase }}</span></h5>
                <h5>{{ transport.arrStation | uppercase }}</h5>
                <h5>{{ transport?.arrDate | date:'dd MMM yy' }} - {{ transport.arrTime }}hrs</h5>
              </div>

            </div>

            <div *ngIf="transport.transportType === 'vehicle rental'">

              <div class="rental-company">
                <h6>Rental company</h6>
                <h4>{{ transport.transportCompany }}</h4>
              </div>

              <div class="rental-contact">
                <h6>Contact number</h6>
                <h4>{{ transport.contactNumber }}</h4>
              </div>

              <div class="departure-section">
                <h5 class="departure-details">Departs <span class="city-highlight">{{ transport.depCity | uppercase }}</span></h5>
                <h5>Pick up {{ transport?.depDate | date:'dd MMM yy' }} - {{ transport.depTime }}hrs</h5>
              </div>

              <div class="arrival-section">
                <h5 class="arrival-details">Arrives <span class="city-highlight">{{ transport.arrCity | uppercase }}</span></h5>
                <h5>Return {{ transport?.arrDate | date:'dd MMM yy' }} - {{ transport.arrTime }}hrs</h5>
              </div>

            </div><!-- end of vehicle rental -->
          </div>
        </div>

        <div class="note">
          <h6>{{ transport.note }}</h6>
        </div>

        <div class="postby">
          <h6>added by <a routerLink="/users/{{transport?.user['_Id']}}">{{ transport?.user.username }}</a></h6>
          <p>{{ transport?.created_at | date: 'medium' }}</p>
        </div>

        <!-- end of transport details view -->
      </div>

    </div>

  </div>

  <div>
    <div class="section-header">
      <h4>Accommodation Arrangements</h4>
    </div>

    <div class="accommodation-section">

      <div *ngFor="let accommodation of accommodations" class="details-card">

      <div class="details">
        <h4 class="date-header">{{ accommodation?.checkInDate | date: 'dd MMM yyyy' }}</h4>

        <h4 class="accommodation-header">{{ accommodation?.name | uppercase }}</h4>

        <div class="accommodation-details">
          <div class="check-in-out-header">
            <h5 class="departure-details">Check in:</h5>
            <h5 class="arrival-details">Check out:</h5>
          </div>

          <div class="check-in-out-dates">
            <h5 class="departure-details">{{ accommodation?.checkInDate | date:'dd MMM yyyy' }} - {{ accommodation.checkInTime }}</h5>
            <h5 class="arrival-details">{{ accommodation?.checkOutDate | date:'dd MMM yyyy' }} - {{ accommodation.checkOutTime }}</h5>
          </div>

          <div class="address">
            <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
            <h5>{{ accommodation?.formatted_address }}</h5>
          </div>

          <div class="contact-number">
            <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
            <h5>{{ accommodation?.international_phone_number }}</h5>
          </div>

          <div class="website">
            <a href="{{ accommodation?.website }}" target="_blank"><h5>{{ accommodation?.website }}</h5></a>
          </div>

        </div>

        <div class="note">
          <h6>{{ accommodation?.note }}</h6>
        </div>

        <div class="postby">
          <h6>added by <a routerLink="/users/{{accommodation?.user['_Id']}}">{{ accommodation?.user.username }}</a></h6>
          <p>{{ accommodation?.created_at | date: 'medium' }}</p>
        </div>
      </div>

    </div>

    </div>
  </div>

  <div>
    <div class="section-header">
      <h4>Activities</h4>
    </div>

    <div class="activity-section">

      <div *ngFor="let activity of activities" class="details-card">

        <h4 class="date-header" *ngIf="activity?.date === 'any day'">{{ activity?.date }} - {{ activity?.time }}</h4>
        <h4 class="date-header" *ngIf="activity?.date !== 'any day'">{{ activity?.date | date: 'EEE, dd MMM yyyy' }} - {{ activity?.time }}</h4>

        <h4 class="activity-header">{{ activity?.name }}</h4>

        <div class="activity-details">

          <div class="activity-address">
            <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
            <h6> {{ activity?.formatted_address }}</h6>
          </div>

          <div class="activity-contact-number">
            <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
            <h6>{{ activity?.international_phone_number }}</h6>
          </div>

          <div class="opening-hours">
            <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
            <h6>{{ activity?.opening_hours }}</h6>
          </div>

          <div class="fee">
            <i class="fa fa-money fa-fw" aria-hidden="true"></i>
            <h6>{{ activity?.entryFee }}</h6>
          </div>

          <a href="{{activity?.website}}" target="_blank"><h5 class="truncate">{{ activity?.website }}</h5></a>

          <h6 class="activity-note">{{ activity?.note }}</h6>

          <div class="tags">
            <i class="fa fa-tags" aria-hidden="true"></i>
            <div *ngFor="let category of activity.categories" class="category">
              <h6 *ngIf="category.checked">|  {{ category.value }}  |</h6>
            </div>
          </div>
        </div>

        <div class="postby">
          <h6>added by <a routerLink="/users/{{activity.user['_Id']}}">{{ activity?.user.username }}</a></h6>
          <p>{{ activity?.created_at | date: 'medium' }}</p>
        </div>

      </div>

    </div>
  </div>

  <div>
    <div class="section-header">
      <h4>Resources</h4>
    </div>

    <div class="resource-section">

      <div *ngFor="let resource of resources" class="details-card">
        <div class="linkDetails">

          <h4 class="description">{{ resource?.description }}</h4>
          <a href="{{resource?.link}}" target="_blank"><h5 class="link">{{ resource?.link }}</h5></a>

          <div class="postby">
            <h6>added by <a routerLink="/users/{{resource?.user['_Id']}}">{{ resource?.user.username }}</a></h6>
            <p>{{ resource?.created_at | date: 'medium' }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
