<div class="user-card">
  <ww-user-profile-card [user]="follower.user" [currentUser]="currentUser"></ww-user-profile-card>

  <div class="follow-button">
    <div class="following-response">
      <h5 class="already-following" (click)="removeFollower = true">Remove</h5>
    </div>
  </div>
</div>


<div class="custom-modal" *ngIf="removeFollower">
  <div class="confirm-remove-follower">
    <img src="{{ follower.user.display_picture.url }}" alt="" class="user-profile-thumbnail">
    <h5 class="remove-follower-message"><span class="follower-username">{{ follower.user.username }}</span> will not be informed of this removal</h5>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="removeFollower = false">CANCEL</h5>
      <h5 class="action-response-warning" (click)="remove()">REMOVE</h5>
    </div>
  </div>
</div>
