<div class="description-main">

  <div class="description-photo" *ngIf="itinerary?.description.photos.length === 0">
    <img src="assets/description_photo.png" alt="">
    <a href="http://www.freepik.com/free-vector/world-tourism-day-background-with-monuments_915535.htm" target="_blank">Designed by Freepik</a>
  </div>

  <div *ngIf="itinerary?.description.photos.length > 0" class="description-slider">
    <div *ngFor="let photo of itinerary?.description.photos; let i = index" class="description-images">
      <input type="radio" name="slide_switch" id="image-{{i}}" [checked]="i === 0">
      <h5 class="photo-caption">{{ photo.caption }}</h5>
      <label for="image-{{i}}">
        <h5>{{ i + 1 }}</h5>
      </label>
      <img src="{{ photo.url }}" alt="">
    </div>
  </div>

  <!-- <div *ngIf="!preview" class="manage-pics" (click)="managePictures()">
    <h5>Manage pictures</h5>
  </div> -->


  <div class="description-content">
    <div *ngIf="!editing">
      <div class="edit-description">
        <i *ngIf="!preview" class="fa fa-cog" aria-hidden="true" (click)="showMenu = true"></i>

        <div class="item-menu" *ngIf="showMenu">
          <ul>
            <li (click)=managePictures()>
              <h5>Manage pictures</h5>
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </li>
            <li (click)="editing = true">
              <h5>Edit content</h5>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </li>
          </ul>
        </div>

      </div>
      <!-- <i *ngIf="!preview" class="fa fa-pencil" aria-hidden="true" (click)="editing = true"></i> -->

      <h1 class="description-header" *ngIf="itinerary?.description.header">{{ itinerary?.description.header }}</h1>

      <!-- <div *ngIf="corporate" class="creator">
        <ww-user-profile-card [user]="itinerary.created_by" [currentUser]="currentUser"></ww-user-profile-card>

        <div class="external-link" *ngIf="itinerary?.link !== ''">
          <i class="fa fa-external-link" aria-hidden="true"></i>
          <a href="{{ itinerary.link }}" target="_blank">External link</a>
        </div>
      </div> -->

      <div *ngIf="itinerary?.description.sections.length > 0">
        <div *ngFor="let section of itinerary?.description.sections">
          <h3 class="section-header">{{ section.section_header}}</h3>
          <h4 class="section-content" [innerHTML]="section.formatted_content"></h4>
        </div>
      </div>


      <div *ngIf="itinerary?.description.sections.length === 0">
        <h4>You do not have a description at the moment.</h4>
        <h4>Is there a story to this trip? Pen it down so that you will never forget about it!</h4>
        <h4>This description will also appear in the PDF version of your itinerary.</h4>
      </div>
    </div>

    <div *ngIf="editing">

      <form [formGroup]="descriptionForm" (ngSubmit)="onSubmit()">

        <label>Description header</label>
        <input type="text" formControlName="header">

        <!-- <label>External link<span class="label-note"> - link to your article or itinerary</span></label>
        <input type="text" formControlName="link"> -->

        <div formArrayName="sections">
          <div *ngFor="let section of descriptionForm.controls.sections.controls; let i = index" class="section">

            <div class="section-tracker">
              <h4>Section {{i + 1}}</h4>
              <h5 *ngIf="descriptionForm.controls.sections.controls.length > 1" (click)="removeSection(i)">Delete section</h5>
            </div>

            <div [formGroupName]="i">
              <label>Section header</label>
              <input type="text" formControlName="section_header">

              <label>Section content</label>
              <textarea rows="10" formControlName="section_content" auto-grow></textarea>
            </div>

          </div>
        </div>

        <h4 class="add-section" (click)="addSection()">+ Add new section</h4>

        <div class="action-response">
          <h5 class="action-response-secondary" (click)="editing = false">CANCEL</h5>
          <button type="submit" class="action-response-primary" [disabled]="!descriptionForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
        </div>

      </form>


    </div>

  </div>
</div>

<div class="custom-modal" *ngIf="managePics">
  <div class="form-card">
    <div class="form-header">
      <h3>Manage pictures</h3>
      <a (click)="cancelManage()">X</a>
    </div>

    <div class="content-without-header-name">

      <div class="upload-picture" *ngIf="!preview">
        <label class="file-upload">
          Upload new pictures
          <input type="file" (change)="fileUploaded($event)" [value]="inputValue" accept="image/*" multiple>
        </label>

        <h5>Maximum of 10 pictures for each itinerary</h5>
        <h5>If more than 10 pictures are uploaded, only the first 10 will be saved</h5>
        <!-- <h5>Optimal dimension for each pictures is w600px x h300px</h5> -->
      </div>


      <h3 class="manage-pic-header">Existing pictures</h3>

      <div *ngFor="let image of itinerary?.description.photos; let i = index" class="manage-pic">
        <div class="pic-div">
          <img src="{{image.url}}" alt="" [class.blur]="!image.status">
        </div>

        <div class="caption">
          <h5>Max characters 200 ({{captionA.value.length}} / 200)</h5>
          <textarea rows="2" maxlength="200" placeholder="Caption..." #captionA (keyup)="updateCaption(i, captionA.value)" auto-grow [value]="image.caption"></textarea>
        </div>

        <div class="status">
          <!-- <h5>Display order</h5>
          <h3>{{ image.order }}</h3> -->
          <h4 class="remove" *ngIf="image.status" (click)="updateStatus(image)">Remove</h4>
          <h4 class="add" *ngIf="!image.status" (click)="updateStatus(image)">Add</h4>
        </div>
      </div>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelManage()">Cancel</h5>
      <h5 class="action-response-primary" (click)="saveChanges()">Save</h5>
    </div>

  </div>
</div>

<div class="custom-modal" *ngIf="confirmPics">
  <div class="form-card">
    <div class="form-header">
      <h3>Confirm pictures to be uploaded</h3>
      <a (click)="cancelPics()">X</a>
    </div>

    <div class="content-without-header-name">

      <h4 class="limit-msg" *ngIf="limitMsg">* You have uploaded more than 10 pictures. Only the first 10 are selected.</h4>
      <h4 class="limit-msg" *ngIf="exceedMsg">* You have more than 10 pictures. Please select only 10 which you like to be displayed in the description.</h4>


      <h3 class="manage-pic-header">Existing pictures</h3>
      <!-- <h4 class="reorder">Reorder</h4> -->

      <div *ngFor="let image of itinerary?.description.photos; let i = index" class="manage-pic">
        <div class="pic-div">
          <img src="{{image.url}}" alt="" [class.blur]="!image.status">
        </div>

        <div class="caption">
          <h5>Max characters 200 ({{captionB.value.length}} / 200)</h5>
          <textarea rows="2" maxlength="200" placeholder="Caption..." #captionB (keyup)="updateCaption(i, captionB.value)" auto-grow [value]="image.caption"></textarea>
        </div>

        <div class="status">
          <!-- <h5>Display order</h5>
          <h3>{{ image.order }}</h3> -->
          <h4 class="remove" *ngIf="image.status" (click)="image.status = !image.status">Remove</h4>
          <h4 class="add" *ngIf="!image.status" (click)="image.status = !image.status">Add</h4>
        </div>

      </div>


      <h3 class="manage-pic-header">New pictures</h3>

      <div *ngFor="let pic of uploadedPics; let i = index" class="manage-pic">
        <div class="pic-div">
          <img [src]="pic.url" [class.blur]="!pic.status">          
        </div>

        <div class="caption">
          <h5>Max characters 200 ({{captionC.value.length}} / 200)</h5>
          <textarea rows="2" maxlength="200" placeholder="Caption..." #captionC (keyup)="createCaption(i, captionC.value)" auto-grow></textarea>
        </div>

        <div class="status">
          <!-- <h5>Display order</h5>
          <h3>{{ pic.order }}</h3> -->
          <h4 class="remove" *ngIf="pic.status" (click)="pic.status = !pic.status">Remove</h4>
          <h4 class="add" *ngIf="!pic.status" (click)="pic.status = !pic.status">Add</h4>
        </div>

      </div>

    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelPics()">Cancel</h5>
      <h5 class="action-response-primary" (click)="savePics()">Confirm</h5>
    </div>

  </div>
</div>
