<div class="description-main">

  <div class="description-photo" *ngIf="itinerary?.description.photos.length === 0">
    <img src="assets/description_photo.png" alt="">
    <a href="http://www.freepik.com/free-vector/world-tourism-day-background-with-monuments_915535.htm" target="_blank">Designed by Freepik</a>
  </div>

  <div *ngIf="itinerary?.description.photos.length > 0" class="description-slider">
    <div *ngFor="let photo of itinerary?.description.photos; let i = index" class="description-images">
      <input type="radio" name="slide_switch" id="image-{{i}}" [checked]="i === 0">
      <label for="image-{{i}}">
        <h5>{{ i + 1 }}</h5>
      </label>
      <img src="{{ photo.url }}" alt="">
    </div>
  </div>

  <div class="upload-picture" *ngIf="!preview">
    <label class="file-upload">
      Upload images (max 10)
      <input type="file" (change)="fileUploaded($event)" [value]="inputValue" accept="image/*" multiple>
    </label>
    <h5>optimal w600px x h300px</h5>
  </div>


  <div class="description-content">
    <div *ngIf="!editing">
      <i *ngIf="!preview" class="fa fa-pencil" aria-hidden="true" (click)="editing = true"></i>

      <h4 [innerHTML]="itinerary?.formatted_description"></h4>

      <div *ngIf="itinerary?.formatted_description === ''">
        <h4>You do not have a description at the moment.</h4>
        <h4>Is there a story to this trip? Pen it down so that you will never forget about it!</h4>
        <h4>This description will also appear in the PDF version of your itinerary.</h4>
      </div>
    </div>

    <div *ngIf="editing">
      <textarea #content rows="8"
        [value]="itinerary?.description.content"></textarea>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="editing = false">CANCEL</h5>
        <h5 class="action-response-primary" (click)="save(content.value)">SAVE</h5>
      </div>
    </div>

  </div>
</div>

<div class="custom-modal" *ngIf="confirmPics">
  <div class="form-card">
    <div class="form-header">
      <h3>Confirm pictures to be uploaded</h3>
      <a (click)="cancelPics()">X</a>
    </div>

    <div class="content-without-header-name">

      <h4 class="limit-msg" *ngIf="limitMsg">* You have uploaded more than 10 pictures. Only the first 10 are selected.</h4>
      <h4 class="limit-msg" *ngIf="exceedMsg">* You have more than 10 pictures. Please select only 10 which you like to be displayed in the description.</h4>

      <div *ngFor="let image of itinerary?.description.photos; let i = index">
        <img src="{{image.url}}" alt="" [class.blur]="!image.status">

        <div class="status">
          <!-- <h5>Display order</h5>
          <h4>{{ image.order }}</h4> -->
          <h4 class="remove" *ngIf="image.status" (click)="image.status = !image.status">Remove</h4>
          <h4 *ngIf="!image.status" (click)="image.status = !image.status">Add</h4>
        </div>

      </div>

      <div *ngFor="let pic of uploadedPics; let i = index">
        <img [src]="pic.url" [class.blur]="!pic.status">

        <div class="status">
          <!-- <h5>Display order</h5>
          <h4>{{ pic.order }}</h4> -->
          <h4 class="remove" *ngIf="pic.status" (click)="pic.status = !pic.status">Remove</h4>
          <h4 *ngIf="!pic.status" (click)="pic.status = !pic.status">Add</h4>
          <h5 class="new-pic"><i class="fa fa-check" aria-hidden="true"></i> NEW</h5>
        </div>

      </div>

    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelPics()">Cancel</h5>
      <h5 class="action-response-primary" (click)="savePics()">Confirm</h5>
    </div>

  </div>
</div>
