<div class="description-main">

  <div class="description-photo" *ngIf="itinerary?.description.photos.length === 0">
    <img src="assets/description_photo.png" alt="">
    <a href="http://www.freepik.com/free-vector/world-tourism-day-background-with-monuments_915535.htm" target="_blank">Designed by Freepik</a>
  </div>

  <div *ngIf="itinerary?.description.photos.length > 0" class="description-slider">
    <div *ngFor="let photo of itinerary?.description.photos; let i = index" class="description-images">
      <input type="radio" name="slide_switch" id="image-{{i}}" [checked]="i === 0">
      <label for="image-{{i}}">
        <h5>{{ i + 1 }}</h5>
      </label>
      <img src="{{ photo.url }}" alt="">
    </div>
  </div>

  <div class="manage-pics" (click)="managePictures()">
    <h5>Manage pictures</h5>
  </div>


  <div class="description-content">
    <div *ngIf="!editing">
      <i *ngIf="!preview" class="fa fa-pencil" aria-hidden="true" (click)="editing = true"></i>

      <h2 *ngIf="itinerary?.description.header">{{ itinerary?.description.header }}</h2>
      <h4 [innerHTML]="itinerary?.formatted_description"></h4>

      <div *ngIf="itinerary?.formatted_description === ''">
        <h4>You do not have a description at the moment.</h4>
        <h4>Is there a story to this trip? Pen it down so that you will never forget about it!</h4>
        <h4>This description will also appear in the PDF version of your itinerary.</h4>
      </div>
    </div>

    <div *ngIf="editing">
      <input type="text" #header [value]="itinerary?.description.header">
      <textarea #content rows="10"
        [value]="itinerary?.description.content"></textarea>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="editing = false">CANCEL</h5>
        <h5 class="action-response-primary" (click)="save(header.value, content.value)">SAVE</h5>
      </div>
    </div>

  </div>
</div>

<div class="custom-modal" *ngIf="managePics">
  <div class="form-card">
    <div class="form-header">
      <h3>Manage pictures</h3>
      <a (click)="cancelManage()">X</a>
    </div>

    <div class="content-without-header-name">

      <div class="upload-picture" *ngIf="!preview">
        <label class="file-upload">
          Upload new pictures
          <input type="file" (change)="fileUploaded($event)" [value]="inputValue" accept="image/*" multiple>
        </label>

        <h5>Maximum of 10 pictures for each itinerary</h5>
        <h5>If more than 10 pictures are uploaded, only the first 10 will be saved</h5>
        <!-- <h5>Optimal dimension for each pictures is w600px x h300px</h5> -->
      </div>


      <h3 class="manage-pic-header">Existing pictures</h3>
      <!-- <h4 class="reorder">Reorder</h4> -->

      <div *ngFor="let image of itinerary?.description.photos; let i = index">
        <img src="{{image.url}}" alt="" [class.blur]="!image.status">

        <div class="status">
          <!-- <h5>Display order</h5>
          <h3>{{ image.order }}</h3> -->
          <h4 class="remove" *ngIf="image.status" (click)="updateStatus(image)">Remove</h4>
          <h4 class="add" *ngIf="!image.status" (click)="updateStatus(image)">Add</h4>
        </div>

      </div>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelManage()">Cancel</h5>
      <h5 class="action-response-primary" (click)="saveChanges()" *ngIf="picDeleted">Save</h5>
    </div>

  </div>
</div>

<div class="custom-modal" *ngIf="confirmPics">
  <div class="form-card">
    <div class="form-header">
      <h3>Confirm pictures to be uploaded</h3>
      <a (click)="cancelPics()">X</a>
    </div>

    <div class="content-without-header-name">

      <h4 class="limit-msg" *ngIf="limitMsg">* You have uploaded more than 10 pictures. Only the first 10 are selected.</h4>
      <h4 class="limit-msg" *ngIf="exceedMsg">* You have more than 10 pictures. Please select only 10 which you like to be displayed in the description.</h4>


      <h3 class="manage-pic-header">Existing pictures</h3>
      <!-- <h4 class="reorder">Reorder</h4> -->

      <div *ngFor="let image of itinerary?.description.photos; let i = index">
        <img src="{{image.url}}" alt="" [class.blur]="!image.status">

        <div class="status">
          <!-- <h5>Display order</h5>
          <h3>{{ image.order }}</h3> -->
          <h4 class="remove" *ngIf="image.status" (click)="image.status = !image.status">Remove</h4>
          <h4 class="add" *ngIf="!image.status" (click)="image.status = !image.status">Add</h4>
        </div>

      </div>


      <h3 class="manage-pic-header">New pictures</h3>

      <div *ngFor="let pic of uploadedPics; let i = index">
        <img [src]="pic.url" [class.blur]="!pic.status">

        <div class="status">
          <!-- <h5>Display order</h5>
          <h3>{{ pic.order }}</h3> -->
          <h4 class="remove" *ngIf="pic.status" (click)="pic.status = !pic.status">Remove</h4>
          <h4 class="add" *ngIf="!pic.status" (click)="pic.status = !pic.status">Add</h4>
        </div>

      </div>

    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelPics()">Cancel</h5>
      <h5 class="action-response-primary" (click)="savePics()">Confirm</h5>
    </div>

  </div>
</div>
