.description-main {
  width: calc(100vw - 200px);

  @media only screen and (max-width: 1090px) {
    width: 100vw;
  }
}


/* default photo */

.description-photo img {
  height: 300px;
  width: 100%;

  @media only screen and (max-width: 610px) {
    min-width: 300px;
    height: calc((100vw / 3) * 2);
  }
}

.description-photo a  {
  position: absolute;
  margin-top: -15px;
  margin-left: 5px;
  font-size: 8px;
}




/* uploaded photos */

.description-slider {
  position: relative;
  height: calc((100vw - 200px) / 3);
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.8);

  @media only screen and (max-width: 610px) {
    min-width: 300px;
    height: calc(100vw / 2);
  }

  @media only screen and (min-width: 610px) and (max-width: 1090px) {
    height: calc(100vw / 3);
  }
}

.description-images {
  display: inline-block;
}




.description-images input[name='slide_switch'] {
  display: none;
}

.photo-caption  {
  position: absolute;
  margin-top: calc((100vw - 200px) / 3);
  left: 0;
  width: 100%;
  min-height: 33px;
  padding: 10px 0;
  padding-left: calc((100vw - 800px) / 2);
  padding-right: calc((100vw - 800px) / 2);
  background-color: rgba(0,0,0,.1);

  @media only screen and (max-width: 610px) {
    margin-top: calc(100vw / 2);
    padding: 10px;
  }

  @media only screen and (min-width: 610px) and (max-width: 1090px) {
    margin-top: calc(100vw / 3);
    padding-left: calc((100vw - 600px) / 2);
    padding-right: calc((100vw - 600px) / 2);
  }
}

.description-images label {
  margin: 0 3px;
  margin-top: calc((100vw - 50px) / 3);
  background-color: #E6E6E6;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: #567FCC;
  }

  @media only screen and (max-width: 610px) {
    margin-top: calc((100vw / 2) + 80px);
  }

  @media only screen and (min-width: 610px) and (max-width: 1090px) {
    margin-top: calc((100vw / 3) + 50px);
  }
}

.description-images > label > h5  {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-top: 5px;
  color: #F9FBFB;
}

.description-images img {
  position: absolute;
  top: 0;
  left: 0;
  height: calc((100vw - 200px) / 3);
  width: 100%;
  object-fit: contain;

  transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms;

  @media only screen and (max-width: 610px) {
    min-width: 300px;
    height: calc(100vw / 2);
  }

  @media only screen and (min-width: 610px) and (max-width: 1090px) {
    height: calc(100vw / 3);
  }
}




.description-images input[name='slide_switch']:checked~label  {
  background-color: #6494ED;
}

.description-images input[name='slide_switch'] ~ img,
.description-images input[name='slide_switch'] ~ h5  {
	opacity: 0;
	transform: scale(1.01);
}

.description-images input[name='slide_switch']:checked~img,
.description-images input[name='slide_switch']:checked~h5 {
	opacity: 1;
	transform: scale(1);
  z-index: 2;
}




/* manage pictures button */

.manage-pics {
  position: absolute;
  margin-top: -25px;
  margin-left: calc(((100vw - 800px) /2) + 580px);
  padding: 3px 10px;
  background-color: #6494ED;
  border-radius: 5px;
  border: 1px solid #F9FBFB;
  z-index: 3;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }

  @media only screen and (max-width: 610px) {
    margin-left: calc(100vw - 125px);
  }
}

.manage-pics h5 {
  color: #F9FBFB;
}





/* description content */

.description-content  {
  padding: 100px 0 60px 0;
  padding-left: calc((100vw - 800px) /2);
  padding-right: calc((100vw - 800px) /2);
  min-height: calc(100vh - 380px);
  background-color: white;

  @media only screen and (max-width: 610px) {
    padding: 120px 20px 60px 20px;
  }

  @media only screen and (min-width: 610px) and (max-width: 1090px) {
    padding-left: calc((100vw - 600px) /2);
    padding-right: calc((100vw - 600px) /2);
  }
}

.description-content h4 {
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

.description-content > div > div > h4 {
  padding-bottom: 10px;
}

.creator  {
  padding-bottom: 30px;
}

.external-link  {
  padding: 5px 0 0 10px;
}

.external-link *  {
  display: inline-block;
  color: #6494ED;
}



/* edit */

.edit-description {
  position: relative;
  text-align: right;
}

.fa-cog  {
  margin: -25px 20px 0 0;
  float: right;
  color: #A6A6A6;

  &:hover {
    cursor: pointer;
    color: #3A4A4D;
  }

  @media only screen and (max-width: 450px) {
    margin: -10px 5px 0 0;
  }
}

.item-menu  {
  top: -10px;
  right: 20px;
}

.item-menu li {
  text-align: left;
}

.section  {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid lightgray;
}

.section-tracker h4 {
  display: inline-block;
  font-weight: 600;
}

.section-tracker h5 {
  float: right;
  color: red;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.add-section  {
  margin-bottom: 20px;
  color: #6494ED;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}




/* modals */

.form-card  {
  @media only screen and (min-width: 450px) {
    width: 450px;
    left: calc((100vw - 450px) /2);
  }
}

.form-header  {
  @media only screen and (min-width: 450px) {
    width: 450px;
  }
}

.custom-modal img {
  height: 120px;

  @media only screen and (max-width: 450px) {
    margin-left: 0;
    height: calc((100vw - 50px) / 3);
  }
}

.content-without-header-name  {
  @media only screen and (max-width: 450px) {
    padding: 40px 20px;
  }
}



.manage-pic-header {
  padding: 10px 0 5px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.manage-pic  {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.pic-div  {
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(0,0,0,.8);
}

// .reorder  {
//   position: absolute;
//   width: auto;
//   margin-top: -40px;
//   margin-left: 235px;
// }

.content-without-header-name .status {
  margin-bottom: 20px;
}

// .status h5  {
//   margin: 5px 10px 0 10px;
//   text-align: center;
// }
//
// .status h3  {
//   margin: 0 10px;
//   padding: 5px 0 15px 0 ;
//   text-align: center;
// }

.status h4 {
  margin: 5px 8px;
  padding: 5px 10px;
  width: 75px;
  vertical-align: top;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}






/* modal for managing photos */


/* upload picture button */

.upload-picture {
  margin-bottom: 40px;
}

.upload-picture h5 {
  padding: 0 0 5px 10px;
}

.file-upload {
  overflow: hidden;
  position: relative;
  padding: 1px 10px;
  color: #F9FBFB;
  font-size: 13px;
  background-color: #6494ED;
  border: 2px solid #F9FBFB;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.file-upload [type=file] {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file-upload input  {
  &:hover {
    cursor: pointer;
  }
}


/* display existing pictures */






/* modal for uploading photos */

.limit-msg  {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
}




/* add / remove photo */

.blur {
  opacity: .3;
}

.remove {
  color: red;
}

.add  {
  color: #19CC72;
}
