<a class="cancel-auth" (click)="cancelAuth()">X</a>
<h3 class="sign-up-form-header">Experience the ease of travel planning now!</h3>

<ww-auth 
  [reroute]="reroute"
  [itinerary]="itinerary"></ww-auth>

<h5>--- or ---</h5>

<h3 class="sign-up-header">Sign up with us now!</h3>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <label>Username</label>
  <input type="text" formControlName="username">
  <span class="form-validator"
    *ngIf="signupForm.get('username').touched && signupForm.get('username').invalid">Username is required</span>

  <label>Email</label>
  <input type="text" #email formControlName="email">
  <span class="form-validator"
    *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">Invalid email address</span>

  <label>Password <span class="label-note"> ( at least 6 characters )</span></label>
  <input type="password" #password formControlName="password">
  <span class="form-validator"
    *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid">Password is not valid. Please enter at least 6 characters</span>

  <label>Confirm Password</label>
  <input type="password" #confirmPassword formControlName="confirmPassword">
  <span class="form-validator"
    *ngIf="signupForm.get('confirmPassword').dirty && signupForm.get('confirmPassword').invalid">Passwords do not match</span>

  <button type="submit" class="action-response-primary" [disabled]="!signupForm.valid"><h4>Sign Up Now</h4></button>

</form>
