.sign-up-form-header  {
  text-align: center;
  margin-bottom: 20px;
}

a.cancel-auth {
  float: right;
  color: grey;
}

h5  {
  margin: 20px 0;
  text-align: center;
}

.sign-up-header {
  margin-bottom: 10px;
  text-align: center;
}

button.action-response-primary  {
  width: 100%;
}
