
h5  {
  margin: 20px 0;
  text-align: center;
}

.sign-up-header {
  margin-bottom: 10px;
  text-align: center;
}

button.action-response-primary  {
  width: 100%;
}


.action-response  {
  margin-top: 20px;
}

.action-response h5 {
  margin: 0;
}
