<div class="logo" [routerLink]="['/']">
  <img src="assets/wondererwanderer_logo.png" alt="">
</div>

<div class="header">
  <h1>About wondererwanderer</h1>
  <hr class="header-separator">
</div>

<div class="tagline">
  <h1>We make travel planning easier</h1>
</div>

<div class="main-container">
  <h3>We understand the pains of travel planning, the amount of time spend on research, the difficulties in organising the travel details and getting everyone on the same page. It is one of the reasons why many people fear travel planning.</h3>
  <h3>wondererwanderer is a platform that simplifies the planning process, making it easier to create activities in your itinerary and automatically organises them in a meaningful way.</h3>
  <h3>We also believe the good things in life should be shared. We make it easy for you to customise and share your itineraries with your friends. We have heard the phrase "share with me your itinerary" so many times and we make it happen. </h3>
  <h3>There are so many things that we are going to implement to make the process even easier. This is just the beginning. We are excited and you should be too.</h3>

  <div class="social">
    <h4>Connect with us for updates and inspirations</h4>
    <a href="https://www.instagram.com/_wonderer_wanderer_/" target="_blank">
      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
    </a>

    <a href="https://www.facebook.com/wondererwanderer.travel" target="_blank">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
  </div>
</div>
