<div class="search-result-card">
  <ww-user-profile-card [user]="pendingFollower.user" [currentUser]="currentUser"></ww-user-profile-card>

  <div class="follow-button">
    <div class="action-response" *ngIf="!pendingFollower.responded">
      <h5 class="action-response-secondary" (click)="ignoreRequest()">IGNORE</h5>
      <h5 class="action-response-primary" (click)="acceptRequest()">ACCEPT</h5>
    </div>
    <div class="response-status" *ngIf="pendingFollower.responded">
      <h5 *ngIf="pendingFollower.request_accepted">Request Accepted</h5>
      <h5 *ngIf="pendingFollower.request_ignored">Request Ignored</h5>
    </div>
  </div>
</div>
