.loading-overlay  {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: calc(100vh - 1px);
  overflow-y: auto;
  z-index: 5000;
}
