<div class="search-result-card">
  <img src="{{ following.following.display_picture }}" alt="" class="user-profile-thumbnail">
  <div class="user-details">
    <h4 class="user-username">{{ following.following.username }}</h4>
    <h5 class="user-search-description">{{ following.following.description }}</h5>
  </div>

  <div class="follow-button">
    <div class="following-response">
      <h5 class="already-following">Following</h5>
      <h5 class="unfollow" (click)="unfollow()">Stop following</h5>
    </div>
  </div>
</div>
