.side-nav {
  position: fixed;
  height: 100vh;
  width: 200px;
  padding: 20px 0;
  text-align: right;
  background-color: white;
  border-right: 1px solid lightgray;
}

.side-nav img {
  width: 180px;
  padding-right: 10px;
}

.admin-header {
  padding: 10px;
  border-bottom: 4px double lightgray;
}

.admin-header > * {
  padding-bottom: 10px;
}




// nav
header {
  @media only screen and (max-width: 420px) {
    display: none;
  }

  @media only screen and (min-width: 420px) and (max-width: 1090px) {
    position: fixed;
    display: block;
    bottom: -4px;
    left: 40px;
    width: calc(100vw - 80px);
    height: 44px;
    z-index: 500;
  }
}

.show-nav {
  position: fixed;
  display: block;
  top: 80px;
  height: calc(100vh - 80px);
  width: 100vw;
  z-index: 500;
}


.admin-nav-tabs {
  position: fixed;
  left: 0;
  top: 150px;
  padding: 0;
  height: calc(100vh - 150px);
  width: 200px;
  letter-spacing: 1px;

  @media only screen and (max-width: 1090px) {
    position: static;
    width: 100%;
    padding: 0 5px;
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    border: none;
    border-top: 1px solid lightgray;
  }

  @media only screen and (max-width: 420px) {
    height: calc(100vh - 80px);
    padding-top: 10px;
  }
}

.admin-nav-tabs > li  {
  padding: 10px 0 10px 10px;
  text-align: right;

  @media only screen and (max-width: 420px) {
    display: block;
  }

  @media only screen and (min-width: 420px) and (max-width: 1090px) {
    display: inline-block;
    padding: 10px;
  }
}

.admin-nav-tabs > li > a {
  padding: 10px;
  color: #3A4A4D;
  border-radius: 0;
  text-decoration: none;

  &:hover {
    color: white;
    background-color: #6494ED;
  }

  @media only screen and (max-width: 1090px) {
    &:hover {
      color: white;
      background-color: #6494ED;
      border-top: 5px solid #6494ED;
    }
  }
}

.admin-nav-tabs > li.active > a {
  color: #6494ED;
  font-weight: bold;
  border-right: 6px solid #6494ED;

  &:hover {
    background-color: white;
  }

  @media only screen and (max-width: 1090px) {
    border-top: 6px solid #6494ED;
    border-right: none;
  }

  @media only screen and (max-width: 420px) {
    border: none;
  }
}

/* to display horizontal scrollbar */
.admin-nav-tabs::-webkit-scrollbar {
  @media only screen and (max-width: 1090px) {
    -webkit-appearance: none;
  }
}





// add new options
.add-new  {
  @media only screen and (max-width: 420px) {
    display: none !important;
  }
}


.fa-plus  {
  padding: 5px 4px 4px 5px;
  border: 2px solid;
  border-radius: 50%;
}

.add-new-modal .form-card {
  width: 400px;
  top: 40px;
  left: calc((100vw - 400px) /2);

  @media only screen and (max-width: 450px) {
    width: 100%;
    min-width: 300px;
    max-height: 100vh;
    left: 0;
  }
}

.add-new-modal .form-header  {
  width: 400px;

  @media only screen and (max-width: 450px) {
    width: 100%;
    min-width: 300px;
  }
}

.add-new-modal h4 {
  margin-bottom: 20px;
  padding: 10px;
  width: 320px;
  text-align: center;
  color: #567FCC;
  border: 2px solid #567FCC;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    color: #F9FBFB;
    background-color: #6494ED;
    border: 2px solid #6494ED;
  }

  @media only screen and (max-width: 450px) {
    width: calc(100vw - 80px);
    min-width: 220px;
  }
}





// display nav in mobile
.add-new-button {
  display: none;

  @media only screen and (max-width: 420px) {
    position: fixed;
    display: block;
    padding: 10px;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100px;
    z-index: 500;
    background-color: white;
    border-top: 1px solid lightgray;
  }
}

.add-new-button a {
  color: #3A4A4D;
}


.show-nav-menu  {
  display: none;
  @media only screen and (max-width: 420px) {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 40px;
    padding: 10px 18px;
    background-color: white;
    border-top: 1px solid lightgray;
    z-index: 500;

    &:hover {
      cursor: pointer;
    }
  }
}

.current-route  {
  display: none;

  @media only screen and (max-width: 420px) {
    position: fixed;
    display: block;
    padding: 10px;
    bottom: 0;
    left: 100px;
    height: 40px;
    width: calc(100vw - 150px);
    text-align: center;
    letter-spacing: 1px;
    background-color: white;
    border-top: 5px solid #567FCC;
    z-index: 500;
  }
}

.current-route h4 {
  color: #567FCC;
}

.nav-active {
  background-color: firebrick;
  border-top: 1px solid firebrick;
}

.fa-minus {
  color: #F9FBFB;
}





// nav main

.admin-main {
  position: absolute;
  left: 200px;
}
