/*********************************
  accommodation/transport section
*********************************/
.section  {
  margin-bottom: 15px;
}

.sectionHeader  {
  padding: 10px 20px;
  border-bottom: 4px solid #6494ED;
  border-top: 2px solid #6494ed;
}

.sectionHeader > h4,
.sectionHeader > a  {
  display: inline-block;
}

.sectionHeader > a  {
  float: right;
}

.new  {
  margin-right: 10px;
  padding: 1px 20px;
  color: white;
  background-color: #6495ED;
  border: 1px solid #6495ED;
  border-radius: 3px;
  &:hover {
    text-decoration: none;
    color: #6495ED;
    background-color: white;
  }
}

/******************************
  accommodation/transport form
******************************/
.custom-modal {
  background-color: rgba(0,0,0,0.6);
}
