/*********************************
  accommodation/transport section
*********************************/
.accommodation-list,
.transport-list  {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}

ww-accommodation,
ww-transport  {
  display: flex;
}

.section  {
  margin-bottom: 15px;
}

.sectionHeader  {
  padding: 10px 20px;
  border-bottom: 4px solid #6494ED;
  border-top: 2px solid #6494ed;
}

.sectionHeader > h4,
.sectionHeader > a  {
  display: inline-block;
}

.sectionHeader > a  {
  float: right;
}

.new  {
  display: inline-block;
  margin-right: 10px;
  padding: 1px 20px;
  font-size: 0.9em;
  color: white;
  background-color: #6495ED;
  border: 1px solid #6495ED;
  border-radius: 3px;
  float: right;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #6495ED;
    background-color: white;
  }

  @media only screen and (max-width: 700px) {
    display: none;
    float: none;
  }
}

.new-mobile {
  display: none;

  @media only screen and (max-width: 700px) {
    display: block;
    margin: 5px 0;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}

/******************************
  accommodation/transport form
******************************/
.custom-modal {
  background-color: rgba(0,0,0,0.6);
}
