.resource-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  padding-top: 20px;
  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

ww-resource {
  display: flex;
}
