<div class="custom-modal" *ngIf="showResourceSummary" (click)="showSummary()"></div>

<div *ngIf="totalResources" class="event-summary-section" [class.show-summary]="showResourceSummary">

  <h4 class="event-summary-header">Resource List - {{ totalResources }}</h4>
  <h5 class="close-pop-up" (click)="showSummary()">X</h5>

  <select class="event-summary-filter" [(ngModel)]="selectedCategory" (ngModelChange)="filter($event)">
    <option *ngFor="let category of categories" [value]="category">
      <h5>{{ category }}</h5>
    </option>
  </select>
  <i class="fa fa-sort-desc" aria-hidden="true"></i>


  <div class="event-summary">
    <div *ngFor="let resource of filteredResources; let i = index" class="event-summary-item" (click)="centerItem(resource)" [class.highlighted-item]="highlightedEvent === resource">

      <a href="#resource{{i}}">
        <div class="resource-summary-category" *ngIf="resource?.category">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <h5>{{ resource.category }}</h5>
        </div>

        <h5 class="index">{{i+1}}</h5>
        <h5 class="resource-summary-title">{{ resource.title }}</h5>
        <h5 class="resource-summary-content"> {{ resource.content }}</h5>
        <h5 class="resource-summary-link truncate"><a class="website-link" href="{{ resource?.link_url }}" target="_blank">{{ resource.link_url }}</a></h5>
      </a>

    </div>
  </div>

</div>

<div *ngIf="!totalResources && !preview" class="nil-event-message">
  <img class="img-example" src="assets/arrow.png" alt="">
  <h4>This is a dedicated section for all your resources.</h4>
  <h4>This includes website links you are interested in or a note for your travel.</h4>

  <div class="add-opt" (click)="addResource = true">
    <i class="fa fa-clone fa-3x" aria-hidden="true"></i>
    <h4>Add new resource</h4>
  </div>

  <h4>You can also add a new resource by selecting from the "ADD NEW" tab.</h4>
  <h4 class="nil-event-message-mobile">You can access the "ADD NEW" tab at the bottom of the screen.</h4>
</div>

<div *ngIf="!totalResources && preview" class="nil-event-message">
  <img class="img-example" src="assets/arrow.png" alt="">
  <h4>This is no resource in this itinerary.</h4>
  <h4>You can copy this itinerary and add your own resources, such as website links or notes.</h4>
</div>

<div class="event-list">
  <ww-resource
    *ngFor="let resource of filteredResources; let i = index"
    id="resource{{i}}"
    [index]="i"
    [resource]="resource"
    [preview]="preview"
    [class.highlighted-event]="highlightedEvent === resource"
    [itinerary]="itinerary"
    [totalResources]="totalResources">
  </ww-resource>
</div>

<div class="list-short-cut" *ngIf="totalResources">
  <h4 (click)="showSummary()">
    <i class="fa fa-list" aria-hidden="true"></i>
    RESOURCE LIST
    <i class="fa fa-level-up" aria-hidden="true"></i>
  </h4>
</div>

<div *ngIf="addResource" class="custom-modal">
  <ww-resource-input (hideResourceForm)="hideResourceForm($event)"></ww-resource-input>
</div>
