.resource-summary-category  {
  display: inline-block;
  margin-right: 10px;
}

.resource-summary-category * {
  display: inline-block;
  color: #3A4A4D;
}

.resource-summary-title {
  margin-bottom: 10px;
  padding: 5px 10px 0 10px;
  font-weight: 500;
}

.resource-summary-content {
  margin-bottom: 5px;
  padding: 0 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.resource-summary-link {
  padding: 0 10px 20px 10px;
}
