.fav-header  {
  position: absolute;
  margin-left: calc((-100vw + 600px)/2);
  height: 40px;
  width: 100vw;
  text-align: center;
  background-color: #6494ED;

  @media only screen and (max-width: 650px) {
    position: absolute;
    margin-left: 0;
  }
}

.fav-header *  {
  display: inline-block;
  color: #F9FBFB;
}

.fav-stats {
  margin: 0 10px;
  padding: 10px 0;
}

.fav-stats h5  {
  vertical-align: text-top;
}

.fa-search-plus {
  vertical-align: 0;
}

.select-favs,
.select-country {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}




/* drop downs */

.country-dropdown,
.fav-dropdown {
  position: absolute;
  margin-top: 40px;
  margin-left: calc(((-100vw + 600px)/2) + ((100vw - 280px) / 2));
  width: 280px;
  max-height: calc(100vh - 150px);
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 2;

  @media only screen and (max-width: 650px) {
    margin-left: calc((100vw - 280px) /2);
  }
}

.fav-dropdown::-webkit-scrollbar,
.country-dropdown::-webkit-scrollbar {
  background-color: rgba(100, 148, 237, 0.3);
  width: 8px;
}

.fav-dropdown::-webkit-scrollbar-thumb,
.country-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(100, 148, 237, 0.9);
}

.country-dropdown-arrow,
.fav-dropdown-arrow  {
  position: relative;
  top: -8px;
  margin-top: 40px;
  margin-left: calc((((-100vw + 600px)/2) + ((100vw - 280px) / 2)) + 215px);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;

  @media only screen and (max-width: 650px) {
    margin-left: calc(((100vw - 280px) /2) + 215px);
  }
}

.fav-dropdown-arrow {
  margin-left: calc((((-100vw + 600px)/2) + ((100vw - 280px) / 2)) + 40px);
}

.country-dropdown h4  {
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.fav-dropdown {
  text-align: left;
}

.fav-dropdown > div {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}




/* details display */

.fav-dropdown h4  {
  padding: 5px 0;
}

.fav-itinerary {
  padding-top: 10px;
}

.fav-itinerary * {
  display: inline-block;
  color: #6494ED;
  &:hover {
    text-decoration: underline;
  }
}





#map  {
  position: absolute !important;
  top: 40px;
  // position: fixed !important;
  // top: 300px;
  margin-left: calc((-100vw + 600px)/2);
  width: 100vw;
  height: calc(100vh - 90px);

  @media only screen and (max-width: 650px) {
    // position: absolute !important;
    // top: 40px;
    margin-left: 0;
  }
}
