<div class="itinerary">

  <div class="heading">

    <h3 class="itinearary-name">{{ itinerary?.name }}   |   </h3>

    <div class="itinerary-date">
      <h5><i class="fa fa-calendar" aria-hidden="true"></i> {{ itinerary?.dateFrom | date:'dd MMM yyyy' }} to {{ itinerary?.dateTo | date:'dd MMM yyyy' }}</h5>
    </div>

    <div class="itinerary-edit">
      <a (click)="editDetails()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    </div>

  </div>

  <div class="members">
    <div class="members-count">
      <h4><i class="fa fa-user-plus" aria-hidden="true" (click)="getUsers()"></i> {{ itinerary?.members.length }}</h4>
    </div>
    <div *ngFor="let member of itinerary?.members" class="member">
      <div class="tool-tip">
        <img src="{{ member.displayPic }}" alt="display picture for {{ member.username }}" class="user-profile-thumbnail">
        <span class="tool-tiptext">{{ member.username }}</span>
      </div>
    </div>
  </div>

  <ww-itinerary-events></ww-itinerary-events>

</div>

<div class="custom-modal" *ngIf="showActivities" (click)="showCollapseActivities()"></div>

<div class="activity-collapse-dropdown">
  <i class="fa fa-list fa-2x" aria-hidden="true" (click)="showCollapseActivities()"></i>
</div>

<div class="activity-collapse-list" [class.show-collapse-activities]="showActivities">
  <ww-activity-collapse-list></ww-activity-collapse-list>
</div>

<!-- edit itinerary form modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Editing itinerary {{ itinerary?.name }}</h3>
        <a (click)="cancelEdit()">x</a>
      </div>

      <form [formGroup]="basicDetailsForm" (ngSubmit)="saveDetails()">
        <label>Itinerary Name</label>
        <input type="text" formControlName="name" [value]="itinerary.name">

        <div class="itinerary-date">
          <label>Travel Date From</label>
          <input type="date" formControlName="dateFrom" [value]="itinerary?.dateFrom | date: 'yyyy-MM-dd'">
        </div>

        <div class="itinerary-date">
          <label>Travel Date To</label>
          <input type="date" formControlName="dateTo" [value]="itinerary?.dateTo | date: 'yyyy-MM-dd'">
        </div>

        <div class="save-option">
          <button type="button" class="deleteButton" (click)="cancelEdit()">Cancel edit</button>
          <button type="submit" class="primaryButton" [disabled]="!basicDetailsForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
        </div>
      </form>

      <div class="delete-itin-button">
        <button type="button" class="deleteButton" (click)="confirmDelete()">Delete this itinerary</button>
      </div>

    </div>
  </div>
</div>

<!-- delete itinerary modal -->
<div class="custom-modal" *ngIf="deleteItinerary">
  <div class="confirm-delete">

    <div class="confirm-delete-header">
      <h4>Delete itinerary {{ itinerary?.name }}</h4>
      <a (click)="cancelDelete()">x</a>
    </div>

    <h4 class="confirm-delete-content">Deleting itinerary <span class="confirm-delete-name">{{ itinerary?.name }}</span> will permanently remove it from your list of itineraries.</h4>

    <div class="confirm-delete-footer">
      <button type="button" (click)="cancelDelete()">Cancel delete</button>
      <button type="button" class="deleteButton" (click)="onDeleteItinerary()">Yes, delete {{ itinerary?.name }}</button>
    </div>

  </div>
</div>

<!-- show users to add members modal -->
<div class="custom-modal" *ngIf="showUsers">
  <div class="show-users">

    <div class="show-users-header">
      <h4>Add members to the itinerary</h4>
      <a (click)="cancelShowUsers()">x</a>
    </div>

    <div *ngFor="let user of users" class="user-card">
      <img src="{{ user.displayPic }}" alt="" class="user-profile-thumbnail">
      <div class="user-details">
        <h5 class="user-username">{{ user.username }}</h5>
        <h6 class="user-search-description">{{ user.description }}</h6>
      </div>
      <input class="add-member" type="checkbox" (click)="toggleAdd(user)">
    </div>

    <div class="show-users-footer">
      <button type="button" (click)="cancelShowUsers()">Cancel add member</button>
      <button type="button" class="primaryButton" (click)="addMembers()" [disabled]="!validAddUser">Add members</button>
    </div>
  </div>
</div>
