/* not valid access */

.not-valid-access {
  text-align: center;
}

.not-valid-access *  {
  padding-bottom: 10px;
}



/* preview message */

.preview-message  {
  position: fixed;
  top: 40px;
  left: 200px;
  padding: 10px;
  min-height: 40px;
  width: 780px;
  background-color: firebrick;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 4;

  @media only screen and (max-width: 780px) {
    left: 0;
    width: 100vw;
    text-align: justify;
  }

  @media only screen and (min-width: 780px) and (max-width: 1090px) {
    left: 0;
    width: 100vw;
    text-align: center;
  }
}

.preview-message h4 {
  color: #F9FBFB;

  @media only screen and (max-width: 780px) {
    width: 85vw;
  }
}

.preview-message h5 {
  position: absolute;
  margin: -5px 0 0 755px;
  color: #A6A6A6;

  &:hover {
    cursor: pointer;
    color: #F9FBFB;
  }

  @media only screen and (max-width: 780px) {
    margin-left: 0;
    right: 10px;
  }

  @media only screen and (min-width: 780px) and (max-width: 1090px) {
    margin-left: 0;
    right: calc((100vw - 780px) / 2);
  }
}




/* itinerary main */

.itinerary  {
  @media only screen and (min-width: 1090.1px)  {
    position: absolute;
    width: calc(100vw - 210px);
    margin-left: 200px;
  }
}

.itinerary-header  {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100vw;
  padding: 8px 10px 10px 200px;
  height: 40px;
  overflow: auto;
  background-color: #6494ED;
  z-index: 3;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 690px) {
    width: 100%;
    padding: 10px;
  }

  @media only screen and (max-width: 1090px) {
    width: 100%;
    padding: 10px;
  }
}

.itinerary-header::-webkit-scrollbar {
    -webkit-appearance: none;
}

.itinerary-header::-webkit-scrollbar-corner {
  background-color: #6494ED;
}

.itinerary-header::-webkit-scrollbar:horizontal {
  height: 1px;
}

.itinerary-name {
  display: inline-block;
  margin-bottom: 5px;
  color: #F9FBFB;
  font-family: 'Raleway', sans-serif;

  @media only screen and (max-width: 690px) {
    font-size: 1.2em;
    vertical-align: -webkit-baseline-middle;
    overflow: auto;
    white-space: nowrap;
  }
}

.preview-header  {
  font-size: 10px;
  color: firebrick;
  vertical-align: middle;
}

.itinerary-date {
  padding-left: 15px;
  font-size: .8em;
}



/* members section */

.members-section  {
  position: fixed;
  left: 0;
  top: 80px;
  padding: 10px;
  height: 80px;
  width: 200px;
  text-align: right;
  background-color: white;
  border-right: 2px solid lightgray;
  z-index: 1;

  @media only screen and (max-width: 1090px) {
    display: none;
  }
}

.invite-members-header {
  padding: 10px 0;
  color: grey;
  letter-spacing: .5px;

  &:hover {
    cursor: pointer;
    color: #3A4A4D;
    font-style: italic;
  }
}

img.user-profile-thumbnail  {
  display: inline-block;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

.show-more-members > h6 {
  padding-top: 5px;
  font-style: italic;
  color: #6494ED;
  clear: both;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



/* individual member display */

.member {
  display: inline-block;
  float: right;
}

.tool-tip {
    position: relative;
}

.tool-tip .tool-tiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    font-size: 0.8em;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 110%;
}

.member:first-of-type .tool-tip .tool-tiptext  {
  left: -260%;
}

.member:nth-of-type(2) .tool-tip .tool-tiptext,
.member:nth-of-type(3) .tool-tip .tool-tiptext,
.member:nth-of-type(4) .tool-tip .tool-tiptext  {
  left: -130%;
}

.member:nth-of-type(5) .tool-tip .tool-tiptext  {
  left: -5%;
}

.member:nth-of-type(1) .tool-tip .tool-tiptext::after  {
  left: 90%;
}

.member:nth-of-type(5) .tool-tip .tool-tiptext::after  {
  left: 12%;
}

.tool-tip .tool-tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tool-tip:hover .tool-tiptext {
    visibility: visible;
}



/* shift member display if preview is true */

.mt {
  margin-top: 30px;
}

.bt {
  bottom: 70%
}



/* members-section @ less than 680px */
.show-members .form-card  {
  top: 40px;
}

.current-members  {
  margin-top: 50px;
}

.member-mobile  {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid lightgray;
  overflow: auto;
}



/* Itinerary navigation */

header {
  @media only screen and (max-width: 420px) {
    display: none;
  }

  @media only screen and (min-width: 420px) and (max-width: 1090px) {
    position: fixed;
    display: block;
    bottom: -4px;
    left: 40px;
    width: calc(100vw - 80px);
    height: 44px;
    z-index: 500;
  }
}

.show-nav {
  position: fixed;
  display: block;
  top: 80px;
  height: calc(100vh - 80px);
  width: 100vw;
  z-index: 500;
}

.show-nav-menu  {
  display: none;
  @media only screen and (max-width: 420px) {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 40px;
    padding: 10px 18px;
    background-color: white;
    border-top: 1px solid lightgray;
    z-index: 500;

    &:hover {
      cursor: pointer;
    }
  }
}

.nav-active {
  background-color: firebrick;
  border-top: 1px solid firebrick;
}

.fa-minus {
  color: #F9FBFB;
}


/* left/right nav scoll in mobile */

.scroll-left,
.scroll-right {
  display: none;

  @media only screen and (min-width: 420px) and (max-width: 1091px) {
    position: fixed;
    display: block;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color: white;
    border-top: 1px solid lightgray;
    z-index: 500;
    &:hover {
      cursor: pointer;
    }
  }
}


.scroll-left  {
  left: 0;
}



/* nav  tabs */

.itinerary-nav-tabs {
  position: fixed;
  left: 0;
  top: 160px;
  padding: 0;
  height: calc(100vh - 160px);
  width: 200px;
  letter-spacing: 1px;
  background-color: white;
  border-right: 2px solid lightgray;

  @media only screen and (max-width: 1090px) {
    position: static;
    width: 100%;
    padding: 0 5px;
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    border: none;
    border-top: 1px solid lightgray;
  }

  @media only screen and (max-width: 420px) {
    height: calc(100vh - 80px);
    padding-top: 10px;
  }
}

.itinerary-nav-tabs > li  {
  padding: 10px 0 10px 10px;
  text-align: right;

  @media only screen and (max-width: 420px) {
    display: block;
  }

  @media only screen and (min-width: 420px) and (max-width: 1090px) {
    display: inline-block;
    padding: 10px;
  }
}

.itinerary-nav-tabs > li > a {
  padding: 10px;
  color: #3A4A4D;
  border-radius: 0;
  text-decoration: none;

  &:hover {
    color: white;
    background-color: #6494ED;
  }

  @media only screen and (max-width: 1090px) {
    &:hover {
      color: white;
      background-color: #6494ED;
      border-top: 5px solid #6494ED;
    }
  }
}

.itinerary-nav-tabs > li.active > a {
  color: #6494ED;
  font-weight: bold;
  border-right: 6px solid #6494ED;

  &:hover {
    background-color: white;
  }

  @media only screen and (max-width: 1090px) {
    border-top: 6px solid #6494ED;
    border-right: none;
  }

  @media only screen and (max-width: 420px) {
    border: none;
  }
}

.members-icon-mobile {
  display: none;

  @media only screen and (max-width: 1090px) {
    display: block;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: #6494ED;
      border-top: 2px solid #6494ED;
    }
  }
}

.copy-itinerary > a {
  color: firebrick !important;
  font-weight: 500;

  &:hover {
    color: #F9FBFB !important;
    background-color: firebrick !important;
    border-top: 5px solid firebrick !important;
  }
}



/* display in mobile < 420px */

.add-new,
.copy-itinerary  {
  @media only screen and (max-width: 420px) {
    display: none !important;
  }
}

.add-new-button,
.copy-button {
  display: none;

  @media only screen and (max-width: 420px) {
    position: fixed;
    display: block;
    padding: 10px;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100px;
    z-index: 500;
    background-color: white;
    border-top: 1px solid lightgray;
  }
}

.add-new-button a {
  color: #3A4A4D;
}

.copy-button  {
  padding: 7px 10px;
  text-align: center;
}

.copy-button h5 {
  color: firebrick;
  font-weight: 500;
}

.current-route  {
  display: none;

  @media only screen and (max-width: 420px) {
    position: fixed;
    display: block;
    padding: 10px;
    bottom: 0;
    left: 100px;
    height: 40px;
    width: calc(100vw - 150px);
    text-align: center;
    letter-spacing: 1px;
    background-color: white;
    border-top: 5px solid #567FCC;
    z-index: 500;
  }
}

.current-route h4 {
  color: #567FCC;
}

/* to display horizontal scrollbar */
.itinerary-nav-tabs::-webkit-scrollbar {
  @media only screen and (max-width: 1090px) {
    -webkit-appearance: none;
  }
}
// .itinerary-nav-tabs::-webkit-scrollbar:horizontal {
//     height: 8px;
// }
// .itinerary-nav-tabs::-webkit-scrollbar-thumb {
//     border-radius: 8px;
//     background-color: rgba(0, 0, 0, .5);
// }
// .itinerary-nav-tabs::-webkit-scrollbar-track {
//     background-color: #fff;
//     border-radius: 8px;
// }




/* show options to add new item */

.fa-plus  {
  padding: 5px 4px 4px 5px;
  border: 2px solid;
  border-radius: 50%;
}

.add-new-modal .form-card {
  width: 400px;
  top: 40px;
  left: calc((100vw - 400px) /2);

  @media only screen and (max-width: 450px) {
    width: 100%;
    min-width: 300px;
    max-height: 100vh;
    left: 0;
  }
}

.add-new-modal .form-header  {
  width: 400px;

  @media only screen and (max-width: 450px) {
    width: 100%;
    min-width: 300px;
  }
}

.add-new-modal .add-new-opt {
  margin-bottom: 20px;
  padding: 10px;
  width: 320px;
  text-align: center;
  color: #567FCC;
  border: 2px solid #567FCC;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }

  @media only screen and (max-width: 450px) {
    width: calc(100vw - 80px);
    min-width: 220px;
  }
}

.add-new-opt h4 {
  padding-top: 10px;
  color: #567FCC;
}


/* user search for invite members */

.invite-by-link  {
  margin-top: 60px;
  padding: 0 20px;
}

.invite-by-search {
  margin-top: 30px;
  padding: 0 20px;
}

.invite-by-link h4,
.invite-by-search h4  {
  padding-bottom: 5px;
}

.invite-by-link h5  {
  padding-bottom: 10px;
  width: 560px;
  color: #6494ED;
  font-style: italic;
  word-break: break-all;

  @media only screen and (max-width: 650px) {
   width: calc(100vw - 40px);
   min-width: 260px;
  }
}

.invite-by-link h6  {
  padding-bottom: 3px;
  font-size: 11px;
  color: #808080;
}




/* sign in / sign up */

.auth-card  {
  top: 40px;
}

.auth-card  .content-without-header-name * {
  text-align: center;
}

.auth-message {
  padding: 20px;
}

.get-sign-in,
.get-sign-up {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 100px;
  text-align: center;
  border-radius: 2px;
  border: 2px solid #6494ED;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.get-sign-in h4,
.get-sign-up h4 {
  color: #6494ED;
}

ww-signin,
ww-signup {
  display: block;
  margin-top: 100px;
  margin-left: calc((100vw - 360px)/2);
  padding: 20px;
  width: 360px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);

  @media only screen and (max-width: 450px) {
    display: block;
    width: 100%;
    margin: 80px 0 0 0;
  }
}


// select date range for copy modal
.date-picker  {
  margin: 20px 0 0 10px;
}
