.itinerary  {
  @media only screen and (max-width: 890px) {
    margin-top: 110px;
    background-color: pink;
    // margin-left: calc((100vw -14px) * 0.02);
    // margin-right: calc((100vw -14px) * 0.02);
  }
  @media only screen and (min-width: 890px) and (max-width: 1090px) {
    margin-top: 110px;
    background-color: lightblue;
  }
  @media only screen and (min-width: 1090px)  {
    width: calc(100vw - 210px);
    margin-left: 200px;
    margin-top: 110px;
  }
}

.heading  {
  position: fixed;
  top: 60px;
  width: calc(100vw - 200px);
  padding: 10px 10px 10px 30px;
  background-color: white;
  z-index: 500;
  box-shadow: inset -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 1090px) {
    width: 100%;
  }
}

.itinerary-name {
  display: inline-block;
  margin-bottom: 5px;
}

.itinerary-date,
.itinerary-edit {
  display: inline-block;
}

.itinerary-edit > i {
  &:hover {
    color: grey;
    cursor: pointer;
  }
}

.itinerary-edit:hover .item-menu {
  display: block;
}

.item-menu  {
  top: 35px;
  right: 0;
}

/* members */
.members  {
  position: fixed;
  left: 0;
  top: 60px;
  padding: 10px;
  height: 80px;
  width: 200px;
  text-align: right;
  background-color: #F6F6F6;
  @media only screen and (max-width: 1090px) {
    display: none;
  }
}

.invite-members {
  padding: 10px 0;
  color: grey;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
    color: #3A4A4D;
    font-style: italic;
  }
}

.show-more-members > h6 {
  padding-top: 5px;
  font-style: italic;
  color: #6494ED;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.member {
  display: inline-block;
  float: right;
}

.tool-tip {
    position: relative;
}

.tool-tip .tool-tiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    font-size: 0.8em;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    // left: 50%;
    // margin-left: -60px;
}

.members .member:first-of-type .tool-tip .tool-tiptext  {
  left: -220%;
}

.members .member:nth-of-type(2) .tool-tip .tool-tiptext  {
  left: -125%;
}

.members .member:nth-of-type(2) .tool-tip .tool-tiptext::after  {
  left: 50%;
}

.tool-tip .tool-tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    // left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tool-tip:hover .tool-tiptext {
    visibility: visible;
}

img.user-profile-thumbnail  {
  display: inline-block;
  margin-right: 5px;
}

/* members @ less than 680px */
.show-current-members {
  display: block;
  position: fixed;
  top: 104px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #F9FBFB;
  z-index: 999;
}

.members-header-mobile > h4 {
  padding: 10px;
  letter-spacing: 1px;
  border-top: 5px solid lightgrey;
}

.members-header-mobile > h5 {
  padding: 15px;
  color: #F9FBFB;
  background-color: #6494ED;
  letter-spacing: 1px;
}

.member-mobile  {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid lightgray;
  overflow: auto;
}

.member-mobile > img,
.member-mobile > h4  {
  display: inline-block;
}

.members-icon-mobile {
  display: none;
  @media only screen and (max-width: 1090px) {
    position: fixed;
    display: block;
    top: calc(100vh - 46px);
    padding: 10px;
    height: 39px;
    width: 10%;
    color: white;
    background-color: #6494ED;
    z-index: 9999;
  }
}

.show-current-members-active  {
  color: #6494ED;
  background-color: #F9FBFB;
}

/* Navigation for itinerary */
nav {
  @media only screen and (max-width: 1090px) {
    position: fixed;
    z-index: 9999;
  }
}

.itinerary-nav-tabs {
  position: fixed;
  left: 0;
  top: 140px;
  padding: 0;
  height: calc(100vh - 140px);
  width: 200px;
  letter-spacing: 1px;
  background-color: #F6F6F6;
  @media only screen and (max-width: 1090px) {
    position: fixed;
    top: calc(100vh - 46px);
    left: 10%;
    height: auto;
    width: 90%;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    background-color: #6494ED;
    border: none;
  }
}

.itinerary-nav-tabs>li  {
  padding: 10px 0 10px 10px;
  text-align: right;
  @media only screen and (max-width: 1090px) {
    display:inline-block;
  }
}

.itinerary-nav-tabs>li>a {
  padding: 10px;
  color: #3A4A4D;
  border-radius: 0;
  text-decoration: none;
  &:hover {
    color: #FFF;
    background-color: rgba(100,148,237,0.5);
  }

  @media only screen and (max-width: 1090px) {
    color: #F9FBFB;
  }
}

.itinerary-nav-tabs .add-new > a  {
  &:hover {
    padding-bottom: 13px;
    border-radius: 0;
    background-color: #567FCC;
  }

  // @media only screen and (max-width: 1090px) {
  //   &:hover {
  //     background-color: #567FCC;
  //   }
  // }
}

.itinerary-nav-tabs>li.active>a {
  color: #6494ED;
  font-weight: bold;
  border-right: 5px solid #6494ED;
  @media only screen and (max-width: 1090px) {
    background-color: #F9FBFB;
    border-radius: 50px;
  }
}

/* to display horizontal scrollbar */
.itinerary-nav-tabs::-webkit-scrollbar {
    -webkit-appearance: none;
}
.itinerary-nav-tabs::-webkit-scrollbar:horizontal {
    height: 8px;
}
.itinerary-nav-tabs::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
}
.itinerary-nav-tabs::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}


/* show options to add new item */
.add-new:hover .show-add-new  {
  display: block;
}

.show-add-new {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 180px;
  @media only screen and (max-width: 1090px) {
    position: fixed;
    top: calc(100vh - 242px);
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid lightgray;
  }
}

.show-add-new > ul  {
  padding: 0;
  list-style-type: none;
  background-color: #F9FBFB;

  @media only screen and (max-width: 1090px) {
    border: none;
  }
}

.show-add-new > ul > li {
  padding: 15px;
  letter-spacing: .5px;
  font-size: 11.5px;
  color: white;
  background-color: #567FCC;
  border: 1px solid #567FCC;
  &:hover {
    cursor: pointer;
    color: #567FCC;
    background-color: white;
  }

  @media only screen and (max-width: 1090px) {
    padding: 15px;
  }
}

.save-option  {
  display: block;
}

.delete-itin-button  {
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  background-color: #FFEFEF;
}

/* add members modal */
input.add-member  {
  display: inline-block;
  width: auto;
  float: right;
}
