<div class="not-valid-access" *ngIf="!validAccess">
  <h2 *ngIf="!invalidPreview">{{ loadingMessage }}</h2>
  <h2 *ngIf="invalidPreview">Preview is not available for the selected itinerary.</h2>
</div>

<div class="preview-message" *ngIf="previewMessage">
  <h5 (click)="previewMessage = false">X</h5>
  <h4>You are viewing a preview of this itinerary. You need to be logged in to save and make changes to this itinerary.</h4>
</div>


<div class="itinerary" *ngIf="validAccess">

  <div class="itinerary-header">
    <h2 class="itinerary-name">
      <span class="preview-header" *ngIf="preview">PREVIEW : </span>
      {{ itinerary?.name }}
      <span class="itinerary-date" *ngIf="!itinerary?.num_days">{{ itinerary?.date_from | date:'dd MMM yyyy' }} to {{ itinerary?.date_to | date:'dd MMM yyyy' }}</span>
    </h2>
  </div>

  <div class="members-section">
    <h6 (click)="inviteUsers()" class="invite-members-header" *ngIf="!preview && !itinerary?.corporate.status">INVITE NEW MEMBERS</h6>

    <div *ngFor="let member of itinerary?.members | slice:0:5" class="member" [class.mt]="itinerary?.corporate.status">
      <div class="tool-tip">
        <img src="{{ member.display_picture }}" alt="" class="user-profile-thumbnail" (click)="routeToUser(member._id)">
        <span class="tool-tiptext" [class.bt]="preview">{{ member.username }}</span>
      </div>
    </div>

    <div class="show-more-members" *ngIf="itinerary?.members.length > 5">
      <h6 (click)="showMembers()">show all members</h6>
    </div>
  </div>

  <div class="scroll-left" (click)="scrollLeft()">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>

  <div class="scroll-right" (click)="scrollRight()">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>

  <header [class.show-nav]="showNav">
    <nav>
      <ul class="itinerary-nav-tabs">
        <li class="members-icon-mobile" (click)="showMembers()" *ngIf="!itinerary?.corporate.status">
          <a><i class="fa fa-users fa-lg" aria-hidden="true"></i> MEMBERS</a>
        </li>
        <li class="add-new" (click)="showAddNewOptions()" *ngIf="!preview">
          <a><i class="fa fa-plus" aria-hidden="true"></i> ADD NEW</a>
        </li>
        <li (click)="copy()" class="copy-itinerary" *ngIf="preview && !creator"><a>COPY ITINERARY</a></li>
        <li (click)="routeToPreview()" *ngIf="!preview && itinerary?.corporate.status"><a>PREVIEW</a></li>
        <li (click)="activateTab('DESCRIPTION')" routerLinkActive="active"><a [routerLink]="['description']">DESCRIPTION</a></li>
        <li (click)="activateTab('SUMMARY')" routerLinkActive="active"><a [routerLink]="['summary']">SUMMARY</a></li>
        <li (click)="activateTab('MAP VIEW')" routerLinkActive="active"><a [routerLink]="['map']">MAP VIEW</a></li>
        <li (click)="activateTab('ACCOMMODATION')" routerLinkActive="active"><a [routerLink]="['accommodation']">ACCOMMODATION</a></li>
        <li (click)="activateTab('TRANSPORT')" routerLinkActive="active"><a [routerLink]="['transport']">TRANSPORT</a></li>
        <li (click)="activateTab('ACTIVITY')" routerLinkActive="active"><a [routerLink]="['activity']">ACTIVITY</a></li>
        <li (click)="activateTab('RESOURCE')" routerLinkActive="active"><a [routerLink]="['resource']">RESOURCE</a></li>
        <li (click)="activateTab('')" routerLinkActive="active" *ngIf="!preview"><a href="/#/save-print/{{itinerary?._id}}" target="_blank">SAVE / PRINT</a></li>
        <li (click)="activateTab('SETTINGS')" routerLinkActive="active" *ngIf="!preview"><a [routerLink]="['settings']">SETTINGS</a></li>
      </ul>
    </nav>
  </header>




  <!-- show nav in mobile < 420px -->

  <div class="show-nav-menu" (click)="toggleNav()" [class.nav-active]="showNav">
    <i *ngIf="!showNav" class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
    <i *ngIf="showNav" class="fa fa-minus fa-lg" aria-hidden="true"></i>
  </div>

  <div class="add-new-button" (click)="showAddNewOptions()" *ngIf="!preview">
    <a><i class="fa fa-plus" aria-hidden="true"></i> ADD NEW</a>
  </div>

  <div (click)="copy()" class="copy-button" *ngIf="preview && !creator">
    <h5>COPY ITINERARY</h5>
  </div>

  <div class="copy-button" *ngIf="preview && creator">
    <h5>COPY ITINERARY</h5>
  </div>

  <div class="current-route" (click)="toggleNav()">
    <h4>{{ currentRoute | uppercase }}</h4>
  </div>

  <!-- end of show nav in mobile < 420px -->





  <router-outlet></router-outlet>

  <div *ngIf="addAccommodation" class="custom-modal">
    <ww-accommodation-form (hideAccommodationForm)="hideAccommodationForm($event)"></ww-accommodation-form>
  </div>

  <div *ngIf="addTransport" class="custom-modal">
    <ww-transport-form (hideTransportForm)="hideTransportForm($event)"></ww-transport-form>
  </div>

  <div *ngIf="addActivity" class="custom-modal">
    <ww-activity-input (hideActivityForm)="hideActivityForm($event)"></ww-activity-input>
  </div>

  <div *ngIf="addResource" class="custom-modal">
    <ww-resource-input (hideResourceForm)="hideResourceForm($event)"></ww-resource-input>
  </div>

</div>

<!-- show members list in media screen max-width: 1090px-->
<div class="custom-modal show-members" *ngIf="showCurrentMembers">
  <div class="form-card">
    <div class="form-header">
      <h3> Members list ({{ itinerary?.members.length }})</h3>
      <a (click)="hideMembers()">X</a>
    </div>

    <div class="current-members">
      <div *ngFor="let member of itinerary?.members" class="member-mobile">
        <ww-user-profile-card [user]="member" [currentUser]="currentUser"></ww-user-profile-card>
      </div>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="inviteUsers()">INVITE NEW MEMBERS <i class="fa fa-user-plus" aria-hidden="true"></i></h5>
    </div>

  </div>
</div><!-- end of show members list in small screen -->



<!-- show users to add members modal -->
<div class="custom-modal" *ngIf="showUsersSearch">
  <div class="form-card">

    <div class="form-header">
      <h3>Invite members to itinerary</h3>
      <a (click)="cancelShowUsers()">X</a>
    </div>

    <div class="invite-by-link">
      <h4>Invite by link</h4>
      <h5>{{ inviteLink }}</h5>

      <h5>Invitation password: {{ itinerary?.invite_password }}</h5>

      <h6 *ngIf="itinerary.invite_password === ''">A password has not been set. Invitees will not be asked for a password.</h6>
      <h6>A password ensures only genuine invitees are added to the itinerary.</h6>
      <h6>Only admins can change the password.</h6>
    </div>

    <div class="invite-by-search">
      <h4>Invite users on wondererwanderer</h4>
      <input type="text" placeholder="Search for users..." #text (keyup)="filterSearch(text.value)">
    </div>


    <div *ngIf="validAddUser">
      <div *ngFor="let user of newMembers" class="search-result-card selected-user">
        <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>

        <h5 class="toggle-remove-member" (click)="toggleAdd(user)">Selected</h5>
      </div>
    </div>

    <div *ngFor="let user of filteredResult" class="search-result-card">
      <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>

      <h5 class="toggle-invite-member" (click)="toggleAdd(user)">Invite</h5>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelShowUsers()">CANCEL</h5>
      <button type="button" class="action-response-primary" (click)="addMembers()" *ngIf="validAddUser"><h5>INVITE SELECTED</h5></button>
    </div>
  </div>
</div>


<div class="custom-modal add-new-modal" *ngIf="showAddNew">
  <div class="form-card">
    <div class="form-header">
      <h3>Add new</h3>
      <a (click)="cancelAddNewOptions()">X</a>
    </div>

    <div class="content-without-header-name">
      <h4 (click)="newAccommodation()">NEW ACCOMMODATION</h4>
      <h4 (click)="newTransport()">NEW TRANSPORT</h4>
      <h4 (click)="newActivity()">NEW ACTIVITY</h4>
      <h4 (click)="newResource()">NEW RESOURCE</h4>
    </div>
  </div>
</div>



<div class="custom-modal" *ngIf="authOptions">
  <div class="form-card auth-card">
    <div class="form-header">
      <h3>You are not logged in.</h3>
      <a (click)="cancelAuth()">X</a>
    </div>

    <div class="content-without-header-name">
      <div class="auth-message">
        <h4>You need to be logged in to copy the itinerary.</h4>
      </div>

      <div>
        <div class="get-sign-in" (click)="getSignin()">
          <h4>LOG IN</h4>
        </div>

        <div class="get-sign-up" (click)="getSignup()">
          <h4>SIGN UP</h4>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="custom-modal" *ngIf="showSignin">
  <ww-signin
    [reload]="reload"
    (hideSignin)="hideSignin($event)"></ww-signin>
</div>

<div class="custom-modal" *ngIf="showSignup">
  <ww-signup
    [reload]="reload"
    (hideSignup)="hideSignup($event)"></ww-signup>
</div>
