.itinerary  {
  margin-top: 90px;

  @media only screen and (min-width: 1090px)  {
    width: calc(100vw - 210px);
    margin-left: 200px;
  }
}

.itinerary-header  {
  position: fixed;
  top: 40px;
  width: calc(100vw - 200px);
  padding: 10px 10px 10px 30px;
  height: 50px;
  overflow: auto;
  background-color: #FAFAFA;
  z-index: 3;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 690px) {
    width: 100%;
    padding: 10px;
  }

  @media only screen and (max-width: 1090px) {
    width: 100%;
    padding: 10px;
  }
}

.itinerary-header::-webkit-scrollbar {
    -webkit-appearance: none;
}

.itinerary-header::-webkit-scrollbar:horizontal {
    height: 1px;
}

.itinerary-name {
  display: inline-block;
  margin-bottom: 5px;
  @media only screen and (max-width: 690px) {
    font-size: 1.2em;
    vertical-align: -webkit-baseline-middle;
    overflow: auto;
    white-space: nowrap;
  }
}

.itinerary-date {
  padding-left: 15px;
  font-size: .8em;
}

img.user-profile-thumbnail  {
  display: inline-block;
  margin-right: 5px;
}

/* members section */
.members-section  {
  position: fixed;
  left: 0;
  top: 40px;
  padding: 10px;
  height: 80px;
  width: 200px;
  text-align: right;
  background-color: white;
  @media only screen and (max-width: 1090px) {
    display: none;
  }
}

.invite-members-header {
  padding: 10px 0;
  color: grey;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
    color: #3A4A4D;
    font-style: italic;
  }
}

.show-more-members > h6 {
  padding-top: 5px;
  font-style: italic;
  color: #6494ED;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.member {
  display: inline-block;
  float: right;
}

.tool-tip {
    position: relative;
}

.tool-tip .tool-tiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    font-size: 0.8em;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 110%;
}

.member:first-of-type .tool-tip .tool-tiptext  {
  left: -220%;
}

.member:nth-of-type(2) .tool-tip .tool-tiptext  {
  left: -125%;
}

.member:nth-of-type(2) .tool-tip .tool-tiptext::after  {
  left: 50%;
}

.member:nth-of-type(3) .tool-tip .tool-tiptext  {
  left: -125%;
}

.member:nth-of-type(3) .tool-tip .tool-tiptext::after  {
  left: 50%;
}

.tool-tip .tool-tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    // left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tool-tip:hover .tool-tiptext {
    visibility: visible;
}


/* members-section @ less than 680px */
.members-icon-mobile {
  display: none;
  @media only screen and (max-width: 1090px) {
    position: fixed;
    display: block;
    top: calc(100vh - 40px);
    // top: calc(100vh - 21px);
    padding: 10.5px 20px;
    height: 40px;
    width: 59px;
    background-color: white;
    box-shadow: 0px -3px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 500;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: #567fcc;
    }
  }
}

.show-current-members-active  {
  color: #6494ED;
  background-color: #F9FBFB;
}

.member-mobile  {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid lightgray;
  overflow: auto;
}

.member-mobile > img,
.member-mobile > h4  {
  display: inline-block;
}

.add-member-footer  {
  padding: 10px 10px 0 0;
}

/* Itinerary navigation */
nav {
  @media only screen and (max-width: 1090px) {
    position: fixed;
    z-index: 500;
  }
}

.itinerary-nav-tabs {
  position: fixed;
  left: 0;
  top: 120px;
  padding: 0;
  height: calc(100vh - 120px);
  width: 200px;
  letter-spacing: 1px;
  background-color: white;

  @media only screen and (max-width: 1090px) {
    position: fixed;
    top: calc(100vh - 40px);
    // top: calc(100vh - 21px);
    left: 55px;
    height: auto;
    width: calc(100vw - 50px);
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    border: none;
    box-shadow: 0px -3px 2px -2px rgba(0, 0, 0, 0.2);
  }
}

.itinerary-nav-tabs > li  {
  padding: 10px 0 10px 10px;
  text-align: right;

  @media only screen and (max-width: 1090px) {
    display: inline-block;
    padding: 10px;
  }
}

.itinerary-nav-tabs > li > a {
  padding: 10px;
  color: #3A4A4D;
  border-radius: 0;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: #6494ED;
  }

  @media only screen and (max-width: 1090px) {
    &:hover {
      color: white;
      background-color: #6494ED;
      border-top: 5px solid #6494ED;
    }
  }
}

.itinerary-nav-tabs .add-new > a  {
  &:hover {
    padding-bottom: 13px;
    color: white;
    background-color: #567FCC;
    border-top: 5px solid #567FCC;
  }
}

.itinerary-nav-tabs > li.active > a {
  color: #6494ED;
  font-weight: bold;
  border-right: 5px solid #6494ED;
  &:hover {
    background-color: white;
  }

  @media only screen and (max-width: 1090px) {
    border-top: 5px solid #6494ED;
    border-right: none;
  }
}

/* to display horizontal scrollbar */
.itinerary-nav-tabs::-webkit-scrollbar {
    -webkit-appearance: none;
}
// .itinerary-nav-tabs::-webkit-scrollbar:horizontal {
//     height: 8px;
// }
// .itinerary-nav-tabs::-webkit-scrollbar-thumb {
//     border-radius: 8px;
//     background-color: rgba(0, 0, 0, .5);
// }
// .itinerary-nav-tabs::-webkit-scrollbar-track {
//     background-color: #fff;
//     border-radius: 8px;
// }

/* show options to add new item */
.add-new:hover .add-new-options  {
  display: block;
}

.add-new-options {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 180px;
  @media only screen and (max-width: 1090px) {
    position: fixed;
    top: calc(100vh - 230px);
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid lightgray;
  }
}

.add-new-options > ul  {
  padding: 0;
  list-style-type: none;
  background-color: #F9FBFB;

  @media only screen and (max-width: 1090px) {
    border: none;
  }
}

.add-new-options > ul > li {
  padding: 15px;
  letter-spacing: .5px;
  font-size: 11.5px;
  color: white;
  background-color: #567FCC;
  border: 1px solid #567FCC;
  &:hover {
    cursor: pointer;
    color: #567FCC;
    background-color: white;
  }

  @media only screen and (max-width: 1090px) {
    padding: 15px;
  }
}

/* add members modal */
.users-search > input {
  width: 540px;
  margin: 0 20px 20px 20px;

  @media only screen and (max-width: 690px) {
    width: 100%;
    margin: 0;
  }
}

.users-search > .action-response  {
  margin-top: 20px;
}

.toggle-invite-member {
  float: right;
  padding: 5px 10px;
  color: #6494ED;
  border: 2px solid #6494ED;
  border-radius: 5px;
  &:hover {
    color: #19CC72;
    border: 2px solid #19CC72;
    cursor: pointer;
  }
}

.toggle-remove-member {
  float: right;
  padding: 5px 10px;
  color: #19CC72;
  border: 2px solid #19CC72;
  border-radius: 5px;
  &:hover {
    color: #808080;
    border: 2px solid #808080;
    cursor: pointer;
  }
}

.users-search .search-result-card:last-child  {
  border-bottom: none;
}

.selected-user  {
  background-color: #F6F6F6;
}
