<div class="itinerary">

  <div class="itinerary-header">
    <h2 class="itinerary-name">{{ itinerary?.name }}<span class="itinerary-date">{{ itinerary?.date_from | date:'dd MMM yyyy' }} to {{ itinerary?.date_to | date:'dd MMM yyyy' }}</span></h2>
  </div>

  <div class="members">
    <h6 (click)="getUsers()" class="invite-members">INVITE MEMBERS</h6>

    <div *ngFor="let member of itinerary?.members" class="member">
      <div class="tool-tip">
        <img src="{{ member.display_picture }}" alt="display picture for {{ member.username }}" class="user-profile-thumbnail">
        <span class="tool-tiptext">{{ member.username }}</span>
      </div>
    </div>
    <div class="show-more-members" *ngIf="itinerary?.members.length > 5">
      <h6>show more</h6>
    </div>
  </div>

  <!-- show members list in small screen -->
  <div class="members-icon-mobile" (click)="showMembers()" [class.show-current-members-active]="showCurrentMembers">
    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
  </div>

  <div class="custom-modal" *ngIf="showCurrentMembers">
    <div class="form-card">
      <div class="form-header">
        <h3> Members list ({{ itinerary?.members.length }})</h3>
        <a (click)="hideMembers()">x</a>
      </div>

      <div class="textless-header"></div>

      <div *ngFor="let member of itinerary?.members" class="member-mobile">
        <img src="{{ member.display_picture }}" alt="display picture for {{ member.username }}" class="user-profile-thumbnail">
        <h4>{{ member.username }}</h4>
      </div>

      <div class="add-member-footer">
        <div class="action-response">
          <h4 class="action-response-primary" (click)="getUsers()">ADD NEW MEMBERS <i class="fa fa-user-plus" aria-hidden="true"></i></h4>
        </div>
      </div>

    </div>
  </div>

  <!-- end of show members list in small screen -->

  <header>
    <nav>
      <ul class="itinerary-nav-tabs">
        <li [class.add-new-active]="showAddNew" (mouseover)="showAddNewOptions()" class="add-new">
          <a (mouseover)="showAddNewOptions()">ADD NEW <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></a>
          <div class="show-add-new" *ngIf="showAddNew">
            <ul>
              <li (click)="newAccommodation()">NEW ACCOMMODATION</li>
              <li (click)="newTransport()">NEW TRANSPORT</li>
              <li (click)="newActivity()">NEW ACTIVITY</li>
              <li (click)="newResource()">NEW RESOURCE</li>
            </ul>
          </div>
        </li>
        <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['summary']">SUMMARY</a></li>
        <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['accommodation']">ACCOMMODATION</a></li>
        <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['transport']">TRANSPORT</a></li>
        <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['activity']">ACTIVITY</a></li>
        <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['resource']">RESOURCE</a></li>
        <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['map']">MAP VIEW</a></li>
        <!-- <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['print']">PRINTABLE VERSION</a></li> -->
        <li (click)="activateTab()" routerLinkActive="active"><a [routerLink]="['settings']">SETTINGS</a></li>
      </ul>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <div *ngIf="addAccommodation" class="custom-modal">
    <ww-accommodation-form (hideAccommodationForm)="hideAccommodationForm($event)"></ww-accommodation-form>
  </div>

  <div *ngIf="addTransport" class="custom-modal">
    <ww-transport-form (hideTransportForm)="hideTransportForm($event)"></ww-transport-form>
  </div>

  <div *ngIf="addActivity" class="custom-modal">
    <ww-activity-input (hideActivityForm)="hideActivityForm($event)"></ww-activity-input>
  </div>

  <div *ngIf="addResource" class="custom-modal">
    <ww-resource-input (hideResourceForm)="hideResourceForm($event)"></ww-resource-input>
  </div>

</div>

<!-- show users to add members modal -->
<div class="custom-modal" *ngIf="showUsers">
  <div class="form-card">

    <div class="form-header">
      <h3>Invite members to itinerary</h3>
    </div>

    <div *ngFor="let user of users" class="search-result-card">
      <img src="{{ user.display_picture }}" alt="" class="user-profile-thumbnail">
      <div class="user-details">
        <h4 class="user-username">{{ user.username }}</h4>
        <h6 class="user-search-description">{{ user.description }}</h6>
      </div>
      <input class="add-member" type="checkbox" (click)="toggleAdd(user)">
    </div>

    <div class="action-response">
      <h4 class="action-response-secondary" (click)="cancelShowUsers()">CANCEL</h4>
      <button type="button" class="action-response-primary" (click)="addMembers()" [disabled]="!validAddUser"><h4>INVITE MEMBER(S)</h4></button>
    </div>
  </div>
</div>
