h5, h6  {
  line-height: 1.5;
}

.fa::before {
  margin-right: 5px;
}

.note {
  margin-bottom: 15px;
}

/******************************
  transport edit
******************************/
.edit-transport-header  {
  padding: 5px 10px;
}

.edit-transport-header > .transport-type,
.edit-transport-header > h4  {
  display: inline-block;
}
