h5, h6  {
  line-height: 1.5;
}

.fa::before {
  margin-right: 5px;
}

.note {
  margin: 10px 0 15px 0;
  padding-left: 0;
}

.departure-section  {
  padding: 10px 5px;
  text-align: center;
  background-color: rgba(237, 100, 148, 0.2);
}

.arrival-section  {
  padding: 10px 5px;
  text-align: center;
  background-color: rgba(100, 148, 237, 0.2);
}

/******************************
  transport edit
******************************/
.edit-transport-header  {
  padding: 5px 10px;
}

.edit-transport-header > .transport-type,
.edit-transport-header > h4  {
  display: inline-block;
}
