.space  {
  margin-right: 40px;
}

h5, h6  {
  line-height: 1.5;
}

.fa::before {
  margin-right: 5px;
}

.transportDetails {
  padding:0 10px;
}

.departureSection {
  padding-bottom: 10px;
  border-bottom: 1px dotted grey;
}

.departureDetails {
  margin-bottom: 5px;
  color: darkred;
}

.arrivalSection {
  padding: 10px 0;
}

.arrivalDetails {
  margin-bottom: 5px;
  color: darkblue;
}

span.city-highlight  {
  font-size: 1.3em;
}


/******************************
  accommodation edit
******************************/
.formCard {
  position: relative;
  margin: 3% auto;
  width: 50%;
  background-color: white;
}

.edit-header  {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  border-radius: 5px 5px 0 0;
}

.departure  {
  display: inline-block;
  width: 50%;
  border-right: 1px solid #ccc;
}

.departure > h5 {
  padding: 5px 0;
  color: #262626;
  text-align: center;
  background-color: lightblue;
  border-radius: 0 0 0 10px;
}

.arrival  {
  display: inline-block;
  margin-left: -4px;
  width: 50%;
  vertical-align: top;
}

.arrival > h5 {
  padding: 5px 0;
  color: #262626;
  text-align: center;
  background-color: pink;
  border-radius: 0 0 10px 0;
}
