<div class="details-card">

  <div class="edit-delete" *ngIf="sameUser">
    <a (click)="editTransport()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <a (click)="confirmDeleteTransport()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
  </div>

  <h4 class="date-header">{{ event?.depDate | date: 'dd MMM yyyy' }}</h4>

  <div class="transport-header">
    <div [ngSwitch]="event.transportType">
      <h2 *ngSwitchCase="'flight'"><i class="fa fa-plane inline-block" aria-hidden="true"></i>{{ event.referenceNumber | uppercase }}</h2>
      <h2 *ngSwitchCase="'train'"><i class="fa fa-train inline-block" aria-hidden="true"></i> Train</h2>
      <h2 *ngSwitchCase="'bus'"><i class="fa fa-bus inline-block" aria-hidden="true"></i> Bus {{ event.referenceNumber | uppercase }}</h2>
      <h2 *ngSwitchCase="'cruise'"><i class="fa fa-ship inline-block" aria-hidden="true"></i> Cruise</h2>
      <h2 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car inline-block" aria-hidden="true"></i> Vehicle rental</h2>
      <h2 *ngSwitchCase="'others'"><i class="fa fa-rocket inline-block" aria-hidden="true"></i> Transport</h2>
    </div>
    <h4>from {{ event.depCity | uppercase }} to {{ event.arrCity | uppercase }}</h4>
  </div>

  <div *ngIf="event.transportType === 'flight'">

    <div class="departure-arrival-details">

      <div class="departure-section">
        <h5 class="departure-details">Departs <span class="city-highlight">{{ event.depCity | uppercase }}</span></h5>
        <h5>{{ event.depStation | uppercase }} / terminal {{ event.depTerminal | uppercase }}</h5>
        <h5>{{ event?.depDate | date:'dd MMM yy' }} - {{ event.depTime }}</h5>
      </div>

      <div class="arrival-section">
        <h5 class="arrival-details">Arrives <span class="city-highlight">{{ event.arrCity | uppercase }}</span></h5>
        <h5>{{ event.arrStation | uppercase }} / terminal {{ event.arrTerminal | uppercase }}</h5>
        <h5>{{ event?.arrDate | date:'dd MMM yy' }} - {{ event.arrTime }}</h5>
      </div>

    </div>

  </div><!-- end of flight -->

  <div *ngIf="event.transportType !== 'flight'">

    <div class="departure-arrival-details">

      <div *ngIf="event.transportType !== 'vehicle rental'">

        <div class="departure-section">
          <h5 class="departure-details">Departs <span class="city-highlight">{{ event.depCity | uppercase }}</span></h5>
          <h5>{{ event.depStation | uppercase }}</h5>
          <h5>{{ event?.depDate | date:'dd MMM yy' }} - {{ event.depTime }}</h5>
        </div>

        <div class="arrival-section">
          <h5 class="arrival-details">Arrives <span class="city-highlight">{{ event.arrCity | uppercase }}</span></h5>
          <h5>{{ event.arrStation | uppercase }}</h5>
          <h5>{{ event?.arrDate | date:'dd MMM yy' }} - {{ event.arrTime }}</h5>
        </div>

      </div>

      <div *ngIf="event.transportType === 'vehicle rental'">

        <div class="rental-company">
          <h6>Rental company</h6>
          <h4>{{ event.transportCompany }}</h4>
        </div>

        <div class="rental-contact">
          <h6>Contact number</h6>
          <h4>{{ event.contactNumber }}</h4>
        </div>

        <div class="departure-section">
          <h5 class="departure-details">Departs <span class="city-highlight">{{ event.depCity | uppercase }}</span></h5>
          <h5>Pick up {{ event?.depDate | date:'dd MMM yy' }} - {{ event.depTime }}</h5>
        </div>

        <div class="arrival-section">
          <h5 class="arrival-details">Arrives <span class="city-highlight">{{ event.arrCity | uppercase }}</span></h5>
          <h5>Return {{ event?.arrDate | date:'dd MMM yy' }} - {{ event.arrTime }}</h5>
        </div>

      </div><!-- end of vehicle rental -->
    </div>
  </div>

  <div class="note">
    <h6>{{ event.note }}</h6>
  </div>

  <div class="postby">
    <h6>added by <a routerLink="/users/{{event?.user['_Id']}}">{{ event?.user.username }}</a></h6>
    <p>{{ event?.created_at | date: 'medium' }}</p>
  </div>

</div>
<!-- end of transport details view -->

<!-- transport edit modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Editing transport {{ event?.transportType }} from {{ event?.depCity }} to {{ event?.arrCity }}</h3>
        <a (click)="cancelEditTransport()">x</a>
      </div>

      <form [formGroup]="editTransportForm" (ngSubmit)="onEditTransport()">

        <div class="edit-transport-header">
          <div [ngSwitch]="event.transportType" class="transport-type">
            <h4 *ngSwitchCase="'flight'"><i class="fa fa-plane inline-block" aria-hidden="true"></i> Flight</h4>
            <h4 *ngSwitchCase="'train'"><i class="fa fa-train inline-block" aria-hidden="true"></i> Train</h4>
            <h4 *ngSwitchCase="'bus'"><i class="fa fa-bus inline-block" aria-hidden="true"></i> Bus</h4>
            <h4 *ngSwitchCase="'cruise'"><i class="fa fa-ship inline-block" aria-hidden="true"></i> Cruise</h4>
            <h4 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car inline-block" aria-hidden="true"></i> Vehicle rental</h4>
            <h4 *ngSwitchCase="'others'"><i class="fa fa-rocket inline-block" aria-hidden="true"></i> Transport</h4>
          </div>
          <h4> from {{ event.depCity | uppercase }} to {{ event.arrCity | uppercase }} ( {{ event?.depDate | date: 'dd MMM yy' }} )</h4>
        </div>

        <div class="transport-details">

          <div class="departure">
            <h4>Departure details</h4>

            <div class="departure-arrival-details">

              <label>Depart from (city) <span class="required"> - required</span></label>
              <input type="text" formControlName="depCity" [value]="event.depCity">

              <!-- departure template for flight -->
              <div *ngIf="event.transportType === 'flight'">
                <label>Departure airport</label>
                <input type="text" formControlName="depStation" [value]="event.depStation">

                <label>Terminal</label>
                <input type="text" class="transport-terminal" formControlName="depTerminal" [value]="event.depTerminal">
              </div>

              <!-- departure template for train -->
              <div *ngIf="event.transportType === 'train'">
                <label>Departure station</label>
                <input type="text" formControlName="depStation" [value]="event.depStation">
              </div>

              <!-- departure template for bus -->
              <div *ngIf="event.transportType === 'bus'">
                <label>Departure station</label>
                <input type="text" formControlName="depStation" [value]="event.depStation">
              </div>

              <!-- departure template for cruise -->
              <div *ngIf="event.transportType === 'cruise'">
                <label>Departure terminal</label>
                <input type="text" formControlName="depStation" [value]="event.depStation">
              </div>

              <!-- departure date & time for all transport type except vehicel rental-->
              <div *ngIf="event.transportType !== 'vehicle rental'">
                <label>Departure date (dd/mm/yyyy) <span class="required"> - required</span></label>
                <input type="date" formControlName="depDate" [value]="event?.depDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>Departure time</label>
                <input type="time" formControlName="depTime" [value]="event.depTime">
              </div>

              <div *ngIf="event.transportType === 'vehicle rental'">
                <label>Pick up date (dd/mm/yyyy) <span class="required"> - required</span></label>
                <input type="date" formControlName="depDate" [value]="event?.depDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>Pick up time</label>
                <input type="time" formControlName="depTime" [value]="event.depTime">
              </div>

              <div *ngIf="event.transportType === 'flight'">
                <label>Flight number</label>
                <input type="text" class="reference-number" formControlName="referenceNumber" [value]="event.referenceNumber">
              </div>

              <div *ngIf="event.transportType === 'bus'">
                <label>Bus Number</label>
                <input type="text" class="reference-number" formControlName="referenceNumber" [value]="event.referenceNumber">
              </div>

            </div><!-- end of departure details -->
          </div><!-- end of departure -->

          <div class="arrival">
            <h4>Arrival details</h4>

            <div class="departure-arrival-details">

              <label>Going to (city) <span class="required"> - required</span></label>
              <input type="text" formControlName="arrCity" [value]="event.arrCity">

              <!-- arrival template for flight -->
              <div *ngIf="event.transportType === 'flight'">
                <label>Arrival airport</label>
                <input type="text" formControlName="arrStation" [value]="event.arrStation">

                <label>Terminal</label>
                <input type="text" class="transport-terminal" formControlName="arrTerminal" [value]="event.arrTerminal">
              </div>

              <!-- arrival template for train -->
              <div *ngIf="event.transportType === 'train'">
                <label>Arrival station</label>
                <input type="text" formControlName="arrStation" [value]="event.arrStation">
              </div>

              <!-- arrival template for bus -->
              <div *ngIf="event.transportType === 'bus'">
                <label>Arrival station</label>
                <input type="text" formControlName="arrStation" [value]="event.arrStation">
              </div>

              <!-- arrival template for cruise -->
              <div *ngIf="event.transportType === 'cruise'">
                <label>Arrival terminal</label>
                <input type="text" formControlName="arrStation" [value]="event.arrStation">
              </div>

              <!-- arrival date & time for all transport type except vehicle rental-->
              <div *ngIf="event.transportType !== 'vehicle rental'">
                <label>Arrival date (dd/mm/yyyy) <span class="required"> - required</span></label>
                <input type="date" formControlName="arrDate" [value]="event?.arrDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>Arrival time</label>
                <input type="time" formControlName="arrTime" [value]="event.arrTime">
              </div>

              <div *ngIf="event.transportType === 'vehicle rental'">
                <label>Return date (dd/mm/yyyy) <span class="required"> - required</span></label>
                <input type="date" formControlName="arrDate" [value]="event?.arrDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>Return time</label>
                <input type="time" formControlName="arrTime" [value]="event.arrTime">
              </div>

            </div><!-- end of arrival details-->
          </div><!-- end of arrival -->

        </div>
        <!-- template for vehicle rental -->
        <div *ngIf="event.transportType === 'vehicle rental'" class="departure-arrival-details">
          <label>Rental company</label>
          <input type="text" formControlName="transportCompany" [value]="event.transportCompany">

          <label>Contact number</label>
          <input type="text" class="contact-number-input" formControlName="contactNumber" [value]="event.contactNumber">
        </div>

        <div class="departure-arrival-details">
          <label>Note</label>
          <textarea rows="3" formControlName="note" [value]="event.note"></textarea>
        </div>

        <div class="save-option">
          <button type="button" class="deleteButton" (click)="cancelEditTransport()">Cancel edit</button>
          <button type="submit" class="primaryButton" [disabled]="!editTransportForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
        </div>

      </form>

    </div>
  </div>
</div>
<!-- end of transport edit modal -->

<div class="delete-modal" *ngIf="deleteTransport">
  <div class="confirm-delete">
    <div class="confirm-delete-header">
      <h4>Delete transport arrangement - {{ event?.transportType }} from {{ event?.depCity }} to {{ event?.arrCity }}</h4>
      <a (click)="cancelDeleteTransport()">x</a>
    </div>
    <h4 class="confirm-delete-content">Deleting transport arrangement - <span class="confirm-delete-name">{{ event?.transportType }} from {{ event?.depCity }} to {{ event?.arrCity }}</span> - will permanently remove it from your itinerary.</h4>
    <div class="confirm-delete-footer">
      <button type="button" (click)="cancelDeleteTransport()">Cancel delete</button>
      <button type="button" class="deleteButton" (click)="onDeleteTransport()">Yes, delete transport arrangement</button>
    </div>
  </div>
</div>
