<div class="progress-tracker-section">
  <ul class="progress-tracker" [class.search-active]="searchLocation">
    <li class="progress-title" (click)="backToSelect()" [class.progress-current]="step1">GET LOCATION</li><li class="progress-title" *ngIf="searchLocation" (click)="backToSearch()" [class.progress-current]="findLocation">SEARCH LOCATION</li><li class="progress-title" [class.progress-current]="searchDone">CONFIRM FAVOURITE DETAILS</li>
  </ul>
</div>

<div *ngIf="step1" class="select-housing">
  <div class="select-activity location"  (click)="getLocation()">

    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>

    <h4>Get current location</h4>
    <h5>(Name of place will not be included)</h5>
  </div>

  <div class="select-activity" (click)="getSearch()">

    <i class="fa fa-search fa-2x" aria-hidden="true"></i>

    <h4>Search location by name or address</h4>
  </div>
</div>

<div *ngIf="findLocation">
  <label>Search favourite location by name or adddress <span class="label-note"> - local name or address may be required</span></label>
  <ww-google-place-search [populate]="''" (placeDetail)="getDetails($event)"></ww-google-place-search>
</div>

<div *ngIf="searchDone" #form>
  <h5>You may drag the pin to set a new location.</h5>

  <h5 *ngIf="locationType !== ''" class="dragged-address">
    <span class="dragged-location">{{ locationType }} location:</span> {{ formatted_address }}
  </h5>

  <div class="fav-privacy">
    <h5>Keep favourite private?</h5>

    <h5 *ngIf="private"> > Only you can see</h5>
    <h4 *ngIf="private" class="toggle-true" (click)="private = false">Yes</h4>
    <h4 *ngIf="private" class="toggle-button-true" (click)="private = false"></h4>

    <h5 *ngIf="!private"> > You and your followers can see</h5>
    <h4 *ngIf="!private" class="toggle-false" (click)="private = true">No</h4>
    <h4 *ngIf="!private" class="toggle-button-false" (click)="private = true"></h4>
  </div>

  <div class="action-response" *ngIf="newPlace">
    <h5 class="action-response-primary" (click)="favourite()">Save favourite</h5>
  </div>

  <div class="action-response" *ngIf="!newPlace">
    <div class="next-disabled">
      <h5 class="place-invalid">Save favourite</h5>
      <h5 class="invalid-help">You need to select a result from the search dropdown.</h5>
    </div>
  </div>

</div>

<div #map id="map"></div>
