.new-attraction-form  {
  margin-top: 40px;
  height: calc(100vh - 45px);
  width: 460px;
  overflow: auto;
  border-right: 1px solid lightgray;
}

.attraction-google-search {
  padding: 10px 20px;
}

.details-section-container  {
  padding: 10px;
}

.form-image {
  margin: 10px 0;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid lightgray;
}

.form-image img  {
  display: inline-block;
  width: 300px;
  height: 200px;
}

.form-image .positioning  {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  text-align: center;
}

.reposition {
  margin-top: 20px;
}

select.photo-index  {
  text-align-last:center;
}

/*********

  sample

****************/

.sample {
  position: fixed;
  top: 40px;
  left: 660px;
  width: 650px;
  height: calc(100vh - 45px);
  overflow: auto;
  border-right: 2px solid lightgray;
}

.toggle-view  {
  border-bottom: 2px solid lightgray;
}

.toggle-view > *  {
  display: inline-block;
  padding: 10px;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}




/* details view */


/* uploaded photos */

.image-slider {
  position: relative;
  height: 300px;
  width: 99.5%;
  text-align: center;

  @media only screen and (max-width: 610px) {
    min-width: 300px;
    height: calc(100vw / 2);
  }
}

.display-images {
  display: inline-block;
}

.display-images input[name='slide_switch'] {
  display: none;
}

.display-images img {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;

  transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms;

  @media only screen and (max-width: 610px) {
    min-width: 300px;
    height: calc(100vw / 2);
  }
}

.display-images label {
  margin: 302px 3px 0 3px;
  background-color: #E6E6E6;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: #567FCC;
  }

  @media only screen and (max-width: 610px) {
    margin-top: calc((100vw / 2) + 5px);
  }
}

.display-images label h5  {
  display: inline-block;
  padding: 2px 5px;
  color: #F9FBFB;
}

.display-images input[name='slide_switch']:checked+label  {
  background-color: #6494ED;
}

.display-images input[name='slide_switch'] ~ img,
.display-images input[name='slide_switch'] ~ h5  {
	opacity: 0;
	transform: scale(1.01);
}

.display-images input[name='slide_switch']:checked+label+img,
.display-images input[name='slide_switch']:checked ~ h5 {
	opacity: 1;
	transform: scale(1);
  z-index: 2;
}

.display-images > h5  {
  margin-top: -35px;
}


/* details content */

.details-content  {
  padding: 40px;
}

.content-header {
  margin: 10px 0;
}

.content-details  {
  margin-bottom: 10px;
}

.content-details h4 {
  display: inline-block;
  text-align: justify;
  line-height: 1.4;
  font-weight: 400;
}

.content-details i,
.content-details h4  {
  vertical-align: top;
}

.content-details h4:nth-of-type(2)  {
  width: 90%;
}

.sub-content  {
  padding: 20px 0;
}

.sub-content-header {
  margin-bottom: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}



/* review */
.review  {
  margin-bottom: 30px;
}

.review img{
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: top;
}

.review-details {
  display: inline-block;
  width: 500px;
  padding-left: 10px;
}

.review-rating  {
  padding-bottom: 5px;
}

.review-rating *  {
  display: inline-block;
}

.fa-star  {
  color: #D1D1D1;
}

.rated > .fa-star {
  color: #E7711B;
}

.review-text  {
  text-align: justify;
}





/* map */

#attraction-map  {
  margin: 0 40px 40px 40px;
  height: 300px;
  width: 560px;
}




/* card view */

/* 600px width */
.display-600  {
  position: relative;
  margin: 25px;
  width: 600px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.display-600 .card-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 190px;
  z-index: 1;
}

.display-600 .card-image > img {
  width: 180px;
  overflow: hidden;
  margin: 18px 0 10px 10px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}


.display-600 .img {
  position: relative;
  display: inline-block;
  margin: 18px 0 10px 10px;
  padding-top: 60px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  background-color: #f5f5fd;
  text-align: center;
  vertical-align: top;
  z-index: 1;
}

.display-600 .header-background {
  position: absolute;
  top: 0;
  width: 600px;
  height: 35.8px;
  background-color: #6494ED;
}

.display-600 .dots-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.details-600  {
  display: inline-block;
  margin-top: 35px;
  padding: 0 20px;
  width: 406px;
}




/* 300px width */
.display-300 {
  margin: 20px 0 20px 170px;
  width: 300px;
  vertical-align: top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.display-300 .card-image  {
  position: relative;
}

.display-300 img {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.display-300 .img {
  padding-top: 60px;
  width: 300px;
  height: 200px;
  background-color: #f5f5fd;
  text-align: center;
}

.display-300 .photo-credit  {
  max-width: 290px;
  margin-top: -15px;
  left: 5px;
}

.display-300 .header-background {
  height: 36px;
  width: 300px;
  background-color: #6494ED;
}

.details-300 {
  position: relative;
  padding: 0 20px 10px 20px;
}

.details-300 .dots-menu {
  position: absolute;
  top: -35px;
  right: 10px;
  z-index: 2;
}

.photo-credit {
  z-index: 2;
}



/* individual details */

.show-details {
  margin-bottom: 10px;
}

.show-details i,
.show-details h5  {
  vertical-align: top;
  color: grey;
}

.show-details h5  {
  display: inline-block;
  width: 90%;
  text-align: justify;
  line-height: 1.5;
}

.description h5 {
  color: #3A4A4D;
}
