.new-attraction-form  {
  margin-top: 40px;
  height: calc(100vh - 45px);
  width: 460px;
  overflow: auto;
  border-right: 1px solid lightgray;
}

.attraction-google-search {
  padding: 10px 20px;
}

.details-section-container  {
  padding: 10px;
}
