.itinerary-edit-main  {
  width: 600px;
  margin-top: 110px;
  margin-left: calc((100vw - 800px) / 2 );
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 610px) {
    width: 100%;
    min-width: 300px;
    margin-left: 0;
  }

  @media only screen and (min-width: 610px) and (max-width: 1090px) {
    margin-left: calc((100vw - 600px) / 2 );
  }
}

.itinerary-edit-section-header  {
  padding: 10px 0 0 20px;
  @media only screen and (max-width: 450px) {
    padding: 10px 0 0 5px;
  }
}

.itinerary-edit-section-details {
  padding: 5px 35px;
  @media only screen and (max-width: 450px) {
    padding: 5px 10px;
  }
}

.itinerary-edit-item  {
  height: 40px;
  @media only screen and (max-width: 610px) {
    margin-bottom: 20px;
    height: auto;
  }
}

.itinerary-edit-item > * {
  display: inline-block;
  @media only screen and (max-width: 610px) {
    display: block;
  }
}

.itinerary-edit-item > h5 {
  width: 130px;
  color: grey;
  letter-spacing: .5px;
  @media only screen and (max-width: 610px) {
    padding-bottom: 3px;
  }
}

.itinerary-edit-item > h4 {
  font-weight: 400;
}

.itinerary-edit-item > input  {
  width: 390px;
  margin-bottom: 0;
  @media only screen and (max-width: 450px) {
    width: 100%;
  }
}

.created-details  {
  padding-top: 6px;
}


/* member details section */
.itinerary-member-list  {
  position: relative;
  padding: 10px 10px 10px 0;
}

.user-profile-thumbnail {
  vertical-align: top;
}

/* individual member hover options */
.itinerary-member-option  {
  position: relative;
  display: inline-block;
  float: right;
}

.itinerary-member-option i  {
  color: lightgray;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}

.itinerary-member-option:hover .itinerary-member-option-menu  {
  display: block;
}

.itinerary-member-option-menu {
  display: none;
  position: absolute;
  right: 0;
  width: 170px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;
}

.itinerary-member-option-menu > ul  {
  margin: 0;
  padding: 0;
  list-style: none;
}

.itinerary-member-option-menu > ul > li  {
  width: 100%;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.itinerary-member-option-menu > ul > li.make-admin  {
  &:hover {
    cursor: default;
  }
}

.make-admin > h5  {
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.itinerary-member-option-menu > ul > li:hover *  {
  color: grey;
}

.itinerary-member-option-menu > ul > li > h5  {
  display: inline-block;
  letter-spacing: .5px;
}

/* admin styles */
.itinerary-admin  {
  display: inline-block;
  position: absolute;
  right: 30px;
}

.itinerary-admin > h5 {
  padding: 2px 5px;
  color: #19CC72;
  border: 2px solid #19CC72;
  border-radius: 5px;
}

span.info {
  float: right;
  padding: 0 4px;
  color: #A6A6A6;
  font-size: 11px;
  font-weight: 600;
  border: 2px solid #A6A6A6;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    color: #808080;
    border: 2px solid #808080;
  }
}

/* share details */
.share-date {
  display: inline-block;
  width: 100px;
  font-weight: 400;
}

.share-details  {
  display: inline-block;
  font-weight: 400;
}

/* share itinerary items */
.share-itinerary  {
  width: 160px;
  padding: 10px 20px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.share-itineary-header  {
  border-bottom: 1px solid lightgray;
}

.share-all > *  {
  display: inline-block;
}

.share-all input  {
  width: 30px;
}

.category-header  {
  margin: 10px 0;
  padding: 3px 20px;
  background-color: #567FCC;
}

.category-header > h4 {
  font-weight: 400;
  color: #F9FBFB;
  letter-spacing: 1px;
}

.category-item  {
  &:hover {
    background-color: #F6F6F6;
  }
}

.category-item input  {
  display: inline-block;
  width: 30px;
}

.category-item  h5{
  display: inline-block;
  padding: 3px 0;
}

/* share itinerary */
.progress-tracker li {
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

/* share itinerary items */
input.share-users-search  {
  width: 540px;
  margin: 0 20px 20px 20px;

  @media only screen and (max-width: 690px) {
    width: 100%;
    margin: 0;
  }
}

.user-search-header  {
  margin-top: 10px;
  padding: 5px;
  font-weight: 500;
}

.selected-user  {
  background-color: #F6F6F6;
}

.toggle-invite-member {
  float: right;
  padding: 5px 10px;
  color: #6494ED;
  border: 2px solid #6494ED;
  border-radius: 5px;
  &:hover {
    color: #19CC72;
    border: 2px solid #19CC72;
    cursor: pointer;
  }
}

.toggle-remove-member {
  float: right;
  padding: 5px 10px;
  color: #19CC72;
  border: 2px solid #19CC72;
  border-radius: 5px;
  &:hover {
    color: #808080;
    border: 2px solid #808080;
    cursor: pointer;
  }
}

.share-response {
  padding: 10px;
}

.delete-itinerary  {
  width: 160px;
  padding: 10px 20px;
  font-weight: 400;
  color: grey;
  &:hover {
    cursor: pointer;
    color: red;
  }
}
