<!-- edit itinerary form modal -->
<div class="itinerary-edit-main">

  <div class="textless-header"></div>

  <form [formGroup]="editItineraryForm" (ngSubmit)="checkEdit()">

    <h4 class="form-section-header">Basic Details</h4>
    <div class="form-section-details">

      <div class="sub-section">

        <div class="itinerary-edit-item">
          <h5>Itinerary name</h5>
          <div>
            <input type="text" formControlName="name">
            <span class="form-validator"
              *ngIf="editItineraryForm.get('name').touched && editItineraryForm.get('name').invalid">Name of itinerary is required</span>
          </div>
        </div>

        <div class="day-note" *ngIf="itinerary?.corporate.status">
          <h4>Please select either travel dates or number of days for the itinerary</h4>
          <h5>Currently active: <span class="bold">{{ dateType }}</span></h5>
        </div>

        <div class="itinerary-edit-item">
          <h5>Travel dates</h5>
          <div class="date-picker" daterangepicker [options]="options" (selected)="selectedDate($event)">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <h4><span>From:</span> {{ dateFrom | date: 'dd MMM yyyy'}}</h4>
            <h4><span>To:</span> {{ dateTo | date: 'dd MMM yyyy'}}</h4>
          </div>
        </div>

        <div class="itinerary-edit-item num-days" *ngIf="itinerary?.corporate.status">
          <h5>Number of days</h5>
          <input type="text" formControlName="num_days" #days (keyup)="logDays(days.value)" min="1">
        </div>

      </div>


      <div class="sub-section">

        <div class="itinerary-edit-item" *ngIf="masterAdmin">
          <h5>Private</h5>

          <h4 *ngIf="private" class="toggle-true" (click)="private = false">Yes</h4>
          <h4 *ngIf="private" class="toggle-button-true" (click)="private = false"></h4>
          <h6 *ngIf="private && itinerary?.corporate.status">Only your followers can view.</h6>
          <h6 *ngIf="private && !itinerary?.corporate.status">Only itinerary members can view.</h6>

          <h4 *ngIf="!private" class="toggle-false" (click)="private = true">No</h4>
          <h4 *ngIf="!private" class="toggle-button-false" (click)="private = true"></h4>
          <h6 *ngIf="!private && itinerary?.corporate.status">Any one can view.</h6>
          <h6 *ngIf="!private && !itinerary?.corporate.status">Followers of itinerary members can view.</h6>

        </div>

        <div class="created-details" *ngIf="!masterAdmin">
          <div class="itinerary-edit-item">
            <h5>Private</h5>
            <h4 *ngIf="private">Yes</h4>
            <h4 *ngIf="!private">No</h4>
          </div>
        </div>

        <div class="itinerary-edit-item" *ngIf="itinerary?.corporate.status">
          <h5>Publish</h5>

          <h4 *ngIf="publish" class="toggle-true" (click)="publish = false">Yes</h4>
          <h4 *ngIf="publish" class="toggle-button-true" (click)="publish = false"></h4>
          <h6 *ngIf="publish">Preview is available for public to view.</h6>

          <h4 *ngIf="!publish" class="toggle-false" (click)="publish = true">No</h4>
          <h4 *ngIf="!publish" class="toggle-button-false" (click)="publish = true"></h4>
          <h6 *ngIf="!publish">Preview is not available for public to view.</h6>
        </div>

        <div class="itinerary-edit-item" *ngIf="currentUserAdmin && !itinerary?.corporate.status">
          <h5>Invitation password <br> (Admin can amend)</h5>
          <div>
            <input type="text" formControlName="invite_password">
          </div>
        </div>

        <div class="created-details" *ngIf="!currentUserAdmin">
          <div class="itinerary-edit-item">
            <h5>Invitation password <br> (Admin can amend)</h5>
            <h4>{{ itinerary?.invite_password }}</h4>
          </div>
        </div>

      </div>


      <div class="sub-section">

        <div class="created-details">
          <div class="itinerary-edit-item">
            <h5>Created by</h5>
            <h4 class="username" (click)="routeToUser(itinerary?.created_by._id)">{{ itinerary?.created_by.username }}</h4>
          </div>
        </div>

        <div class="created-details" *ngIf="itinerary?.shared_by">
          <div class="itinerary-edit-item">
            <h5>Shared by</h5>
            <h4 class="username" (click)="routeToUser(itinerary?.shared_by._id)">{{ itinerary?.shared_by.username }}</h4>
          </div>
        </div>

        <div class="created-details">
          <div class="itinerary-edit-item">
            <h5>Master admin</h5>
            <h4 class="username" (click)="routeToUser(itinerary?.created_by._id)">{{ itinerary?.members[0].username }}</h4>
          </div>
        </div>

      </div>


      <div class="action-response">
        <h5 class="action-response-secondary" (click)="undoEdit()">UNDO</h5>
        <button type="submit" class="action-response-primary" [disabled]="!editItineraryForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE EDIT</h5></button>
      </div>
    </div>

  </form>


  <h4 class="form-section-header">Member Details</h4>
  <div class="form-section-details">
    <div *ngFor="let member of itinerary?.members; let i = index" class="itinerary-member-list">
      <ww-user-profile-card [user]="member" [currentUser]="currentUser"></ww-user-profile-card>

      <div class="itinerary-member-option" (click)="showMemberOption(i)" *ngIf="currentUserAdmin">
        <div *ngIf="!member.hide_option">
          <i class="fa fa-cog" aria-hidden="true"></i>

          <div class="itinerary-member-option-menu" *ngIf="showOptions[i]">
            <ul>
              <li class="make-admin" *ngIf="!member.admin">
                <h5 (click)="makeAdmin(member, i)">Make admin</h5>
                <span class="info" (click)="adminInfo = true">?</span>
              </li>
              <li *ngIf="member.admin" (click)="removeAdmin(member, i)"><h5>Remove as admin</h5></li>
              <li (click)="removeFromItin(member, i)"><h5>Remove from itinerary</h5></li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="member.admin" class="itinerary-admin">
        <h5>Admin</h5>
      </div>
    </div>
  </div>

  <h4 class="form-section-header" *ngIf="itinerary?.corporate.status">Share Details</h4>
  <div class="form-section-details" *ngIf="itinerary?.corporate.status">
    <div *ngIf="!shared">
      <h5>This itinerary has not been shared with anyone</h5>
    </div>
    <div *ngFor="let share of itinerary?.shares">
      <h4 class="share-date">{{ share.shared_on | date: 'dd MMM yyyy'}}</h4>
      <h4 class="share-details"><span class="username-bold" (click)="routeToUser(share.shared_by._id)">{{ share.shared_by.username }}</span> shared with <span class="username-bold" (click)="routeToUser(share.shared_with._id)">{{ share.shared_with.username }}</span></h4>
    </div>

    <div class="action-response _p">
      <div class="action-response-primary">
        <h5 class="_p5" (click)="share('Copy')">
          <i class="fa fa-clone fa-lg" aria-hidden="true"></i>
          COPY ITINERARY
        </h5>
      </div>
      <span class="cs-info" (click)="copyInfo = true">What is this?</span>

      <div class="copy-share-info" *ngIf="copyInfo">
        <h5>Copying to another itinerary of yours. A new itinerary is not created.</h5>
      </div>

      <div class="action-response-primary">
        <h5 class="_p5" (click)="share('Share')">
          <i class="fa fa-share fa-lg" aria-hidden="true"></i>
          SHARE ITINERARY
        </h5>
      </div>
      <span class="cs-info" (click)="shareInfo = true">What is this?</span>

      <div class="copy-share-info" *ngIf="shareInfo">
        <h5>Share with other users. A new itinerary is created for each selected user.</h5>
      </div>
    </div>
  </div>

  <h4 class="form-section-header">Others</h4>
  <h4 *ngIf="masterAdmin" class="delete-itinerary" (click)="deleteItinerary = true">Delete this itinerary</h4>
  <h4 *ngIf="!masterAdmin" class="delete-itinerary" (click)="leaveItinerary = true">Leave itinerary</h4>

</div>

<!-- leave itinerary modal -->
<div class="custom-modal" *ngIf="leaveItinerary">
  <div class="form-card">
    <div class="form-header">
      <h3>Leave itinerary?</h3>
      <a (click)="leaveItinerary = false">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ itinerary?.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Leaving itinerary {{ itinerary?.name }} will permanently remove it from your list of itineraries. You will not be able to participate in the itinerary further. You will also lose all information associated with the itinerary.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="leaveItinerary = false">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmLeave()">LEAVE</h5>
    </div>

  </div>
</div>

<!-- delete itinerary modal -->
<div class="custom-modal" *ngIf="deleteItinerary">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete itinerary?</h3>
      <a (click)="deleteItinerary = false">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ itinerary?.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting itinerary {{ itinerary?.name }} will permanently remove it from your list of itineraries.  You will lose all information associated with the itinerary.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="deleteItinerary = false">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
    </div>

  </div>
</div>

<!-- admin role info -->
<div class="custom-modal" *ngIf="adminInfo">
  <div class="form-card">
    <div class="form-header">
      <h3>Info: Admin role</h3>
      <a (click)="adminInfo = false">X</a>
    </div>

    <div class="form-housing">
      <h4>Admins for the itinerary are allowed to:</h4>
      <ol>
        <li>Add and remove all users except the creator of the itinerary</li>
        <li>Edit and delete all accommodation items</li>
        <li>Edit and delete all activity items</li>
        <li>Edit and delete all transport items</li>
        <li>Edit and delete all resource items</li>
      </ol>

      <div class="action-response">
        <h5 class="action-response-primary" (click)="adminInfo = false">OK</h5>
      </div>
    </div>
  </div>
</div>

<!-- itinerary date changed -->
<div class="custom-modal" *ngIf="dateChanged">
  <div class="form-card">
    <div class="form-header">
      <h3>Itinerary date range amended</h3>
      <a (click)="dateChanged = false">X</a>
    </div>

    <div class="form-housing change-date-content">
      <h4>Date range for itinerary has been amended.</h4>
      <h5>From ( {{itinerary.date_from | date: 'dd MMM yyyy'}} - {{itinerary.date_to | date: 'dd MMM yyyy'}} ) to ( {{editItineraryForm.value.date_from | date: 'dd MMM yyyy'}} - {{editItineraryForm.value.date_to | date: 'dd MMM yyyy'}} )</h5>
      <h5>Dates for activities may be adjusted depending on your method of adjustment below.</h5>
      <h5>Dates for accommodation arrangements will be adjusted in sequence. If the original dates are not available in the new date range, it will be adjusted to check in on the first day and check out on the last day.</h5>
      <h5>Dates for transport arrangements will remain the same as they may not be operating on the adjusted dates.</h5>
      <h4>Please select your method of adjustment:</h4>

      <div class="change-date-option">
        <h4 (click)="sameDates()">Keep to same date</h4>
        <h5>Activity and summary note on 05 June 2017 will remain on 05 June 2017.</h5>
        <h5>If the new date range does not include 05 June 2017, the activity will be amended to "any day", summary note will be deleted.</h5>
      </div>

      <div class="change-date-option">
        <h4 (click)="sameIndex()">Keep to same day of itinerary</h4>
        <h5>Activity and summary note on 05 June 2017 (Day 01) will be amended to the new Day 01 date.</h5>
        <h5>For example, itinerary start date change to 07 June 2017, activity and summary note on 05 June 2017 will be moved to 07 June 2017.</h5>
        <h5>Any activity not included in the new date range will be amended to "any day", summary note will be deleted.</h5>
      </div>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL EDIT</h5>
      </div>

    </div>
  </div>
</div>

<!-- date type changed -->
<div class="custom-modal" *ngIf="dateTypeChanged">
  <div class="form-card">
    <div class="form-header">
      <h3>Date type changed</h3>
      <a (click)="cancelEdit()">X</a>
    </div>

    <div class="content-without-header-name">
      <h4>{{ dateTypeChangedMsg }}</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL EDIT</h5>
      <h5 class="action-response-primary" (click)="confirmTypeChange()">CONFIRM EDIT</h5>
    </div>
  </div>

</div>

<!-- copy/share itinerary -->
<div class="custom-modal" *ngIf="shareItin">
  <ww-itinerary-share (cancelShare)="cancelShare($event)" [shareType]="shareType" [itineraries]="itineraries"></ww-itinerary-share>
</div>
