<!-- edit itinerary form modal -->
<div class="itinerary-edit-main">

  <div class="textless-header"></div>

  <form [formGroup]="editItineraryForm" (ngSubmit)="checkEdit()">

    <h4 class="itinerary-edit-section-header">Basic Details</h4>
    <div class="itinerary-edit-section-details">
      <div class="itinerary-edit-item">
        <h5>Itinerary Name</h5>
        <div>
          <input type="text" formControlName="name">
          <span class="form-validator"
            *ngIf="editItineraryForm.get('name').touched && editItineraryForm.get('name').invalid">Name of itinerary is required</span>
        </div>
      </div>

      <div class="itinerary-edit-item">
        <h5>Travel Dates</h5>
        <div class="date-picker" daterangepicker [options]="options" (selected)="selectedDate($event)">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <h4><span>From:</span> {{ dateFrom | date: 'dd MMM yyyy'}}</h4>
          <h4><span>To:</span> {{ dateTo | date: 'dd MMM yyyy'}}</h4>
        </div>
      </div>

      <div class="created-details">
        <div class="itinerary-edit-item">
          <h5>Created By</h5>
          <h4 class="username" (click)="routeToUser(currentItinerary?.created_by._id)">{{ currentItinerary?.created_by.username }}</h4>
        </div>
      </div>

      <div class="created-details" *ngIf="currentItinerary?.shared_by">
        <div class="itinerary-edit-item">
          <h5>Shared By</h5>
          <h4 class="username" (click)="routeToUser(currentItinerary?.shared_by._id)">{{ currentItinerary?.shared_by.username }}</h4>
        </div>
      </div>

      <div class="created-details">
        <div class="itinerary-edit-item">
          <h5>Master Admin</h5>
          <h4 class="username" (click)="routeToUser(currentItinerary?.created_by._id)">{{ currentItinerary?.members[0].username }}</h4>
        </div>
      </div>

      <div class="itinerary-edit-item" *ngIf="masterAdmin">
        <h5>Private</h5>
        <h4 *ngIf="private" class="check-in-private" (click)="private = false">Yes</h4>
        <h4 *ngIf="private" class="toggle-button-private" (click)="private = false"></h4>
        <h4 *ngIf="!private" class="check-in-public" (click)="private = true">No</h4>
        <h4 *ngIf="!private" class="toggle-button-public" (click)="private = true"></h4>
      </div>

      <div class="created-details" *ngIf="!masterAdmin">
        <div class="itinerary-edit-item">
          <h5>Private</h5>
          <h4 *ngIf="private">Yes</h4>
          <h4 *ngIf="!private">No</h4>
        </div>
      </div>


      <div class="itinerary-edit-item" *ngIf="currentUserAdmin">
        <h5>Invitation Password <br> (Admin can amend)</h5>
        <div>
          <input type="text" formControlName="invite_password">
        </div>
      </div>

      <div class="created-details" *ngIf="!currentUserAdmin">
        <div class="itinerary-edit-item">
          <h5>Invitation Password <br> (Admin can amend)</h5>
          <h4>{{ currentItinerary?.invite_password }}</h4>
        </div>
      </div>


      <div class="action-response">
        <h5 class="action-response-secondary" (click)="undoEdit()">UNDO</h5>
        <button type="submit" class="action-response-primary" [disabled]="!editItineraryForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE EDIT</h5></button>
      </div>
    </div>

  </form>


  <h4 class="itinerary-edit-section-header">Member Details</h4>
  <div class="itinerary-edit-section-details">
    <div *ngFor="let member of currentItinerary?.members; let i = index" class="itinerary-member-list">
      <ww-user-profile-card [user]="member" [currentUser]="currentUser"></ww-user-profile-card>

      <div class="itinerary-member-option" (click)="showMemberOption(i)" *ngIf="currentUserAdmin">
        <div *ngIf="!member.hide_option">
          <i class="fa fa-cog" aria-hidden="true"></i>

          <div class="itinerary-member-option-menu" *ngIf="showOptions[i]">
            <ul>
              <li class="make-admin" *ngIf="!member.admin">
                <h5 (click)="makeAdmin(member, i)">Make admin</h5>
                <span class="info" (click)="adminInfo = true">?</span>
              </li>
              <li *ngIf="member.admin" (click)="removeAdmin(member, i)"><h5>Remove as admin</h5></li>
              <li (click)="removeFromItin(member, i)"><h5>Remove from itinerary</h5></li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="member.admin" class="itinerary-admin">
        <h5>Admin</h5>
      </div>
    </div>
  </div>

  <h4 class="itinerary-edit-section-header">Share Details</h4>
  <div class="itinerary-edit-section-details">
    <div *ngIf="!shared">
      <h5 class="itinerary-edit-item">This itinerary has not been shared with anyone</h5>
    </div>
    <div *ngFor="let share of currentItinerary?.shares">
      <h4 class="share-date">{{ share.shared_on | date: 'dd MMM yyyy'}}</h4>
      <h4 class="share-details"><span class="username-bold" (click)="routeToUser(share.shared_by._id)">{{ share.shared_by.username }}</span> shared with <span class="username-bold" (click)="routeToUser(share.shared_with._id)">{{ share.shared_with.username }}</span></h4>
    </div>

    <div class="action-response _p">
      <div class="action-response-primary">
        <h5 class="_p5" (click)="share('Copy')">
          <i class="fa fa-clone fa-lg" aria-hidden="true"></i>
          COPY ITINERARY
        </h5>
      </div>
      <span class="cs-info" (click)="copyInfo = true">What is this?</span>

      <div class="copy-share-info" *ngIf="copyInfo">
        <h5>Copying to another itinerary of yours. A new itinerary is not created.</h5>
      </div>

      <div class="action-response-primary">
        <h5 class="_p5" (click)="share('Share')">
          <i class="fa fa-share fa-lg" aria-hidden="true"></i>
          SHARE ITINERARY
        </h5>
      </div>
      <span class="cs-info" (click)="shareInfo = true">What is this?</span>

      <div class="copy-share-info" *ngIf="shareInfo">
        <h5>Share with other users. A new itinerary is created for each selected user.</h5>
      </div>
    </div>
  </div>

  <h4 class="itinerary-edit-section-header">Others</h4>
  <h4 *ngIf="masterAdmin" class="delete-itinerary" (click)="deleteItinerary = true">Delete this itinerary</h4>
  <h4 *ngIf="!masterAdmin" class="delete-itinerary" (click)="leaveItinerary = true">Leave itinerary</h4>

</div>

<!-- leave itinerary modal -->
<div class="custom-modal" *ngIf="leaveItinerary">
  <div class="form-card">
    <div class="form-header">
      <h3>Leave itinerary?</h3>
      <a (click)="leaveItinerary = false">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ currentItinerary?.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Leaving itinerary {{ currentItinerary?.name }} will permanently remove it from your list of itineraries. You will not be able to participate in the itinerary further. You will also lose all information associated with the itinerary.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="leaveItinerary = false">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmLeave()">LEAVE</h5>
    </div>

  </div>
</div>

<!-- delete itinerary modal -->
<div class="custom-modal" *ngIf="deleteItinerary">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete itinerary?</h3>
      <a (click)="deleteItinerary = false">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ currentItinerary?.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting itinerary {{ currentItinerary?.name }} will permanently remove it from your list of itineraries.  You will lose all information associated with the itinerary.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="deleteItinerary = false">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
    </div>

  </div>
</div>

<!-- admin role info -->
<div class="custom-modal" *ngIf="adminInfo">
  <div class="form-card">
    <div class="form-header">
      <h3>Info: Admin role</h3>
      <a (click)="adminInfo = false">X</a>
    </div>

    <div class="form-housing">
      <h4>Admins for the itinerary are allowed to:</h4>
      <ol>
        <li>Add and remove all users except the creator of the itinerary</li>
        <li>Edit and delete all accommodation items</li>
        <li>Edit and delete all activity items</li>
        <li>Edit and delete all transport items</li>
        <li>Edit and delete all resource items</li>
      </ol>

      <div class="action-response">
        <h5 class="action-response-primary" (click)="adminInfo = false">OK</h5>
      </div>
    </div>
  </div>
</div>

<!-- itinerary date changed -->
<div class="custom-modal" *ngIf="dateChanged">
  <div class="form-card">
    <div class="form-header">
      <h3>Itinerary date range amended</h3>
      <a (click)="dateChanged = false">X</a>
    </div>

    <div class="form-housing change-date-content">
      <h4>Date range for itinerary has been amended.</h4>
      <h5>From ( {{currentItinerary.date_from | date: 'dd MMM yyyy'}} - {{currentItinerary.date_to | date: 'dd MMM yyyy'}} ) to ( {{editItineraryForm.value.date_from | date: 'dd MMM yyyy'}} - {{editItineraryForm.value.date_to | date: 'dd MMM yyyy'}} )</h5>
      <h5>Dates for accommodation and transport arrangements will remain the same.</h5>
      <h5>Dates for activities can be adjusted as below.</h5>
      <h4>Please select how would you like dated activities to be adjusted:</h4>

      <div class="change-date-option">
        <h4 (click)="sameDates()">Keep to same date</h4>
        <h5>Activity and summary note on 05 June 2017 will remain on 05 June 2017.</h5>
        <h5>If the new date range does not include 05 June 2017, the activity will be amended to "any day", summary note will be deleted.</h5>
      </div>

      <div class="change-date-option">
        <h4 (click)="sameDays()">Keep to same day of itinerary</h4>
        <h5>Activity  and summary note on 05 June 2017 (Day 01) will be amended to the new Day 01 date.</h5>
        <h5>For example, itinerary start date change to 07 June 2017, activity and summary note on 05 June 2017 will be moved to 07 June 2017.</h5>
        <h5>Any activity not included in the new date range will be amended to "any day", summary note will be deleted.</h5>
      </div>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL EDIT</h5>
      </div>

    </div>
  </div>
</div>

<!-- copy/share itinerary -->
<div class="custom-modal" *ngIf="shareItin">
  <ww-itinerary-share (cancelShare)="cancelShare($event)" [shareType]="shareType" [itineraries]="itineraries"></ww-itinerary-share>
</div>
