<div class="details-card">

  <!-- accommodation details view -->
  <div class="edit-delete" *ngIf="sameUser">
    <a (click)="editAccommodation()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <a (click)="confirmDeleteAccommodation()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
  </div>

  <h4 class="date-header">{{ event?.checkInDate | date: 'dd MMM yyyy' }}</h4>

  <h4 class="accommodation-header">{{ event?.name | uppercase }}</h4>

  <div class="accommodation-details">

    <div class="check-in-out-header">
      <h5 class="departure-details">Check in:</h5>
      <h5 class="arrival-details">Check out:</h5>
    </div>

    <div class="check-in-out-dates">
      <h5 class="departure-details">{{ event?.checkInDate | date:'dd MMM yyyy' }}</h5>
      <h5 class="arrival-details">{{ event?.checkOutDate | date:'dd MMM yyyy' }}</h5>
    </div>

    <div class="address">
      <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
      <h5>{{ event?.formatted_address }}</h5>
    </div>

    <div class="contact-number">
      <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
      <h5>{{ event?.international_phone_number }}</h5>
    </div>

    <div class="website">
      <a href="{{ event?.website }}" target="_blank"><h5 class="truncate">{{ event?.website }}</h5></a>
    </div>

  </div>

  <div class="note">
    <h6>{{ event?.note }}</h6>
  </div>

  <div class="postby">
    <h6>added by <a routerLink="/users/{{event?.user['_Id']}}">{{ event?.user.username }}</a></h6>
    <p>{{ event?.created_at | date: 'medium' }}</p>
  </div>

</div>
<!-- end of accommodation details view -->

<!-- accommodation edit modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Editing accommodation {{ event?.name }}</h3>
        <a (click)="cancelEditAccommodation()">x</a>
      </div>

      <form [formGroup]="editAccommodationForm" (ngSubmit)="onEditAccommodation()">

        <div class="accommodation-form-details">

          <label>Name of accommodation <span class="required"> - required</span></label>
          <input type="text" formControlName="name" [value]="event.name">

          <label>Address</label>
          <input type="text" formControlName="formatted_address" [value]="event.formatted_address">

          <label>Contact number</label>
          <input type="text" formControlName="international_phone_number" [value]="event.international_phone_number" class="contact-number-input">

          <label>Website</label>
          <input type="url" formControlName="website" [value]="event.website">

          <div class="check-in">
            <label>Check in date <span class="required"> - required</span></label>
            <select name="checkInDate" formControlName="checkInDate" [value]="event.checkInDate">
              <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                <div *ngIf="itinDate === 'any day'">
                  <h5>{{ itinDate }}</h5>
                </div>
                <div *ngIf="itinDate !== 'any day'">
                  <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>
              </option>
            </select>
          </div>

          <div class="check-out">
            <label>Check out date <span class="required"> - required</span></label>
            <select name="checkOutDate" formControlName="checkOutDate" [value]="event.checkOutDate">
              <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                <div *ngIf="itinDate === 'any day'">
                  <h5>{{ itinDate }}</h5>
                </div>
                <div *ngIf="itinDate !== 'any day'">
                  <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>
              </option>
            </select>
          </div>

          <div class="accommodation-note">
            <label>Note</label>
            <textarea rows="3" formControlName="note" [value]="event.note"></textarea>
          </div>

          <button type="button" class="deleteButton" (click)="cancelEditAccommodation()">Cancel edit</button>
          <button type="submit" class="primaryButton" [disabled]="!editAccommodationForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>

        </div>

      </form>
    </div>
  </div>
</div>
<!-- end of accommodation edit modal -->


<div class="custom-modal" *ngIf="deleteAccommodation">
  <div class="confirm-delete">
    <div class="confirm-delete-header">
      <h4>Delete accommodation {{ event?.name }}</h4>
      <span class="x-close" (click)="cancelDeleteAccommodation()">&times;</span>
    </div>
    <h4 class="confirm-delete-content">Deleting accommodation <span class="confirm-delete-name">{{ event?.name }}</span> will permanently remove it from your itinerary.</h4>
    <div class="confirm-delete-footer">
      <button type="button" (click)="cancelDeleteAccommodation()">Cancel delete</button>
      <button type="button" class="deleteButton" (click)="onDeleteAccommodation()">Yes, delete {{ event?.name }}</button>
    </div>
  </div>
</div>
