.departureDetails {
  margin-bottom: 5px;
  color: darkred;
}

.arrivalDetails {
  margin-bottom: 5px;
  color: darkblue;
}

.address,
.contactNumber  {
  margin-bottom: 5px;
}

.website  {
  margin-bottom: 10px;
}


.accommodationDetails {
  padding:0 10px;
}

/******************************
  accommodation edit
******************************/
.formCard {
  position: relative;
  margin: 3% auto;
  width: 50%;
  background-color: white;
}

.edit-header  {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  border-radius: 5px 5px 0 0;
}
