.departure-details,
.arrival-details  {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.departure-details > *,
.arrival-details > *  {
  padding-bottom: 3px;
}

.address > h6,
.contact-number > h6  {
  vertical-align: top;
  display: inline-block;
  width: 90%;
}

.address > h6:first-child,
.contact-number > h6:first-child  {
  width: 5%;
}

.note{
  margin-bottom: 15px;
}

/* edit form */
.accommodation-note {
  display: block;
}

.anytime-input  {
  display: inline-block;
}

.anytime-input > label > input  {
  display: inline-block;
  width: 15px;
}

.marginBottom {
  margin-bottom: 10px;
}
