<!-- add to itinerary modal -->
<div *ngIf="addRecommendation" class="custom-modal">
  <ww-add-recommendation
    [recommendation]="recommendation"
    [currentUser]="currentUser"
    (updateAdd)="updateAdd($event)"
    (cancelAdd)="cancelAdd($event)"></ww-add-recommendation>
</div>

<div class="main">

  <div class="recommend-header">
    <h3>{{ recommendation?.originator.username }} recommended {{ recommendation?.place.name }}</h3>

    <div class="added-message" *ngIf="recommendation?.itinerary.length > 0">
      <h5><i class="fa fa-check fa-lg" aria-hidden="true"></i> You have added this recommendation to the itineraries:</h5>

      <div *ngFor="let itinerary of recommendation?.itinerary">
        <h4 [routerLink]="['/me/itinerary/', itinerary._id]">{{ itinerary.name }}</h4>
      </div>
    </div>

    <h4 (click)="addToItinerary()">Add to itinerary</h4>
    <h4 (click)="delete()">Delete</h4>
  </div>

  <div class="recommendation-message">
    <ww-user-profile-card [user]="recommendation?.originator" [currentUser]="recommendation?.recipient"></ww-user-profile-card>

    <div class="message">
      <h4>Says: </h4>
      <h4 [innerHTML]="recommendation?.formatted_message"></h4>
    </div>
  </div>

  <div class="slider" *ngIf="recommendation?.place.photos">
    <div class="slider-images" *ngFor="let image of recommendation?.place.photos; let i = index">
      <input type="radio" name="slide_switch" id="image-{{i}}" checked>
      <label for="image-{{i}}">
        <img src="{{ image.url }}" alt="">
      </label>
      <img src="{{ image.url }}" alt="">
      <h5 class="photo-credit" [innerHTML]="image.credit"></h5>
    </div>
  </div>

  <div class="details">
    <div class="details-item" *ngIf="recommendation?.place.formatted_address">
      <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
      <h5> {{ recommendation?.place.formatted_address }}</h5>
    </div>

    <div class="details-item" *ngIf="recommendation?.place.international_phone_number">
      <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
      <a href="tel:{{ recommendation?.international_phone_number }}">{{ recommendation?.place.international_phone_number }}</a>
    </div>

    <div class="details-item" *ngIf="recommendation?.formatted_hours">
      <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
      <h5 [innerHTML]="recommendation?.formatted_hours"></h5>
    </div>

    <div class="details-item" *ngIf="recommendation?.place.entry_fee">
      <i class="fa fa-money fa-fw" aria-hidden="true"></i>
      <h5>{{ recommendation?.place.entry_fee }}</h5>
    </div>

    <div class="details-item" *ngIf="recommendation?.place.website">
      <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
      <h5 class="truncate">
        <a href="{{recommendation?.place.website}}" target="_blank" class="website-link">{{ recommendation?.place.website }}</a>
      </h5>
    </div>

    <div class="details-item" *ngIf="recommendation?.formatted_note">
      <i class="fa fa-sticky-note-o fa-fw" aria-hidden="true"></i>
      <h5 class="note" [innerHTML]="recommendation?.formatted_note"></h5>
    </div>

  </div>

  <div class="map">
    <ww-location-pin
    [lat]="recommendation?.place.lat"
    [lng]="recommendation?.place.lng"
    [width]="'300px'"
    [height]="'300px'"></ww-location-pin>
  </div>
</div>


<!-- recommendation delete modal -->
<div class="custom-modal" *ngIf="deleteRecommendation">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete recommendation?</h3>
      <a (click)="cancelDelete()">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ recommendation?.place.name }} recommended by {{ recommendation?.originator.username }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting recommendation {{ recommendation?.place.name  }} will permanently remove it from your list of recommendations.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelDelete()">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
    </div>

  </div>
</div>
