<div class="logo" [routerLink]="['/']">
  <img src="assets/wondererwanderer_logo.png" alt="">
</div>



<div class="forget-container">
  <h3>You have requested to reset your password.</h3>
  <h3>Please enter the email you used to register for wondererwanderer.</h3>

  <form [formGroup]="fpForm" (ngSubmit)="reset()">
    <label>Email</label>
    <input type="text" formControlName="email">
    <span class="form-validator"
      *ngIf="fpForm.get('email').touched && fpForm.get('email').invalid">Invalid email address</span>

    <div class="action-response">
      <button type="submit" class="action-response-primary" [disabled]="!fpForm.valid"><h4>SUBMIT</h4></button>
    </div>
  </form>
</div>


<div class="custom-modal" *ngIf="resetEmail">
  <div class="form-card">
    <div class="form-header">
      <h3>Please check your email</h3>
    </div>

    <div class="content-without-header-name">
      <h4>An email has been sent to {{ email }}. Please follow the instructions in the email to reset your password. The link will expire in an hour.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="close()">OK</h5>
    </div>
  </div>

</div>
