<div *ngIf="date === 'any day' || itinerary?.num_days">
  <h5 class="event-date" (click)="addNew(date)">{{ date }}</h5>
</div>

<div *ngIf="date !== 'any day' && !itinerary?.num_days">
  <h5 class="event-date" (click)="addNew(date)">Day {{ index }} <span>{{ date | date: "dd MMM (EEE)" }}</span></h5>
</div>



<div class="daily-note" *ngIf="index === 0" (click)="editing = true">
  <h6>Note <span *ngIf="dailyNote !== ''">(Click to edit)</span></h6>

  <div>
    <h5 class="nil-daily-note" *ngIf="dailyNote === ''">Click to add note for the day. e.g. Day trip to Disneyland</h5>
    <p [innerHTML]="dailyNote"></p>
  </div>

</div>

<div class="daily-note" *ngIf="index > 0" (click)="editing = true">
  <h6>Day {{ index }} note <span *ngIf="dailyNote !== ''">(Click to edit)</span></h6>

  <div>
    <h5 class="nil-daily-note" *ngIf="dailyNote === ''">Click to add note for the day. e.g. Day trip to Disneyland</h5>
    <p [innerHTML]="dailyNote"></p>
  </div>

</div>


<div class="summary-stay">

  <div *ngIf="accommodations.length > 0 && date !== 'any day'">
    <i class="fa fa-bed fa-lg" aria-hidden="true"></i>

    <div class="accom">
      <div *ngFor="let accom of accommodations">
        <h5 class="event-stay-city">{{ accom?.city | uppercase }}</h5>
        <h5 class="summary-stay-name">{{ accom?.name }}</h5>
      </div>
    </div>
    <h5 *ngIf="accommodations.length > 1" class="multi-accom">There are {{ accommodations.length }} accommodations on this day</h5>

  </div>

  <div class="book-accom" *ngIf="accommodations.length === 0 && date !== 'any day'">
    <a href="https://www.booking.com/index.html?aid=1439580" target="_blank">
      Book an accommodation at
      <img src="assets/booking-com.png" alt="">
    </a>
  </div>
</div>


<div *ngFor="let event of events">
  <div *ngIf="event?.summary_date === date" class="summary-item-container"  [class.highlight-activity]="event?.highlight">

    <div class="get-to" *ngIf="event?.distance">
      <div class="distance">
        <h5><i class="fa fa-long-arrow-down" aria-hidden="true"></i> {{ event?.distance }}km</h5>
        <h5><img src="assets/man.png" alt=""> est. {{ event?.walk }} min walk</h5>
      </div>
    </div>

    <div class="summary-time-index">
      <h5 class="event-time">{{ event?.summary_time }}</h5>
      <div class="transport-index" *ngIf="event?.type === 'transport'">
        <h5>G{{ event?.t_index }}</h5>
      </div>
    </div>

    <div *ngIf="event?.type === 'accommodation'" class="summary-item" (click)="showDetails(event)">
      <div class="accommodation-indicator pill"></div>

      <div *ngIf="event?.inOut === 'checkout'" class="event-content">
        <h5>Check out</h5>
        <h5>{{ event?.name }}</h5>
      </div>


      <div *ngIf="event?.inOut === 'checkin'" class="event-content">
        <h5>Check in</h5>

        <div>
          <h5 class="event-stay-city">
            <i class="fa fa-bed" aria-hidden="true"></i> {{ event?.city | uppercase }} ( {{ event?.numDays }} )
          </h5>

          <h5>{{ event?.name }}</h5>
          <h5 class="check-out-on" *ngIf="!itinerary?.num_days">stay till {{ event?.check_out_date | date: 'dd MMM (EEE)' }}</h5>
          <h5 class="check-out-on" *ngIf="itinerary?.num_days">stay till {{ event?.check_out_date }}</h5>

        </div>
      </div>

      <h5 class="event-note" *ngIf="event?.note !== ''"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> {{ event?.note }}</h5>

    </div>

    <div *ngIf="event?.type === 'activity'" class="summary-item" (click)="showDetails(event)">

      <div>
        <div class="activity-indicator pill"></div>

        <div class="event-content">
          <h5>{{ event?.name }}</h5>
        </div>

        <div *ngIf="event?.meal">
          <div class="meals-display" *ngFor="let meal of event?.meals">
            <h6 *ngIf="meal.checked">{{ meal.value }}</h6>
          </div>
        </div>

      </div>

      <h5 class="event-note" *ngIf="event?.note !== ''"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> {{ event?.note }}</h5>

    </div>

    <div *ngIf="event?.type === 'transport'" class="summary-item" (click)="showDetails(event)">
      <div class="transport-indicator pill"></div>

      <div *ngIf="event?.approach === 'departure'" class="event-content">
        <div [ngSwitch]="event?.transport_type">
          <h5 *ngSwitchCase="'flight'"><i class="fa fa-plane" aria-hidden="true"></i> {{ event?.reference_number | uppercase }}</h5>
          <h5 *ngSwitchCase="'train'"><i class="fa fa-train" aria-hidden="true"></i> Train</h5>
          <h5 *ngSwitchCase="'bus'"><i class="fa fa-bus" aria-hidden="true"></i> Bus {{ event?.reference_number | uppercase }}</h5>
          <h5 *ngSwitchCase="'cruise'"><i class="fa fa-ship" aria-hidden="true"></i> Cruise</h5>
          <h5 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car" aria-hidden="true"></i> Vehicle rental</h5>
          <h5 *ngSwitchCase="'transport'"><i class="fa fa-rocket" aria-hidden="true"></i> Transport</h5>
        </div>

        <h5>departs {{ event?.dep_city }} for {{ event?.arr_city}}</h5>
        <h5 class="summary-airport" *ngIf="event?.transport_type === 'flight'">{{ event?.dep_station }}</h5>
      </div>

      <div *ngIf="event?.approach === 'arrival'" class="event-content">
        <div [ngSwitch]="event?.transport_type">
          <h5 *ngSwitchCase="'flight'"><i class="fa fa-plane" aria-hidden="true"></i> {{ event?.reference_number | uppercase }} arrives {{ event?.arr_city}}</h5>
          <h5 *ngSwitchCase="'train'"><i class="fa fa-train" aria-hidden="true"></i> Train arrives {{ event?.arr_city}}</h5>
          <h5 *ngSwitchCase="'bus'"><i class="fa fa-bus" aria-hidden="true"></i> Bus {{ event?.reference_number | uppercase }} arrives {{ event?.arr_city}}</h5>
          <h5 *ngSwitchCase="'cruise'"><i class="fa fa-ship" aria-hidden="true"></i> Cruise arrives {{ event?.arr_city}}</h5>
          <h5 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car" aria-hidden="true"></i> Vehicle rental arrives {{ event?.arr_city}}</h5>
          <h5 *ngSwitchCase="'transport'"><i class="fa fa-rocket" aria-hidden="true"></i> Transport arrives {{ event?.arr_city}}</h5>
        </div>

        <h5 class="summary-airport" *ngIf="event?.transport_type === 'flight'">{{ event?.arr_station }}</h5>
      </div>

      <h5 class="event-note" *ngIf="event?.note !== '' && event?.approach === 'departure'"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> {{ event?.note }}</h5>

    </div>

  </div>
</div>

<div class="custom-modal" *ngIf="editing">
  <div class="form-card">
    <div class="form-header">
      <h3 *ngIf="index === 0">Edit any day note</h3>
      <h3 *ngIf="index > 0">Edit Day {{ index }} note</h3>
      <a (click)="editing = false">X</a>
    </div>

    <div class="content-without-header-name">
      <h4 *ngIf="index === 0">Editing any day note</h4>
      <h4 *ngIf="index > 0">Editing note for {{ date | date: "dd MMM (EEE)" }} - Day {{ index }}</h4>

      <textarea rows="2" [value]="itinerary?.daily_note[index]['note']" #editedNote auto-grow></textarea>

        <div class="action-response">
          <h5 class="action-response-secondary" (click)="editing = false">CANCEL</h5>
          <h5 class="action-response-primary" (click)="updateNote(editedNote.value)">SAVE</h5>
        </div>
    </div>
  </div>
</div>
