
/* daily note display */

.daily-note  {
  padding: 5px;
  height: 70px;
  background-color: rgba(100, 148, 237, 0.1);

  @media only screen and (max-width: 420px) {
    margin-top: 0;
  }
}


.daily-note h6  {
  color: grey;
}

.daily-note p {
  padding: 4px 8px;
  width: 385px;
  height: 50px;
  font-size: 11px;
  overflow: auto;

  @media only screen and (max-width: 420px) {
    width: calc(100vw - 10px);
  }
}

.daily-note p::-webkit-scrollbar  {
  width: 4px;
  border-radius: 5px;
  background-color: rgba(100, 148, 237, 0.5);
}


.nil-daily-note {
  padding-top: 4px;
  font-size: 10px;
  color: #808080;
}



/* distance display */
.get-to {
  padding: 5px 0 10px 0;
}

.distance {
  display: inline-block;
  margin-left: 50px;
  padding: 0px 5px;
  color: #808080;
  vertical-align: top;
  border: 1px solid #808080;
  border-radius: 2px;
}

.distance h5  {
  display: inline-block;
  padding: 0 5px;
  color: #808080;
}

.fa-long-arrow-down {
  color: #3A4A4D;
}

.distance img {
  height: 11px;
}


/* date display */

.event-date {
  width: 100%;
  height: 25px;
  text-align: left;
  padding: 6px 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #E6E6E6;
  background-color: #567FCC;
  cursor: pointer;
}

.event-date span  {
  padding-left: 10px;
  color: #F9FBFB;
  font-size: 1.1em;
}


/* accommodation stay header */
.summary-stay {
  background-color:wheat;
}

.summary-stay i {
  display: inline-block;
  margin: 15px 10px;
  vertical-align: top;
}

.accom {
  display: inline-block;
  width: 350px;
  padding: 12px 10px 2px 0;
}

.summary-stay .event-stay-city  {
  padding: 0;
}

.summary-stay-name  {
  padding-bottom: 10px;
  font-weight: 500;
}

.multi-accom  {
  padding-bottom: 5px;
  text-align: center;
  color: red;
}

.book-accom {
  padding: 5px 20px;
  width: 100%;
  text-align: center;
  background-color: khaki;
}

.book-accom a {
  color: #3A4A4D;
  font-size: 12px;
}

.book-accom img {
  margin-top: -10px;
  height: 18px;
  vertical-align: bottom;
}




/* individual event display */

.summary-item-container {
  padding: 10px;
  border-bottom: .5px solid rgba(0,0,0,.1);

  &:hover {
    background-color: rgba(100, 148, 237, 0.2);
  }
}

.summary-time-index{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.event-time  {
  font-weight: 500;
}

.transport-index  {
  display: inline-block;
  margin-top: 3px;
  padding: 3.5px;
  height: 20px;
  vertical-align: bottom;
  text-align: center;
  border: 1px solid crimson;
  border-radius: 3px;
}

.transport-index h5 {
  color: crimson;
  font-weight: 500;
}





.summary-item {
  display: inline-block;
  width: 324px;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 420px) {
    min-width: 240px;
    width: calc(100vw - 40px);
  }
}



/* type indicator */

.pill {
  vertical-align: top;
}



/* event content display */

.event-content  {
  display: inline-block;
  width: 310px;
  vertical-align: top;
  padding-left: 0;
  padding-bottom: 0;
  overflow-wrap: break-word;

  @media only screen and (max-width: 420px) {
    width: calc(100vw - 50px);
  }
}

.event-content h5  {
  font-weight: 500;

  @media only screen and (max-width: 420px) {
    padding-left: 5px;
    font-size: 1em;
  }
}

.accommodation-indicator ~ .event-content,
.transport-indicator ~ .event-content {
  padding-bottom: 3px;
}


.event-note {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* style for accommodation type */

.event-stay-city  {
  padding-bottom: 10px;
  color: #6494ED;
}

h5.check-out-on {
  color: grey;
  font-weight: 400 !important;
}




/* style for activity type */

.summary-item > div > img {
  width: 36px;
  height: 36px;
}



/* style for transport */
.event-content h5.summary-airport  {
  padding-top: 3px;
  font-weight: 400;
}


/* edit daily note */
.content-without-header-name h4 {
  padding: 0 0 5px 2px;
}
