<div class="landing-page-container">

  <div class="landing-page-logo">

    <img src="assets/wondererwanderer_logo2.png" alt="">

    <h4 class="auth-header log-in" (click)="getSignin()">LOG IN</h4>
    <h4 class="auth-header" (click)="getSignup()">SIGN UP</h4>

  </div>

  <img class="landing-page-image" src="assets/mt_fuji.jpeg" alt="">

  <div class="landing-page-main">

    <div class="landing-page-tagline">
      <h1>Travel planning does not need to be so painful</h1>
      <h2>We help you simplify the process</h2>
    </div>

    <h2 class="call-to-action" (click)="getSignup()">Sign up now!</h2>

    <a href="#how-it-works">
      <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true"></i>
    </a>

  </div>

  <div id="how-it-works">
    <h1>HOW WE DO IT</h1>
    <h2 class="sub">We make it easy to add details</h2>

    <div class="hiw-example">
      <h3>Give us a name or address and we will do the rest</h3>
      <img class="gif" src="assets/example-search.gif" alt="">
    </div>

    <div class="hiw-example">
      <h3>Your flight details too!</h3>
      <img class="gif" src="assets/example-search-transport.gif" alt="">
    </div>


    <h2 class="leading">The details are then organised in different views that helps with your planning</h2>

    <a href="#slide-show">
      <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true"></i>
    </a>
  </div>


  <div id="slide-show" class="landing-page-slideshow">

    <div class="slideshow-header">
      <h1 class="example-header eg-delay">SUMMARY</h1>
      <h1 class="example-header eg-delay">MAP VIEW</h1>
      <h1 class="example-header eg-delay">ACCOMMODATION</h1>
      <h1 class="example-header eg-delay">TRANSPORT</h1>
      <h1 class="example-header eg-delay">ACTIVITY</h1>
      <h1 class="example-header eg-delay">RESOURCE</h1>
    </div>

    <div class="slideshow-text">
      <h2 class="text-example eg-delay">Chronological view of the itinerary</h2>
      <h2 class="text-example eg-delay">Know where you are going to</h2>
      <h2 class="text-example eg-delay">A dedicated view of all accommodation arrangements</h2>
      <h2 class="text-example eg-delay">A dedicated view of all transport arrangements</h2>
      <h2 class="text-example eg-delay">A dedicated view of all activities</h2>
      <h2 class="text-example eg-delay">A place for your notes and website links you are interested in</h2>
    </div>

    <div class="slideshow-laptop">
      <div class="slider-wrapper">
        <img class="img-example eg-delay" src="assets/example-summary.png" alt="">
        <img class="img-example eg-delay" src="assets/example-map.png" alt="">
        <img class="img-example eg-delay" src="assets/example-accommodation.png" alt="">
        <img class="img-example eg-delay" src="assets/example-transport.png" alt="">
        <img class="img-example eg-delay" src="assets/example-activity.png" alt="">
        <img class="img-example eg-delay" src="assets/example-resource.png" alt="">
      </div>
    </div>

    <div class="slideshow-mobile">
      <div class="slider-wrapper">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-summary-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-map-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-accommodation-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-transport-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-activity-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-resource-mobile.png" alt="">
      </div>
    </div>

    <div class="sample" (click)="goToSample()">
      <h3>View this itinerary</h3>
    </div>

    <a href="#share">
      <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true"></i>
    </a>

  </div>

  <div id="share">
    <h1>HOW WE DO IT</h1>
    <h2>We enable seamless sharing</h2>
    <h2 class="sub">"Share your itinerary" - we actually make it happen</h2>

    <img src="assets/sharing.png" alt="">

    <h2 class="leading">Adopt and adapt travel-ready itineraries for your trip!</h2>

    <a href="#benefit">
      <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true"></i>
    </a>
  </div>


  <div id="benefit">
    <h1>HOW DO YOU BENEFIT ?</h1>

    <div class="sub-section">
      <img src="assets/clock.png" alt="">

      <div class="explain">
        <h3>SAVE TIME & EFFORT</h3>
        <h4>Adding details is now easier</h4>
        <h4>Even better when someone shares with you</h4>
      </div>
    </div>

    <div class="sub-section">
      <img src="assets/checklist.png" alt="">

      <div class="explain">
        <h3>ORGANISE YOUR TRAVEL DETAILS IN ONE PLACE</h3>
        <h4>No more fumbling for details</h4>
        <h4>We do the formatting for you</h4>
      </div>
    </div>

    <div class="sub-section">
      <img src="assets/group.png" alt="">

      <div class="explain">
        <h3>SHARING IS EASIER</h3>
        <h4>No more sharing items individually</h4>
        <h4>No more "can you send me the link again"</h4>
      </div>
    </div>

    <div class="sub-section">
      <img src="assets/check-in.png" alt="">

      <div class="explain">
        <h3>SAVE YOUR FAVOURITE PLACES</h3>
        <h4>We create a special place for your favourite places</h4>
      </div>
    </div>
  </div>


  <div class="landing-page-teaser">
    <h2>And this is just the beginning</h2>
    <h3>as we continue to simplify the travel planning process</h3>
  </div>

  <div class="landing-page-footer">
    <div class="company-information">
      <h6>ABOUT US</h6>
      <h6>CONTACT US</h6>
      <h6 [routerLink]="['/privacy-policy']">PRIVACY POLICY</h6>
    </div>

    <h6 class="copyright">@2017 WONDERERWANDERER. ALL RIGHTS RESERVED</h6>
  </div>

</div>

<div class="custom-modal" *ngIf="showSignin">
  <ww-signin
    [reroute]="reroute"
    (hideSignin)="hideSignin($event)"></ww-signin>
</div>

<div class="custom-modal" *ngIf="showSignup">
  <ww-signup
    [reroute]="reroute"
    (hideSignup)="hideSignup($event)"></ww-signup>
</div>
