<div class="landing-page-container">

  <div class="landing-page-logo">

    <img src="assets/wondererwanderer_logo2.png" alt="">

    <h4 class="auth-header log-in" (click)="getSignin()">LOG IN</h4>
    <h4 class="auth-header" (click)="getSignup()">SIGN UP</h4>

  </div>

  <img class="landing-page-image" src="{{ mtfuji }}" alt="">

  <div class="landing-page-main">

    <div class="landing-page-tagline">
      <h1>Travel planning does not need to be so painful</h1>
      <h2>We help you simplify the process</h2>
    </div>

    <h3 class="call-to-action" (click)="getSignup()">Create an itinerary now!</h3>

  </div>

  <div id="curated">
    <h1>Discover curated itineraries</h1>
    <hr class="header-separator">

    <h2 class="sub">We bring you to the best</h2>

    <div class="curated-itinerary" (click)="routeTo('5971d919773bea000429a120')">
      <div class="banner">3 days</div>
      <img src="https://res.cloudinary.com/wwfileupload/image/upload/v1508647930/Hokkien_mee_01_haxuk7.jpg" alt="">
      <h3>Penang Food Fest</h3>
    </div>

    <div class="curated-itinerary" (click)="routeTo('59bf62363f3ff000041d3e2c')">
      <div class="banner">1 day</div>
      <img src="https://res.cloudinary.com/wwfileupload/image/upload/v1508161310/Thalang_Road_01_pw3uz2.jpg" alt="">
      <h3>A day in Phuket Town</h3>
    </div>

    <div class="curated-itinerary" (click)="routeTo('59bfb2e0c6f8230004dd7ef7')">
      <div class="banner">6 days</div>
      <img src="https://res.cloudinary.com/wwfileupload/image/upload/v1506413609/Thatbyinnyu_lcovz2.jpg" alt="">
      <h3>Jewels of Myanmar</h3>
    </div>
  </div>

  <div id="hwdi">
    <h1>Let's see how we simplify the process</h1>
    <hr class="header-separator">

    <h2 class="sub">We make it easy to add details</h2>

    <h3>Give us a name or address and we will populate the basic details for you</h3>

    <div class="hwdi-example">
      <h3>name / address|</h3>
      <img src="assets/filter.png" alt="">

      <div class="output">
        <h4><i class="fa fa-check fa-fw" aria-hidden="true"></i><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Address</h4>
        <h4><i class="fa fa-check fa-fw" aria-hidden="true"></i><i class="fa fa-phone fa-fw" aria-hidden="true"></i> Contact number</h4>
        <h4><i class="fa fa-check fa-fw" aria-hidden="true"></i><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> Opening hours</h4>
        <h4><i class="fa fa-check fa-fw" aria-hidden="true"></i><i class="fa fa-globe fa-fw" aria-hidden="true"></i> Website</h4>
        <h4><i class="fa fa-check fa-fw" aria-hidden="true"></i><i class="fa fa-camera fa-fw" aria-hidden="true"></i> Photo</h4>
        <h4><i class="fa fa-check fa-fw" aria-hidden="true"></i><i class="fa fa-map-pin fa-fw" aria-hidden="true"></i> Pin location</h4>
      </div>

    </div>

    <h2 class="leading">The details are organised in different views that helps with your planning</h2>
    <img src="assets/arrow_down.png" alt="">
  </div>


  <div id="slide-show">

    <div class="slideshow-header">
      <h1 class="example-header eg-delay">Description</h1>
      <h1 class="example-header eg-delay">Summary</h1>
      <h1 class="example-header eg-delay">Map view</h1>
      <h1 class="example-header eg-delay">Accommodation</h1>
      <h1 class="example-header eg-delay">Transport</h1>
      <h1 class="example-header eg-delay">Activity</h1>
      <h1 class="example-header eg-delay">Resource</h1>
    </div>

    <div class="slideshow-text">
      <h2 class="text-example eg-delay">The story behind the trip</h2>
      <h2 class="text-example eg-delay">Chronological view of the itinerary</h2>
      <h2 class="text-example eg-delay">Know where you are going to</h2>
      <h2 class="text-example eg-delay">A dedicated view of all accommodation arrangements</h2>
      <h2 class="text-example eg-delay">A dedicated view of all transport arrangements</h2>
      <h2 class="text-example eg-delay">A dedicated view of all activities</h2>
      <h2 class="text-example eg-delay">A place for your notes and website links you are interested in</h2>
    </div>

    <div class="slideshow-desktop">
      <div class="slider-wrapper">
        <img class="img-example eg-delay" src="{{ description }}" alt="">
        <img class="img-example eg-delay" src="{{ summary }}" alt="">
        <img class="img-example eg-delay" src="{{ map }}" alt="">
        <img class="img-example eg-delay" src="{{ accommodation }}" alt="">
        <img class="img-example eg-delay" src="{{ transport }}" alt="">
        <img class="img-example eg-delay" src="{{ activity }}" alt="">
        <img class="img-example eg-delay" src="{{ resource }}" alt="">
      </div>
    </div>

    <div class="slideshow-mobile">
      <div class="slider-wrapper">
        <img class="img-example img-example-mobile eg-delay" src="{{ descriptionM }}" alt="">
        <img class="img-example img-example-mobile eg-delay" src="{{ summaryM }}" alt="">
        <img class="img-example img-example-mobile eg-delay" src="{{ mapM }}" alt="">
        <img class="img-example img-example-mobile eg-delay" src="{{ accommodationM }}" alt="">
        <img class="img-example img-example-mobile eg-delay" src="{{ transportM }}" alt="">
        <img class="img-example img-example-mobile eg-delay" src="{{ activityM }}" alt="">
        <img class="img-example img-example-mobile eg-delay" src="{{ resourceM }}" alt="">
      </div>
    </div>

  </div>

  <div id="share">
    <h1>How else we simplify it</h1>
    <hr class="header-separator">

    <h2>We enable seamless sharing</h2>
    <h2 class="sub">"Share your itinerary" - we actually make it happen</h2>

    <img src="assets/sharing.png" alt="">

    <h2 class="leading">Adopt and adapt travel-ready itineraries for your trip!</h2>

  </div>


  <div id="benefit">
    <h1>How do we help you</h1>
    <hr class="header-separator">

    <div class="sub-section">
      <img src="assets/clock_black.png" alt="">

      <div class="explanation">
        <h3>SAVE TIME & EFFORT</h3>
        <h4>Adding details is now easier and faster</h4>
        <h4>Even better when someone shares with you</h4>
        <h4>We do the formatting for you</h4>
      </div>
    </div>

    <div class="sub-section sec-B">
      <img src="assets/checklist_black.png" alt="">

      <div class="explanation">
        <h3>ORGANISE YOUR TRAVEL DETAILS IN ONE PLACE</h3>
        <h4>No more fumbling for details</h4>
        <h4>Have a bird's eye view of all your information</h4>
      </div>
    </div>

    <div class="sub-section sec-C">
      <img src="assets/sharing_black.png" alt="">

      <div class="explanation">
        <h3>SHARING IS EASIER</h3>
        <h4>Be inspired by your friend's itinerary</h4>
        <h4>No more sharing information individually</h4>
      </div>
    </div>

    <div class="sub-section">
      <img src="assets/favourite_black.png" alt="">

      <div class="explanation">
        <h3>SAVE YOUR FAVOURITE PLACES</h3>
        <h4>We create a special place for your favourite places</h4>
      </div>
    </div>
  </div>


  <div id="teaser">
    <h2>And this is just the beginning</h2>
    <h3>as we continue to simplify the travel planning process</h3>
  </div>

  <div id="footer">
    <div class="company-information">
      <h6 [routerLink]="['/about-us']">ABOUT US</h6>
      <h6 [routerLink]="['/contact-us']">CONTACT US</h6>
      <h6 [routerLink]="['/privacy-policy']">PRIVACY POLICY</h6>
      <h6 [routerLink]="['/terms-of-service']">TERMS OF SERVICE</h6>
    </div>

    <div class="social">
      <a href="https://www.instagram.com/_wonderer_wanderer_/" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>

      <a href="https://www.facebook.com/wondererwanderer.travel" target="_blank">
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      </a>

      <a href="mailto:contact@wondererwanderer.com">
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    
    <h6 class="copyright">@2017 WONDERERWANDERER. ALL RIGHTS RESERVED</h6>
  </div>

</div>

<div class="custom-modal" *ngIf="showSignin">
  <ww-signin
    [reroute]="reroute"
    (hideSignin)="hideSignin($event)"></ww-signin>
</div>

<div class="custom-modal" *ngIf="showSignup">
  <ww-signup
    [reroute]="reroute"
    (hideSignup)="hideSignup($event)"></ww-signup>
</div>
