.landing-page-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.landing-page-logo {
  position: absolute;
  width: 74%;
  margin-left: 13%;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;

  @media only screen and (max-width: 550px) {
    width: 93%;
    margin-left: 5%;
  }
}

.landing-page-logo > img  {
  height: 20px;
  margin-top: 20px;

  @media only screen and (max-width: 550px) {
    height: 15px;
    margin-top: 25px;
  }
}

.auth-header  {
  display: inline-block;
  margin: 25px 5px 0 5px;
  color: #F9FBFB;
  float: right;

  &:hover {
    cursor: pointer;
    color: #3A4A4D;
  }

  @media only screen and (max-width: 550px) {
    margin-top: 28px;
    font-size: 0.83em;
  }
}

.log-in {
  margin-top: 18px;
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    border: 2px solid #3A4A4D;
  }

  @media only screen and (max-width: 550px) {
    margin-top: 21px;
  }
}


/* background image */

.landing-page-image {
  height: 70vh;
  width: 100vw;
}


/* main section */

.landing-page-main  {
  position: absolute;
  top: 0;
  padding-top: 100px;
  width: 100vw;
  height: 70vh;
  text-align: center;
  background-color: rgba(0,0,0,.4);

  @media only screen and (max-width: 450px) {
    padding-top: 80px;
  }
}

.landing-page-tagline {
  margin-top: 120px;
  margin-left: calc((100vw - 470px)/2);
  width: 470px;
  color: #F9FBFB;
  vertical-align: top;
  font-family: 'Fira Sans', sans-serif;

  @media only screen and (max-width: 650px) {
    width: 100vw;
    margin: 0;
    padding: 0 20px;
  }
}

.landing-page-tagline > h1  {
  // margin-bottom: 20px;
  font-size: 40px;
  font-weight: 300;
  color: #F9FBFB;
  text-align: left;
}

.landing-page-tagline > h3  {
  font-size: 20px;
  font-weight: 300;
  color: #F9FBFB;
  text-align: justify;
}

.bullet-list h5 {
  display: inline-block;
  margin: 10px;
  font-size: 13px;
  color: #F9FBFB;
}

.call-to-action {
  position: absolute;
  top: 60vh;
  margin-left: calc((100vw - 200px )/2);
  width: 200px;
  padding: 10px;
  text-align: center;
  color: #F9FBFB;
  background-color: #6494ED;
  border-radius: 5px;
  border: 2px solid #F9FBFB;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}


hr.header-separator {
  margin-top: 0;
  margin-bottom: 40px;
  width: 150px;
  border-top: 2px solid #6494ED;
}




/* how to section */
#how-to {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  background-color: white;
}

#how-to h1  {
  padding: 70px 0 20px 0;
  color: #6494ED;
}

.how-to-container {
  width: 770px;
  margin-left: calc((100vw - 770px) /2);

  @media only screen and (max-width: 770px) {
    width: 100%;
    margin: 0;
  }
}

.follow-friend,
.check-itin,
.copy-it,
.edit-it  {
  display: inline-block;
  margin: 40px;
  width: 300px;
  vertical-align: top;

  @media only screen and (max-width: 770px) {
    margin: 60px 0;
  }
}

.seq  {
  position: absolute;
  margin-top: -45px;
}

.seq img  {
  height: 40px;
}

.seq h3 {
  position: absolute;
  margin: -32px 0 0 17px;
  color: #6494ED;
}

/* step 01 follow friend */
.follow-friend > h3 {
  padding-bottom: 20px;
}

.user-example {
  padding: 5px 0;
  text-align: left;
}

.user-example > h5  {
  display: inline-block;
  margin-left: 30px;
  padding: 5px 10px;
  color: #F9FBFB;
  vertical-align: super;
  background-color: #6494ED;
  border-radius: 5px;
}


/* step 02 check out itineraries */
.check-itin h3 {
  padding-bottom: 20px;
}

.check-itin > .user-example {
  padding-left: 30px;
}

.check-itin .user-details {
  width: 60%;
}

.itin-eg  {
  display: inline-block;
  margin: 10px 0;
  width: 120px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
}

.itin-eg img  {
  width: 120px;
  height: 60px;
}

.itin-eg h5 {
  padding: 5px;
  text-align: left;
}

/* copy it */
.copy-it > h3 {
  padding-bottom: 40px;
}

.copy-it .itin-eg {
  margin-left: -30px;
  opacity: .5;
}

.copy-it .copy-eg {
  position: absolute;
  margin: 30px 0 0 -80px;
  opacity: 1;
}

/* edit it */
.edit-it > h3 {
  padding-bottom: 40px;
}

.fa-cogs  {
  padding-bottom: 30px;
}

.edit-it > a {
  position: absolute;
  margin: -35px 0 0 75px;
  color: #6494ED;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

/* create it */
.create-it  {
  margin: 40px 40px 0 40px;
  padding-bottom: 60px;

  @media only screen and (max-width: 770px) {
    width: 300px;
    margin-left: calc((100vw - 300px)/2);
  }
}

.create-it-now  {
  margin: 40px 0 0 240px;
  width: 210px;
  padding: 10px;
  text-align: center;
  color: #F9FBFB;
  background-color: #6494ED;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }

  @media only screen and (max-width: 770px) {
    margin-left: 45px;
  }
}


/* curated itineraries section */

#curated {
  padding-bottom: 100px;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  background-color: white;
}

#curated h1  {
  padding: 70px 0 20px 0;
  color: #6494ED;
}

#curated > .sub {
  padding: 0 100px 50px 100px;

  @media only screen and (max-width: 500px) {
    padding: 0 12px 30px 12px;
  }
}

.curated-itinerary {
  display: inline-block;
  width: 300px;
  margin: 20px 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.curated-itinerary img  {
  width: 300px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.curated-itinerary h3 {
  padding: 15px 0;
}

.banner {
  position: absolute;
  width: 70px;
  margin-top: 10px;
  margin-left: -3px;
  padding: 5px 0;
  color: #F9FBFB;
  background-color: #6494ED;
  border-left: 6px solid #FFA15C;
  border-radius: 2px 0 0 2px;
}

.banner::after  {
  content: "";
  position: absolute;
  display: block;
  right: -1em;
  top: 0;
  border-top: 15px solid #6494ED;
  border-bottom: 15px solid #6494ED;
  border-left: 10px solid #6494ED;
  border-right: 10px solid transparent;
}

/* how we do it section */

#hwdi {
  padding-bottom: 50px;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

#hwdi h1  {
  padding: 70px 5px 20px 5px;
  color: #6494ED;
}

#hwdi > .sub {
  padding: 0 100px 50px 100px;

  @media only screen and (max-width: 500px) {
    padding: 0 12px 30px 12px;
  }
}

#hwdi > .leading  {
  padding: 60px 100px 0 100px;

  @media only screen and (max-width: 500px) {
    padding: 60px 20px 0 20px;
  }
}

.hwdi-example  {
  padding: 25px;
  width: 400px;
  margin-top: 30px;
  margin-left: calc((100vw - 400px) /2);
  border: 1px solid lightgray;
  border-radius: 5px;

  @media only screen and (max-width: 450px) {
    width: calc(100vw - 20px);
    margin-left: 10px;
    min-width: 300px;
  }
}


.hwdi-example h3 {
  margin: 10px 0;
  padding: 5px 15px;
  text-align: left;
  color: #808080;
  border: 1px solid;
  border-radius: 5px;
}


.hwdi-example img {
  margin-bottom: 10px;
  height: 100px;
}

.output {
  padding-left: 100px;

  @media only screen and (max-width: 450px) {
    padding-left: calc((100vw - 220px) /2);
  }
}

.output h4  {
  padding: 5px 0;
  text-align: left;
}

.fa-check {
  color: #19CC72;
}

#hwdi > img {
  position: absolute;
  height: 120px;
  margin: 10px 0 0 -20px;
}

/* slide show section */

#slide-show {
  position: relative;
  padding: 120px 0;
  height: 700px;
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: -1;
}

.example-header,
.text-example {
  position: absolute;
  margin-left: calc((100vw - 680px) /2);
  width: 680px;
  opacity: 0;
  font-family: 'Fira Sans', sans-serif;
  animation:fade 42s infinite;
  -webkit-animation:fade 42s infinite;

  @media only screen and (max-width: 750px) {
    margin: 0 10px;
    width: calc(100vw - 20px);
  }
}

.example-header {
  margin-top: -50px;
  color: #6494ED;
  letter-spacing: 1px;
}

.slideshow-desktop {
  @media only screen and (max-width: 750px) {
    display: none;
  }
}

.slideshow-mobile {
  display: none;
  @media only screen and (max-width: 750px) {
    display: block;
  }
}

.slider-wrapper {
  position: absolute;
  margin-left: calc((100vw - 680px) /2);
  height: 380px;

  @media only screen and (max-width: 750px) {
    margin-left: 0;
  }
}

.img-example  {
  position: absolute;
  margin-top: 50px;
  height: 380px;
  opacity: 0;
  animation:fade 42s infinite;
  -webkit-animation:fade 42s infinite;
  border-radius: 10px;
  border: 1px solid lightgray;

  @media only screen and (max-width: 450px) {
    margin-top: 85px;
  }

  @media only screen and (min-width: 450px) and (max-width: 750px) {
    margin-top: 65px;
  }
}

.img-example-mobile {
  margin-left: calc((100vw - 215px) /2);
}

.eg-delay:nth-of-type(1) { animation-delay: 0s }
.eg-delay:nth-of-type(2) { animation-delay: 6s }
.eg-delay:nth-of-type(3) { animation-delay: 12s }
.eg-delay:nth-of-type(4) { animation-delay: 18s }
.eg-delay:nth-of-type(5) { animation-delay: 24s }
.eg-delay:nth-of-type(6) { animation-delay: 30s }
.eg-delay:nth-of-type(7) { animation-delay: 36s }

@keyframes fade
{
  0%      {opacity:0}
  2.777%  {opacity:1}
  13.885% {opacity:1}
  16.662% {opacity:0}
  100%    {opacity:0}
}


#slide-show .leading  {
  padding-top: 500px;
  font-family: 'Fira Sans', sans-serif;
}


/* share section */

#share {
  padding-bottom: 100px;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

#share h1  {
  padding: 70px 0 20px 0;
  color: #6494ED;
}

#share > .sub {
  padding: 10px 100px 30px 100px;

  @media only screen and (max-width: 500px) {
    padding: 10px 20px 30px 20px;
  }
}

#share > img  {
  height: 200px;
  width: 200px;
}

#share > .leading  {
  padding: 60px 100px 0 100px;

  @media only screen and (max-width: 500px) {
    padding: 60px 20px 0 20px;
  }
}




/* value add section */
#benefit {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

#benefit h1  {
  padding: 70px 0 20px 0;
  color: #6494ED;
}

.sub-section {
  width: 600px;
  padding: 20px 0 50px 0;
  margin-left: calc((100vw - 600px) / 2);

  @media only screen and (max-width: 610px) {
    width: 100%;
    margin: 0;
    padding: 20px 10px 50px 10px;
  }
}

.sec-B,
.sec-C  {
  display: inline-block;
  width: 400px;
  margin-left: calc((100vw - 805px) /4);
  margin-right: calc((100vw - 805px) /4);

  @media only screen and (max-width: 610px) {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 10px 60px 10px;
  }

  @media only screen and (min-width: 610px) and (max-width: 810px) {
    display: block;
    width: 600px;
    margin-left: calc((100vw - 600px) / 2);
    margin-right: 0;
  }
}

.sub-section img  {
  margin: 0 20px;
  height: 60px;
  width: 60px;

  // @media only screen and (max-width: 610px) {
  //   text-align: center;
  // }
}

.explanation  {
  vertical-align: top;

  // @media only screen and (max-width: 610px) {
  //   display: block;
  // }
}

.explanation h3 {
  padding: 20px 0 10px 0;
  color: #6494ED;

  @media only screen and (max-width: 610px) {
    padding-top: 30px;
  }
}

.explanation h4 {
  padding: 5px 0;
}




/* teaser section */

#teaser  {
  padding: 50px 0;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  background-color: white;
}

#teaser h3 {
  padding-top: 10px;
}





/* footer section */

#footer  {
  position: relative;
  padding-bottom: 20px;
  background-color: #6494ED;
}

.company-information  {
  padding-top: 20px;
  text-align: center;

  @media only screen and (max-width: 500px) {
    text-align: left;
  }
}

.company-information > h6  {
  display: inline-block;
  padding: 0 20px;
  letter-spacing: .5px;
  color: #F9FBFB;
  vertical-align: text-top;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  @media only screen and (max-width: 500px) {
    display: block;
    padding: 5px 20px;
    font-size: 11px;
  }
}

.social {
  text-align: center;

  @media only screen and (max-width: 850px) {
    margin-top: 20px;
  }
}

.social i {
  display: inline-block;
  margin: 10px 20px;
  color: white;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }

  @media only screen and (max-width: 500px) {
    text-align: left;
  }
}

.copyright  {
  padding: 20px 0 10px 50px;
  color: #F9FBFB;

  @media only screen and (max-width: 850px) {
    padding: 10px 0;
    text-align: center;
  }
}

.custom-modal * {
  display: block;
  margin-top: 100px;
  margin-left: calc((100vw - 360px)/2);
  padding: 20px;
  width: 360px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);

  @media only screen and (max-width: 450px) {
    display: block;
    width: calc(100vw - 20px);
    margin: 80px 10px 0 10px;
  }
}
