<div class="landing-page-container">

  <div class="landing-page-logo">

    <img src="assets/wondererwanderer_logo2.png" alt="">

    <div class="landing-page-sign-in" [class.show-sign-in]="showSignin">

      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

        <div class="sign-in-input">
          <label>Email</label>
          <input type="text" #email formControlName="email">
          <span *ngIf="!email.pristine && email.errors != null && email.errors['invalidEmail']">Invalid email address</span>
        </div>

        <div class="sign-in-input">
          <label>Password<span class="form-validator-message"> (at least 6 characters)</span></label>
          <input type="password" formControlName="password">
        </div>

        <button type="submit" class="signin-button" [disabled]="!signinForm.valid">SIGN IN</button>

      </form>
    </div>

    <h5 class="get-sign-up" (click)="getSignup()">I'M NEW</h5>
    <h5 class="get-sign-in" (click)="getSignin()">SIGN IN</h5>

  </div>

  <img class="landing-page-image" src="assets/mt_fuji.jpeg" alt="">

  <div class="landing-page-main">

    <div class="landing-page-tagline">
      <h1>Travel planning does not need to be so painful.</h1>
      <h2>We are here to make it better!</h2>
    </div>

    <ww-signup></ww-signup>

    <a href="#slideShow">
      <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true"></i>
    </a>

  </div>

  <div id="slideShow" class="landing-page-slideshow">

    <div class="slideshow-header">
      <h1 class="example-header eg-delay">SUMMARY</h1>
      <h1 class="example-header eg-delay">MAP VIEW</h1>
      <h1 class="example-header eg-delay">ACCOMMODATION</h1>
      <h1 class="example-header eg-delay">TRANSPORT</h1>
      <h1 class="example-header eg-delay">ACTIVITY</h1>
      <h1 class="example-header eg-delay">RESOURCE</h1>
    </div>

    <div class="slideshow-text">
      <h2 class="text-example eg-delay">Chronological view of the itinerary</h2>
      <h2 class="text-example eg-delay">Know where you are going to</h2>
      <h2 class="text-example eg-delay">A dedicated view of all accommodation arrangements</h2>
      <h2 class="text-example eg-delay">A dedicated view of all transport arrangements</h2>
      <h2 class="text-example eg-delay">A dedicated view of all activities</h2>
      <h2 class="text-example eg-delay">A place for your notes and website links you are interested in</h2>
    </div>

    <div class="slideshow-laptop">
      <!-- <img class="img-laptop" src="assets/laptop.png" alt=""> -->
      <div class="slider-wrapper">
        <img class="img-example eg-delay" src="assets/example-summary.png" alt="">
        <img class="img-example eg-delay" src="assets/example-map.png" alt="">
        <img class="img-example eg-delay" src="assets/example-accommodation.png" alt="">
        <img class="img-example eg-delay" src="assets/example-transport.png" alt="">
        <img class="img-example eg-delay" src="assets/example-activity.png" alt="">
        <img class="img-example eg-delay" src="assets/example-resource.png" alt="">
      </div>
    </div>

    <div class="slideshow-mobile">
      <!-- <img class="img-mobile" src="assets/phone.png" alt=""> -->
      <div class="slider-wrapper">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-summary-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-map-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-accommodation-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-transport-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-activity-mobile.png" alt="">
        <img class="img-example img-example-mobile eg-delay" src="assets/example-resource-mobile.png" alt="">
      </div>
    </div>

  </div>


  <div class="landing-page-section">

    <div class="sub-section">
      <h3>NEVER LOSE TRACK OF YOUR TRAVEL INSPIRATIONS</h3>
      <img src="assets/idea.png" alt="">
    </div>

    <div class="sub-section">
      <h3>ORGANISE YOUR TRAVEL DETAILS IN ONE PLACE</h3>
      <img src="assets/checklist.png" alt="">
    </div>

    <div class="sub-section">
      <h3>YOU DON'T HAVE TO PLAN ALONE</h3>
      <img src="assets/group.png" alt="">
    </div>
  </div>


  <div class="landing-page-teaser">
    <h2>And this is just the beginning</h2>
  </div>

  <div class="landing-page-footer">
    <div class="company-information">
      <h6>ABOUT US</h6>
      <h6>CONTACT US</h6>
      <h6 [routerLink]="['/privacy-policy']">PRIVACY POLICY</h6>
    </div>

    <h6 class="copyright">@2017 WONDERERWANDERER. ALL RIGHTS RESERVED</h6>
  </div>

</div>

<div class="custom-modal" *ngIf="showSignin">
  <ww-signin
    [reroute]="'/me'"
    (hideSignin)="hideSignin($event)"></ww-signin>
</div>

<div class="custom-modal" *ngIf="showSignup">
  <ww-signup
    [reroute]="'/me'"
    (hideSignup)="hideSignup($event)"></ww-signup>
</div>
