<div class="display-photo-card">

  <div *ngIf="event?.photo" class="display-card-image">
    <img src="{{ event?.photo }}" alt="picture of {{ event?.name}}">
  </div>

  <div *ngIf="!event?.photo" class="display-card-image-placeholder">
    <i class="fa fa-home fa-4x" aria-hidden="true"></i>
  </div>

  <div class="display-photo-housing">
    <div class="dots-menu" (click)="showMenu = true">
      <div class="dots-menu-hint">
        <h6>Click to view options</h6>
      </div>

      <div class="item-menu" *ngIf="showMenu">
        <ul>
          <!-- <li>
            <h5>Recommend</h5>
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </li> -->
          <li (click)="copy()">
            <h5>Copy</h5>
            <i class="fa fa-clone" aria-hidden="true"></i>
          </li>
          <li (click)="edit()" *ngIf="sameUser">
            <h5>Edit</h5>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li (click)="delete()" *ngIf="sameUser">
            <h5>Delete</h5>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="display-date-header">
      <h5>{{ event?.check_in_date | date: 'dd MMM yyyy (EEE)' }} - {{ event?.check_in_time }}</h5>
      <h5 *ngIf="!summary">{{ index + 1 }} of {{ totalAccommodations }}</h5>
    </div>

    <h4 class="accommodation-city"><i class="fa fa-bed" aria-hidden="true"></i> {{ event?.stay_city | uppercase }}</h4>
    <h3 class="accommodation-header">{{ event?.name | uppercase }}</h3>

    <div class="accommodation-details">

      <div class="check-in-details">
        <h5>Check in</h5>
        <h2>{{ event?.check_in_date | date:'dd MMM yy' }}</h2>
        <h5>{{ event?.check_in_date | date: 'EEEE'}}</h5>
        <h5>{{ event.check_in_time }}</h5>
      </div>

      <div class="check-out-details">
        <h5>Check out</h5>
        <h2>{{ event?.check_out_date | date:'dd MMM yy' }}</h2>
        <h5>{{ event?.check_out_date | date: 'EEEE'}}</h5>
        <h5>{{ event.check_out_time }}</h5>
      </div>

      <div class="accommodation-contact-details" (click)="showContactDetails = !showContactDetails">
        <h5>Address and contact number</h5>
        <h5><i class="fa fa-angle-down" aria-hidden="true"></i></h5>
      </div>

      <div *ngIf="showContactDetails">
        <div class="accommodation-address">
          <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
          <h5>{{ event?.formatted_address }}</h5>
        </div>

        <div class="accommodation-contact-number">
          <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
          <a href="tel:{{ event?.international_phone_number }}">{{ event?.international_phone_number }}</a>
        </div>
      </div>

      <div class="accommodation-website">
        <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
        <h5 class="truncate">
          <a href="{{ event?.website }}" target="_blank" class="website-link">{{ event?.website }}</a>
        </h5>
      </div>

    </div>

    <h5 class="note" [innerHTML]="event?.formatted_note"></h5>

    <div class="created-by">
      <h5 class="username" (click)="routeToUser(event?.user._id)">{{ event?.user.username }}</h5>
      <div class="time-ago">
        <p *ngIf="event?.time_ago !== ''">{{ event?.time_ago }}</p>
        <p *ngIf="event?.time_ago === ''">{{ event?.created_at | date: 'dd MMM yyyy (EEE)' }}</p>
      </div>
    </div>
  </div>

</div>
<!-- end of accommodation details view -->

<!-- accommodation copy modal -->
<div *ngIf="copying">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Copy accommodation</h3>
        <a (click)="cancelCopy()">X</a>

        <div class="form-header-name">
          <h4>{{ event?.name }}</h4>
        </div>
      </div>

      <div class="form-housing">
        <h4>Please select itinerary to copy to:</h4>
        <div class="copy-to-itinerary-list">
          <div *ngFor="let itinerary of itineraries" class="copy-to-itinerary" (click)="copyTo(itinerary)">
            <h4>{{ itinerary.name }} - ({{ itinerary.date_from | date:"dd MMM yy" }} to {{ itinerary.date_to | date:"dd MMM yy" }})</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- accommodation edit modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Edit accommodation</h3>
        <a (click)="cancelEdit()">X</a>

        <div class="form-header-name">
          <h4>{{ event?.name }}</h4>
        </div>
      </div>

      <form [formGroup]="editAccommodationForm" (ngSubmit)="saveEdit()">

        <div class="form-housing">

          <h4 class="form-section-header">Check In/Out Details</h4>
          <div class="form-section-details">

            <div class="check-in">
              <div class="date-to-visit">
                <label>Check In Date <span class="required"> - required</span></label>
                <select class="select-date" name="check_in_date" formControlName="check_in_date">
                  <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                    <div *ngIf="itinDate !== 'any day'">
                      <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                    </div>
                  </option>
                </select>
              </div>

              <div class="time-to-visit" [class.any-time-true]="anytime">
                <label>Check In Time (

                  <div class="anytime-input">
                    <label>Any Time
                      <input type="checkbox" (click)="toggleCheckInTime()" formControlName="check_in_time" [ngModel]="anyCheckInTime">
                    </label>
                  </div>
                  )
                </label>
                <input type="time" formControlName="check_in_time" [value]="event.check_in_time" *ngIf="!anyCheckInTime">
              </div>
            </div>

            <div class="check-out">
              <div class="date-to-visit">
                <label>Check Out Date <span class="required"> - required</span></label>
                <select class="select-date" name="check_out_date" formControlName="check_out_date">
                  <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
                    <div *ngIf="itinDate !== 'any day'">
                      <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                    </div>
                  </option>
                </select>
              </div>

              <div class="time-to-visit" [class.any-time-true]="anytime">
                <label>Check Out Time (

                  <div class="anytime-input">
                    <label>Any Time
                      <input type="checkbox" (click)="toggleCheckOutTime()" formControlName="check_out_time" [ngModel]="anyCheckOutTime">
                    </label>
                  </div>
                  )
                </label>
                <input type="time" formControlName="check_out_time" [value]="event.check_out_time" *ngIf="!anyCheckOutTime">
              </div>
            </div>

          </div>

          <h4 class="form-section-header">Accommodation Details</h4>
          <div class="form-section-details">

            <label>Name of Accommodation <span class="required"> - required</span></label>
            <input type="text" formControlName="name">
            <span class="form-validator"
              *ngIf="editAccommodationForm.get('name').touched && editAccommodationForm.get('name').invalid">Name of accommodation is required</span>

            <label>Address</label>
            <input type="text" formControlName="formatted_address">

            <label>Staying in (City/Town)</label>
            <input type="text" formControlName="stay_city">

            <label>Contact Number</label>
            <input type="text" formControlName="international_phone_number" class="contact-number-input">

            <label>Website</label>
            <input type="url" formControlName="website">

          </div>

          <h4 class="form-section-header">Note</h4>
          <div class="form-section-details">
            <div class="accommodation-note">
              <textarea rows="3" formControlName="note"></textarea>
            </div>
          </div>

        </div>

        <div class="action-response">
          <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL</h5>
          <h5 class="action-response-secondary" (click)="undoEdit()">UNDO</h5>
          <button type="submit" class="action-response-primary" [disabled]="!editAccommodationForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- end of accommodation edit modal -->

<!-- accommodation delete modal -->
<div class="custom-modal" *ngIf="deleteAccommodation">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete accommodation?</h3>
      <a (click)="cancelDelete()">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ event?.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting accommodation {{ event?.name }} will permanently remove it from your itinerary.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelDelete()">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
    </div>

  </div>
</div>
