<div class="display-photo-card">

  <div *ngIf="event?.photo" class="display-card-image">
    <img src="{{ event?.photo.url }}" alt="picture of {{ event?.name}}">
    <h5 class="photo-credit" [innerHTML]="event?.photo.credit"></h5>
  </div>

  <div *ngIf="!event?.photo" class="display-card-image-placeholder">
    <i class="fa fa-home fa-4x" aria-hidden="true"></i>
  </div>

  <div class="display-header-background"></div>

  <div class="display-content-housing">
    <div class="dots-menu" (click)="showMenu = true" *ngIf="!preview">
      <div class="dots-menu-hint">
        <h6>Click to view options</h6>
      </div>

      <div class="item-menu" *ngIf="showMenu">
        <ul>
          <li (click)=recommend()>
            <h5>Recommend to a friend</h5>
            <i class="fa fa-share" aria-hidden="true"></i>
          </li>
          <li (click)="favourite()" *ngIf="allowFav">
            <h5>Favourite</h5>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </li>
          <li (click)="copy()">
            <h5>Copy</h5>
            <i class="fa fa-clone" aria-hidden="true"></i>
          </li>
          <li (click)="edit()" *ngIf="sameUser">
            <h5>Edit</h5>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li (click)="delete()" *ngIf="sameUser">
            <h5>Delete</h5>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="display-date-header">
      <h5 *ngIf="itinerary?.num_days">{{ event?.check_in_date }} - {{ event?.check_in_time }}</h5>
      <h5 *ngIf="!itinerary?.num_days">{{ event?.check_in_date | date: 'dd MMM yyyy (EEE)' }} - {{ event?.check_in_time }}</h5>

      <h5 *ngIf="!summary">{{ index + 1 }} of {{ totalAccommodations }}</h5>
    </div>

    <h4 class="event-out-of-range" *ngIf="event.out_of_range">Out of itinerary date range</h4>

    <div class="display-details-housing">

      <h6 class="recommended-by-note" *ngIf="event?.recommended_by" (click)="routeToUser(event?.recommended_by._id)">
        Recommended by {{ event?.recommended_by.username }}
      </h6>

      <h6 class="favs-note" *ngIf="favDate"><i class="fa fa-star-o" aria-hidden="true"></i> Added as favourite on {{ favDate | date: 'dd MMM yyyy'}}</h6>

      <h4 class="accommodation-city"><i class="fa fa-bed" aria-hidden="true"></i> {{ event?.city | uppercase }} ( {{ event?.numDays }} )</h4>
      <h3 class="accommodation-header">{{ event?.name | uppercase }}</h3>

      <div class="fav-details">
        <h5>Check in</h5>
        <h2 *ngIf="itinerary?.num_days">{{ event?.check_in_date }}</h2>
        <h2 *ngIf="!itinerary?.num_days">{{ event?.check_in_date | date:'dd MMM yy' }}</h2>
        <h5 *ngIf="!itinerary?.num_days">{{ event?.check_in_date | date: 'EEEE'}}</h5>
        <h5>{{ event.check_in_time }}</h5>
      </div>

      <div class="check-out-details">
        <h5>Check out</h5>
        <h2 *ngIf="itinerary?.num_days">{{ event?.check_out_date }}</h2>
        <h2 *ngIf="!itinerary?.num_days">{{ event?.check_out_date | date:'dd MMM yy' }}</h2>
        <h5 *ngIf="!itinerary?.num_days">{{ event?.check_out_date | date: 'EEEE'}}</h5>
        <h5>{{ event.check_out_time }}</h5>
      </div>

      <div class="toggle-contact-details" (click)="showContactDetails = !showContactDetails">
        <h5>Address and contact number</h5>
        <h5><i class="fa fa-angle-down" aria-hidden="true"></i></h5>
      </div>

      <div *ngIf="showContactDetails">
        <div class="details-item" *ngIf="event?.place.formatted_address">
          <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
          <h5>{{ event?.place.formatted_address }}</h5>
        </div>

        <div class="details-item" *ngIf="event?.place.international_phone_number">
          <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
          <h5>
            <a href="tel:{{ event?.place.international_phone_number }}">{{ event?.place.international_phone_number }}</a>
          </h5>
        </div>
      </div>

      <div class="details-item" *ngIf="event?.place.website">
        <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
        <h5 class="truncate">
          <a href="{{ event?.place.website }}" target="_blank" class="website-link">{{ event?.place.website }}</a>
        </h5>
      </div>


      <div class="details-item">
        <i class="fa fa-sticky-note-o fa-fw" aria-hidden="true"></i>
        <h5 class="note" [innerHTML]="event?.formatted_note"></h5>
      </div>

      <div class="created-by">
        <h5 class="username" (click)="routeToUser(event?.user._id)">{{ event?.user.username }}</h5>
        <div class="time-ago">
          <p *ngIf="event?.time_ago !== ''">{{ event?.time_ago }}</p>
          <p *ngIf="event?.time_ago === ''">{{ event?.created_at | date: 'dd MMM yyyy (EEE)' }}</p>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- end of accommodation details view -->

<!-- accommodation recommend modal -->
<div *ngIf="recommending" class="recommend">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Recommend {{ event?.name }}</h3>
        <a (click)="cancelRecommend()">X</a>
      </div>

      <div class="form-housing">

        <div class="progress-tracker-section">
          <ul class="progress-tracker">
            <li class="progress-title" (click)="backToSelectUsers()" [class.progress-current]="selectUsers">SELECT USERS</li><li class="progress-title" [class.progress-current]="addMsg">ADD A MESSAGE</li>
          </ul>
        </div>

        <div *ngIf="selectUsers">
          <input type="text" placeholder="Search for people..." #text (keyup)="filterSearch(text.value)">

          <div *ngIf="validAddUser">
            <h5 class="user-search-header">Selected users ({{ selectedUsers.length }})</h5>
            <div *ngFor="let user of selectedUsers" class="search-result-card selected-user">
              <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>

              <h5 class="toggle-remove" (click)="toggleAdd(user)">Selected</h5>
            </div>
          </div>

          <h5 class="user-search-header">Search result ({{ filteredResult.length }})</h5>
          <div *ngFor="let user of filteredResult" class="search-result-card">
            <ww-user-profile-card [user]="user" [currentUser]="currentUser"></ww-user-profile-card>

            <h5 class="toggle-add" (click)="toggleAdd(user)">Select</h5>
          </div>
        </div>

        <div *ngIf="addMsg">
          <h4>Craft a message to go with your recommendation:</h4>
          <textarea rows="2" #msg (keyup)="logRecMessage(msg.value)" auto-grow></textarea>
        </div>

      </div>

      <div class="action-response">
        <h5 class="action-response-secondary" (click)="cancelRecommend()">CANCEL</h5>
        <h5 *ngIf="selectUsers && validAddUser" class="action-response-primary" (click)="usersSelected()">NEXT</h5>
        <h5 *ngIf="addMsg" class="action-response-primary" (click)="recommendTo()">RECOMMEND</h5>
      </div>
    </div>
  </div>

</div>
<!-- end of accommodation recommend modal -->

<!-- accommodation copy modal -->
<div *ngIf="copying">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Copy accommodation</h3>
        <a (click)="cancelCopy()">X</a>

        <div class="form-header-name">
          <h4>{{ event?.name }}</h4>
        </div>
      </div>

      <div class="form-housing">
        <h4>Please select itinerary to copy to:</h4>
        <div class="copy-to-itinerary-list">
          <div *ngFor="let itinerary of itineraries" class="copy-to-itinerary" (click)="copyTo(itinerary)">
            <h4 *ngIf="!itinerary.num_days">{{ itinerary.name }} - ({{ itinerary.date_from | date:"dd MMM yy" }} to {{ itinerary.date_to | date:"dd MMM yy" }})</h4>
            <h4 *ngIf="itinerary.num_days">{{ itinerary.name }} - ({{ itinerary.num_days }} days )</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of accommodation copy modal -->

<!-- accommodation edit modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Edit accommodation</h3>
        <a (click)="cancelEdit()">X</a>

        <div class="form-header-name">
          <h4>{{ event?.name }}</h4>
        </div>
      </div>

      <form [formGroup]="editAccommodationForm" (ngSubmit)="saveEdit()">

        <div class="form-housing">

          <h4 class="form-section-header">Check In/Out Details</h4>
          <div class="form-section-details">

            <div class="fav">
              <div class="date-to-visit">
                <label>Check In Date <span class="required"> - required</span></label>
                <select class="select-date" name="check_in_date" formControlName="check_in_date">
                  <option *ngFor="let itinDate of dateRange; let i = index" [value]="itinDate">

                    <div *ngIf="itinerary?.num_days">
                      <h5>{{ itinDate }}</h5>
                    </div>

                    <div *ngIf="!itinerary?.num_days && itinDate !== 'any day'">
                      <h5>Day {{ i + 1}}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                    </div>

                  </option>
                </select>
              </div>

              <div class="time-to-visit">
                <label>Check In Time (24hrs)</label>
                <ww-time-picker
                [timePicker]="timePickerIn"
                [ats]="ats"
                [initHour]="initHourIn"
                [initMinute]="initMinuteIn"
                (hourSelected)="selectHourIn($event)"
                (minuteSelected)="selectMinuteIn($event)"
                (pickerSelected)="selectPickerIn($event)"></ww-time-picker>
              </div>

            </div>

            <div class="check-out">
              <div class="date-to-visit">
                <label>Check Out Date <span class="required"> - required</span></label>
                <select class="select-date" name="check_out_date" formControlName="check_out_date">
                  <option *ngFor="let itinDate of dateRange; let i = index" [value]="itinDate">

                    <div *ngIf="itinerary?.num_days">
                      <h5>{{ itinDate }}</h5>
                    </div>

                    <div *ngIf="!itinerary?.num_days && itinDate !== 'any day'">
                      <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                    </div>

                  </option>
                </select>
              </div>

              <div class="time-to-visit">
                <label>Check Out Time (24hrs)</label>
                <ww-time-picker
                [timePicker]="timePickerOut"
                [ats]="ats"
                [initHour]="initHourOut"
                [initMinute]="initMinuteOut"
                (hourSelected)="selectHourOut($event)"
                (minuteSelected)="selectMinuteOut($event)"
                (pickerSelected)="selectPickerOut($event)"></ww-time-picker>
              </div>

            </div>

          </div>

          <h4 class="form-section-header">Accommodation Details</h4>
          <div class="form-section-details">

            <label>Name of Accommodation <span class="required"> - required</span></label>
            <input type="text" formControlName="name">
            <span class="form-validator"
              *ngIf="editAccommodationForm.get('name').touched && editAccommodationForm.get('name').invalid">Name of accommodation is required</span>

            <label>Staying in (City/Town)</label>
            <input type="text" formControlName="city">

            <label>Address</label>
            <h4>{{ event.place.formatted_address }}</h4>

            <label>Contact Number</label>
            <h4>{{ event.place.international_phone_number }}</h4>

            <label>Website</label>
            <h4>{{ event.place.website }}</h4>

          </div>

          <h4 class="form-section-header">Note</h4>
          <div class="form-section-details">
            <div class="accommodation-note">
              <textarea rows="3" formControlName="note" auto-grow></textarea>
            </div>
          </div>

        </div>

        <div class="action-response">
          <h5 class="action-response-secondary" (click)="cancelEdit()">CANCEL</h5>
          <h5 class="action-response-secondary" (click)="undoEdit()">UNDO</h5>
          <button type="submit" class="action-response-primary" [disabled]="!editAccommodationForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- end of accommodation edit modal -->

<!-- accommodation delete modal -->
<div class="custom-modal" *ngIf="deleteAccommodation">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete accommodation?</h3>
      <a (click)="cancelDelete()">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ event?.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting accommodation {{ event?.name }} will permanently remove it from your itinerary.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelDelete()">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
    </div>

  </div>
</div>
