<div class="form-card">
  <div class="form-header">
    <h3>Create a new itinerary</h3>
    <a (click)="cancelForm()">X</a>
  </div>

  <form [formGroup]="itineraryForm" (ngSubmit)="checkSave()">

    <div class="form-housing">
      <h5 class="fields-required">All fields required</h5>
      <label>Itinerary name</label>
      <input type="text" formControlName="name">
      <span class="form-validator"
        *ngIf="itineraryForm.get('name').touched && itineraryForm.get('name').invalid || nameError">Name of itinerary is required</span>



      <div class="select-days" *ngIf="corporate">
        <h5>* Select either travel dates or number of days</h5>
        <h5>Currently active: <span class="bold">{{ dateType }}</span></h5>
      </div>

      <label>Travel date from - Travel date to (MM - DD - YYYY)</label>
      <h5 class="label-note">Do include your date of departure and arrival for details to show up in the itinerary summary</h5>

      <div class="date-picker" daterangepicker [options]="options" (selected)="selectedDate($event)">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <h4><span>From:</span> {{ dateFrom }}</h4>
        <h4><span>To:</span> {{ dateTo }}</h4>
      </div>

      <span class="form-validator" *ngIf="dateError">Date range is required</span>

      <div *ngIf="corporate" class="num-days">
        <label>Number of days</label>
        <input type="number" formControlName="num_days" #days (keyup)="logDays(days.value)" min="1">
      </div>

      <span class="form-validator" *ngIf="numError">A date range or number of days is required</span>


      <div class="invite-password">
        <label>Invitation password</label>
        <h5 class="pw-info" (click)="showInfo = true">?</h5>

        <div class="show-pw-info" *ngIf="showInfo">
          <h5>This password is applicable when you want to invite users through an invitation link.</h5>
          <h5>A password will ensure only valid users can join your itinerary through the invite.</h5>
          <h5>You can set this password now or amend it later via the itinerary's settings.</h5>
        </div>

        <input type="text" formControlName="invite_password">
      </div>


      <label>Privacy</label>
      <h5 *ngIf="private && corporate" class="label-note"> > Only you can view this itinerary.</h5>
      <h5 *ngIf="private && !corporate" class="label-note"> > Only members of this itinerary can view.</h5>
      <h4 *ngIf="private" class="toggle-true" (click)="private = false">Yes</h4>
      <h4 *ngIf="private" class="toggle-button-true" (click)="private = false"></h4>

      <h5 *ngIf="!private && corporate" class="label-note">Your followers can view this itinerary.</h5>
      <h5 *ngIf="!private && !corporate" class="label-note">Followers of members of this itinerary can view.</h5>
      <h4 *ngIf="!private" class="toggle-false" (click)="private = true">No</h4>
      <h4 *ngIf="!private" class="toggle-button-false" (click)="private = true"></h4>

      <div *ngIf="!private" class="view-only">
        <label>View only</label>
        <h5 *ngIf="viewOnly && corporate" class="label-note"> > Your followers can only view this itinerary.</h5>
        <h5 *ngIf="viewOnly && !corporate" class="label-note"> > Followers of members can only view this itinerary.</h5>
        <h4 *ngIf="viewOnly" class="toggle-true" (click)="viewOnly = false">Yes</h4>
        <h4 *ngIf="viewOnly" class="toggle-button-true" (click)="viewOnly = false"></h4>

        <h5 *ngIf="!viewOnly && corporate" class="label-note"> > Your followers can view and copy this itinerary.</h5>
        <h5 *ngIf="!viewOnly && !corporate" class="label-note"> > Followers of members can view and copy this itinerary.</h5>
        <h4 *ngIf="!viewOnly" class="toggle-false" (click)="viewOnly = true">No</h4>
        <h4 *ngIf="!viewOnly" class="toggle-button-false" (click)="viewOnly = true"></h4>
      </div>

    </div>

    <div class="submit-error" *ngIf="nameError || dateError">
      <h4>Error(s) in your form</h4>
      <h5 *ngIf="nameError">Name of itinerary is required</h5>
      <h5 *ngIf="dateError">Date range is required</h5>
      <h5 *ngIf="numError">A date range or number of days is required</h5>
    </div>

    <div class="action-response">
      <h5 class="action-response-secondary" (click)="cancelForm()">CANCEL</h5>
      <button type="submit" class="action-response-primary"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> CREATE ITINERARY</h5></button>
    </div>

  </form>

</div>


<!-- <label>Travel date from (dd/mm/yyyy)</label>
<input type="date" formControlName="date_from" max="2050-12-31">
<span class="form-validator"
  *ngIf="itineraryForm.get('date_from').touched && itineraryForm.get('date_from').invalid">Travel start date is required</span>

<label>Travel date to (dd/mm/yyyy)</label>
<input type="date" formControlName="date_to" max="2050-12-31">
<span class="form-validator"
  *ngIf="itineraryForm.get('date_to').touched && itineraryForm.get('date_to').invalid">Travel end date is required</span> -->
