.select-days  {
  margin: 40px 0 10px 0;
}

.date-picker  {
  margin-bottom: 20px;
}

.num-days input {
  width: 90px;
  text-align: center;
}

.label-note  {
  padding: 0 0 3px 3px;
}



// password

.invite-password input  {
  width: 300px;
}


.pw-info  {
  position: absolute;
  margin: -20px 0 0 115px;
  padding: 0 4px;
  border: 1px solid;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    color: #808080;
    border: 2px solid #808080;
  }
}

.show-pw-info {
  position: absolute;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}



/* privacy */
.toggle-button-true  {
  margin: -22.5px 0 0 3px;
}

.toggle-button-false  {
  margin: -22.5px 0 0 38px;
}


.view-only  {
  margin-top: 20px;
}
