<div class="form-card">
  <div class="form-header">
    <h3>Create a new itinerary</h3>
    <a (click)="cancelItineraryForm()">x</a>
  </div>

  <div class="textless-header"></div>

  <form [formGroup]="itineraryForm" (ngSubmit)="onSubmit()" class="form-housing">

    <label>Itinerary name</label>
    <input type="text" formControlName="name">

    <label>Travel date from (dd/mm/yyyy)</label>
    <input type="date" formControlName="date_from" max="2050-12-31">

    <label>Travel date to (dd/mm/yyyy)</label>
    <input type="date" formControlName="date_to" max="2050-12-31">

    <div class="action-response">
      <button type="submit" class="action-response-primary" (click)="onSubmit()" [disabled]="!itineraryForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> CREATE ITINERARY</button>
    </div>
  </form>

</div>
