<div class="option" (click)="showCategory()">
  <i class="fa fa-tasks" aria-hidden="true"></i>
  <h5>Display by category</h5>
</div>

<div class="option" (click)="showDate()">
  <i class="fa fa-calendar" aria-hidden="true"></i>
  <h5>Display by date</h5>
</div>

<ww-itinerary-print-category *ngIf="category"
[itinerary]="itinerary"
[activities]="activities"
[accommodations]="accommodations"
[transports]="transports"
[resources]="resources"></ww-itinerary-print-category>

<ww-itinerary-print-date *ngIf="date"
[itinerary]="itinerary"
[resources]="resources"></ww-itinerary-print-date>
