// https://codepen.io/rafaelcastrocouto/pen/LFAes
.page {
  background: white;
  display: block;
  margin: 0.5cm auto;
  padding-bottom: 20px;
  width: 21cm;
  // height: 29.7cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

// page error & unauthorised access

.page-error,
.unauthorised-access {
  padding: 40px 0;
  text-align: center;
}

.logo {
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 250px;
}

.download {
  float: right;
  margin-top: -40px;
  margin-right: 20px;

  &:hover {
    cursor: pointer;
    color: #808080;
  }
}



/* itinerary details */

.itinerary-name {
  padding: 20px 0;
  text-align: center;
  border-bottom: 5px solid;
}

.itinerary-date {
  padding: 10px 0;
  text-align: center;
  border-bottom: 3px solid;
}

.itinerary-description  {
  padding: 20px 100px;
}

.itinerary-description h4 {
  font-weight: 400;
  text-align: justify;
}



/* day display */

.day-header {
  margin: 50px 10px 10px 10px;
  padding: 10px;
  border-bottom: 5px double;
}

.date-display  {
  display: inline-block;
  width: 180px;
}

.day-header:first-of-type  {
  margin-top: 20px;
}




/* daily note */

.daily-note  {
  display: inline-block;
  vertical-align: top;
}

.daily-note i,
.daily-note h5  {
  display: inline-block;
  vertical-align: top;
}

.daily-note h5 {
  width: 540px;
}




/* individual event display */

.event-display  {
  position: relative;
  margin: 0 40px;
  padding: 10px;
  border-bottom: 1px dashed lightgray;
}

.event-time {
  display: inline-block;
  width: 1.5cm;
  vertical-align: top;
}



/* specifics to transport display */

.transport-header {
  display: inline-block;
  padding: 0;
  width: 16cm;
}

.transport-type h1  {
  color: #3A4A4D;
}

.departure-arrival-details {
  margin: 15px 0 ;
}



/* non transport display */

/* pic display */

.event-pic  {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.event-pic img  {
  height: 120px;
  width: 120px;
  border-radius: 5px;
}

.photo-credit {
  left: 72px;
  margin-top: -15px;
  max-width: 110px;
}

.event-pic i {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background-color: #F5F5FD;
}

.fa-bicycle {
  padding: 38.5px 33px;
}

.fa-home  {
  padding: 34px;
}



/* content display */

.event-content  {
  display: inline-block;
  width: 13cm;
}


/* stay city for accommodation */

.event-stay-city {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid;
}

.event-stay-city h4 {
  padding-bottom: 5px;
}

/* header display */

.event-header {
  display: inline-block;
}

.event-name {
  padding-bottom: 5px;
}

.meals-display h5  {
  margin: 10px 2px 10px 0;
}



/* details display */

.details-item:first-of-type {
  margin-top: 10px;
}

.details-item {
  margin-bottom: 5px;
}

// .event-map  {
//   display: inline-block;
//   vertical-align: top;
// }
