<div class="logo" [routerLink]="['/']">
  <img src="assets/wondererwanderer_logo.png" alt="">
</div>

<div class="header">
  <h1>Terms of Service</h1>
  <hr class="header-separator">
</div>

<div class="main-container">
  <div class="update">
    <h5>Updated on 28 October 2017</h5>
  </div>

  <div class="tos-main">
    <h3>Introduction</h3>
    <h4>1. Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the https://www.wondererwanderer.com website and the wondererwanderer mobile application (the "Service") operated by wondererwanderer ("us", "we", or "our").</h4>
    <h4>2. Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</h4>
    <h4>3. By accessing or using the Service you agree to be bound by these Terms. If you do not agree to be bound by all of these Terms of Service, do not access or use the Service.</h4>
  </div>

  <div class="tos-main">
    <h3>General Terms</h3>
    <h4>1. wondererwanderer is a platform that provides tools for the creation and sharing of travel itineraries, and sharing of information through features such as posts and recommendations. You agree to use the Service as intended and will not use the Service for any illegal or unauthorised purposes.</h4>
    <h4>2. You agree that you will not create an account for anyone other than yourself, unless you are an authorized person to create one for your employer or client.</h4>
    <h4>3. You agree you will not sell, transfer, license or assign your account, followers, username, or any account rights</h4>
    <h4>4. We reserve the right to force forfeiture of any username for reasons including and not limited to inappropriate or offensive usernames, or usernames of names of companies or organisations where you are not an authorized representative.</h4>
    <h4>5. You represent that all information you provide or provided upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.</h4>
    <h4>6. The Service leverages on third party sources, such as Google and Flight Stats, to populate information for the users. We do not guarentee the accuracy and timeliness of the information provided. You agree not to hold us responsible for any inaccurate information that may have resulted in any inconveniences to you.</h4>
    <h4>7. We reserve the right to refuse access to the Service to anyone for any reason at any time.</h4>
    <h4>8. It is our intention to make the Service available as much as possible. However, there may be occassions where the service may be interrupted due to but not limited to scheduled maintenances, emergency repairs or failure of telecommunication links. As we are not a storage or backup service, you agree that we are not obligated to store and maintain the content you have created through the Service.</h4>
  </div>

  <div class="tos-main">
    <h3>Content</h3>
    <h4>1. You are solely responsible for any activity that occurs through your account, and any data, text, files, information, usernames, images, graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship, applications, links and other content or materials (collectively, "Content") that you submit, post or display on or via the Service.</h4>
    <h4>2. You agree not to post or create inappropriate content such as violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Service. We reserved the rights to remove such content at our discretion and without notice.</h4>
    <h4>3. You represent and warrant that: (i) you own the Content created by you on or through the Service or otherwise have the right to grant the rights and licenses set forth in these Terms of Service; (ii) the creation and use of your Content on or through the Service does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights; (iii) you agree to pay for all royalties, fees, and any other monies owed by reason of Content you post on or through the Service; and (iv) you have the legal right and capacity to enter into these Terms of Service in your jurisdiction.</h4>
    <h4>4. You own the content that you created via the Service and you agree to grant wondererwanderer a non-exclusive, transferable, sub-licensable, royalty-free and fully paid worldwide license to use the content, subject to your privacy settings. While you may have deleted the content, it may continue to circulate on the Service through sharing as allowed by your privacy settings, and that may be altered by other users who may have access to the original content, you agree that we are not responsible to monitor and remove such content.</h4>
    <h4>5. By using the Service, you may encounter content that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. We generally does not monitor or review content provided by our users. You agree that we are not responsible for users’ content and that we do not endorse any content created by our users.</h4>
    <h4>6. It is our policy not to accept or consider content, information, ideas, suggestions or other materials other than those we have specifically requested and to which certain specific terms, conditions and requirements may apply. Thus, if you do decide to offer such content, information, ideas, suggestions or materials, we are not obligated to compensate you in any kind.</h4>
  </div>


  <div class="tos-main">
    <h3>Third Party Services</h3>
    <h4>1. During your access to the Service, you may come across third party services. You agree that we are not responsible for your correspondences and business dealings with these third parties, and that we do not endorse any of the services offered by these third parties.</h4>
  </div>

  <div class="tos-main">
    <h3>Changes to Terms</h3>
    <h4>1. We reserve the right, in our sole discretion, to change these Terms of Use ("Updated Terms") from time to time. Unless we make a change for legal or administrative reasons, we will provide reasonable advance notice before the Updated Terms become effective. You agree that we may notify you of the Updated Terms by posting them on the Service, and that your use of the Service after the effective date of the Updated Terms (or engaging in such other conduct as we may reasonably specify) constitutes your agreement to the Updated Terms. Therefore, you should review these Terms of Use and any Updated Terms before using the Service. The Updated Terms will be effective as of the time of posting, or such later date as may be specified in the Updated Terms, and will apply to your use of the Service from that point forward. These Terms of Use will govern any disputes arising before the effective date of the Updated Terms.</h4>
  </div>

  <div class="tos-main">
    <h3>Termination</h3>
    <h4>1. You may deactivate your account through your profile settings.</h4>
    <h4>2. We may also terminate your account if you are in violation of any of the Terms.</h4>
    <h4>3. On termination, you will lose all access to the content you created. However, some content may still persist and appear in the Service through sharing and re-sharing of content.</h4>
  </div>

  <div class="tos-main">
    <h3>Contact Us</h3>
    <h4>1. If you have any query, please email to <a href="mailto:master@wondererwanderer.com">master@wondererwanderer.com</a></h4>
  </div>
</div>
