.user-profile-container {
  margin-top: 80px;
}


/* follow status */

.profile-follow-status  {
  display: inline-block;
  margin-left: calc((100vw - 600px)/2);
  width: 120px;

  @media only screen and (max-width: 650px) {
    margin-left: calc((100vw - 120px)/2);
  }
}

.following-response {
  margin: 10px 0;
  text-align: center;
}

.follow-button  {
  width: 120px;
}

.follow-button h5 {
  color: #567FCC;
  background-color: #F9FBFB;
  border: 2px solid #567FCC;
}

.already-following {
  border: 2px solid #3A4A4D;
  border-radius: 5px;
  background-color: #F9FBFB;

  &:hover {
    cursor: default;
  }
}

.requested-following {
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #F9FBFB;

  &:hover {
    cursor: default;
  }
}


.not-following  {
  display: inline-block;
  padding-left: 20px;

  @media only screen and (max-width: 650px) {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}


/* navigate bar */
.navigate-bar ul  {
  @media only screen and (min-width: 350px) and (max-width: 650px) {
    height: 60px;
  }
}

.navigate-bar li  {
  @media only screen and (min-width: 350px) and (max-width: 650px) {
    height: 51px;
  }
}

.navigate-bar a {
  @media only screen and (min-width: 350px) and (max-width: 650px) {
    font-size: 20px;
  }
}

.navigate-bar span  {
  @media only screen and (min-width: 350px) and (max-width: 650px) {
    font-size: 12px;
  }
}


/* others */

.router-outlet  {
  text-align: center;
}

.hide {
  display: none;
}
