<div class="itinerary-print">
  <div class="options">
    <!-- <div class="print" (click)="print()">
      <h5><i class="fa fa-print" aria-hidden="true"></i> Print</h5>
    </div> -->
    <div class="pdf" (click)="save()">
      <h5><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Save to PDF</h5>
    </div>
  </div>

  <div class="itinerary-header">
    <h2>{{ itinerary?.name }}</h2>

    <div class="itinerary-date">
      <h5><i class="fa fa-calendar" aria-hidden="true"></i> {{ itinerary?.dateFrom | date:'dd MMM yyyy' }} to {{ itinerary?.dateTo | date:'dd MMM yyyy' }}</h5>
    </div>
  </div>

  <div *ngFor="let date of itinDateRange; let i = index" class="date-card">

    <div *ngIf="date === 'any day'" class="date-header">
      <h5>Any day</h5>
    </div>

    <div *ngIf="date !== 'any day'" class="date-header">
      <h5>Day {{ i }} - {{ date | date: "dd MMM yyyy (EEEE)" }}</h5>
    </div>

    <div class="events-card">
      <div *ngFor="let event of events">
        <div *ngIf="event.date === date">

          <div *ngIf="event.type === 'activity'" class="print-event">
            <div class="event-header">
              <h5 class="event-time">{{ event.time }}</h5>
              <h5 class="event-name">{{ event.name }}</h5>
            </div>

            <div class="event-details">
              <div class="event-contacts">
                <h6>{{ event.formatted_address }} | </h6>
                <h6>{{ event.international_phone_number }}</h6>
              </div>
              <h6>{{ event.website }}</h6>
              <h6>{{ event.opening_hours }}</h6>
              <h6>{{ event.fee }}</h6>
              <h6 class="event-note">{{ event.note }}</h6>
            </div>
          </div>

          <div *ngIf="event.type === 'accommodation'" class="print-event">
            <div *ngIf="event.inOut === 'checkout'">
              <div class="event-header">
                <h5 class="event-time">{{ event.time }}</h5>
                <h5 class="event-name">Check out - {{ event.name }}</h5>
              </div>
            </div>

            <div *ngIf="event.inOut === 'checkin'">
              <div class="event-header">
                <h5 class="event-time">{{ event.time }}</h5>
                <h5 class="event-name">Check in - {{ event.name }} ( Check out on {{ event.checkOutDate | date: "dd MMM yyyy (EEEE)" }} ) at {{ event.checkOutTime }}</h5>
              </div>

              <div class="event-details">
                <div class="event-contacts">
                  <h6>{{ event.formatted_address }} | </h6>
                  <h6>{{ event.international_phone_number }}</h6>
                </div>
                <h6>{{ event.website }}</h6>
                <h6 class="event-note">{{ event.note }}</h6>
              </div>
            </div>

          </div>

          <div *ngIf="event.type === 'transport'" class="print-event">
            <div *ngIf="event.approach === 'departure'">
              <div class="event-header">
                <h5 class="event-time">{{ event.time }}</h5>
                <h5 class="event-name">{{ event.transportType }} {{ event.referenceNumber }} departs {{ event.depCity }} for {{ event.arrCity}}</h5>
              </div>

              <div class="event-details">
                <h6>{{ event.depStation }} / terminal {{ event.depTerminal }}</h6>
                <h6>Arrives {{ event.arrStation }} on {{ event.arrDate | date: "dd MMM yyyy (EEEE)" }} at {{ event.arrTime }}</h6>
                <h6 class="event-note">{{ event.note }}</h6>
              </div>
            </div>

            <div *ngIf="event.approach === 'arrival'">
              <div class="event-header">
                <h5 class="event-time">{{ event.time }}</h5>
                <h5 class="event-name">{{ event.transportType }} {{ event.referenceNumber }} arrives {{ event.arrCity }} - {{ event.arrStation }} / terminal {{ event.arrTerminal }}</h5>
              </div>

              <div class="event-details">
                <h6 class="event-note">{{ event.note }}</h6>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>
