<div class="custom-modal" *ngIf="showAccommodationSummary" (click)="showSummary()"></div>

<div *ngIf="totalAccommodations" class="event-summary-section" [class.show-summary]="showAccommodationSummary">

  <h4 class="event-summary-header">Quick reference - {{ totalAccommodations }}</h4>

  <div class="event-summary">
    <div *ngFor="let event of accommodations; let i = index" class="event-summary-item" (click)="centerItem(event)" [class.highlighted-item]="highlightedEvent === event">
      <a href="#accommodation{{i}}">
        <h5 class="index">{{i+1}}</h5>
        <h5 class="date">{{ event?.check_in_date | date:'dd MMM yy' }} - {{ event?.check_out_date | date:'dd MMM yy' }}</h5>
        <h5 class="accommodation-summary-header"><i class="fa fa-bed" aria-hidden="true"></i> {{ event?.stay_city | uppercase }}</h5>
        <h5 class="accommodation-summary-name">{{ event?.name }}</h5>
      </a>
    </div>
  </div>

</div>

<div *ngIf="!totalAccommodations" class="nil-event-message">
  <img class="img-example" src="assets/arrow.png" alt="">
  <h4>You have not added any accommodation arrangement</h4>
  <h4>You can add a new arrangement by selecting the "ADD NEW" tab and then the "NEW ACCOMMODATION" option</h4>
  <h4>You can complete the form in just 02 steps:</h4>
  <ol>
    <li>Search for your accommodation by name or address. Name in local language may sometimes be required</li>
    <li>Confirm details populated from the search</li>
  </ol>
  <h4 class="nil-event-message-mobile">You can access the "ADD NEW" tab by scrolling up and the options will appear at the bottom of the screen.</h4>
</div>

<div class="event-list">
  <ww-accommodation
    *ngFor="let event of accommodations; let i = index"
    id="accommodation{{i}}"
    [index]="i"
    [event]="event"
    [class.highlighted-event]="highlightedEvent === event"
    [itinDateRange]="itinDateRange"
    [currentItinerary]="currentItinerary"
    [totalAccommodations]="totalAccommodations">
  </ww-accommodation>
</div>

<div class="event-summary-popup" (click)="showSummary()" *ngIf="totalAccommodations">
  <i class="fa fa-list" aria-hidden="true"></i>
</div>
