<div class="custom-modal" *ngIf="showAccommodationSummary" (click)="toggleSummary()"></div>

<div *ngIf="totalAccommodations" class="event-summary-section" [class.show-summary]="showAccommodationSummary">

  <h4 class="event-summary-header">Quick reference - {{ totalAccommodations }}</h4>
  <h5 class="close-pop-up" (click)="toggleSummary()">X</h5>

  <div class="event-summary">
    <div *ngFor="let event of accommodations; let i = index" class="event-summary-item" (click)="centerItem(event)" [class.highlighted-item]="highlightedEvent === event">
      <a href="#accommodation{{i}}">
        <h5 class="index">{{i+1}}</h5>
        <h5 class="date">{{ event?.check_in_date | date:'dd MMM yy' }} - {{ event?.check_out_date | date:'dd MMM yy' }}</h5>
        <h5 class="accommodation-summary-header"><i class="fa fa-bed" aria-hidden="true"></i> {{ event?.city | uppercase }}</h5>
        <h5 class="accommodation-summary-name">{{ event?.name }}</h5>
        <h5 class="event-summary-note truncate">{{ event?.note }}</h5>

        <h4 class="event-out-of-range" *ngIf="event?.out_of_range"><i class="fa fa-arrow-up" aria-hidden="true"></i> Out of itinerary date range</h4>
      </a>
    </div>
  </div>

</div>

<div *ngIf="!totalAccommodations" class="nil-event-message">
  <img class="img-example" src="assets/arrow.png" alt="">
  <h4>This is a dedicated section for all your accommodation arrangements.</h4>
  <h4 class="action-response-primary" (click)="addAccommodation = true">Add new accommodation now</h4>
  <h4>You can also add a new arrangement by selecting the "ADD NEW" tab and then the "NEW ACCOMMODATION" option</h4>
  <h4 class="nil-event-message-mobile">You can access the "ADD NEW" tab at the bottom of the screen.</h4>
</div>

<div class="event-list">
  <ww-accommodation
    *ngFor="let event of accommodations; let i = index"
    id="accommodation{{i}}"
    [index]="i"
    [event]="event"
    [preview]="preview"
    [class.highlighted-event]="highlightedEvent === event"
    [dateRange]="dateRange"
    [itinerary]="itinerary"
    [totalAccommodations]="totalAccommodations">
  </ww-accommodation>
</div>

<div class="event-summary-popup" (click)="toggleSummary()" *ngIf="totalAccommodations">
  <i class="fa fa-list" aria-hidden="true"></i>
</div>

<div *ngIf="addAccommodation" class="custom-modal">
  <ww-accommodation-form (hideAccommodationForm)="hideAccommodationForm($event)"></ww-accommodation-form>
</div>
