.logo {
  margin: 25px 0 40px 0;
  padding: 7.73px;
  height: 40px;
  width: 100%;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.logo img {
  height: 20px;
  margin-top: 5px;
}

.container {
  width: 600px;
  margin-left: calc((100vw - 600px)/2);

  @media only screen and (max-width: 650px) {
   width: 100%;
   min-width: 300px;
   margin-left: 0;
   padding: 0 10px;
  }
}

.container h3 {
  padding-bottom: 40px;
}

.container h4 {
  padding-bottom: 20px;
}


.request  {
  color: #6494ED;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


.content-without-header-name h4 {
  padding-bottom: 20px;
}
