.progress-tracker li {
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.search-active li {
  width: 33.333%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}



/* select activity type */

.select-activity-type {
  text-align: center;
}

.select-activity  {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
  border: 2px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.location i  {
  color: #6494ED;
}

.select-activity h4 {
  padding: 10px 0 3px 0;
}

.select-activity h5  {
  color: #808080;
}

.location {
  border: 2px solid #6494ED;
}

.location h4  {
  color: #6494ED;
}


.search-activity  .action-response  {
  background-color: transparent;
  margin-bottom: 10px;
}

.search-activity > h5  {
  padding-bottom: 5px;
}


#map  {
  height: 300px;
  width: 560px;

  @media only screen and (max-width: 500px) {
    width: calc(100vw - 20px);
    min-width: 260px;
  }

  @media only screen and (min-width: 500px) and (max-width: 650px) {
    width: calc(100vw - 40px);
  }
}

input[type=checkbox]  {
  height: 0;
}

.file-upload {
  overflow: hidden;
  position: relative;
  padding: 1px 10px;
  color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
    color: grey;
    border: 2px solid grey;
  }
}

.file-upload [type=file] {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploaded-picture  {
  position: relative;
  width: 300px;
  left: calc((526px - 300px)/2);
  margin-bottom: 10px;

  @media only screen and (max-width: 500px) {
    left: calc((100vw - 330px) /2);
  }

  @media only screen and (min-width: 500px) and (max-width: 650px) {
    left: calc((100vw - 360px) /2);
  }
}

.uploaded-picture > img  {
  width: 300px;
  height: 200px;
}

.delete-picture  {
  position: absolute;
  top:0;
  right:0;
  padding: 3px 4px 3px 5px;
  color: grey;
  background-color: lightgray;
  &:hover {
    cursor: default;
    opacity: .5;
  }
}


.no-location-note  {
  margin-top: -15px;
  padding-left: 5px;
  color: #808080;
}
