.progress-tracker li {
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.search-activity  .action-response  {
  background-color: transparent;
  margin-bottom: 10px;
}

.search-activity > h5  {
  padding-bottom: 5px;
}

#map  {
  height: 300px;
  width: 560px;

  @media only screen and (max-width: 500px) {
    width: calc(100vw - 20px);
    min-width: 260px;
  }

  @media only screen and (min-width: 500px) and (max-width: 650px) {
    width: calc(100vw - 40px);
  }
}

.category-input > input {
  display: inline-block;
  width: 15px;
}

.category-input > label {
  display: inline-block;
}

.file-upload {
  overflow: hidden;
  position: relative;
  padding: 1px 10px;
  color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
    color: grey;
    border: 2px solid grey;
  }
}

.file-upload [type=file] {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploaded-picture  {
  position: relative;
  width: 300px;
  left: calc((650px - 340px)/2);
  margin-bottom: 10px;
}

.uploaded-picture > img  {
  width: 300px;
  height: 200px;
}

.delete-picture  {
  position: absolute;
  top:0;
  right:0;
  padding: 3px 4px 3px 5px;
  color: grey;
  background-color: lightgray;
  &:hover {
    cursor: default;
    opacity: .5;
  }
}
