<form [formGroup]="addActivityForm" (ngSubmit)="saveNew()">

  <div class="form-card">

      <div class="form-header">
        <h3>New activity</h3>
        <a (click)="cancelForm()">X</a>
      </div>

      <div class="form-housing">
        <div class="progress-tracker-section">
          <ul class="progress-tracker" [class.search-active]="searchActivity">
            <li class="progress-title" [class.progress-current]="step1">SELECT ACTIVITY TYPE</li><li class="progress-title" *ngIf="searchActivity" [class.progress-current]="selected">SEARCH FOR ACTIVITY</li><li class="progress-title" [class.progress-current]="searchDone">CONFIRM DATE &amp; TIME DETAILS</li>
          </ul>
        </div>

        <div *ngIf="step1" class="select-activity-type">

          <div class="select-activity location"  (click)="locationSearch()">

            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>

            <h4>Activity with location</h4>
            <h5>Activity will be pinned to map</h5>
          </div>

          <div class="select-activity" (click)="getForm()">

            <i class="fa fa-sticky-note-o fa-2x" aria-hidden="true"></i>

            <h4>Activity note</h4>
            <h5>e.g. meet at hotel lobby at 6pm</h5>
          </div>

        </div>

        <div *ngIf="searchActivity && !searchDone" class="search-activity" #form>

          <label>Search activity location by name or adddress <span class="label-note"> - local name or address may be required</span></label>
          <ww-google-place-search [populate]="''" (placeDetail)="getActivityDetails($event)"></ww-google-place-search>

          <div class="search-help">
            <h5>help</h5>
            <div class="help-text">
              <h4>1. The search uses names and addresses that are available in Google map. Thus Google map's naming conventions apply.</h4>
              <h4>2. There may be places/locations listed in their local language (e.g. Japanese, Chinese or Thai) in Google map. As such you will need to search with the local name. This apply to addresses too.</h4>
              <h4>3. For the 'Next' button to be active, you will need to select a result from the search dropdown. This will allow us to retrieve details associated with your search and organise them for you.</h4>
            </div>
          </div>

          <h5>You may also search for a nearby location and drag the pin to set a location.</h5>
          <h5>Only address is available when the pin is dragged.</h5>

          <h5 *ngIf="dragAddress" class="dragged-address">
            <span class="dragged-location">Dragged location:</span> {{ dragAddress}}
          </h5>

          <div class="action-response" *ngIf="newPlace">
            <h5 class="action-response-primary" (click)="next()">Next</h5>
          </div>

          <div class="action-response" *ngIf="!newPlace">
            <div class="next-disabled">
              <h5 class="place-invalid">Next</h5>
              <h5 class="invalid-help">You need to select a result from the search dropdown.</h5>
            </div>
          </div>

          <div #map id="map"></div>

        </div>

        <div *ngIf="searchDone">
          <h4 class="form-section-header">Date &amp; Time Details</h4>
          <div class="form-section-details">

            <label>Date</label>
            <select class="select-date" name="date" formControlName="date">
              <option *ngFor="let itinDate of dateRange; let i = index" [value]="itinDate">

                <div *ngIf="itinDate === 'any day' || itinerary?.num_days">
                  <h5>{{ itinDate }}</h5>
                </div>

                <div *ngIf="itinDate !== 'any day' && !itinerary?.num_days">
                  <h5>Day {{ i }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
                </div>

              </option>
            </select>

            <label>Time (24hrs)</label>
            <ww-time-picker
            [timePicker]="timePicker"
            [ats]="ats"
            (hourSelected)="selectHour($event)" (minuteSelected)="selectMinute($event)" (pickerSelected)="selectPicker($event)"></ww-time-picker>

            <div formArrayName="meals" class="meal-tags" *ngIf="!noLocation">
              <label>Meal tags <span class="label-note"> - may select more than 01 option</span></label>

              <div *ngFor="let meal of meals.controls; let j = index" [formGroupName]="j" class="meal-item">
                <div class="meal-input">
                  <label [class.meal-checked]="meal.value.checked">
                    <input type="checkbox" formControlName="checked">
                    {{ meal.value.value }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <h4 class="form-section-header">Activity Details</h4>

          <div class="form-section-details" *ngIf="noLocation">
            <label>Name <span class="label-note"> - required</span></label>
            <input type="text" formControlName="name">
            <span class="form-validator"
              *ngIf="addActivityForm.get('name').touched && addActivityForm.get('name').invalid">Name of activity is required</span>

            <h5 class="no-location-note">e.g. meet at hotel lobby at 6pm</h5>

            <label>Highlight note</label>

            <div class="highlight-toggle">
              <h5> > Highlight important note for it to visually stand out in itinerary summary</h5>

              <h4 *ngIf="highlight" class="toggle-true" (click)="highlight = false">Yes</h4>
              <h4 *ngIf="highlight" class="toggle-button-true" (click)="highlight = false"></h4>

              <h4 *ngIf="!highlight" class="toggle-false" (click)="highlight = true">No</h4>
              <h4 *ngIf="!highlight" class="toggle-button-false" (click)="highlight = true"></h4>
            </div>

          </div>

          <div class="form-section-details" *ngIf="!noLocation">

            <div class="form-select-image" *ngIf="pictureOptions.length > 0">
              <label>Select an image as the display picture</label>

              <div class="slider" [class.slider-exist]="displayPic">
                <div class="slider-images" *ngFor="let image of pictureOptions; let i = index">
                  <input type="radio" name="slide_switch" id="image-{{i}}" (click)="selectPic(image)" [checked]="i === 0">
                  <label for="image-{{i}}">
                    <img src="{{ image.url }}" alt="">
                  </label>
                  <img src="{{ image.url }}" alt="">
                  <h5 class="photo-credit" [innerHTML]="image.credit"></h5>
                </div>
              </div>
            </div>

            <div class="uploaded-picture" *ngIf="uploadPic">
              <h4 class="delete-picture" (click)="deletePicture()">X</h4>
              <img [src]="uploadPic">
            </div>

            <!-- <div class="upload-picture">
              <label class="file-upload">
                Upload Image From My Library
                <input type="file" (change)="fileUploaded($event)" [value]="inputValue" accept="image/*">
              </label>
            </div> -->

            <label>Name <span class="label-note"> - required</span></label>
            <input type="text" formControlName="name">
            <span class="form-validator"
              *ngIf="addActivityForm.get('name').touched && addActivityForm.get('name').invalid">Name of activity is required</span>

            <label>Address</label>
            <h4>{{ details.formatted_address }}</h4>

            <label>Contact Number</label>
            <h4>{{ details.international_phone_number }}</h4>

            <label>Website</label>
            <h4>{{ details.website }}</h4>

            <div class="details-item" *ngIf="details.formatted_hours !== ''">
              <label>Opening Hours</label>
              <h4 [innerHTML]="details.formatted_hours"></h4>
            </div>

            <div class="details-item" *ngIf="details.formatted_hours === ''">
              <label>Opening Hours</label>
              <textarea rows="3" formControlName="input_opening_hours" auto-grow></textarea>
            </div>

          </div>

          <h4 class="form-section-header">Note</h4>
          <div class="form-section-details">
            <textarea rows="2" formControlName="note" auto-grow></textarea>
          </div>

        </div>
      </div>

      <div class="action-response" *ngIf="searchDone">
        <h5 *ngIf="!submitted" class="action-response-secondary" (click)="cancelForm()">CANCEL</h5>
        <button *ngIf="!submitted" type="submit" class="action-response-primary" [disabled]="!addActivityForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h5></button>
        <h5 *ngIf="submitted" class="action-response-submit">Saving...</h5>
      </div>

    </div><!-- end of formCard -->

</form>

<div class="custom-modal" *ngIf="fileTypeError" (click)="fileTypeError = false">
  <div class="form-card">
    <div class="form-header">
      <h3>File type error</h3>
      <a (click)="fileTypeError = false">X</a>
    </div>

    <div class="content-without-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>The file you selected is not an image. Please try again.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="fileTypeError = false">OK</h5>
    </div>
  </div>
</div>
