<div class="activity-form">

  <form [formGroup]="customActivityForm" (ngSubmit)="onSubmit()">

    <div class="form-card">

        <div class="form-header">
          <h3>Add activity</h3>
          <a (click)="cancelForm()">x</a>
        </div>

        <div class="place-search">
          <label>Enter name of place or address (local name or address may be required)</label>
          <ww-google-place-search (placeDetail)="getActivityDetails($event)"></ww-google-place-search>
        </div>

        <div class="date-time-visit">

          <h5 style="padding-left:2px;color:brown">When do you plan to visit this place?</h5>

          <label>Date to visit <span class="required"> - required</span></label>
          <select name="date" formControlName="date">
            <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
              <div *ngIf="itinDate === 'any day'">
                <h5>{{ itinDate }}</h5>
              </div>
              <div *ngIf="itinDate !== 'any day'">
                <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
              </div>
            </option>
          </select>

          <div class="time" [class.marginBottom]="anytime">
            <label>Time to visit (

              <div class="anytime-input">
                <label>Any time
                  <input type="checkbox" (click)="toggleAnytime()">
                </label>
              </div>
              )
            </label>
            <input type="time" formControlName="time" *ngIf="!anytime">
          </div>
        </div>

        <label>Name <span class="required"> - required</span></label>
        <input type="text" formControlName="name" value="{{ activityDetail?.name}}">

        <label>Address</label>
        <input type="text" formControlName="formatted_address" value="{{ activityDetail?.formatted_address}}">

        <label>Contact Number</label>
        <input type="text" formControlName="international_phone_number" value="{{ activityDetail?.international_phone_number}}" class="contact-number-input">

        <label>Website</label>
        <input type="url" id="website" formControlName="website" value="{{ activityDetail?.website}}">

        <label>Opening hours</label>
        <textarea rows="3" formControlName="opening_hours" value="{{ activityDetail?.opening_hours}}"></textarea>

        <label>Cost / Entry fee</label>
        <input type="text" formControlName="entryFee">

        <label>Note</label>
        <textarea rows="2" formControlName="note"></textarea>

        <div formArrayName="categories">
          <label>Category</label>

          <div *ngFor="let category of categories.controls; let j = index" [formGroupName]="j">

            <div class="category-input">
              <input type="checkbox" formControlName="checked">
              <label>
                <i class="fa fa-{{ category?.value.icon }} fa-fw" aria-hidden="true"></i>
                {{ category.value.value }}
              </label>
            </div>
          </div>
        </div>

        <div class="save-option">
          <button type="submit" class="primaryButton" [disabled]="!customActivityForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save activity</button>
        </div>

      </div><!-- end of formCard -->

  </form>

</div>
