.progress-tracker li {
  width: 50%;
}

select  {
  width: 190px;
}

.anytime-input  {
  display: inline-block;
}

.anytime-input > label > input  {
  display: inline-block;
  width: 15px;
}

.any-time-true {
  margin-bottom: 10px;
}

.category-input > input {
  display: inline-block;
  width: 15px;
}

.category-input > label {
  display: inline-block;
}
