ww-notification {
  display: block;
  position: absolute;
  top: 80px;
  right: 0;
  width: 330px;
  background-color: white;
  box-shadow: inset 7px 0 10px -7px rgba(0, 0, 0, 0.2);
  z-index: 1500;
}
