
.recommendations-list {
  position: absolute;
  top: 59.09px;
  max-height: calc(100vh - 160px);
  width: 600px;
  overflow: auto;
  background-color: white;
  border: 1px solid lightgray;

  @media only screen and (max-width: 610px) {
    width: 100%;
    min-width: 300px;
  }
}


.recommendations-list::-webkit-scrollbar {
  background-color: rgba(100, 148, 237, 0.3);
  width: 8px;
}

.recommendations-list::-webkit-scrollbar-thumb {
  background-color: rgba(100, 148, 237, 0.9);
}
