<div class="custom-modal" *ngIf="showTransportSummary" (click)="showSummary()"></div>

<div class="transport-summary" [class.show-summary]="showTransportSummary">
  <h4 class="summary-quick-reference">Quick reference</h4>
  <!-- <h5 class="transport-summary-length">TRANSPORT LIST ({{ transports.length }})</h5> -->
  <div *ngFor="let event of transports; let i = index" class="transport-summary-item" (click)="centerItem(event)" [class.highlighted-item]="highlightedEvent === event">
    <a href="#transport{{i}}">
      <h5 class="date">{{ event?.dep_date | date: 'dd MMM yyyy' }} - {{ event?.dep_time }}</h5>

      <div [ngSwitch]="event.transport_type">
        <h5 class="transport-summary-header" *ngSwitchCase="'flight'"><i class="fa fa-plane" aria-hidden="true"></i> {{ event.reference_number | uppercase }}</h5>
        <h5 class="transport-summary-header" *ngSwitchCase="'train'"><i class="fa fa-train" aria-hidden="true"></i> Train</h5>
        <h5 class="transport-summary-header" *ngSwitchCase="'bus'"><i class="fa fa-bus" aria-hidden="true"></i> Bus {{ event.reference_number | uppercase }}</h5>
        <h5 class="transport-summary-header" *ngSwitchCase="'cruise'"><i class="fa fa-ship" aria-hidden="true"></i> Cruise</h5>
        <h5 class="transport-summary-header" *ngSwitchCase="'vehicle rental'"><i class="fa fa-car" aria-hidden="true"></i> Vehicle rental</h5>
        <h5 class="transport-summary-header" *ngSwitchCase="'others'"><i class="fa fa-rocket" aria-hidden="true"></i> Transport</h5>
      </div>
      <h5 class="transport-summary-details">from {{ event.dep_city | uppercase }} to {{ event.arr_city | uppercase }}</h5>
    </a>
  </div>
</div>

<div class="transport-list">
  <ww-transport
    *ngFor="let event of transports; let i = index"
    id="transport{{i}}"
    [event]="event"
    [class.highlighted-event]="highlightedEvent === event"
    [itinDateRange]="itinDateRange"
    [currentUser]="currentUser"
    [currentItinerary]="currentItinerary">
  </ww-transport>
</div>

<div class="transport-summary-popup" (click)="showSummary()">
  <i class="fa fa-list" aria-hidden="true"></i>
</div>
