/*********************************
  transport summary section
*********************************/
.transport-summary-header {
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 11.62px;
}

.transport-summary-details  {
  padding: 0 10px 20px 10px;
}
