<div class="custom-modal" *ngIf="showTransportSummary" (click)="toggleSummary()"></div>

<div *ngIf="totalTransports" class="event-summary-section" [class.show-summary]="showTransportSummary">

  <h4 class="event-summary-header">Transport List - {{ totalTransports }}</h4>
  <h5 class="close-pop-up" (click)="toggleSummary()">X</h5>

  <div class="event-summary">
    <div *ngFor="let event of transports; let i = index" class="event-summary-item" (click)="centerItem(event)" [class.highlighted-item]="highlightedEvent === event">
      <a href="#transport{{i}}">
        <h5 class="index">{{ i+1 }}</h5>

        <h5 class="date" *ngIf="itinerary?.num_days">{{ event?.dep_date }} - {{ event?.dep_time }}</h5>
        <h5 class="date" *ngIf="!itinerary?.num_days">{{ event?.dep_date | date: 'dd MMM yyyy' }} - {{ event?.dep_time }}</h5>

        <div [ngSwitch]="event.transport_type">
          <h5 class="transport-summary-header" *ngSwitchCase="'flight'"><i class="fa fa-plane" aria-hidden="true"></i> {{ event.reference_number | uppercase }}</h5>
          <h5 class="transport-summary-header" *ngSwitchCase="'train'"><i class="fa fa-train" aria-hidden="true"></i> Train</h5>
          <h5 class="transport-summary-header" *ngSwitchCase="'bus'"><i class="fa fa-bus" aria-hidden="true"></i> Bus {{ event.reference_number | uppercase }}</h5>
          <h5 class="transport-summary-header" *ngSwitchCase="'cruise'"><i class="fa fa-ship" aria-hidden="true"></i> Cruise</h5>
          <h5 class="transport-summary-header" *ngSwitchCase="'vehicle rental'"><i class="fa fa-car" aria-hidden="true"></i> Vehicle rental</h5>
          <h5 class="transport-summary-header" *ngSwitchCase="'transport'"><i class="fa fa-rocket" aria-hidden="true"></i> Transport</h5>
        </div>
        <h5 class="transport-summary-details">from {{ event.dep_city | uppercase }} to {{ event.arr_city | uppercase }}</h5>
        <h5 class="event-summary-note truncate">{{ event?.note }}</h5>

        <h4 class="event-out-of-range" *ngIf="event?.out_of_range"><i class="fa fa-arrow-up" aria-hidden="true"></i> Out of itinerary date range</h4>
      </a>
    </div>
  </div>

</div>

<div *ngIf="!totalTransports && !preview" class="nil-event-message">
  <img class="img-example" src="assets/arrow.png" alt="">
  <h4>This is a dedicated section for all your transport arrangements.</h4>

  <div class="add-opt" (click)="addTransport = true">
    <i class="fa fa-car fa-3x" aria-hidden="true"></i>
    <h4>Add new transport</h4>
  </div>

  <h4>You can also add a new arrangement by selecting from the "ADD NEW" tab.</h4>
  <h4 class="nil-event-message-mobile">You can access the "ADD NEW" tab at the bottom of the screen.</h4>
</div>

<div *ngIf="!totalTransports && preview" class="nil-event-message">
  <img class="img-example" src="assets/arrow.png" alt="">
  <h4>This is no transport arrangement in this itinerary.</h4>
  <h4>You can copy this itinerary and add your own transport arrangement.</h4>
</div>

<div class="event-list">
  <ww-transport
    *ngFor="let event of transports; let i = index"
    id="transport{{i}}"
    [index]="i"
    [event]="event"
    [preview]="preview"
    [class.highlighted-event]="highlightedEvent === event"
    [dateRange]="dateRange"
    [itinerary]="itinerary"
    [totalTransports]="totalTransports">
  </ww-transport>
</div>

<div class="list-short-cut" *ngIf="totalTransports">
  <h4 (click)="toggleSummary()">
    <i class="fa fa-list" aria-hidden="true"></i>
    TRANSPORT LIST
    <i class="fa fa-level-up" aria-hidden="true"></i>
  </h4>
</div>

<div *ngIf="addTransport" class="custom-modal">
  <ww-transport-form (hideTransportForm)="hideTransportForm($event)"></ww-transport-form>
</div>
