/*
  Forms for itinerary events
  Itinerary description
  Itinerary summary
  Message for nil item
  Events summary
  Events display

  Itinerary list
*/


/*******

  for accommodation form

*******************************/
.date-to-visit,
.time-to-visit  {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}



/*************

  for activity form

***************************/

/* meal tags for activity */
.meal-tags > label {
  display: block;
}

.meal-item  {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.meal-input label {
  padding: 2px 10px;
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}

.meal-input input {
  visibility: hidden;
  width: 0;
  margin: 0;
  height: 0;
}

.meal-input .meal-checked {
  color: #19CC72;
  border: 1px solid #19CC72;
}





/*************

  for transport form

***************************/

/* to display flight details in form - prevent edit */
.flight-details {
  height: 40px;
  @media only screen and (max-width: 700px) {
    margin-bottom: 20px;
    height: auto;
  }
}

.flight-details > * {
  display: inline-block;
  @media only screen and (max-width: 700px) {
    display: block;
  }
}

.flight-details > h5 {
  width: 150px;
  color: grey;
  letter-spacing: .5px;
  @media only screen and (max-width: 700px) {
    padding-bottom: 3px;
  }
}

.flight-details > input {
  width: 400px;
  margin-bottom: 0;
  @media only screen and (max-width: 450px) {
    width: 100%;
  }
}



/******

  Itinerary Description

************************/
.description-header {
  padding: 10px 0 20px 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.section-header {
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.section-content  {
  margin-bottom: 40px;
  text-align: justify;
  line-height: 1.5;
  font-size: 15px;
}


/********

  Itinerary Summary

*********************/
.pill {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
}

.pill ~ h6  {
  display: inline-block;
  font-weight: 500;
}

.accommodation-indicator  {
  background-color: rgba(118,0,204,.5);
}

.transport-indicator  {
  background-color: rgba(255, 161, 92,1);
}

.activity-indicator {
  background-color: rgba(241,57,77,.8);
}


/* itinerary summary & itinerary nav mobile */

.scroll-left,
.scroll-right {
  position: fixed;
  margin-top: 79px;
  width: 40px;
  height: calc(100vh - 190px);

  &:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.8);
  }

  @media only screen and (max-width: 420px) {
    display: none;
  }

  @media only screen and (min-width: 420px) and (max-width: 1091px) {
    height: calc(100vh - 245px);
  }
}

.scroll-left i,
.scroll-right i {
  padding: 12.7px 14.5px;
}

.scroll-right {
  right: 0;
}


/*************

 when there is no item for each category

*******************************************/

.nil-event-message  {
  position: fixed;
  margin: 75px 0 0 10px;
  padding: 10px;
  z-index: 2;

  @media only screen and (max-width: 550px) {
    width: 100%;
    min-width: 300px;
    margin: 40px 0;
    text-align: center;
  }

  @media only screen and (min-width: 550px) and (max-width: 1090px) {
    text-align: center;
    margin-top: 150px;
    margin-left: calc((100vw - 520px)/2)
  }
}

.nil-event-message img  {
  margin: 0 0 5px -30px;

  @media only screen and (max-width: 1090px) {
    display: none;
  }
}

.nil-event-message h4 {
  margin-bottom: 20px;
  line-height: 1.2;
}


.nil-event-message li {
  padding-bottom: 10px;
}

.nil-event-message-mobile  {
  display: none;

  @media only screen and (max-width: 1090px) {
    display: block;
  }
}



/* display options to add when no item */

.add-opt  {
  display: inline-block;
  margin: 20px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 550px) {
    display: block;
  }

}

.add-opt:hover *  {
  color: #6494ED;
}

.add-opt *  {
  display: block;
  font-weight: 400;
  color: #567FCC;
}





/********

 Accommodation / Transport / Activity / Resource Summary

**************************************************************/

.event-summary-section  {
  position: fixed;
  margin: 15px 0 0 10px;
  width: 210px;

  @media only screen and (max-width: 890px) {
    display: none;
  }
}


/* show summary as pop up in smaller screens < 890px */

.show-summary {
  position: fixed;
  display: block;
  top: 40px;
  left: 10px;
  width: 380px;
  background-color: white;
  z-index: 1001;

  @media only screen and (max-width: 420px) {
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
  }

  @media only screen and (max-width: 890px) {
    margin: 0;
  }
}


.list-short-cut {
  display: none;

  @media only screen and (max-width: 890px) {
    display: block;
    position: fixed;
    width: 100vw;
    right: 0;
    bottom: 40px;
    text-align: center;
    z-index: 499;
    background-color: white;
  }
}

.list-short-cut h4  {
  width: 100vw;
  padding: 8px 0;
  border-top: 4px solid #6494ED;
}

.list-short-cut .fa-level-up  {
  padding-left: 10px;
}


/* summary header */

.event-summary-header {
  padding: 10px 10px 5px 10px;
  background-color: rgb(255,161,92);

  @media only screen and (max-width: 890px) {
    color: #F9FBFB;
    background-color: #6494ED;
  }

  @media only screen and (max-width: 420px) {
    padding: 15px 0 10px 0;
    text-align: center;
  }
}

.close-pop-up {
  display: none;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 890px) {
    display: block;
    margin: -20px 12px 0 0;
    color: #F9FBFB;
    float: right;
  }

  @media only screen and (max-width: 420px) {
    margin-top: -25px;
  }
}



/* summary filter */

.event-summary-filter {
  margin-bottom: 0;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid rgba(255,161,92,.9);

  @media only screen and (max-width: 890px) {
    border: 1px solid rgba(100, 148, 237, 0.9);
  }
}

.legend-section > .fa-sort-desc,
.event-summary-section > .fa-sort-desc  {
  position: absolute;
  margin-top: -25px;
  margin-left: 190px;

  @media only screen and (max-width: 420px) {
    margin-left: 0;
    right: 10px;
  }

  @media only screen and (min-width: 420px) and (max-width: 890px) {
    margin-left: 360px;
  }
}


/* summary list */

.event-summary  {
  position: fixed;
  width: 210px;
  max-height: calc(100vh - 150px);
  background-color: rgba(255,161,92, 0.3);
  overflow: auto;

  @media only screen and (max-width: 420px) {
    width: 100%;
    min-width: 300px;
    max-height: calc(100vh - 80px);
    background-color: white;
  }

  @media only screen and (min-width: 420px) and (max-width: 890px) {
    width: 380px;
    background-color: white;
  }

  @media only screen and (min-width: 890px) and (max-width: 1090px) {
    max-height: calc(100vh - 190px);
  }
}

.event-summary::-webkit-scrollbar {
  background-color: rgba(255,161,92, 0.3);
  width: 8px;

  @media only screen and (max-width: 890px) {
    background-color: rgba(100, 148, 237, 0.3);
  }
}

.event-summary::-webkit-scrollbar-thumb {
  background-color: rgba(255,161,92, 0.9);

  @media only screen and (max-width: 890px) {
    background-color: rgba(100, 148, 237, 0.9);
  }
}


/* each summary item */

.event-summary-item {
  text-align: right;
  border-top: 1px solid lightgray;

  &:hover {
    background-color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 890px) {
    font-size: 120%;
    border: none;
    border-bottom: 1px solid lightgrey;
  }
}

.event-summary-item .index {
  margin: 10px 5px;
  padding: 3px 5px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 5px;
  float: left;
}

.event-summary-item > a {
  &:hover {
    text-decoration: none;
  }
}

.event-summary-item > a > * {
  font-size: 11.62px;
}

.event-summary-item .date {
  margin-bottom: 5px;
  padding: 20px 10px 0 10px;
  color: grey;
  font-weight: 500;
}

.event-summary-note  {
  padding: 0 10px 10px 10px;
  color: #808080;
}

.event-out-of-range {
  text-align: center;
  color: #F9FBFB;
  background-color: red;
}

.highlighted-item {
  background-color: rgba(255,161,92, .5) !important;
}




/********

 Container for details display

*********************************/

.event-list {
  display: flex;
  flex-direction: column;
  margin-left: 230px;

  @media only screen and (max-width: 890px) {
    margin-left: calc((100vw - 660px)/2);
  }

  @media only screen and (max-width: 690px) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}



/***********************************

 accommodation/transport/activity/resource details display

**************************************************************/
ww-activity,
ww-accommodation,
ww-transport,
ww-resource {
  display: flex;
  margin-top: -90px;
  padding-top: 90px;
  width: 630px;

  @media only screen and (max-width: 400px) {
    width: 100vw;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 330px;
  }
}


/* main card housing */

.display-card {
  position: relative;
  margin: 15px;
  padding: 0 0 20px 0;
  width: 600px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;

  @media only screen and (max-width: 400px) {
    margin: 15px 10px;
    width: calc(100vw - 20px);
    min-width: 300px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 300px;
  }
}

.display-photo-card {
  position: relative;
  margin: 15px;
  width: 600px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;

  @media only screen and (max-width: 400px) {
    margin: 15px 10px;
    width: calc(100vw - 20px);
    min-width: 300px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 300px;
  }
}



/* image for card display */

.display-card-image {
  display: inline-block;
  vertical-align: top;
  width: 190px;

  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
  }
}

.display-card-image > img {
  width: 180px;
  overflow: hidden;
  margin: 18px 0 10px 10px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);

  @media only screen and (max-width: 400px) {
    margin: 0;
    width: calc(100vw - 20px);
    height: calc(100vw * 0.66);
    min-width: 300px;
    min-height: 200px;
    border: none;
    box-shadow: none;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    display: block;
    margin: 0;
    width: 300px;
    height: 200px;
    border: none;
    box-shadow: none;
  }
}

.photo-credit {
  position: absolute;
  margin-top: -30px;
  max-width: 165px;
  left: 17px;
  padding: 0 3px;
  background-color: rgba(255,255,255,.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media only screen and (max-width: 650px) {
    max-width: 290px;
    margin-top: -15px;
    left: 5px;
  }
}




/* placeholder when image does not exist */

.display-card-image-placeholder {
  display: inline-block;
  margin: 18px 0 10px 10px;
  padding-top: 60px;
  width: 180px;
  height: 180px;
  background-color: #F5F5FD;
  text-align: center;
  vertical-align: top;

  @media only screen and (max-width: 400px) {
    margin: 0;
    width: calc(100vw - 20px);
    height: calc(100vw * 0.66);
    min-width: 300px;
    min-height: 200px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    margin: 0;
    display: block;
    width: 300px;
    height: 200px;
  }
}


/* housings to display content with photo */

.display-content-housing  {
  display: inline-block;
  width: 406px;

  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
  }
}

.display-card .dots-menu::after,
.display-content-housing .dots-menu::after  {
  color: #F9FBFB;
}

.display-details-housing  {
  padding: 0 20px;
}



/* highlight card when selected from summary */

.highlighted-event  {
  background-color: rgba(100,148,237,.5);
}

.highlighted-event::before  {
  position: absolute;
  content: '';
  height: 90px;
  width: 630px;
  margin-top: -90px;
  background-color: #F6F6F6;
  z-index: 1;

  @media only screen and (max-width: 400px) {
    width: 100vw;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 330px;
  }
}


/* header background for activity / accommodation / resource */

.display-header-background  {
  position: absolute;
  top: 0;
  width: 600px;
  height: 35.8px;
  background-color: #6494ED;
  z-index: -1;

  @media only screen and (max-width: 650px) {
    display: none;
  }
}



/* date header for activity / accommodation / transport */

.display-date-header  {
  padding: 7px 20px;
  background-color: #6494ED;
}

.display-date-header > h5,
.resource-count {
  display: inline-block;
  color: #F9FBFB;
}

.display-date-header > h5:first-of-type {
  margin-right: 10px;
}

.display-date-header > h5:nth-of-type(2),
.resource-count  {
  padding: 3px 10px 2px 10px;
  border: 1px solid #F9FBFB;
  border-radius: 2px;
}



/* display individual item for events / print / recommendation */

.details-description  {
  margin-bottom: 10px;
  text-align: justify;
}

.details-description h4 {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}

.details-description h5 {
  color: #6494ED;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.details-item  {
  margin-bottom: 10px;
}

.details-item > i {
  vertical-align: middle;
  color: grey;
}

.details-item > h5 {
  display: inline-block;
  width: calc(100% - 25px);
  vertical-align: top;
  color: grey;
  text-align: justify;
  line-height: 1.5;
}


/* for display in form */
.details-item > h4  {
  margin: 0 0 20px 10px;
  font-weight: 400;
}


/* display note in events / print / recommendation */

.note  {
  color: grey;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.note > h6  {
  white-space: pre-line;
}


/**********************

 activity / accommodation display

***********************************/

/*  activity / accommodation name header */

.accommodation-header,
.activity-header {
  margin: 10px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}



/* recommended by for activity / accommodation */

.recommended-by-note,
.favs-note  {
  color: #808080;
  padding-top: 5px;
}

.recommended-by-note {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* toggle contact display for activity / accommodation */

.toggle-contact-details {
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}
.toggle-contact-details > h5 > i {
  text-align: right;
}

.toggle-contact-details > * {
  display: inline-block;
}




/***********

  activity display

*********************/

/* meal display in activity / print / summary */

.meals-display  {
  display: inline-block;
}

.meals-display h5  {
  margin: 10px 2px 0 0;
  padding: 2px 10px;
  border: 1px solid #19CC72;
  border-radius: 2px;
  color: #19CC72;
}

.meals-display h6  {
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 2px 5px 1px 5px;
  color: #19CC72;
  border: 1px solid #19cc72;
  border-radius: 2px;

  @media only screen and (max-width: 420px) {
    font-size: .83em;
  }
}


/***********

 transport display

********************/

.transport-header {
  padding: 20px;
}

.transport-header .transport-type,
.transport-header .transport-header-text  {
  display: inline-block;
  vertical-align: middle;
}

.transport-type h1  {
  font-size: 40px;
  color: #6494ED;
}

.transport-header-text  {
  padding-left: 15px;

  @media only screen and (max-width: 650px) {
    width: 225px;
    padding-left: 10px;
  }
}

/* airline details */
.flight-airline {
  padding: 5px 0;
}


/* if codeshare is true */
.operating-message  {
  padding: 5px 0 10px 0;
}

.operating-message > h5 {
  color: red;
}



/* transport details display */

.departure-arrival-details {
  padding: 20px 0;
  background-color: #F6F6F6;

  @media only screen  and (max-width: 400px) {
    padding: 20px 5px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    margin-bottom: 10px;
  }
}

.departure-section,
.arrival-section  {
  display: inline-block;
  width: 250px;
  vertical-align: top;

  @media only screen  and (max-width: 400px) {
    width: calc((100vw - 80px) / 2);
    min-width: 120px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 120px;
  }
}

.departure-section  {
  text-align: right;
}

.arrival-section  {
  padding-left: 10px;
}

.departure-section > h3,
.arrival-section > h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

.departure-section > h5,
.arrival-section > h5 {
  padding-bottom: 3px;
  color: #808080;
}

h5.approach-details,
h5.transport-date-details  {
  display: inline-block;
  font-weight: 600;
  color: #3A4A4D;

  @media only screen and (max-width: 650px) {
    display: block;
  }
}


/* visual from departure to arrival */

.route-visual {
  display: inline-block;
  width: 60px;
  margin-left: 20px;
  border-bottom: 3px dotted #C6C6C6;

  @media only screen and (max-width: 650px) {
    width: 20px;
  }
}

.route-visual i  {
  position: absolute;
  margin-top: -6px;
  margin-left: -10px;
  color: #C6C6C6;
}

.route-visual .fa-plane  {
  transform: rotate(45deg);
}


/* rental display */

.rental-company,
.rental-contact {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}





/***********

  resource display

*********************/

.resource-link-preview {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid lightgray;

  @media only screen and (max-width: 400px) {
    min-width: 260px;
  }
}

.resource-link-preview > a {
  &:hover {
    text-decoration: none;
    opacity: .6;
 }
}

.resource-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  width: 90%;
  margin: 20px 0 10px 0;
  word-wrap: break-word;
}


.resource-link-img {
  display: inline-block;
  width: 50px;
  height: 50px;
}


.resource-link-title  {
  display: inline-block;
  width: calc(100% - 60px);
  padding: 10px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.resource-link-description  {
  padding: 10px;
  font-weight: 400;
}

.resource-link-url {
  padding: 5px 10px;;
  text-align: left;
  color: grey;
}



/******

  Itinerary map view

*********************/

ww-itinerary-map  {
  position: relative;
}





/*****

  Created by

**************/

.created-by {
  position: absolute;
  bottom: 10px;
}

.created-by > *,
.created-by .time-ago,
.created-by .time-ago > p {
  display: inline-block;
}

.created-by > h5 > a  {
  color: #567FCC;
  font-size: 0.9em;
}



/************

 Copy itinerary list style

 ****************************/
.copy-to-itinerary-list {
  margin-top: 15px;
}

.copy-to-itinerary  {
  padding: 15px 10px;
  border: 1px solid lightgray;
  &:hover {
    background-color: #F6F6F6;
    cursor: pointer;
  }
}

.copy-to-itinerary h4  {
  font-weight: 400;
}




/*****

  Itinerary List

*********************/
.itinerary-list {
  padding: 10px 20px;
  border-top: 1px solid lightgray;

  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
    opacity: 1;
  }

  @media only screen and (max-width: 500px) {
    padding: 10px;
  }
}

.completed-indicator {
  background-color: #E6E6E6;
  opacity: .6;
}

.itinerary-list h3  {
  display: inline-block;
  padding-bottom: 5px;
}

.itinerary-list > h5  {
  padding: 0 0 5px 20px;
}

.itinerary-list > h5:nth-of-type(1) {
  padding-bottom: 15px;
}
