/*******

 User profile display card

****************************/

.user-card  {
  min-width: 300px;
  padding: 20px;
  border-bottom: 1px solid lightgray;

  @media only screen and (max-width: 400px) {
    padding: 20px 10px;
  }
}

.user-details {
  display: inline-block;
  width: 50%;
  margin-left: 5px;
  vertical-align: top;

  // @media only screen and (max-width: 400px) {
  // //  width: 50%;
  // }
}

.user-description {
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/***

  User name display

************************/
.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.username-bold  {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}



/***

  User thumbnail photo

*********************************************/
.user-profile-thumbnail  {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.user-post-thumbnail  {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}


/******

 User search

*********************/
.user-search-header  {
  margin-top: 10px;
  padding: 5px;
  font-weight: 500;
}

.selected-user  {
  background-color: #F6F6F6;
}

.toggle-add {
  float: right;
  padding: 5px 10px;
  color: #6494ED;
  border: 2px solid #6494ED;
  border-radius: 5px;

  &:hover {
    color: #19CC72;
    border: 2px solid #19CC72;
    cursor: pointer;
  }
}

.toggle-remove {
  float: right;
  padding: 5px 10px;
  color: #19CC72;
  border: 2px solid #19CC72;
  border-radius: 5px;

  &:hover {
    color: #808080;
    border: 2px solid #808080;
    cursor: pointer;
  }
}




/****

 display of users and followings status

******************************************/
.already-following  {
  padding: 6px 10px;
  font-weight: 500;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
  }
}

.requested-following {
  padding: 6px 10px;
  color: grey;
  font-weight: 500;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
  }
}

.unfollow {
  display: none;
}

.following-response:hover > .unfollow {
  display: block;
  position: absolute;
  padding: 7px 10px;
  width: 100px;
  font-weight: 500;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.follow-button  {
  background-color: transparent;
  border: none;
  float: right;
}

.follow-button > h5  {
  padding: 6px 10px;
  color: #F9FBFB;
  background-color: #6494ED;
  font-weight: 500;
  letter-spacing: .5px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}





/******

  User Profile Display

*****************************/

.profile-header > div:first-of-type {
  display: initial;
}

.profile-header > div > img  {
  position: absolute;
  display: inline-block;
  margin-top: 180px;
  // margin-left: calc((100vw - 600px)/2);
  left: calc((100vw - 600px)/2);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 4px solid #F9FBFB;
  background-color: #F9FBFB;
  overflow: hidden;
  vertical-align: top;

  @media only screen and (max-width: 650px) {
    position: initial;
    margin-left: calc((100vw - 120px) /2);
  }
}


.profile-details  {
  display: inline-block;
  margin-top: 210px;
  margin-left: calc(((100vw - 600px)/2) + 120px);
  padding: 10px;
  width: 400px;

  @media only screen and (max-width: 650px) {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

.profile-details h2 {
  color: #F9FBFB;
  font-family: 'Lato', sans-serif;

  @media only screen and (max-width: 650px) {
    color: #3A4A4D;
  }
}

.profile-details h4 {
  padding: 10px 0;
  color: #808080;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.profile-background  {
  position: absolute;
  width: 1440px;
  margin-left: calc((100vw - 1440px) /2);
  z-index: -1;

  @media only screen and (max-width: 1440px) {
    width: 100%;
    margin-left: 0;
  }
}

.profile-background img  {
  width: 100%;
  height: 250px;
}

.user-profile-counters  {
  width: 360px;
  left: calc(((100vw - 600px)/2) + 180px);

  @media only screen and (max-width: 650px) {
    left: 0;
    width: 100%;
    min-width: 300px;
    margin-top: 115px;
  }

  @media only screen and (min-width: 650px) and (max-width: 890px) {
    left: calc(((100vw - 600px) / 2) + 170px);
  }
}

.data-counter {
  display: inline-block;
  width: 24%;
  padding: 10px 5px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.data-counter * {
  color: #F9FBFB;
}

.data-counter > h2 {
  padding-bottom: 3px;
}

/* dont have follower/following message */
.nil-message-main {
  width: 100%;
  padding: 20px;
  text-align: center;
}

ww-followers,
ww-followings,
ww-pending-followers,
ww-requested-followings,
ww-user-followers,
ww-user-followings  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 60px;
  width: 640px;
  margin-left: calc((100vw - 640px) /2);

  @media only screen and (max-width: 650px) {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }
}


ww-followers .user-card,
ww-followings .user-card,
ww-pending-followers .user-card,
ww-requested-followings .user-card,
ww-user-followers .user-card,
ww-user-followings .user-card {
  display: inline-block;
  margin: 5px;
  width: 310px;
  text-align: left;
  background-color: white;
  border: 1px solid lightgray;
}

.search {
  width: 100%;
  margin-top: -40px;

  @media only screen and (max-width: 680px) {
    position: absolute;
    left: 0;
  }
}

.search *  {
  display: inline-block;
  padding: 0 5px;
}

.search input {
  @media only screen and (max-width: 650px) {
    width: calc(100vw - 50px);
  }
}

.middle {
  @media only screen and (max-width: 639px) {
    text-align: center;
  }
}
