/* You can add global styles to this file, and also import other style files */

// http://paletton.com/#uid=73I2a0kkvUghaSyiTTim6VonEWB
// #FAFAFA - body background color grey (HSB 98.04)
// #F6F6F6 - secondary background color grey (HSB 96.47)
// #E6E6E6 - secondary background color grey (HSB 90.2)
// #A6A6A6 - text lighter grey (HSB 65)
// #808080 - secondary text grey (HSB 50)
// #6494ED - blue (100,148,237)
// #567FCC - darker blue
// #416099 - even darker blue for nav elements
// #FFC65C - accent color
// #19CC72 - light green
// #3C763D - dark green
// #FF8A5C - orange
// #DC143C - crimson(red)
// #3A4A4D - dark grey
// #C0C0C0 - light grey
// #F9FBFB - off white
// box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

/* z-index */
/******** General */
// profile center bar - -1
// landing page logo - 1 (to escape image opacity)
// flash message - 9999


/******** card display */
// empty div to push down highlighted item - 1
// display-card - 2
// item-menu - 2 (above link preview for resource)
// event summary short cut button - 999
// event summary list - 1001


/******** card display in summary section */
// itinerary-header - 3 (to go above display card)
// details pop up - 3


/******** nav bar */
// main nav - 500
// itinerary nav in mobile - 500
// items on nav - 501
// top nav header - 1 (to hide scrollbar for notifications)


/******** modal */
// modal - 1000
// items above modal - 1001




@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700); //font-family: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600'); //font-family: 'Fira Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Tangerine); //font-family: 'Tangerine', cursive;

$primaryColor: #6494ED;

$primaryText: #3A4A4D;
$secondaryText: #808080;
$whiteText: #F9FBFB;

* {
  box-sizing: border-box;
}

body  { background-color: #F6F6F6 }

body.prevent-scroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #3A4A4D;
}

h1  { font-size: 2em }
h2  { font-size: 1.5em }
h3  { font-size: 1.17em }
h4  { font-size: 1em }
h5  {
  font-size: 0.83em;
  font-weight: 400;
}
h6  {
  font-size: 0.67em;
  font-weight: 400;
}
a  { font-size: 0.83em }

img { object-fit: cover }

// @mixin button  {
//   padding: 8px 20px;
//   color: $primaryColor;
//   border: 1px solid $primaryColor;
//   background-color: white;
//   &:hover {
//     color: white;
//     background-color: $primaryColor;
//   }
// }

button[disabled]  {
  color: #CCC;
}

.view-all {
  padding: 10px;
  text-align: center;
  border-top: 1px solid lightgray;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.view-all > h5  {
  font-weight: 600;
  color: #567FCC;
}

/********** USER THUMBNAIL IMAGE */
.user-profile-thumbnail  {
  height: 30px;
  width: 30px;
  background-color: #AEAFAF;
  border-radius: 50%;
  overflow: hidden;
}

/********** ACTION BUTTONS */
.action-response  {
  text-align: right;
}

.action-response > *  {
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: .5px;
}

.action-response-primary,
.action-response-primary > h4  {
  color: #6494ED;
  background-color: transparent;
  border: 2px solid transparent;
}

.action-response-primary  {
  &:hover {
    cursor: pointer;
    border: 2px solid #6494ED;
    border-radius: 2px;
  }
}

.action-response-secondary  {
  color: #A6A6A6;
  &:hover {
    cursor: pointer;
    color: #3A4A4D;
  }
}

.action-response-warning  {
  color: #A6A6A6;
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.response-status > *  {
  padding: 5px;
  color: #3C763D;
  border: 2px solid #3C763D;
  border-radius: 2px;
}

/* display of users and followings status */
.already-following  {
  padding: 6px 10px;
  font-weight: 500;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
  }
}

.requested-following {
  padding: 6px 10px;
  color: grey;
  font-weight: 500;
  letter-spacing: .5px;
}

.unfollow {
  display: none;
}

.following-response:hover > .unfollow {
  display: block;
  position: absolute;
  right: 25px;
  padding: 7px 10px;
  font-weight: 500;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.follow-button  {
  background-color: transparent;
  border: none;
}

.follow-button > h5  {
  padding: 6px 10px;
  color: $whiteText;
  background-color: #6494ED;
  font-weight: 500;
  letter-spacing: .5px;
  border-radius: 5px;
  &:hover {
    color: #6494ED;
    background-color: transparent;
    cursor: pointer;
  }
}

.cancel-request {
  color: lightgray;
  text-align: right;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

span.username-bold  {
  font-weight: 600;
}

/********** HOVER MENU */
.dots-menu:after {
  content: '\2807';
  margin-top: -5px;
  width: 15px;
  font-size: 18px;
  color: #CCC;
  text-align: center;
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.dots-menu:hover .item-menu {
  display: block;
}

.item-menu  {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 150px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;
}

.item-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-menu > ul > li  {
  width: 100%;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.item-menu > ul > li:hover *  {
  color: grey;
}

.item-menu > ul > li > h5  {
  display: inline-block;
  letter-spacing: .5px;
}

.item-menu > ul > li > i  {
  display: inline-block;
  margin-top: 3px;
  float: right;
}


/********** SLIDER FOR IMAGES */
.slider {
  position: relative;
	margin: 5px auto 15px auto;
  padding: 205px 0 5px 0;
  text-align: center;

  @media only screen and (max-width: 400px) {
    text-align: left;
    padding-top: 200px;
  }

  @media only screen and (min-width: 400px) and (max-width: 500px) {
    text-align: left;
    padding-top: calc(((100vw - 97px)/ 3) * 2);
  }
}

.slider-images {
  display: inline-block;
}

.slider-images >  img {
	position: absolute;
	transition: all 0.5s;
  height: 200px;
  width: 300px;
  left: calc((650px - 340px)/2);
  top: 0;
  object-fit: cover;

  @media only screen and (max-width: 500px) {
    left: 0;
  }

  @media only screen and (min-width: 500px) and (max-width: 700px) {
    left: calc((100vw - 517px)/2);
  }
}

.slider-images input[name='slide_switch'] {
	display: none;
}

.slider-images label {
	margin: 5px 5px 0 0;
	border: 3px solid #999;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
  @media only screen and (max-width: 700px) {
    float: left;
  }
}

.slider-images label img {
	display: block;
  width: 102px;
  height: 68px;
  object-fit: cover;
  @media only screen and (max-width: 700px) {
    width: calc((100vw - 160px) / 5);
    height: calc((((100vw - 160px) / 5) / 3) * 2);
    min-width: 49.5px;
    min-height: 33px;
  }
}

.slider-images input[name='slide_switch']:checked+label {
	border-color: #FF8B43;
	opacity: 1;
}

.slider-images input[name='slide_switch'] ~ img  {
	opacity: 0;
	transform: scale(1.1);
}

.slider-images input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}

/********** follower following counter*/
.follower-counter,
.following-counter  {
  display: inline-block;
  width: 49.2%;
  padding: 10px 5px;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.follower-counter > h4,
.following-counter > h4 {
  padding-bottom: 3px;
}


.nil-message-main {
  padding: 20px;
  text-align: center;
}

/********** URL LINK PREVIEW */
.delete-link  {
  position: absolute;
  top:0;
  right:0;
  padding: 3px 4px 3px 5px;
  color: grey;
  background-color: lightgray;
  &:hover {
    cursor: default;
    opacity: .5;
  }
}

.link-preview {
  position: relative;
  margin: 0 30px;
  border: 1px solid lightgray;
}

.link-preview > a {
  &:hover {
    text-decoration: none;
    opacity: .6;
  }
}

.link-img {
  width: 100%;
}

.link-title  {
  padding: 10px;
  text-align: left;
}

.link-url {
  padding: 0 10px 5px 10px;;
  text-align: left;
  color: grey;
}

.textless-header  {
  height: 20px;
  background-color: #567FCC;
}

/********** FORM STYLES */
label {
  margin-bottom: 3px;
  padding-left: 1px;
  color: grey;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .5px;
}

input,
select,
textarea {
  display: block;
  margin-bottom: 15px;
  padding: 4px 8px;
  font-size: 14px;
  color: #555;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
  &:focus {
    border-bottom: 3px solid #6494ed;
    outline: 0;
  }
}

input,
select {
  width: 100%;
  height: 30px;
}

textarea  {
  max-width: 600px;
  width: 100%;
}

input[type=file]  {
  border: none;
}

input[type=text],
input[type=url]  {
  max-width: 600px;
}

input[type=radio],
input[type=checkbox] {
  height: 15px;
}

input[type=date],
input[type=time],
input.transport-terminal {
  max-width: 190px;
}

.reference-number  {
  width: 90px;
}

input.contact-number-input  {
  max-width: 190px;
}

select.select-date  {
  width: 250px;
}

a {
  cursor: pointer;
}

/* indicate required for form input */
span.required,
span.form-validator-message {
  color: gray;
  font-weight: normal;
  font-style: italic;
}

/* form display */
.form-card {
  width: 650px;
  margin: 40px auto;
  padding: 15px 0;
  max-height: calc(100vh - 50px);
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  overflow: auto;

  @media only screen and (max-width: 700px) {
    width: 100%;
    min-width: 300px;
    max-height: calc(100vh - 90px);
    padding: 5px 0;
  }

  @media only screen and (min-width: 700px) and (max-width: 1090px) {
    max-height: calc(100vh - 90px);
  }
}

/* progress tracker */
.progress-tracker-section {
  @media only screen and (max-width: 500px) {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
}

.progress-tracker  {
  margin-bottom: 20px;
  padding-left: 0;
}

.progress-tracker li {
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  height: 45px;
  color: lightgrey;
  font-size: 12px;
  text-align: center;
  text-indent: -19px;
  letter-spacing: .5px;
  vertical-align: text-bottom;
  border-top: 4px solid lightgrey;

  @media only screen and (max-width: 500px) {
    display: block;
    height: auto;
    margin-top: 0;
    text-align: left;
    text-indent: 0;
    border-top: none;
  }
}

.progress-tracker li::before  {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);

  @media only screen and (max-width: 500px) {
    position: static;
    left: 0;
  }
}

.progress-title::before {
  content: "\2B24";
  bottom: 20.5px;
  color: lightgrey;
  font-size: 10px;
  line-height: 18px;

  @media only screen and (max-width: 500px) {
    margin-right: 5px;
    font-size: 15px;
  }
}

.progress-done::before  {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 22px;
  bottom: 20.5px;
  border: none;
  border-radius: 19px;
  color: white;
  background-color: #19CC72;

  @media only screen and (max-width: 500px) {
    margin-right: 5px;
    padding-left: 3px;
  }
}

.progress-tracker li.progress-done  {
  color: black;
  font-weight: 500;
  border-top: 4px solid #19CC72;
  &:hover {
    cursor: pointer;
    color: grey;
  }

  @media only screen and (max-width: 500px) {
    border-top: none;
  }
}

.cannot-find  {
  color: gray;
  font-style: italic;
  text-align: right;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

/* form & edit header for form and edit modal display*/
.form-header {
  width: 100%;
  padding: 0 20px 5px 20px;
}

.form-header > h3 {
  display: inline-block;

  @media only screen and (max-width: 700px) {
    font-size: 1em;
  }
}

.form-header > a {
  float: right;
  width: 17px;
  height: 17px;
  text-align: center;
  color: #CCC;
  border-radius: 50%;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #CCC;
  }
}

.form-header-name {
  padding: 10px 20px;
  background-color: #567FCC;
}

.form-header-name-delete {
  padding: 10px 20px;
  background-color: red;
}

.form-header-name > h4,
.form-header-name-delete > h4  {
  font-weight: 400;
  color: $whiteText;
  letter-spacing: 1px;
}

.form-housing {
  padding: 20px;

  @media only screen and (max-width: 500px) {
    padding-top: 10px;
  }
}

.form-section-header,
.profile-edit-section-header,
.itinerary-edit-section-header  {
  padding-bottom: 2px;
  font-weight: bold;
  letter-spacing: .5px;
  color: #6494ED;
}

.form-section-details,
.profile-edit-section-details,
.itinerary-edit-section-details {
  margin-bottom: 10px;
  padding: 5px 10px;

  @media only screen and (max-width: 500px) {
    padding: 5px;
  }
}

.date-to-visit,
.time-to-visit  {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}

.anytime-input > label {
  margin-bottom: 0;
}

/* show editing view for post */
.editing > .view{
  display: none;
}

/* transport departure and arrival details for form and edit */
.departure-arrival-details {
  display: inline-block;
  width: 380px;
  padding: 10px;
  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
    margin-bottom: 10px;
  }
}

/***************************************************************
 ACCOMMODATION / TRANSPORT / ACTIVITY / RESOURCE CARDS DISPLAY
 **************************************************************/
.display-card {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px 20px 20px;
  width: 600px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;

  @media only screen and (max-width: 400px) {
    margin: 0 0 15px 0;
    width: 100vw;
    min-width: 300px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 300px;
  }
}

.display-photo-card {
  position: relative;
  margin: 15px;
  width: 600px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;

  @media only screen and (max-width: 400px) {
    margin: 0 0 15px 0;
    width: 100vw;
    min-width: 300px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 300px;
  }
}

.display-card-image {
  display: inline-block;
  vertical-align: top;

  @media only screen and (max-width: 650px) {
    display: block;
  }
}

.display-card-image > img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 10px 0 10px 10px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);

  @media only screen and (max-width: 400px) {
    width: 100vw;
    margin: 0;
    height: calc(100vw * 0.66);
    min-width: 300px;
    min-height: 200px;
    border: none;
    box-shadow: none;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    display: block;
    margin: 0;
    width: 300px;
    height: 200px;
    border: none;
    box-shadow: none;
  }
}

.display-card-image-placeholder {
  display: inline-block;
  margin: 10px 0 10px 10px;
  padding-top: 60px;
  width: 180px;
  height: 180px;
  background-color: #F5F5FD;
  text-align: center;
  vertical-align: top;

  @media only screen and (max-width: 400px) {
    margin: 0;
    width: 100vw;
    height: calc(100vw * 0.66);
    min-width: 300px;
    min-height: 200px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    margin: 0;
    display: block;
    width: 300px;
    height: 200px;
  }
}

.display-photo-housing  {
  display: inline-block;
  padding: 10px 20px;
  width: 405px;

  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
  }
}

.highlighted-event  {
  background-color: rgba(100,148,237,.5);
}

.highlighted-event::before  {
  position: absolute;
  content: '';
  height: 90px;
  width: 630px;
  margin-top: -90px;
  background-color: #F6F6F6;
  z-index: 1;

  @media only screen and (max-width: 600px) {
    width: 330px;
  }
}

.highlighted-item {
  border-right: 8px solid #6494ED;
}

.truncate {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/* accommodation/transport/activity display */
.date-header {
 color: grey;
}

.accommodation-city {
  margin-top: 10px;
  color: #6494ED;
}

.accommodation-header {
  margin: 10px 0;
}

.transport-header {
  display: inline-block;
  margin-top: 15px;
  padding-right: 10px;
  width: 160px;
  vertical-align: top;
  text-align: right;

  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
    padding: 0;
    text-align: center;
  }
}

.activity-header {
  margin: 10px 0;
  font-weight: bold;
}

.departure-details {
  margin-bottom: 5px;
  color: darkred;
}

.arrival-details {
  margin-bottom: 5px;
  color: darkblue;
}

.accommodation-details
.transport-details {
  padding: 0 10px;
}

.website-link {
  text-decoration: underline;
  color: #6494ED;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

.note{
  color: grey;
  overflow-wrap: break-word;
}

.note > h6  {
  white-space: pre-line;
}

/* ACTIVITY DISPLAY */
.accommodation-contact-details,
.activity-contact-details {
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}
.accommodation-contact-details > h5 > i,
.activity-contact-details > h5 > i {
  text-align: right;
}

.accommodation-contact-details > *,
.activity-contact-details > * {
  display: inline-block;
  font-weight: 500;
}

.accommodation-address,
.accommodation-contact-number,
.accommodation-website,
.activity-opening-hours,
.activity-fee,
.activity-address,
.activity-contact-number,
.activity-website  {
  margin-bottom: 10px;
}

.accommodation-address > i,
.accommodation-contact-number > i,
.accommodation-website > i,
.activity-opening-hours > i,
.activity-fee > i,
.activity-address > i,
.activity-contact-number > i,
.activity-website > i {
  vertical-align: top;
  color: grey;
}

.accommodation-address > h5,
.accommodation-contact-number > h5,
.accommodation-website > h5,
.activity-opening-hours > h5,
.activity-fee > h5,
.activity-address > h5,
.activity-contact-number > h5,
.activity-website > h5 {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  color: grey;
}

.activity-tags {
  position: absolute;
  bottom: 30px;
  color: grey;
}

.activity-category  {
  display: inline-block;
}

/* transport display */

/* flight details display */
.flight-details {
  height: 40px;
  @media only screen and (max-width: 700px) {
    margin-bottom: 20px;
    height: auto;
  }
}

.flight-details > * {
  display: inline-block;
  @media only screen and (max-width: 700px) {
    display: block;
  }
}

.flight-details > h5 {
  width: 150px;
  color: grey;
  letter-spacing: .5px;
  @media only screen and (max-width: 700px) {
    padding-bottom: 3px;
  }
}

.flight-details > input {
  width: 400px;
  margin-bottom: 0;
  @media only screen and (max-width: 450px) {
    width: 100%;
  }
}
/* if codeshare is true */
.operating-message  {
  padding: 5px 0 10px 0;
}

.operating-message > h5 {
  color: red;
}

.departure-section {
  padding-bottom: 10px;
}

.arrival-section {
  padding: 10px 0;
}

// span.city-highlight  {
//   font-size: 1.3em;
//   font-weight: 500;
// }

.rental-company,
.rental-contact {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}

/********************************
  RESOURCE DISPLAY
 *******************************/
.resource-link-preview {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  @media only screen and (max-width: 400px) {
    width: calc(100vw - 40px);
    min-width: 260px;
  }
}

.resource-link-preview > a {
  &:hover {
    text-decoration: none;
    opacity: .6;
 }
}

.resource-title {
  width: 90%;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.resource-content  {
  margin-bottom: 15px;
}

.resource-link-img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

// .resource-link-content  {
//   display: inline-block;
//   width: 200px;
//   vertical-align: top;
// }

.resource-link-title  {
  display: inline-block;
  padding: 10px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.resource-link-description  {
  padding: 10px;
  font-weight: 400;
}

.resource-link-url {
  padding: 5px 10px;;
  text-align: left;
  color: grey;
}

/************************************************************************
  POSTBY DISPLAY FOR ACCOMMODATION/TRANSPORT/ACTIVITY/RESOURCE
************************************************************************/
.postby {
  position: absolute;
  bottom: 10px;
}

.postby > *,
.time-ago,
.time-ago > p {
  display: inline-block;
}

.postby > h5 > a  {
  color: #567FCC;
  font-size: 0.9em;
}

.time-ago > p {
  color: grey;
  font-size: 0.7em;
  letter-spacing: .3px;
  &:hover {
    cursor: default;
  }
}

/******************
   ALL MODALS
*******************/
.modal-footer {
  border-top: none;
}

.custom-modal {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 1px);
  overflow-y: auto;
  z-index: 1000;
}


/***************************
 add members/find user modal
 ***************************/
.users-search  {
  width: 600px;
  position: fixed;
  padding: 10px;
  top: 40px;
  left: calc((100vw - 600px)/2);
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1001;

 @media only screen and (max-width: 610px) {
  width: 100%;
  min-width: 300px;
  left: 0;
 }
}

.users-search > input {
  border-radius: 0;
}

.search-result-card  {
  min-width: 300px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.user-details {
  display: inline-block;
  width: 70%;
  margin-left: 5px;
  vertical-align: top;
}

.user-description {
  margin-top: 3px;
  color: gray;
}

/****************
  delete modal
****************/
.confirm-delete-content {
  padding: 40px;
}

.confirm-delete-content > h4 {
  display: inline-block;
  width: 90%;
  padding-left: 10px;
  vertical-align: -webkit-baseline-middle;
}

.fa-exclamation-triangle {
  color: red;
  vertical-align: -webkit-baseline-middle !important;
}

.confirm-delete-footer  {
  padding: 0 20px;
  text-align: right;
}

/*********************
  ITINERARY MAP VIEW
*********************/
ww-itinerary-map  {
  position: relative;
}
