/* You can add global styles to this file, and also import other style files */

// http://paletton.com/#uid=73I2a0kkvUghaSyiTTim6VonEWB
// #FAFAFA - body background color grey (HSB 98.04)
// #F6F6F6 - secondary background color grey (HSB 96.47)
// #E6E6E6 - secondary background color grey (HSB 90.2)
// #A6A6A6 - text lighter grey (HSB 65)
// #808080 - secondary text grey (HSB 50)
// #6494ED - blue (100,148,237)
// #567FCC - darker blue
// #416099 - even darker blue for nav elements
// #FFC65C - accent color
// #19CC72 - light green
// #3C763D - dark green
// #FF8A5C - orange
// #DC143C - crimson(red)
// #3A4A4D - dark grey
// #C0C0C0 - light grey
// #F9FBFB - off white
// box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

/* z-index */
/******** General */
// profile center bar - -1
// landing page logo - 1 (to escape image opacity)
// flash message - 9999
// error message custom modal - 9999

/******** card display */
// empty div to push down highlighted item - 1
// display-card - 2
// item-menu - 2 (above link preview for resource)
// event summary short cut button - 999
// event summary list - 1001


/******** card display in summary section */
// itinerary-header - 3 (to go above display card)
// details pop up - 3


/******** nav bar */
// main nav - 500
// itinerary nav in mobile - 500
// items on nav - 501
// top nav header - 1 (to hide scrollbar for notifications)


/******** modal */
// modal - 1000
// items above modal - 1001

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700); //font-family: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700); //font-family: 'Roboto Condensed', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600); //font-family: 'Fira Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700); //font-family: 'Raleway', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Alice);//font-family: 'Alice', serif;

$primaryColor: #6494ED;

$primaryText: #3A4A4D;
$secondaryText: #808080;
$whiteText: #F9FBFB;


@mixin headerText {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  outline: none;
}

body  {
  background-color: #F6F6F6;
  font-family: 'Roboto', sans-serif;
}

body.prevent-scroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #3A4A4D;
}

h1  { font-size: 2em }
h2  { font-size: 1.5em }
h3  { font-size: 1.17em }
h4  { font-size: 1em }
h5  {
  font-size: 0.83em;
  font-weight: 400;
}
h6  {
  font-size: 0.67em;
  font-weight: 400;
}
a  { font-size: 0.83em }

img { object-fit: cover }

// @mixin button  {
//   padding: 8px 20px;
//   color: $primaryColor;
//   border: 1px solid $primaryColor;
//   background-color: white;
//   &:hover {
//     color: white;
//     background-color: $primaryColor;
//   }
// }

button[disabled]  {
  border: none;
  &:hover {
    cursor: default;
    background-color: transparent;
  }
}

button[disabled] h4,
button[disabled] h5 {
  color: #CCC;
  &:hover {
    color: #CCC;
  }
}

/***

  Date picker

***************/
.date-picker {
  width: 300px;
  padding: 4px 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.date-picker-single {
  width: 170px;
}

.date-picker i  {
  display: inline-block;
  margin-right: 10px;
}

.date-picker h4  {
  display: inline-block;
  width: 125px;
  font-size: 13px;
  font-weight: 400;
}

.date-picker h4 span {
  font-weight: 500;
}




.view-all {
  padding: 10px;
  text-align: center;
  border-top: 1px solid lightgray;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.view-all > h5  {
  font-weight: 600;
  color: #567FCC;
}

/* USER NAME */
.username {
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.username-bold  {
  font-weight: 600;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

/* USER THUMBNAIL IMAGE */
.user-profile-thumbnail  {
  height: 30px;
  width: 30px;
  background-color: #AEAFAF;
  border-radius: 50%;
  overflow: hidden;
}

.user-post-thumbnail  {
  height: 40px;
  width: 40px;
  background-color: #AEAFAF;
  border-radius: 50%;
  overflow: hidden;
}

/* ACTION BUTTONS */
.action-response  {
  padding: 10px 20px;
  text-align: right;
  background-color: #F6F6F6;
}

.action-response > *  {
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: .5px;
}

.action-response-primary  {
  padding: 0;
  background-color: transparent;
  border: 2px solid #6494ED;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    background-color: #6494ED;
  }
}

.action-response-primary > h4,
.action-response-primary > h5  {
  padding: 5px 10px;
  color: #6494ED;
  border: 2px solid transparent;
  &:hover {
    color: #F9FBFB;
  }
}

.action-response-primary:hover h4,
.action-response-primary:hover h5 {
  color: #F9FBFB;
}

h4.action-response-primary,
h5.action-response-primary  {
  padding: 5px 10px;
  color: #6494ED;
  border: 2px solid #6494ED;
  &:hover {
    color: #F9FBFB;
  }
}

.action-response-secondary  {
  color: #A6A6A6;
  &:hover {
    cursor: pointer;
    color: #3A4A4D;
  }
}

.action-response-warning  {
  color: #A6A6A6;
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.response-status > *  {
  padding: 5px;
  color: #3C763D;
  border: 2px solid #3C763D;
  border-radius: 2px;
}

/* display of users and followings status */
.already-following  {
  padding: 6px 10px;
  font-weight: 500;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
  }
}

.requested-following {
  padding: 6px 10px;
  color: grey;
  font-weight: 500;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
  }
}

.unfollow {
  display: none;
}

.following-response:hover > .unfollow {
  display: block;
  position: absolute;
  right: 25px;
  padding: 7px 10px;
  width: 100px;
  font-weight: 500;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.follow-button  {
  background-color: transparent;
  border: none;
}

.follow-button > h5  {
  padding: 6px 10px;
  color: $whiteText;
  background-color: #6494ED;
  font-weight: 500;
  letter-spacing: .5px;
  border-radius: 5px;
  &:hover {
    color: #6494ED;
    background-color: transparent;
    cursor: pointer;
  }
}

.cancel-request {
  color: lightgray;
  text-align: right;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

/* HOVER MENU */

.dots-menu  {
  &:hover {
    cursor: pointer;
  }
}

.dots-menu:after {
  content: '\2807';
  margin-top: -5px;
  width: 15px;
  font-size: 18px;
  color: #CCC;
  text-align: center;
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.dots-menu:hover .dots-menu-hint  {
  display: block;
}

.dots-menu-hint {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 5px;
  background-color: #3A4A4D;
  border-radius: 2px;
}

.dots-menu-hint h6  {
  color: #F9FBFB;
}

.item-menu  {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 150px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;
}

.item-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-menu > ul > li  {
  width: 100%;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.item-menu > ul > li:hover *  {
  color: grey;
}

.item-menu > ul > li > h5  {
  display: inline-block;
  letter-spacing: .5px;
}

.item-menu > ul > li > i  {
  display: inline-block;
  margin-top: 3px;
  float: right;
}


/********** SLIDER FOR IMAGES */
.slider {
  position: relative;
	margin: 5px auto 15px auto;
  padding: 205px 0 5px 0;
  text-align: center;
}

.slider-images {
  display: inline-block;
}

.slider-images >  img {
	position: absolute;
	transition: all 0.5s;
  height: 200px;
  width: 300px;
  left: calc((600px - 360px)/2);
  top: 0;
  object-fit: cover;

  @media only screen and (max-width: 350px) {
    left: 0;
  }

  @media only screen and (min-width: 350px) and (max-width: 650px) {
    left: calc((100vw - 360px)/2);
  }
}

.slider-images input[name='slide_switch'] {
	display: none;
}

.slider-images label {
	margin: 5px 5px 0 0;
	border: 3px solid #999;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;

  @media only screen and (max-width: 650px) {
    float: left;
  }
}

.slider-images label img {
	display: block;
  width: 93px;
  height: 62px;
  object-fit: cover;

  @media only screen and (max-width: 650px) {
    width: calc((100vw - 150px) / 5);
    height: calc((((100vw - 150px) / 5) / 3) * 2);
    min-width: 46px;
    min-height: 30.67px;
  }
}

.slider-images input[name='slide_switch']:checked+label {
	border-color: #FF8B43;
	opacity: 1;
}

.slider-images input[name='slide_switch'] ~ img  {
	opacity: 0;
	transform: scale(1.1);
}

.slider-images input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}

/***

      USER PROFILE DISPLAY

*****************************/

.user-profile-header > img  {
  position: absolute;
  right: calc(((100vw - 600px)/2) + 720px);
  margin-bottom: 15px;
  padding: 2px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #416099;
  background-color: white;
  overflow: hidden;

  @media only screen and (max-width: 670px) {
    margin-top: -30px;
    right: 0;
    left: calc((100vw - 150px) /2);
  }

  @media only screen and (min-width: 670px) and (max-width: 890px) {
    right: 0;
    left: calc((100vw - 600px) / 2);
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    right: calc(((100vw - 890px)/2) + 720px);
  }
}

.user-profile-header > h4  {
  position: absolute;
  margin-top: 85px;
  font-weight: 400;
  color: #808080;
  left: calc(((100vw - 600px)/2) - 105px);;

  @media only screen and (max-width: 670px) {
    margin-top: 185px;
    left: 10px;
    width: calc(100% - 20px);
    text-align: center;
  }

  @media only screen and (min-width: 670px) and (max-width: 890px) {
    left: calc(((100vw - 600px) / 2) + 179px);
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    left: calc(((100vw - 850px)/2) + 165px);
  }
}

.user-profile-background  {
  position: absolute;
  top: 40px;
  height: 120px;
  width: 100%;
  background: #567FCC;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  z-index: -1;

  @media only screen and (max-width: 670px) {
    height: 215px;
  }
}

.user-profile-counters  {
  position: absolute;
  width: 360px;
  margin-top: 20px;
  right: calc(((100vw - 600px)/2) + 360px);

  @media only screen and (max-width: 670px) {
    right: 0;
    width: 100%;
    min-width: 300px;
    margin-top: 115px;
  }

  @media only screen and (min-width: 670px) and (max-width: 890px) {
    right: 0;
    left: calc(((100vw - 600px) / 2) + 150px);
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    right: calc(((100vw - 890px)/2) + 360px);
  }
}

.follower-counter,
.following-counter,
.itinerary-counter  {
  display: inline-block;
  width: 32.5%;
  padding: 10px 5px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.follower-counter *,
.following-counter *,
.itinerary-counter * {
  color: #F9FBFB;
}

.follower-counter > h2,
.following-counter > h2,
.itinerary-counter > h2 {
  padding-bottom: 3px;
}

/* dont have follower/following message */
.nil-message-main {
  padding: 20px;
  text-align: center;
}

.user-profile-posts  {
  position: absolute;
  right: calc((100vw - 600px)/2);
  width: 600px;
  margin-top: 180px;

  @media only screen and (max-width: 670px) {
    width: 100%;
    min-width: 300px;
    margin-top: 245px;
    right: 0;
  }

  @media only screen and (min-width: 670px) and (max-width: 890px) {
    right: calc((100vw - 600px)/2);
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    right: calc((100vw - 890px)/2);
  }
}

.user-profile-posts-list  {
  display: flex;
  flex-direction: column-reverse;
}

/********** URL LINK PREVIEW */
.delete-link  {
  position: absolute;
  top:0;
  right:0;
  padding: 3px 4px 3px 5px;
  color: grey;
  background-color: lightgray;
  &:hover {
    cursor: default;
    opacity: .5;
  }
}

.link-preview {
  position: relative;
  margin: 0 30px;
  border: 1px solid lightgray;
}

.link-preview > a {
  &:hover {
    text-decoration: none;
    opacity: .6;
  }
}

.link-img {
  width: 100%;
}

.link-title  {
  padding: 10px;
  text-align: left;
}

.link-url {
  padding: 0 10px 5px 10px;;
  text-align: left;
  color: grey;
}

.textless-header  {
  height: 20px;
  background-color: #567FCC;
}

/********** FORM STYLES */
label {
  margin-bottom: 3px;
  padding-left: 1px;
  color: grey;
  font-size: 11.5px;
  font-weight: 500;
  letter-spacing: .5px;
}

input,
select,
textarea {
  display: block;
  margin-bottom: 20px;
  padding: 4px 8px;
  font-size: 14px;
  color: #555;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
  &:focus {
    border-bottom: 3px solid #6494ed;
    outline: 0;
  }
}

input,
select {
  width: 100%;
  height: 30px;
}

textarea  {
  max-width: 600px;
  width: 100%;
  resize: vertical;
}

input[type=file]  {
  border: none;
}

input[type=text],
input[type=url]  {
  max-width: 600px;
}

input[type=radio],
input[type=checkbox] {
  height: 15px;
}

input[type=date],
input[type=time],
input.transport-terminal {
  max-width: 190px;
}

.reference-number  {
  width: 90px;
}

input.contact-number-input  {
  max-width: 190px;
}

select.select-date  {
  width: 250px;
}

a {
  cursor: pointer;
}

/* label note for form input */
span.required,
span.label-note {
  color: gray;
  font-weight: normal;
  font-style: italic;
}

label.label-note  {
  color: #6494ED;
}

/* form validators */
span.form-validator {
  position: absolute;
  margin-top: -20px;
  color: red;
  font-size: 1.1rem;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

/* form display */
.form-card {
  position: fixed;
  left: calc((100vw - 600px) /2);
  width: 600px;
  top: 40px;
  max-height: calc(100vh - 80px);
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  overflow: auto;

  @media only screen and (max-width: 650px) {
    width: 100%;
    min-width: 300px;
    max-height: 100vh;
    top: 0;
    left: 0;
  }
}

/* progress tracker */
.progress-tracker-section {
  @media only screen and (max-width: 500px) {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
}

.progress-tracker  {
  margin-bottom: 20px;
  padding-left: 0;
}

.progress-tracker li {
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  height: 45px;
  color: lightgrey;
  font-size: 12px;
  text-align: center;
  text-indent: -19px;
  letter-spacing: .5px;
  vertical-align: text-bottom;
  border-top: 4px solid lightgrey;

  @media only screen and (max-width: 500px) {
    display: block;
    height: auto;
    margin-top: 0;
    text-align: left;
    text-indent: 0;
    border-top: none;
  }
}

.progress-tracker li::before  {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);

  @media only screen and (max-width: 500px) {
    position: static;
    left: 0;
  }
}

.progress-title::before {
  content: "\2B24";
  bottom: 20.5px;
  color: lightgrey;
  font-size: 10px;
  line-height: 18px;

  @media only screen and (max-width: 500px) {
    margin-right: 5px;
    font-size: 15px;
  }
}

.progress-done::before  {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 22px;
  bottom: 20.5px;
  border: none;
  border-radius: 19px;
  color: white;
  background-color: #19CC72;

  @media only screen and (max-width: 500px) {
    margin-right: 5px;
    padding-left: 3px;
  }
}

.progress-tracker li.progress-done  {
  color: black;
  font-weight: 500;
  border-top: 4px solid #19CC72;
  &:hover {
    cursor: pointer;
    color: grey;
  }

  @media only screen and (max-width: 500px) {
    border-top: none;
  }
}

.cannot-find  {
  color: gray;
  font-style: italic;
  text-align: right;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

/* form & edit header for form and edit modal display*/
.form-header {
  position: fixed;
  width: 600px;
  padding: 15px 20px 5px 20px;
  background-color: #567FCC;
  z-index: 2;

  @media only screen and (max-width: 650px) {
    width: 100%;
    min-width: 300px;
  }
}

.form-header > h3 {
  display: inline-block;
  color: #F9FBFB;

  @media only screen and (max-width: 650px) {
    font-size: 1em;
  }
}

.form-header > a {
  float: right;
  width: 15px;
  height: 15px;
  text-align: center;
  color: #CCC;
  border-radius: 50%;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #CCC;
  }
}

// .form-header-separator  {
//   position: fixed;
//   margin-top: 51px;
//   width: 600px;
//   height: 20px;
//   background-color: #567FCC;
//   z-index: 2;
// }

.form-header-name {
  margin-top: 5px;
  padding: 10px 0 5px 0;
  border-top: 1px solid lightgray;
}

.form-header-name-delete {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: red;
}

.form-header-name > h4,
.form-header-name-delete > h4  {
  font-weight: 400;
  color: $whiteText;
  letter-spacing: 1px;
}

.form-housing {
  margin-top: 40px;
  padding: 20px;

  @media only screen and (max-width: 500px) {
    padding: 20px 10px;
  }
}

.form-section-header,
.profile-edit-section-header,
.itinerary-edit-section-header  {
  padding-bottom: 2px;
  font-weight: bold;
  letter-spacing: .5px;
}

.form-section-details,
.profile-edit-section-details,
.itinerary-edit-section-details {
  margin-bottom: 10px;
  padding: 5px 10px;

  @media only screen and (max-width: 500px) {
    padding: 5px;
  }
}

.fields-required  {
  margin-bottom: 10px;
  text-decoration: underline;
}

.date-to-visit,
.time-to-visit  {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}

.anytime-input > label {
  margin-bottom: 0;
}

.lat-lng label  {
  display: block;
}

.lat-lng div  {
  display: inline-block;
  margin-right: 10px;
}

.lat-lng input  {
  width: 100px;
}

/* show editing view for post */
.editing > .view{
  display: none;
}

/* transport departure and arrival details for form and edit */
.departure-arrival-details {
  display: inline-block;
  width: 380px;
  padding: 10px;
  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
    margin-bottom: 10px;
  }
}

/***************************************************************
 Copy itinerary list style
 **************************************************************/
.copy-to-itinerary-list {
  margin-top: 15px;
}

.copy-to-itinerary  {
  padding: 15px 10px;
  border: 1px solid lightgray;
  &:hover {
    background-color: #F6F6F6;
    cursor: pointer;
  }
}

.copy-to-itinerary h4  {
  font-weight: 400;
}

/***************************************************************
 ACCOMMODATION / TRANSPORT / ACTIVITY / RESOURCE CARDS SUMMARY
 **************************************************************/
.event-summary-section  {
  position: fixed;
  margin: 15px 0 0 10px;
  width: 210px;

  @media only screen and (max-width: 890px) {
    display: none;
  }
}

.nil-event-message  {
  position: fixed;
  width: 400px;
  margin: 75px 0 0 10px;
  padding: 10px;
  z-index: 2;

  @media only screen and (max-width: 400px) {
    width: 100%;
    min-width: 300px;
    margin: 40px 0;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (min-width: 400px) and (max-width: 890px) {
    margin-left: calc((100vw - 400px) / 2);
  }
}

.nil-event-message img  {
  margin: 0 0 5px -30px;

  @media only screen and (max-width: 1090px) {
    display: none;
  }
}

.nil-event-message h4 {
  padding-bottom: 20px;
}

.nil-event-message li {
  padding-bottom: 10px;
}

.nil-event-message-mobile  {
  display: none;

  @media only screen and (max-width: 1090px) {
    display: block;
  }
}

.show-summary {
  position: fixed;
  display: block;
  top: 40px;
  left: 10px;
  width: 380px;
  background-color: white;
  z-index: 1001;

  @media only screen and (max-width: 400px) {
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
  }

  @media only screen and (max-width: 890px) {
    margin: 0;
  }
}

.event-summary-header {
  padding: 10px 10px 5px 10px;
  background-color: rgb(237, 189, 100);

  @media only screen and (max-width: 890px) {
    color: #F9FBFB;
    background-color: #6494ED;
  }
}

.event-summary  {
  position: fixed;
  width: 210px;
  max-height: calc(100vh - 150px);
  background-color: rgba(237, 189, 100, 0.3);
  overflow: auto;

  @media only screen and (max-width: 400px) {
    width: 100%;
    min-width: 300px;
    background-color: white;
  }

  @media only screen and (min-width: 400px) and (max-width: 890px) {
    width: 380px;
    background-color: white;
  }

  @media only screen and (min-width: 890px) and (max-width: 1090px) {
    max-height: calc(100vh - 190px);
  }
}

.event-summary::-webkit-scrollbar {
  background-color: rgba(237, 189, 100, 0.3);
  width: 8px;

  @media only screen and (max-width: 890px) {
    background-color: rgba(100, 148, 237, 0.3);
  }
}

.event-summary::-webkit-scrollbar-thumb {
  background-color: rgba(237, 189, 100, 0.9);

  @media only screen and (max-width: 890px) {
    background-color: rgba(100, 148, 237, 0.9);
  }
}

.event-summary-item {
  text-align: right;
  border-top: 1px solid lightgray;
  // box-shadow: inset 0px 0px 1px 1.5px rgba(0, 0, 0, 0.2);
  // background-color: white;
  &:hover {
    background-color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 890px) {
    font-size: 120%;
    border: none;
    border-bottom: 1px solid lightgrey;
  }
}

.event-summary-item .index {
  margin: 10px 5px;
  padding: 3px 5px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 50%;
  float: left;
}

.event-summary-item > a {
  &:hover {
    text-decoration: none;
  }
}

.event-summary-item > a > * {
  font-size: 11.62px;
}

.event-summary-item .date {
  margin-bottom: 5px;
  padding: 20px 10px 0 10px;
  color: grey;
  font-weight: 500;
}

.event-summary-popup {
  display: none;

  @media only screen and (max-width: 890px) {
    display: block;
    position: fixed;
    top: calc(100vh - 110px);
    right: 10px;
    padding: 15px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    opacity: .5;
    z-index: 999;
    &:hover {
      cursor: pointer;
    }
  }
}

.highlighted-item {
  // border-right: 8px solid rgb(237, 189, 100);
  background-color: rgba(237, 189, 100, .5) !important;
}

/***************************************************************
 ACCOMMODATION / TRANSPORT / ACTIVITY / RESOURCE LIST
 **************************************************************/
.event-list {
  display: flex;
  flex-direction: column;
  margin-left: 230px;

  @media only screen and (max-width: 890px) {
    margin-left: calc((100vw - 660px)/2);
  }

  @media only screen and (max-width: 690px) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

/***************************************************************
 ACCOMMODATION / TRANSPORT / ACTIVITY / RESOURCE CARDS DISPLAY
 **************************************************************/
ww-activity,
ww-accommodation,
ww-transport,
ww-resource {
  display: flex;
  margin-top: -90px;
  padding-top: 90px;
  width: 630px;

  @media only screen and (max-width: 400px) {
    width: 100vw;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 330px;
  }
}

.display-card {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px 20px 20px;
  width: 600px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;

  @media only screen and (max-width: 400px) {
    margin: 15px 0;
    width: 100vw;
    min-width: 300px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 300px;
  }
}

.display-photo-card {
  position: relative;
  margin: 15px;
  width: 600px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  z-index: 2;

  @media only screen and (max-width: 400px) {
    margin: 15px 0;
    width: 100vw;
    min-width: 300px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 300px;
  }
}

.display-card-image {
  display: inline-block;
  vertical-align: top;

  @media only screen and (max-width: 650px) {
    display: block;
  }
}

.display-card-image > img {
  width: 180px;
  overflow: hidden;
  margin: 10px 0 10px 10px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);

  @media only screen and (max-width: 400px) {
    width: 100vw;
    margin: 0;
    height: calc(100vw * 0.66);
    min-width: 300px;
    min-height: 200px;
    border: none;
    box-shadow: none;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    display: block;
    margin: 0;
    width: 300px;
    height: 200px;
    border: none;
    box-shadow: none;
  }
}

.display-card-image-placeholder {
  display: inline-block;
  margin: 10px 0 10px 10px;
  padding-top: 60px;
  width: 180px;
  height: 180px;
  background-color: #F5F5FD;
  text-align: center;
  vertical-align: top;

  @media only screen and (max-width: 400px) {
    margin: 0;
    width: 100vw;
    height: calc(100vw * 0.66);
    min-width: 300px;
    min-height: 200px;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    margin: 0;
    display: block;
    width: 300px;
    height: 200px;
  }
}

.display-photo-housing  {
  display: inline-block;
  padding: 10px 20px;
  width: 405px;

  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
  }
}

.highlighted-event  {
  background-color: rgba(100,148,237,.5);
}

.highlighted-event::before  {
  position: absolute;
  content: '';
  height: 90px;
  width: 630px;
  margin-top: -90px;
  background-color: #F6F6F6;
  z-index: 1;

  @media only screen and (max-width: 400px) {
    width: 100vw;
  }

  @media only screen and (min-width: 400px) and (max-width: 650px) {
    width: 330px;
  }
}

.truncate {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/* accommodation/transport/activity display */
.display-date-header > h5,
.resource-count {
  display: inline-block;
  color: grey;
}

.display-date-header > h5:first-of-type {
  margin-right: 10px;
}

.display-date-header > h5:nth-of-type(2),
.resource-count  {
  padding: 3px 10px;
  border: 1px solid grey;
  border-radius: 25px;
}

.accommodation-city {
  margin-top: 10px;
  color: #6494ED;
}

.transport-header {
  display: inline-block;
  margin-top: 15px;
  padding-right: 10px;
  width: 160px;
  vertical-align: top;
  text-align: right;

  @media only screen and (max-width: 650px) {
    display: block;
    width: auto;
    padding: 0;
    text-align: center;
  }
}

.accommodation-header,
.activity-header {
  @include headerText;
  margin: 10px 0;
}

.accommodation-details
.transport-details {
  padding: 0 10px;
}

.website-link {
  text-decoration: underline;
  color: #6494ED;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

.note{
  color: grey;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.note > h6  {
  white-space: pre-line;
}

/* ACTIVITY DISPLAY */
.accommodation-contact-details,
.activity-contact-details {
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}
.accommodation-contact-details > h5 > i,
.activity-contact-details > h5 > i {
  text-align: right;
}

.accommodation-contact-details > *,
.activity-contact-details > * {
  display: inline-block;
}

.accommodation-address,
.accommodation-contact-number,
.accommodation-website,
.activity-opening-hours,
.activity-fee,
.activity-address,
.activity-contact-number,
.activity-website  {
  margin-bottom: 10px;
}

.accommodation-address > i,
.accommodation-contact-number > i,
.accommodation-website > i,
.activity-opening-hours > i,
.activity-fee > i,
.activity-address > i,
.activity-contact-number > i,
.activity-website > i {
  vertical-align: top;
  color: grey;
}

.accommodation-address > h5,
.accommodation-contact-number > a,
.accommodation-website > h5,
.activity-opening-hours > h5,
.activity-fee > h5,
.activity-address > h5,
.activity-contact-number > a,
.activity-website > h5 {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  color: grey;
  line-height: 1.5;
}

.activity-tags {
  position: absolute;
  bottom: 30px;
  color: grey;
}

.activity-category  {
  display: inline-block;
}

/* transport display */

/* flight details display */
.flight-details {
  height: 40px;
  @media only screen and (max-width: 700px) {
    margin-bottom: 20px;
    height: auto;
  }
}

.flight-details > * {
  display: inline-block;
  @media only screen and (max-width: 700px) {
    display: block;
  }
}

.flight-details > h5 {
  width: 150px;
  color: grey;
  letter-spacing: .5px;
  @media only screen and (max-width: 700px) {
    padding-bottom: 3px;
  }
}

.flight-details > input {
  width: 400px;
  margin-bottom: 0;
  @media only screen and (max-width: 450px) {
    width: 100%;
  }
}
/* if codeshare is true */
.operating-message  {
  padding: 5px 0 10px 0;
}

.operating-message > h5 {
  color: red;
}

.departure-section  {
  padding: 5px 5px 5px 15px;
  background-color: rgba(100,148,237,.3);
  border: 3px solid #6494ED;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.arrival-section  {
  padding: 5px 5px 5px 15px;
  background-color: rgba(100,148,237,.1);
  border: 3px solid #6494ED;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.departure-section > h3,
.arrival-section > h3 {
  @include headerText;
  padding-bottom: 10px;
}

.departure-section > h5,
.arrival-section > h5 {
  padding-bottom: 3px;
}

.departure-section > h5:first-of-type,
.arrival-section > h5:first-of-type {
  font-weight: 600;
}

.rental-company,
.rental-contact {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}

/********************************
  RESOURCE DISPLAY
 *******************************/
.resource-link-preview {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid lightgray;

  @media only screen and (max-width: 400px) {
    min-width: 260px;
  }
}

.resource-link-preview > a {
  &:hover {
    text-decoration: none;
    opacity: .6;
 }
}

.resource-title {
  @include headerText;
  width: 90%;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.resource-content  {
  margin-bottom: 15px;
}

.resource-link-img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

// .resource-link-content  {
//   display: inline-block;
//   width: 200px;
//   vertical-align: top;
// }

.resource-link-title  {
  display: inline-block;
  width: calc(100% - 60px);
  padding: 10px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.resource-link-description  {
  padding: 10px;
  font-weight: 400;
}

.resource-link-url {
  padding: 5px 10px;;
  text-align: left;
  color: grey;
}

/***

  CREATED BY DISPLAY

*********************/
.created-by {
  position: absolute;
  bottom: 10px;
}

.created-by > *,
.created-by .time-ago,
.created-by .time-ago > p {
  display: inline-block;
}

.created-by > h5 > a  {
  color: #567FCC;
  font-size: 0.9em;
}

/***

  POST BY DISPLAY

******************/
.post-by  {
  padding: 0 20px;
  height: 45px;
}

.post-by > img,
.post-by > .post-by-user-details {
  display: inline-block;
}

.post-by-user-details {
  margin-left: 5px;
  vertical-align: top;
}

.post-by-user-details > .time-ago > p {
  margin-top: 3px;
}

/***

  Time ago

******************/
.time-ago > p {
  color: grey;
  font-size: 0.7em;
  letter-spacing: .3px;
  &:hover {
    cursor: default;
  }
}

/******************
   ALL MODALS
*******************/
.custom-modal {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 1px);
  overflow-y: auto;
  z-index: 1000;
}


/***************************
 add members/find user modal
 ***************************/
.users-search  {
  width: 600px;
  position: fixed;
  top: 40px;
  left: calc((100vw - 600px)/2);
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1001;

 @media only screen and (max-width: 650px) {
  width: 100%;
  min-width: 300px;
  left: 0;
 }
}


.users-search > input {
 width: 560px;
 margin:  60px 20px 20px 20px;
 border-radius: 0;

 @media only screen and (max-width: 650px) {
  width: calc(100% - 40px);
  min-width: 300px;
 }
}

.search-result-card  {
  min-width: 300px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.user-details {
  display: inline-block;
  width: 70%;
  margin-left: 5px;
  vertical-align: top;
}

.user-description {
  margin-top: 3px;
  color: gray;
}

/****************
  delete modal
****************/
.content-with-header-name {
  padding: 40px;
}

.content-without-header-name {
  margin-top: 40px;
  padding: 40px;
}

.content-with-header-name > h4,
.content-without-header-name > h4{
  display: inline-block;
  width: 90%;
  padding-left: 10px;
  vertical-align: -webkit-baseline-middle;
}

.fa-exclamation-triangle {
  color: red;
  vertical-align: -webkit-baseline-middle !important;
}

/*********************
  ITINERARY MAP VIEW
*********************/
ww-itinerary-map  {
  position: relative;
}

/*********************
  Sub routing
*********************/
.sub-route-container  {
  position: absolute;
  right: calc((100vw - 600px)/2);
  width: 600px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 670px) {
    width: 100%;
    min-width: 300px;
    right: 0;
  }

  @media only screen and (min-width: 670px) and (max-width: 1090px) {
    right: calc((100vw - 600px)/2);
  }
}

.sub-route-header {
  position: fixed;
  width: 600px;
  padding-bottom: 3px;

  @media only screen and (max-width: 670px) {
    width: 100%;
    min-width: 300px;
  }
}

.sub-route-header > h3  {
  padding: 20px;
  font-weight: 400;
  color: #F9FBFB;
  background-color: #6494ED;
}

.sub-route-nav-tabs {
  margin: 0;
  padding: 5px 0 3px 10px;
  height: 47px;
  overflow: auto;
  white-space: nowrap;
}

.sub-route-nav-tabs > li  {
  display: inline-block;
}

.sub-route-nav-tabs > li > a {
  padding: 5px 10px;
  color: #3A4A4D;
  text-decoration: none;
  letter-spacing: .5px;
  border-radius: 0;
  &:hover {
    color: #6494ED;
  }
}

.sub-route-nav-tabs > li.active > a {
  color: #6494ED;
  font-weight: bold;
  border-bottom: 3px solid #6494ED;
}

.sub-route-nav-tabs span.tab-count {
  padding-left: 5px;
  color: grey;
  font-weight: 400;
}

/* to display horizontal scrollbar */
.sub-route-nav-tabs::-webkit-scrollbar {
    -webkit-appearance: none;
}

/*********************
  ITINERARY List
*********************/
.itinerary-list {
  padding: 10px 20px;
  border-top: 1px solid lightgray;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
    opacity: 1;
  }
}

.past-indicator {
  background-color: #E6E6E6;
  opacity: .6;
}

.itinerary-list h3  {
  padding-bottom: 5px;
}

.itinerary-list h5  {
  padding: 0 0 5px 20px;
}

.itinerary-list > h5:nth-of-type(1) {
  padding-bottom: 15px;
}

.itinerary-list > h5:nth-of-type(2),
.itinerary-list > h5:nth-of-type(3)  {
  display: inline-block;
  padding-right: 10px;
}
