/* You can add global styles to this file, and also import other style files */

// http://paletton.com/#uid=73I2a0kkvUghaSyiTTim6VonEWB
// #6494ED - blue (100,148,237)
// #567FCC - darker blue
// #FFC65C - accent color
// #19CC72 - green
// #FF8A5C - orange
// #DC143C - crimson(red)
// #3A4A4D - dark grey
// #C0C0C0 - light grey
// #F9FBFB - off white

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700); //font-family: 'Roboto Condensed', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,600); //font-family: 'Fira Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Tangerine); //font-family: 'Tangerine', cursive;

$primaryColor: #6495ED;
$accentColor: #FF8A5C;
$darkGrey: #3A4A4D;
$lightGrey: #F9FBFB;
$crimsonRed: #DC143C;
$buttonFontSize: 0.8em;

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #3A4A4D;
}

h1  { font-size: 2em }
h2  { font-size: 1.5em }
h3  { font-size: 1.17em }
h4  { font-size: 1em }
h5  {
  font-size: 0.83em;
  font-weight: 400;
}
h6  {
  font-size: 0.67em;
  font-weight: 400;
}
a  { font-size: 0.83em }

@mixin primaryButton  {
  padding: 8px 20px;
  color: white;
  border: transparent;
  background-color: $accentColor;
  &:hover {
    color: $accentColor;
    border: 1px solid $accentColor;
    background-color: white;
  };
  &[disabled] {
    background-color: #CCC;
    color: white;
  }
}

@mixin button  {
  padding: 8px 20px;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  background-color: white;
  &:hover {
    color: white;
    background-color: $primaryColor;
  }
}

@mixin reverseButton  {
  padding: 8px 20px;
  color: white;
  border: 1px solid $primaryColor;
  background-color: $primaryColor;
  &:hover {
    color: $primaryColor;
    background-color: white;
  }
}

@mixin deleteButton {
  padding: 8px 20px;
  color: $darkGrey;
  border: 1px solid $darkGrey;
  background-color: white;
  &:hover {
    color: $crimsonRed;
    border-color: $crimsonRed;
    background-color: white;
  }
}

button[disabled]  {
  color: #CCC;
}

/* save button */
.save-option  {
  text-align: right;
}

.save-option > *  {
  display: inline-block;
  padding: 5px 10px;
  color: lightgrey;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.save-button  {
  background-color: transparent;
  border: none;
}

.save-button > h4 {
  color: #6494ED;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

/* dots menu */
.dots-menu:after {
  content: '\2807';
  margin-top: -5px;
  width: 15px;
  font-size: 18px;
  color: #CCC;
  text-align: center;
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.dots-menu:hover .item-menu {
  display: block;
}

.item-menu  {
  display: none;
  position: absolute;
  top: 30px;
  right: 25px;
  width: 150px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.item-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-menu > ul > li  {
  width: 100%;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.item-menu > ul > li:hover *  {
  color: grey;
}

.item-menu > ul > li > h5  {
  display: inline-block;
  letter-spacing: .5px;
}

.item-menu > ul > li > i  {
  display: inline-block;
  margin-top: 3px;
  float: right;
}

/**************************************************
  FORM STYLES
***************************************************/
label {
  margin-bottom: 0;
  padding-left: 3px;
  color: grey;
  font-size: 10px;
  letter-spacing: .5px;
}

input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  &:focus {
    border-bottom: 2px solid #6494ed;
    outline: 0;
  }
}

input,
select {
  width: 100%;
  height: 30px;
  padding: 4px 8px;
  border: none;
  background-color: #F6F6F6;
}

textarea  {
  max-width: 600px;
  width: 100%;
  padding: 4px 12px;
  border: none;
  background-color: #F6F6F6;
}

input[type=text],
input[type=url]  {
  max-width: 600px;
}

input[type=radio],
input[type=checkbox] {
  height: 15px;
}

input[type=date],
input[type=time],
input.transport-terminal {
  max-width: 190px;
}

.reference-number  {
  width: 90px;
}

input.contact-number-input  {
  max-width: 190px;
}

a {
  cursor: pointer;
}


/* form display */
.form-card {
  width: 650px;
  margin: 60px auto;
  padding: 10px 20px 20px 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);

  @media only screen and (max-width: 700px) {
    width: 94%;
    margin-left: 3%;
    padding: 5px;
  }
}

/* show editing view for post and resource */
.editing > .view{
  display: none;
}

/* indicate required for form input */
span.required {
  color: gray;
  font-weight: normal;
  font-style: italic;
}

/* progress tracker */
.progress-tracker  {
  margin-bottom: 20px;
  padding-left: 0;
}

.progress-tracker li {
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  height: 45px;
  color: lightgrey;
  font-size: 12px;
  text-align: center;
  text-indent: -19px;
  letter-spacing: .5px;
  vertical-align: text-bottom;
  border-top: 4px solid lightgrey;
}

.progress-tracker li::before  {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);
}

.progress-title::before {
  content: "\2B24";
  bottom: 20.5px;
  color: lightgrey;
  font-size: 10px;
  line-height: 18px;
}

.progress-done::before  {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 22px;
  bottom: 20.5px;
  border: none;
  border-radius: 19px;
  color: white;
  background-color: #19CC72;
}

.progress-tracker li.progress-done  {
  color: black;
  font-weight: 500;
  border-top: 4px solid #19CC72;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}
.cannot-find  {
  color: gray;
  font-style: italic;
  text-align: right;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

/* form & edit header for form and edit modal display*/
.form-header,
.edit-header {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #CCC;
}

.form-header > h3,
.edit-header > h3 {
  display: inline-block;

  @media only screen and (max-width: 700px) {
    font-size: 1em;
  }
}

.form-header > a,
.edit-header > a {
  float: right;
  width: 17px;
  height: 17px;
  text-align: center;
  color: #CCC;
  border-radius: 50%;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #CCC;
  }
}

.form-section-header  {
  padding-bottom: 2px;
  font-weight: bold;
  letter-spacing: .5px;
  border-bottom: 1px solid lightgrey;
}

.accommodation-form-details,
.activity-form-details {
  padding: 10px;
}

/* display check in/check out date for accommodation form & date/time to visit activity form */
.check-in-out,
.date-time-visit {
  margin-bottom: 10px;
  padding: 10px;
}

.check-in,
.check-out  {
  display: inline-block;
  vertical-align: top;
}

/* transport departure and arrival details for form and edit */
.departure-arrival-details {
  margin-bottom: 10px;
  padding: 10px;
}

.departure > h4 {
  padding: 5px 0;
  color: #262626;

  @media only screen and (max-width: 700px) {
    border-radius: 0;
  }
}

.arrival > h4 {
  padding: 5px 0;
  color: #262626;

  @media only screen and (max-width: 700px) {
    border-radius: 0;
  }
}

/************************************
  USER THUMBNAIL IMAGE
*************************************/
.user-profile-thumbnail  {
  height: 30px;
  width: 30px;
  background-color: #AEAFAF;
  border-radius: 50%;
  overflow: hidden;
}

/***************************************************************
 ACCOMMODATION / TRANSPORT / ACTIVITY / RESOURCE CARDS DISPLAY
 **************************************************************/
.highlighted-event  {
  border-radius: 5px;
  background-color: rgba(100,148,237,.5);
}

.truncate {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/* edit/delete icons */
.edit-delete {
  float: right;
}

/* accommodation/transport/activity display */
.details-card {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px 20px 20px;
  width: 300px;
  vertical-align: text-top;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

  @media only screen and (max-width: 400px) {
    width: calc(100vw * 0.95);
    min-width: 300px;
  }
}

.date-header {
 color: grey;
 // min-height: 16px;
}

.accommodation-city {
  margin-top: 10px;
  color: #6494ED;
  text-align: center;
}

.accommodation-header {
  margin: 10px 0;
  text-align: center;
}

.transport-header {
  margin: 15px 0 5px 0;
  text-align: center;
}

.activity-header {
  margin: 10px 0;
  font-weight: bold;
}

.departure-details {
  margin-bottom: 5px;
  color: darkred;
}

.arrival-details {
  margin-bottom: 5px;
  color: darkblue;
}

.accommodation-details,
.transport-details {
  padding: 0 10px;
}

.website-link {
  text-decoration: underline;
  color: #6494ED;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

.note{
  padding-left: 10px;
  color: grey;
  overflow-wrap: break-word;
}

.note > h6  {
  white-space: pre-line;
}

/* transport display */
.departure-section {
  padding-bottom: 10px;
}

.arrival-section {
  padding: 10px 0;
}

span.city-highlight  {
  font-size: 1.3em;
}

.rental-company,
.rental-contact {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}

/*********************************
 ACTIVITY DISPLAY
*********************************/
.activity-details  {
  padding: 10px 20px;
}

.accommodation-contact-details,
.activity-contact-details {
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}
.accommodation-contact-details > h5 > i,
.activity-contact-details > h5 > i {
  text-align: right;
}

.accommodation-contact-details > *,
.activity-contact-details > * {
  display: inline-block;
  font-weight: 500;
}


.accommodation-address,
.accommodation-contact-number,
.accommodation-website,
.activity-opening-hours,
.activity-fee,
.activity-address,
.activity-contact-number,
.activity-website  {
  margin-bottom: 10px;
}

.accommodation-address > i,
.accommodation-contact-number > i,
.accommodation-website > i,
.activity-opening-hours > i,
.activity-fee > i,
.activity-address > i,
.activity-contact-number > i,
.activity-website > i {
  vertical-align: top;
  color: grey;
}

.accommodation-address > h5,
.accommodation-contact-number > h5,
.accommodation-website > h5,
.activity-opening-hours > h5,
.activity-fee > h5,
.activity-address > h5,
.activity-contact-number > h5,
.activity-website > h5 {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  color: grey;
}

.activity-tags {
  position: absolute;
  bottom: 30px;
  color: grey;
}

.activity-category  {
  display: inline-block;
}

/********************************
  RESOURCE DISPLAY
 *******************************/
.description{
  margin-bottom: 10px;
}

/************************************************************************
  POSTBY DISPLAY FOR ACCOMMODATION/TRANSPORT/ACTIVITY/RESOURCE
************************************************************************/
.postby {
  position: absolute;
  bottom: 10px;
}

.postby > h5,
.postby > h6,
.postby > .time-ago,
.postby > .time-ago > p {
  display: inline-block;
}

.postby > h5 > a  {
  color: #567FCC;
}

.postby > .time-ago > p {
  color: grey;
  font-size: 0.5em;
  letter-spacing: .3px;
  &:hover {
    cursor: default;
  }
}

.time-ago:hover .show-time  {
  display: inline-block;
}

.show-time  {
  display: none;
  font-size: 0.6em;
  padding: 0 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/******************
   ALL MODALS
*******************/
.modal-footer {
  border-top: none;
}

.custom-modal {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 1px);
  overflow-y: auto;
  z-index: 1000;
}

/***************************
 add members/find user modal
 ***************************/
.show-users  {
 min-width: 400px;
 position: fixed;
 top: 25%;
 left: calc((100vw - 400px)/2);
 background-color: white;
}

.show-users-header  {
 padding: 10px;
}

.show-users-header > h4 {
  display: inline-block;
}

.show-users-header > a  {
  float: right;
  width: 17px;
  height: 17px;
  text-align: center;
  color: white;
  border-radius: 50%;
  &:hover {
    text-decoration: none;
    background-color: #3C588E;
  }
}

.user-card  {
 padding: 10px;
 border-bottom: 1px solid #C0C0C0;
}

.user-details {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.user-search-description {
  margin-top: 3px;
  color: gray;
}

.show-users-footer  {
 padding: 15px;
}

/****************
  delete modal
****************/
.delete-modal {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1050;
}

.confirm-delete {
  width: 600px;
  position: fixed;
  top: 25%;
  left: calc((100vw - 600px) / 2);
  background-color: white;

  @media only screen and (max-width: 680px) {
   width: 90%;
   left: 5%;
  }
}

.confirm-delete-header  {
  padding: 20px 40px 10px 40px;
  border-bottom: 1px solid lightgray;
}

.confirm-delete-content {
  padding: 40px;
}

.confirm-delete-content > h4 {
  display: inline-block;
  width: 90%;
  padding-left: 10px;
  vertical-align: -webkit-baseline-middle;
}

.fa-exclamation-triangle {
  color: red;
  vertical-align: -webkit-baseline-middle;
}

.confirm-delete-footer  {
  padding: 0 40px 20px 40px;
  text-align: right;
}

.confirm-delete-footer > *  {
  display: inline-block;
  padding-left: 20px;
  color: #6494ED;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
  }
}

/*********************
  ITINERARY MAP VIEW
*********************/
ww-itinerary-map  {
  position: relative;
}
