<div class="check-in-header">

  <div class="check-in-stats">
    <h2>{{ checkins?.length }}</h2>
    <h5 class="select-checkins" (click)="showCheckIn = true">Check ins</h5>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>

  <div class="check-in-stats">
    <h2>{{ locations?.length }}</h2>
    <h5>Locations</h5>
  </div>

  <div class="check-in-stats">
    <i class="fa fa-search-plus fa-lg" aria-hidden="true"></i>
    <h5 class="select-country" (click)="showCountry = true">zoom to</h5>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
</div>

<div class="country-dropdown" *ngIf="showCountry">
  <div *ngFor="let country of countries">
    <h4 (click)="changeCenter(country)">{{ country.name }}</h4>
  </div>
</div>

<div class="country-dropdown-arrow" *ngIf="showCountry"></div>

<div class="checkin-dropdown" *ngIf="showCheckIn">

  <div class="checkin-filter">
    <h4>Filter by country</h4>
    <select name="country" [(ngModel)]="selectedCountry" (ngModelChange)="filterCheckins($event)" class="filter-check-in">
      <option *ngFor="let country of countries" [value]="country.name">
        <h5>{{ country.name }}</h5>
      </option>
    </select>
  </div>

  <div *ngFor="let checkin of displayCheckins" >
    <h6 class="delete-checkin" (click)="delete(checkin)">X</h6>
    <div class="checkin-details" (click)="zoomTo(checkin.place)">
      <h6>{{ checkin.created_at | date: 'dd MMM yyyy, HH:mm' }}</h6>
      <h6 *ngIf="checkin.private">PRIVATE</h6>
      <h4>{{ checkin.place.name }}</h4>
      <h5>{{ checkin.place.formatted_address }}</h5>
    </div>
    <div class="check-in-itinerary" *ngIf="checkin.itinerary">
      <i class="fa fa-sticky-note" aria-hidden="true"></i>
      <h5 [routerLink]="['/me/itinerary/', checkin.itinerary._id]">{{ checkin.itinerary.name }}</h5>
    </div>
  </div>
</div>

<div class="checkin-dropdown-arrow" *ngIf="showCheckIn"></div>

<div #map id="map"></div>

<div class="custom-modal" *ngIf="deleteCheckIn !== undefined">
  <div class="form-card">
    <div class="form-header">
      <h3>Delete check in?</h3>
      <a (click)="cancelDelete()">X</a>
    </div>

    <div class="form-header-name-delete">
      <h4>{{ deleteCheckIn?.place.name }}</h4>
    </div>

    <div class="content-with-header-name">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting check in {{ deleteCheckIn?.place.name }} will permanently remove it from your list of check ins.</h4>
    </div>

    <div class="action-response">
      <h5 class="action-response-primary" (click)="cancelDelete()">CANCEL</h5>
      <h5 class="action-response-warning" (click)="confirmDelete()">DELETE</h5>
    </div>

  </div>
</div>
