.check-in-header  {
  position: fixed;
  top: 40px;
  left: 0;
  height: 40px;
  width: 100vw;
  text-align: center;
  background-color: #6494ED;
}

.check-in-header *  {
  display: inline-block;
  color: #F9FBFB;
}

.check-in-stats {
  margin: 0 10px;
  padding: 10px 0;
}

.check-in-stats h5  {
  vertical-align: text-top;
}

.fa-search-plus {
  vertical-align: 0;
}

.drop-down {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.country-dropdown,
.checkin-dropdown {
  position: absolute;
  margin-left: calc((100vw - 280px) / 2);
  width: 280px;
  max-height: calc(100vh - 150px);
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 2;
}

.country-dropdown-arrow,
.checkin-dropdown-arrow  {
  position: relative;
  top: -8px;
  margin-left: calc(((100vw - 280px)/2) + 230px);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.checkin-dropdown-arrow {
  margin-left: calc(((100vw - 280px)/2) + 40px);
}

.country-dropdown h4  {
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.checkin-dropdown {
  text-align: left;
}

.checkin-dropdown > div {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  &:hover {
    cursor: pointer;
    background-color: #F6F6F6;
  }
}

.checkin-dropdown h4  {
  padding: 5px 0;
}

.check-in-itinerary {
  padding-top: 10px;
}

.check-in-itinerary * {
  display: inline-block;
  color: #6494ED;
  &:hover {
    text-decoration: underline;
  }
}

.delete-checkin {
  float: right;
  color: #A6A6A6;
  &:hover {
    color: #808080;
    cursor: pointer;
  }
}

#map  {
  position: fixed !important;
  top: 80px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
}
