<h3 class="sign-in-header">Enter email and password to sign in.</h3>
<a class="cancel-auth" (click)="cancelAuth()">X</a>

<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

  <label>Email</label>
  <input type="text" #email formControlName="email">
  <span class="form-validator"
    *ngIf="signinForm.get('email').touched && signinForm.get('email').invalid">Invalid email address</span>

  <label>Password<span class="label-note"> (at least 6 characters)</span></label>
  <input type="password" #password formControlName="password">
  <span class="form-validator"
    *ngIf="signinForm.get('password').touched && signinForm.get('password').invalid">Password is not valid. Please enter at least 6 characters</span>

  <button type="submit" class="action-response-primary" [disabled]="!signinForm.valid"><h4>Sign In Now</h4></button>

</form>
<!--
<h5 class="sign-up-message" (click)="getSignupForm()">No account? Create one now!</h5>
<h5 class="back-to-signin-message" (click)="backToAuth()">Back to sign in home</h5> -->
