
h5  {
  margin: 20px 0;
  text-align: center;
}

.sign-in-header  {
  margin-bottom: 10px;
  text-align: center;
}

button.action-response-primary  {
  width: 100%;
}

.reset  {
  text-align: left;
  color: #6494ED;
  font-style: italic;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.action-response h5 {
  margin: 0;
}
