
<ww-auth
  [reroute]="reroute"
  [reload]="reload"
  [itinerary]="itinerary"></ww-auth>

<h5>--- or ---</h5>

<h3 class="sign-in-header">Enter email and password to log in</h3>

<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

  <label>Email</label>
  <input type="text" #email formControlName="email">
  <span class="form-validator"
    *ngIf="signinForm.get('email').touched && signinForm.get('email').invalid">Invalid email address</span>

  <label>Password<span class="label-note"> (at least 6 characters)</span></label>
  <input type="password" #password formControlName="password">
  <span class="form-validator"
    *ngIf="signinForm.get('password').touched && signinForm.get('password').invalid">Password is not valid. Please enter at least 6 characters</span>

  <div class="safari-message" *ngIf="safari">
    <h4>Safari browser detected. If the website cannot load after log in, please use Chrome browser.</h4>
  </div>

  <button type="submit" class="action-response-primary" [disabled]="!signinForm.valid"><h4>Log In Now</h4></button>

</form>

<h5 class="reset" (click)="routeToForgetPw()">Forgot password</h5>

<div class="action-response">
  <h5 class="action-response-secondary" (click)="cancelAuth()">Cancel</h5>
</div>
