.sign-in-header  {
  width: 80%;
  margin-bottom: 10px;
  margin-left: 10%;
  text-align: center;
}

button.action-response-primary  {
  width: 100%;
  margin-bottom: 20px;
}

.sign-up-message,
.back-to-signin-message  {
  text-align: left;
  font-style: italic;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

a.cancel-auth {
  float: right;
  color: grey;
}
