<h3 class="sign-in-header">Please enter your email and password to sign in.</h3>

<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

  <label>Email</label>
  <input type="text" #email formControlName="email">
  <span *ngIf="!email.pristine && email.errors != null && email.errors['invalidEmail']">Invalid email address</span>

  <label>Password</label><span>(at least 6 characters)</span>
  <input type="password" formControlName="password">

  <button type="submit" class="signin-button" [disabled]="!signinForm.valid">SIGN IN NOW</button>

</form>

<h5 class="sign-up-message" (click)="getSignupForm()">No account? Create one now!</h5>
<h5 class="back-to-signin-message" (click)="backToAuth()">Back to sign in home</h5>
