.itinerary-shortcut  {
  position: fixed;
}

.ww-itinerary > .itinerary-shortcut-header h5 {
  color: #F9FBFB;
  background-color: #6494ED;
}

.home-posts  {
  position: absolute;
  right: calc((100vw - 600px)/2);
  width: 600px;

  @media only screen and (max-width: 650px) {
    width: 100%;
    min-width: 300px;
    right: 0;
  }

  @media only screen and (min-width: 650px) and (max-width: 890px) {
    right: calc((100vw - 600px)/2);
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    right: calc((100vw - 890px)/2);
  }
}

.home-posts-list  {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}



/****************

  verify account

******************/
.verify-message {
  z-index: 1001;
}

.verify-message h4  {
  width: 100%;
  padding-bottom: 10px;
}




/****************

  for new user tour

*********************/
.desktop  {
  @media only screen and (max-width: 890px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media only screen and (max-width: 890px) {
    display: block;
  }
}

.message-box  {
  position: absolute;
  top: 170px;
  right: calc((100vw - 600px)/2);
  width: 600px;
  margin-bottom: 100px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  border-radius: 10px;

  @media only screen and (max-width: 650px) {
    width: 100%;
    min-width: 300px;
    right: 0;
  }

  @media only screen and (min-width: 650px) and (max-width: 890px) {
    right: calc((100vw - 600px)/2);
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    right: calc((100vw - 890px)/2);
  }
}

.message-box > h1 {
  text-align: center;
  font-family: 'Alice', serif;
  letter-spacing: .5px;
}

// .message-box h3 {
//   text-align: center;
// }

.message-box > img  {
  width: 300px;
  margin: 0 0 30px 130px;
}

.message-box > h4 {
  padding-bottom: 15px;
  line-height: 1.4;
  text-align: justify;
}

.welcome-message  * {
  text-align: center;
}

.init-response {
  margin-top: 20px;
}

.init-tour  {
  display: inline-block;
  padding: 20px;

  &:hover {
    cursor: pointer;
    color: #808080;
  }
}

.init-tour *  {
  display: block;
}

.select-tour  {
  display: inline-block;
  padding: 20px;
  margin-left: 10px;
  color: #6494ED;
  border: 2px solid #6494ED;
  border-radius: 10px;
  float: right;
  &:hover{
    cursor: pointer;
    color: #3A4A4D;
    border: 2px solid #3A4A4D;
  }
}

// tour header
.tour-header  {
  margin-bottom: 20px;
  padding-bottom: 3px;
  border-bottom: 2px solid #6494ED;
}

.tour-header *  {
  display: inline-block;
}

.tour-tracker {
  margin-right: 10px;
  vertical-align: top;
}

.tour-tracker h5  {
  padding: 1px 0;
  height: 18px;
  width: 18px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
}

.tour-done  {
  color: #808080;
  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.tour-current {
  color: #19CC72;
  font-weight: 600;
}

.tour-next  {
  color: #808080;
}



// step 1 of tour
.tour-post  {
  position: absolute;
  top: 80px;
  right: calc((100vw - 600px)/2);
  width: 600px;

  @media only screen and (max-width: 650px) {
    width: 100%;
    min-width: 300px;
    right: 0;
  }

  @media only screen and (min-width: 650px) and (max-width: 890px) {
    right: calc((100vw - 600px)/2);
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    right: calc((100vw - 890px)/2);
  }
}

.highlight-post {
  padding: 15px;
  width: 600px;
  height: 80px;
  border: 5px dashed white;
  border-radius: 5px;

  @media only screen and (max-width: 650px) {
    width: 100%;
    min-width: 300px;
  }
}



// step 2 of tour desktop
.tour-add-itin  {
  position: absolute;
  top: 105px;
  right: calc(((100vw - 600px)/2) + 620px);
  width: 250px;

  @media only screen and (max-width: 890px) {
    display: none;
  }

  @media only screen and (min-width: 890px) and (max-width: 1200px) {
    right: calc(((100vw - 890px)/2) + 620px);
  }
}

.highlight-itin {
  padding: 5px;
  width: 250px;
  height: 40px;
  border: 5px dashed white;
  border-radius: 5px;
}



// step 2 of tour mobile
.tour-menu  {
  display: none;
  position: absolute;
  top: 0;
  left: 4%;

  @media only screen and (max-width: 400px) {
    left: 3%;
  }

  @media only screen and (min-width: 400px) and (max-width: 600px) {
    left: 3.5%;
  }

  @media only screen and (max-width: 890px) {
    display: block;
  }
}

.highlight-menu {
  padding: 5px;
  width: 40px;
  height: 40px;
  border: 5px dashed white;
  border-radius: 5px;
}

li  {
  padding-bottom: 10px;
}

// step 3 of tour
.tour-nav {
  position: fixed;
  top: 0;
  right: 6%;

  @media only screen and (max-width: 500px) {
    right: 0%;
  }
}

.highlight-nav  {
  padding: 5px;
  width: 210px;
  height: 45px;
  border: 5px dashed white;
  border-radius: 5px;

  @media only screen and (max-width: 380px) {
    width: 80px;
  }

  @media only screen and (min-width: 380px) and (max-width: 890px) {
    width: 90px;
  }
}

.tour-nav-list  {
  padding-bottom: 20px;
}

.tour-nav-list *  {
  display: inline-block;
}

.tour-nav-list h4 {
  @media only screen and (max-width: 890px) {
    width: 90%;
    vertical-align: text-top;
  }
}


.space-block  {
  width: 1px;
  height: 100px;
}
