<div class="user-profile-header">
  <img src="{{ user?.display_picture.url }}" alt="">

  <div class="profile-details">
    <h1>{{ user?.username }}</h1>
    <h4>{{ user?.description }}</h4>

    <div class="data-counter" [routerLink]="['/me/relationships/followers']">
      <h2>{{ followers.length }}</h2>
      <h5>FOLLOWER</h5>
    </div>
    <div class="data-counter" [routerLink]="['/me/relationships/following']">
      <h2>{{ followings.length }}</h2>
      <h5>FOLLOWING</h5>
    </div>
    <div class="data-counter" [routerLink]="['/me/favourite']">
      <h2>{{ favs?.length }}</h2>
      <h5>FAVOURITE</h5>
    </div>
  </div>

  <div class="navigate-bar">
    <header>
      <nav>
        <ul>
          <li routerLinkActive="active"><a [routerLink]="['home']">
            YOUR
            <span>ITINERARIES</span>
          </a></li>
          <li routerLinkActive="active"><a [routerLink]="['curated']">
            CURATED
            <span>ITINERARIES</span>
          </a></li>
          <li routerLinkActive="active"><a [routerLink]="['following']">
            FOLLOWING
            <span>ITINERARIES</span>
          </a></li>
          <li routerLinkActive="active"><a [routerLink]="['saved']">
            SAVED
            <span>ITINERARIES</span>
          </a></li>
        </ul>
      </nav>
    </header>
  </div>

</div>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>



<!-- new itin form -->
<div class="custom-modal" *ngIf="showItineraryForm">
  <ww-itinerary-form (hideItineraryForm)="hideItineraryForm($event)"></ww-itinerary-form>
</div>
