.profile-details  {
  display: inline-block;
  padding: 10px;
  width: 400px;

  @media only screen and (max-width: 650px) {
    width: 100%;
    text-align: center;
  }
}

.profile-details h4 {
  padding: 10px 5px;
  color: #808080;
  font-weight: 400;
}

h4.edit-description {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: #6494ED;
  }
}

.data-counter * {
  color: #3A4A4D;
}

/******************

  Navigate bar

******************/

.navigate-bar li > a {
  font-size: 18px;

  @media only screen and (max-width: 350px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 350px) and (max-width: 650px) {
    font-size: 14px;
  }
}


.navigate-bar span  {
  @media only screen and (max-width: 650px) {
    font-size: 8px;
  }
}


.router-outlet  {
  text-align: center;
}


/****************

  verify account

******************/
.verify-message {
  z-index: 1001;
}

.verify-message h4  {
  width: 100%;
  padding-bottom: 10px;
}

.verify-message .form-card  {
  top: 25px;
}


/****************

  for new user tour

*********************/
.desktop  {
  @media only screen and (max-width: 650px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media only screen and (max-width: 650px) {
    display: block;
    text-align: center;
  }
}

.message-box  {
  position: absolute;
  top: 5px;
  right: calc((100vw - 600px)/2);
  width: 600px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  border-radius: 2px;

  @media only screen and (max-width: 450px) {
    height: 99.9vh;
  }

  @media only screen and (max-width: 650px) {
    top: 0;
    right: 0;
    width: 100%;
    min-width: 300px;
    padding: 20px 0 0 0;
  }
}

.message-box > img  {
  width: 200px;
  margin: 5px 0 20px 180px;

  @media only screen and (max-width: 650px) {
    margin-left: calc((100vw - 200px) /2);
  }
}

.message-box h3 {
  padding-bottom: 20px;
  text-align: center;

  @media only screen and (max-width: 450px) {
    margin: 50px 20px;
  }
}

.message-item {
  padding: 5px 20px;
}

.message-item img {
  display: inline-block;
  height: 20px;
  padding-right: 5px;
}

.message-item h4  {
  display: inline-block;
  font-weight: 400;
}

.end-message  {
  display: inline-block;
  padding: 10px 20px;
  color: #6494ED;
  border: 2px solid;
  float: right;

  &:hover{
    cursor: pointer;
    color: #3A4A4D;
  }
}


/* mobile */
.message-section  {
  margin-top: 20px;
}

.message-section img  {
  height: 50px;
}

.message-section > h4:first-of-type {
  margin: 20px;
}

.new-itinerary  {
  margin: 20px 0;
  margin-left: calc((100vw - 300px)/2);
  width: 300px;
  padding: 30px 20px;
  border: 3px solid;
  border-radius: 5px;
}

.new-itinerary *  {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
}

.itinerary-title  {
  margin-top: 20px;
}

.itinerary-title *  {
  letter-spacing: 1px;
}

.itinerary-title h2 {
  padding-top: 10px;
  border-top: 1px solid rgba(0,0,0,.1);
}

.itinerary-title h4 {
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.tracker  {
  position: absolute;
  bottom: 70px;
  width: 100vw;
}

.dot  {
  display: inline-block;
  margin: 0 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #808080;
}

.here {
  background-color: #567FCC;
}

.skip {
  position: absolute;
  bottom: 70px;
  right: 20px;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.next {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  color: #F9FBFB;
  letter-spacing: 1px;
  background-color: #6494ED;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}
