.profile-details  {
  display: inline-block;
  padding: 10px;
  width: 400px;

  @media only screen and (max-width: 650px) {
    width: 100%;
    text-align: center;
  }
}

.profile-details h4 {
  padding: 10px 5px;
  color: #808080;
  font-weight: 400;
}

.data-counter * {
  color: #3A4A4D;
}

/******************

  Navigate bar

******************/

.navigate-bar li > a {
  font-size: 18px;

  @media only screen and (max-width: 350px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 350px) and (max-width: 650px) {
    font-size: 14px;
  }
}


.navigate-bar span  {
  @media only screen and (max-width: 650px) {
    font-size: 8px;
  }
}




.router-outlet  {
  text-align: center;
}
