.new-country-section  {
  width: calc(100vw - 200px);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.country-google-search  {
  margin-top: 40px;
  padding: 10px 20px 0 20px;
  width: 460px;
}

form  {
  margin-left: 10px;
}

.form-detail {
  display: inline-block;
}

.action-response  {
  display: inline-block;
}



/* country list */

.countries{
  padding: 60px;
}

.countries-header  {
  position: fixed;
  margin-top: -30px;
  padding: 5px;
  background-color: #6494ED;
  border: 2px solid #6494ED;
  border-bottom: none;
}

.countries-header *  {
  font-weight: 600;
}

.countries-list  {
  position: absolute;
  max-height: calc(100vh - 300px);
  border: 1px solid lightgray;
  overflow: auto;
}

.country  {
  width: 206px;
  padding: 5px;
  border: 1px solid lightgray;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #6494ED;
  }
}


.country:nth-of-type(even)  {
  background-color: #E6E6E6;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #6494ED;
  }
}

.countries-header h5,
.country > h5 {
  display: inline-block;
  vertical-align: text-top;
  border-right: 1px solid lightgray;
}

.countries-header h5:first-of-type,
.country h5:first-of-type {
  width: 40px;
  padding-right: 5px;
  text-align: right;
}

.countries-header h5:nth-of-type(2),
.country h5:nth-of-type(2)  {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.sort {
  display: inline-block;
}

.sort * {
  margin: 0 3px;

  &:hover {
    color: #F9FBFB;
  }
}

.map  {
  position: absolute;
  margin: -90px 0 0 290px;
}

#map  {
  display: inline-block;
  width: 900px;
  height: 500px;
}
