ww-notification-list  {
  display: block;
  position: fixed;
  right: 0;
  max-height: calc(100vh * 0.9);
  z-index: 1400;
  overflow: overlay;
}

i {
  position: fixed;
  top: 0;
  right: 50px;
  padding: 23px 15px;
  color: white;
  z-index: 700;
  &:hover {
    color: lightgray;
    cursor: pointer;
  }
}

.notification-header  {
  display: block;
  position: fixed;
  top: 60px;
  right: 0;
  width: 330px;
  height: 20px;
  padding-left: 5px;
  color: white;
  background-color: #6494ED;
  border-top: 1px solid white;
  box-shadow: inset 5px 0 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 1500;
}

.notification-header > h6 {
  display: inline-block;
}

.close-notification {
  float: right;
  padding-top: 6px;
  padding-right: 5px;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}
