
ww-notification-list  {
  position: absolute;
  top: 59.09px;
  max-height: calc(100vh - 135px);
  width: 600px;
  overflow: auto;

  @media only screen and (max-width: 610px) {
    width: 100%;
    min-width: 300px;
  }
}

ww-notification-list::-webkit-scrollbar {
  background-color: rgba(86, 127, 204, 0.3);
  width: 8px;
}

ww-notification-list::-webkit-scrollbar-thumb {
  background-color: rgba(86, 127, 204, 0.9);
}
