<div class="post-form">
  <div class="post-input-box" (click)="showTextArea()" *ngIf="!textArea">
    <h4><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> {{ placeholder }}</h4>
  </div>

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" *ngIf="textArea">

    <div class="user-postby">
      <div>
        <img src="{{ currentUser.display_picture }}" class="user-profile-thumbnail">
      </div>
      <div class="user-details">
        <h5>{{ currentUser.username}}</h5>
        <p class="post-thoughts">in deep thoughts...</p>
      </div>
    </div>

    <textarea rows="4" formControlName="content" placeholder="{{ placeholder }}" #text (keyup)="checkLink(text.value)" autofocus></textarea>

    <div class="post-picture" *ngIf="postPic">
      <h4 class="delete-picture" (click)="deletePicture()">X</h4>
      <img [src]="postPic">
    </div>

    <div class="link-preview" *ngIf="linkExist">
      <h4 class="delete-link" (click)="deleteLink()">X</h4>
      <a href="{{ link_url }}" target="_blank">
        <img class="link-img" src="{{ link_img }}" alt="">
        <h3 class="link-title">{{ link_title }}</h3>
        <h5 class="link-url">{{ link_url }}</h5>
      </a>
    </div>

    <div class="action-response">
      <h4 class="action-response-secondary" (click)="cancelPost()">CANCEL</h4>
      <button type="submit" class="action-response-primary" [disabled]="!postForm.valid"><h4>POST</h4></button>
    </div>

  </form>

  <div class="upload-picture">
    <label class="file-upload" [class.file-upload-textarea]="textArea">
      <i class="fa fa-camera" aria-hidden="true"></i>
      Add a photo
      <input type="file" (change)="fileUploaded($event)" [value]="inputValue" accept="image/*">
    </label>
  </div>

</div>

<div class="custom-modal" *ngIf="fileTypeError" (click)="exitError()">
  <div class="form-card">
    <div class="form-header">
      <h3>File type error</h3>
      <a (click)="exitError()">x</a>
    </div>

    <div class="confirm-delete-content">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>The file you selected is not an image. Please try again.</h4>
    </div>

    <div class="confirm-delete-footer">
      <div class="action-response">
        <h4 class="action-response-primary" (click)="exitError()">OK</h4>
      </div>
    </div>
  </div>
</div>
