.post-input-box > h4 {
  padding-left: 20px;
  color: grey;
  text-align: left;
}

.post-form  {
  position: relative;
  padding: 20px 0;
  min-height: 80px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.user-postby  {
  height: 35px;
  margin-bottom: 5px;
  padding: 0 30px;
  text-align: left;
}

.user-postby > div,
.user-postby > .user-details {
  display: inline-block;
}

.user-details  {
  margin-left: 5px;
  vertical-align: top;
}

.user-details > h5  {
  margin-top: 2px;
  font-weight: 600;
}

.post-thoughts  {
  margin-top: 3px;
  font-size: .7em;
  color: grey;
  font-style: italic;
}

textarea {
  padding: 0 30px;
  resize: vertical;
  margin: auto;
  border: none;
}

.file-upload {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 20px;
  padding: 0;
  color: lightgrey;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.file-upload-textarea {
  bottom: 25px;
}

.file-upload [type=file] {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.post-picture  {
  position: relative;
  margin: 0 20px;
}

.post-picture > img  {
  width: 560px;
  height: 373px;
}

.action-response  {
  padding: 10px 10px 0 0;
}

.delete-picture  {
  position: absolute;
  top:0;
  right:0;
  padding: 3px 4px 3px 5px;
  color: grey;
  background-color: lightgray;
  &:hover {
    cursor: default;
    opacity: .5;
  }
}
