<div class="details-card">

  <div class="dots-menu" (mouseover)="showMenuOptions()">
    <div class="item-menu" *ngIf="showMenu">
      <ul>
        <!-- <li>
          <h5>Recommend</h5>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </li> -->
        <li (click)="editTransport()" *ngIf="sameUser">
          <h5>Edit</h5>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </li>
        <li (click)="confirmDeleteTransport()" *ngIf="sameUser">
          <h5>Delete</h5>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>

  <h5 class="date-header">{{ event?.depDate | date: 'EEE, dd MMM yyyy' }} - {{ event?.depTime }}</h5>

  <div class="transport-header">
    <div [ngSwitch]="event.transportType">
      <h2 *ngSwitchCase="'flight'"><i class="fa fa-plane" aria-hidden="true"></i> {{ event.referenceNumber | uppercase }}</h2>
      <h2 *ngSwitchCase="'train'"><i class="fa fa-train" aria-hidden="true"></i> Train</h2>
      <h2 *ngSwitchCase="'bus'"><i class="fa fa-bus" aria-hidden="true"></i> Bus {{ event.referenceNumber | uppercase }}</h2>
      <h2 *ngSwitchCase="'cruise'"><i class="fa fa-ship" aria-hidden="true"></i> Cruise</h2>
      <h2 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car" aria-hidden="true"></i> Vehicle rental</h2>
      <h2 *ngSwitchCase="'others'"><i class="fa fa-rocket" aria-hidden="true"></i> Transport</h2>
    </div>
    <h4>from {{ event.depCity | uppercase }} to {{ event.arrCity | uppercase }}</h4>
  </div>

  <div *ngIf="event.transportType === 'flight'">

    <div class="departure-arrival-details">

      <div class="departure-section">
        <h5>Departs <span class="city-highlight">{{ event.depCity | uppercase }}</span></h5>
        <h5>{{ event.depStation | uppercase }}</h5>
        <h5>terminal {{ event.depTerminal | uppercase }}</h5>
        <h5>{{ event?.depDate | date:'dd MMM yy' }} - {{ event.depTime }}</h5>
      </div>

      <div class="arrival-section">
        <h5>Arrives <span class="city-highlight">{{ event.arrCity | uppercase }}</span></h5>
        <h5>{{ event.arrStation | uppercase }}</h5>
        <h5>terminal {{ event.arrTerminal | uppercase }}</h5>
        <h5>{{ event?.arrDate | date:'dd MMM yy' }} - {{ event.arrTime }}</h5>
      </div>

    </div>

  </div><!-- end of flight -->

  <div *ngIf="event.transportType !== 'flight'">

    <div class="departure-arrival-details">

      <div *ngIf="event.transportType !== 'vehicle rental'">

        <div class="departure-section">
          <h5>Departs <span class="city-highlight">{{ event.depCity | uppercase }}</span></h5>
          <h5>{{ event.depStation | uppercase }}</h5>
          <h5>{{ event?.depDate | date:'dd MMM yy' }} - {{ event.depTime }}</h5>
        </div>

        <div class="arrival-section">
          <h5>Arrives <span class="city-highlight">{{ event.arrCity | uppercase }}</span></h5>
          <h5>{{ event.arrStation | uppercase }}</h5>
          <h5>{{ event?.arrDate | date:'dd MMM yy' }} - {{ event.arrTime }}</h5>
        </div>

      </div>

      <div *ngIf="event.transportType === 'vehicle rental'">

        <div class="rental-company">
          <h6>Rental company</h6>
          <h4>{{ event.transportCompany }}</h4>
        </div>

        <div class="rental-contact">
          <h6>Contact number</h6>
          <h4>{{ event.contactNumber }}</h4>
        </div>

        <div class="departure-section">
          <h5>Departs <span class="city-highlight">{{ event.depCity | uppercase }}</span></h5>
          <h5>Pick up {{ event?.depDate | date:'dd MMM yy' }} - {{ event.depTime }}</h5>
        </div>

        <div class="arrival-section">
          <h5>Arrives <span class="city-highlight">{{ event.arrCity | uppercase }}</span></h5>
          <h5>Return {{ event?.arrDate | date:'dd MMM yy' }} - {{ event.arrTime }}</h5>
        </div>

      </div><!-- end of vehicle rental -->
    </div>
  </div>

  <h5 class="note">{{ event.note }}</h5>

  <div class="postby">
    <h5><a routerLink="/users/{{event?.user['_Id']}}">{{ event?.user.username }}</a></h5>
    <div class="time-ago">
      <p>{{ event?.time_ago }}</p>
      <span class="show-time">{{ event?.created_at | date: 'EEE, dd MMM yyyy - HH:mm' }}</span>
    </div>
  </div>

</div>
<!-- end of transport details view -->

<!-- transport edit modal -->
<div *ngIf="editing">
  <div class="custom-modal">
    <div class="form-card">

      <div class="form-header">
        <h3>Edit transport arrangement - {{ event?.transportType }} from {{ event?.depCity }} to {{ event?.arrCity }}</h3>
        <a (click)="cancelEditTransport()">x</a>
      </div>

      <form [formGroup]="editTransportForm" (ngSubmit)="onEditTransport()">

        <div class="edit-transport-header">
          <div [ngSwitch]="event.transportType" class="transport-type">
            <h4 *ngSwitchCase="'flight'"><i class="fa fa-plane" aria-hidden="true"></i> Flight</h4>
            <h4 *ngSwitchCase="'train'"><i class="fa fa-train" aria-hidden="true"></i> Train</h4>
            <h4 *ngSwitchCase="'bus'"><i class="fa fa-bus" aria-hidden="true"></i> Bus</h4>
            <h4 *ngSwitchCase="'cruise'"><i class="fa fa-ship" aria-hidden="true"></i> Cruise</h4>
            <h4 *ngSwitchCase="'vehicle rental'"><i class="fa fa-car" aria-hidden="true"></i> Vehicle rental</h4>
            <h4 *ngSwitchCase="'others'"><i class="fa fa-rocket" aria-hidden="true"></i> Transport</h4>
          </div>
          <h4> from {{ event.depCity | uppercase }} to {{ event.arrCity | uppercase }} ( {{ event?.depDate | date: 'dd MMM yy' }} )</h4>
        </div>

        <div class="transport-details">

          <div class="departure">
            <h5 class="form-section-header">DEPARTURE DETAILS</h5>

            <div class="departure-arrival-details">

              <label>DEPART FROM (CITY) <span class="required"> - required</span></label>
              <input type="text" formControlName="depCity" [value]="event.depCity">

              <!-- departure template for flight -->
              <div *ngIf="event.transportType === 'flight'">
                <label>DEPARTURE AIRPORT</label>
                <input type="text" formControlName="depStation" [value]="event.depStation">

                <label>TERMINAL</label>
                <input type="text" class="transport-terminal" formControlName="depTerminal" [value]="event.depTerminal">
              </div>

              <!-- departure details for all other transport type except vehicle rental-->
              <div *ngIf="event.transportType !== 'flight'">
                <div *ngIf="event.transportType !== 'vehicle rental'">
                  <label>DEPARTURE STATION / TERMINAL</label>
                  <input type="text" formControlName="depStation" [value]="event.depStation">
                </div>
              </div>

              <!-- departure date & time for all transport type except vehicel rental-->
              <div *ngIf="event.transportType !== 'vehicle rental'">
                <label>DEPARTURE DATE (DD/MM/YYYY) <span class="required"> - required</span></label>
                <input type="date" formControlName="depDate" [value]="event?.depDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>DEPARTURE TIME</label>
                <input type="time" formControlName="depTime" [value]="event.depTime">
              </div>

              <div *ngIf="event.transportType === 'vehicle rental'">
                <label>PICK UP DATE (DD/MM/YYYY) <span class="required"> - required</span></label>
                <input type="date" formControlName="depDate" [value]="event?.depDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>PICK UP TIME</label>
                <input type="time" formControlName="depTime" [value]="event.depTime">
              </div>

              <div *ngIf="event.transportType === 'flight'">
                <label>FLIGHT NUMBER</label>
                <input type="text" class="reference-number" formControlName="referenceNumber" [value]="event.referenceNumber">
              </div>

              <div *ngIf="event.transportType === 'bus'">
                <label>BUS NUMBER</label>
                <input type="text" class="reference-number" formControlName="referenceNumber" [value]="event.referenceNumber">
              </div>

            </div><!-- end of departure details -->
          </div><!-- end of departure -->

          <div class="arrival">
            <h5 class="form-section-header">ARRIVAL DETAILS</h5>

            <div class="departure-arrival-details">

              <label>GOING TO (CITY) <span class="required"> - required</span></label>
              <input type="text" formControlName="arrCity" [value]="event.arrCity">

              <!-- arrival template for flight -->
              <div *ngIf="event.transportType === 'flight'">
                <label>ARRIVAL AIRPORT</label>
                <input type="text" formControlName="arrStation" [value]="event.arrStation">

                <label>TERMINAL</label>
                <input type="text" class="transport-terminal" formControlName="arrTerminal" [value]="event.arrTerminal">
              </div>

              <!-- arrival details for all other transport type except vehicle rental-->
              <div *ngIf="event.transportType !== 'flight'">
                <div *ngIf="event.transportType !== 'vehicle rental'">
                  <label>ARRIVAL STATION / TERMINAL</label>
                  <input type="text" formControlName="arrStation" [value]="event.arrStation">
                </div>
              </div>

              <!-- arrival date & time for all transport type except vehicle rental-->
              <div *ngIf="event.transportType !== 'vehicle rental'">
                <label>ARRIVAL DATE (DD/MM/YYYY) <span class="required"> - required</span></label>
                <input type="date" formControlName="arrDate" [value]="event?.arrDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>ARRIVAL TIME</label>
                <input type="time" formControlName="arrTime" [value]="event.arrTime">
              </div>

              <div *ngIf="event.transportType === 'vehicle rental'">
                <label>RETURN DATE (DD/MM/YYYY) <span class="required"> - required</span></label>
                <input type="date" formControlName="arrDate" [value]="event?.arrDate | date: 'yyyy-MM-dd'" max="2050-12-31">

                <label>RETURN TIME</label>
                <input type="time" formControlName="arrTime" [value]="event.arrTime">
              </div>

            </div><!-- end of arrival details-->
          </div><!-- end of arrival -->

        </div>
        <!-- template for vehicle rental -->
        <div *ngIf="event.transportType === 'vehicle rental'">
          <h5 class="form-section-header">RENTAL COMPANY DETAILS</h5>
          <div class="departure-arrival-details">
            <label>RENTAL COMPANY</label>
            <input type="text" formControlName="transportCompany" [value]="event.transportCompany">

            <label>CONTACT NUMBER</label>
            <input type="text" class="contact-number-input" formControlName="contactNumber" [value]="event.contactNumber">
          </div>
        </div>

        <div class="departure-arrival-details">
          <label>NOTE</label>
          <textarea rows="3" formControlName="note" [value]="event.note"></textarea>
        </div>

        <div class="save-option">
          <h4 (click)="cancelEditTransport()">CANCEL</h4>
          <button type="submit" class="save-button" [disabled]="!editTransportForm.valid"><h4><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</h4></button>
        </div>

      </form>

    </div>
  </div>
</div>
<!-- end of transport edit modal -->

<div class="delete-modal" *ngIf="deleteTransport">
  <div class="confirm-delete">
    <div class="confirm-delete-header">
      <h3>Delete transport arrangement - {{ event?.transportType }} from {{ event?.depCity }} to {{ event?.arrCity }}?</h3>
    </div>

    <div class="confirm-delete-content">
      <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
      <h4>Deleting transport arrangement {{ event?.transportType }} from {{ event?.depCity }} to {{ event?.arrCity }} will permanently remove it from your itinerary.</h4>
    </div>

    <div class="confirm-delete-footer">
      <h4 (click)="cancelDeleteTransport()">CANCEL</h4>
      <h4 (click)="onDeleteTransport()">DELETE</h4>
    </div>
  </div>
</div>
