.transport-from-to  {
  padding-top: 5px;
}

.operating-message-display {
  padding: 5px 0 0 0;
}

.note {
  margin: 10px 0 15px 0;
  padding-left: 0;
}

.departure-arrival-details i  {
  position: absolute;
  margin-top: -13px;
  padding: 2px 1.5px;
  left: 184.3px;
  color: #6494ED;
  background-color: white;
  border: 3px solid #6494ED;
  border-radius: 50%;

  @media only screen and (max-width: 650px) {
    left: 20.3px;
  }
}

.form-housing {
  margin-top: 90px;
}

.confirm-delete-content {
  padding: 0 0 20px 20px;
}
