.collapse-card,
.collapse-view {
  position: relative;
  width: 300px;
  vertical-align: text-top;
  cursor: pointer;
}

.collapse-view {
  padding: 10px;
}

.accommodation-indicator  {
  border-left: 10px solid rgba(100,235,219,0.5);
}

.transport-indicator  {
  border-left: 10px solid rgba(237,100,148,0.5);
}

.activity-indicator {
  border-left: 10px solid rgba(237,189,100,0.5);
}

img {
  width: 300px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.img  {
  width: 300px;
  height: 200px;
  background-color: #f5f5fd;
  text-align: center;
  cursor: pointer;
}

.note {
  margin-top: 10px;
  padding-left: 0;
}

.activity-tags  {
  position: static;
  margin-top: 10px;
}

.highlight {
  width: 304px;
}

span  {
  font-size: 0.9em;
  color: grey;
}

.anytime  {
  font-size: 0.617em;
}

.arrival-highlight  {
  color: #6494ED;
}

.accomCheckIn {
  color: cornflowerblue;
}

.accomCheckOut  {
  color: crimson;
}
