
/* daily note display */

.daily-note  {
  margin-top: 40px;
  padding: 5px;
  height: 70px;
  background-color: rgba(100, 148, 237, 0.1);

  @media only screen and (max-width: 420px) {
    margin-top: 0;
  }
}

.first-note  {
  @media only screen and (max-width: 420px) {
    margin-top: 25px;
  }
}

.daily-note h6  {
  color: grey;
}

.daily-note p {
  padding: 4px 8px;
  height: 50px;
  font-size: 11px;
  overflow: auto;
}

.daily-note p::-webkit-scrollbar  {
  width: 5px;
  border-radius: 5px;
  background-color: rgba(100, 148, 237, 0.5);
}

.daily-note textarea  {
  margin: 0;
  background-color: rgba(100, 148, 237, 0.1);
  border: none;
  border-radius: 0;
  resize: none;
  font-size: 11px;
}

h5.edit-note  {
  font-size: 9px;
  font-style: italic;
  color: #808080;
}



/* date display */

.event-date {
  display: none;
  width: 100%;
  text-align: left;
  margin: -95px 0 85px 0;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #F9FBFB;
  background-color: #567FCC;
  border-right: 1px solid lightgray;

  @media only screen and (max-width: 420px) {
    display: block;
  }
}




/* individual event display */

.summary-item-container {
  &:hover {
    background-color: rgba(100, 148, 237, 0.2);
  }
}

.event-time  {
  padding: 10px 0 0 5px;
  color: grey;
}

.summary-item {
  display: inline-block;
  margin: 5px 20px 0 20px;
  padding-bottom: 10px;
  width: 240px;
  border-bottom: 1px solid lightgray;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 420px) {
    min-width: 240px;
    width: calc(100vw - 40px)
  }
}



/* type indicator */

.accommodation-indicator  {
  background-color: rgba(100,235,219,.8);
}

.activity-indicator  {
  background-color: rgba(237,189,100,.8);
}

.transport-indicator  {
  background-color: rgba(237,100,148,.8);
}

.pill {
  height: 36px;
  width: 5px;
  vertical-align: top;
}



/* event content display */

.event-content  {
  display: inline-block;
  width: 230px;
  vertical-align: top;
  padding-left: 0;
  padding-bottom: 0;
  overflow-wrap: break-word;

  @media only screen and (max-width: 420px) {
    width: calc(100vw - 50px)
  }
}

.event-content h5  {
  font-weight: 500;
}




/* style for accommodation type */

.event-stay-city  {
  padding-bottom: 10px;
  color: #6494ED;
}

h5.check-out-on {
  color: grey;
  font-weight: 400 !important;
}




/* style for activity type */

.meals-display  {
  display: inline-block;
}

.meals-display h6  {
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 2px 5px 1px 5px;
  color: #19CC72;
  border: 1px solid #19cc72;
  border-radius: 15px;
}

.summary-item > div > img {
  width: 36px;
  height: 36px;
}

.fa-bicycle {
  width: 36px;
  height: 36px;
  padding: 11px 6px;
}

.activity-indicator ~ .event-content {
  width: 190px;

  @media only screen and (max-width: 420px) {
    width: calc(100vw - 90px)
  }
}
