<div class="logo">
  <img src="assets/wondererwanderer_logo.png" alt="">
</div>

<div class="verify-container">

  <h3 *ngIf="validated">{{ validatedMsg }}</h3>

  <form [formGroup]="passwordForm" (ngSubmit)="setPassword()" *ngIf="!validated">
    <div class="form-housing">

      <h4>{{ admin?.email }}, please provide a password to complete your admin account set up.</h4>

      <label>Password <span class="label-note"> ( at least 6 characters )</span></label>
      <input type="password" formControlName="password">
      <span class="form-validator"
        *ngIf="passwordForm.get('password').touched && passwordForm.get('password').invalid">Password is not valid. Please enter at least 6 characters</span>


      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword">
      <span class="form-validator"
        *ngIf="passwordForm.get('confirmPassword').dirty && passwordForm.get('confirmPassword').invalid">Passwords do not match</span>
    </div>

    <div class="action-response">
      <button type="submit" class="action-response-primary" [disabled]="!passwordForm.valid"><h5><i class="fa fa-floppy-o" aria-hidden="true"></i> CONFIRM</h5></button>
    </div>
  </form>

</div>
